[2017-11-01 10:25] devenfan opened #433 "Cannot create inner bean '(inner bean)#7d0614f' of type [com.dangdang.ddframe.job.config.JobCoreConfiguration]"
### 问题描述
在SpringContext配置context.setValidating(false)时，如果job配置中某些boolean属性未配置，会报类型转换错误！

### Spring 命令行启动配置
<pre>
GenericXmlApplicationContext context = new GenericXmlApplicationContext();
context.setValidating(false);
</pre>

### Job 配置
	<job:simple id="myJob1" class="com.xyz.scheduler.job.TestJob" registry-center-ref="regCenter" cron="0/10 * * * * ?"
				sharding-total-count="1" overwrite="true"

[2017-11-01 10:34] devenfan opened #434 "sharding-total-count配置为0后，再次overwrite也没用"
当sharding-total-count被设置为0后（overwrite为true），zk中的配置信息会被写为0；此时再次被修改为大于0的值的时候，已经无法启动并覆盖zk中的信息了……

### Job 第一次配置
	<job:simple id="myJob1" class="com.xyz.scheduler.job.TestJob" registry-center-ref="regCenter" cron="0/10 * * * * ?"
				sharding-total-count="0" overwrite="true" failover="true"
	/>

### Job 第二次配置
	<job:simple id="myJob1" class="com.xyz.scheduler.job.TestJob" registry-center-ref="regCenter

[2017-11-01 12:47] terrymanu commented on #433
看错误信息应该是spring跳过了spring命名空间schema的验证。
这个问题就先不解决了，请勿跳过xsd验证，或确保跳过验证后配置的正确性

[2017-11-01 12:47] #433 closed, assigned to nobody

[2017-11-01 12:49] terrymanu commented on #434
直接修改zk并导致的错误不在我们的考虑范围之内，请通过console或程序修改。自行修改zk请保证zk数据的完整性

[2017-11-01 12:49] #434 closed, assigned to nobody

[2017-11-01 14:54] devenfan commented on #434
@terrymanu  并未直接修改zk中的数据，两次都是通过配置文件进行配置的，只不过有一次正好配置sharding-total-count为0，发现再也无法启动了

[2017-11-13 13:59] yangmilestone opened #435 "请问是否支持非侵入式的任务调度"
我想寻找这样一个任务调度框架，就是在业务系统中可以不实现官方所规定的接口或者抽象类，业务系统中只提供rpc（暂定为dubbo协议）或者http方式的接口和zk注册中心的地址，调度框架可以根据我配置的内容去自行调用该接口，实现定时任务调度

[2017-11-14 03:45] jimmie0204 opened #436 "执行一次触发的任务，failover时会报找不到任务Trigger的错误"
有这样一个case，有一个只触发一次的定时任务，一个分片，两个实例AB，开启了failover，如果实例A在执行任务过程中的时候挂了，failover到实例B执行 jobScheduleController.triggerJob()的时候，实例B会报错，找不到这个任务的trigger了，因为quartz已经把执行完的任务删除了吧。

测试代码：

[code]

[2017-11-14 09:44] DTBruce opened #437 "Elastic job: ignored exception for: KeeperErrorCode = NoNode"
elastic-job-lite：2.15
SimpleJob:15个
分片：30
Docker实例：10
zk集群：5台

问题描述：每次部署上线，15个Job只有4-5个能正常上线，其余直接是下线状态

查看debug日志，发现大量【Elastic job: ignored exception for: KeeperErrorCode = NoNode】的日志
查看zk集群上节点，发现instances下的确没有在线的

奇怪的地方：console中已经下线的Job，在execute中执行的业务日志仍然能够记录到该下线job的执行记录

[2017-11-16 02:15] terrymanu commented on #435
目前elastic job不支持这种方式。elastic job是携带分片上下文的，需要通过java api传递分片上下文。可以使用shell的方式，会将分片上下文作为shell的命令行参数传递

[2017-11-16 02:15] #435 closed, assigned to nobody

[2017-11-16 02:19] terrymanu commented on #437
dump出来将内容贴过来看一下

[2017-11-16 02:22] terrymanu commented on #436
目前想不到什么解决方案，如果quartz已经注销了任务，应该无法再调度起来了

[2017-11-16 03:50] IcyLemon opened #438 "http类型的定时任务遇到504后会自动重试吗？"
使用的elastic-job版本：2.1.1。

我的一个定时任务为通过 http 方式（使用 OKHttp 发送 http 请求）执行某个方法（例如：http://ip:port/myapp/synFundData）。

当调用上述接口时如果服务器返回504（后台执行时间太长导致超时），请问该定时任务是否会自动重试？因为我从 Nginx 的日志中发现：每隔30秒Nginx 会收到一个同样的http请求，且返回的状态码都是 504，日志如下：

...remote_user=- [16/Nov/2017:08:40:01 +0800] request="GET /xxx/synFundData HTTP/1.1" status=504
...remote_user=- [16/Nov/2017:08:40:31 +0800] request="GET /xxx/synFundData HT

[2017-11-16 08:48] terrymanu commented on #438
job的cron表达式怎么配置的？

[2017-11-16 09:14] IcyLemon commented on #438
cron是没有问题的，每天凌晨3点：0 0 3 * * ?

这个只有在服务器端返回504的时候才会出现上述每隔30秒重试的情况。比如：3点整执行任务，如果服务器返回504，那么03:00:30、03:01:00、03:01:30... 都会再调一次，一直下去。

一开始以为是Nginx 进行了重试（我们的服务都做了转发），但是运维后面排查不是，所以请问是不是ej的重试机制？

[2017-11-16 09:52] carvendy opened #1 "请问一下roadmap也是你们公司开发的么？"
请问一下roadmap也是你们公司开发的么？

[2017-11-17 09:56] jimmie0204 commented on #436
我提了一个pull requests，用SimpleScheduleBuilder创造一个任务立刻执行，这种方式改了一下，在本地测试通过了，您有时间看一下，不过因为单元测试没有改，所以有的单元测试报错，pull request没通过。。

[2017-11-18 17:51] lukangping opened #440 "支持mesos executor containerizer with docker吗？"
当前版本2.1.6-SNAPSHOT，没有看到对ContainerInfo的设置，有测试的分支吗？

[2017-11-19 01:41] terrymanu commented on #440
目前不支持，因为使用了mesos executor的资源动态追加能力

[2017-11-19 01:41] #440 closed, assigned to nobody

[2017-11-19 01:42] terrymanu commented on #438
ej没有重试机制，使用dataflow类型还是simple？

[2017-11-19 01:45] terrymanu commented on #436
提pr肯定要保证单测通过和测试覆盖率不下降为前提

[2017-11-20 01:58] IcyLemon commented on #438
用的是 simple。
这两天我们通过不断测试发现：
1、通过非定时任务的方式（如：页面点击、fiddler）发送相同的http请求时，不会每隔30秒重试（从Nginx的access_log日志可以看出）；
2、只要停止了定时任务服务，重试就会终止。

[2017-11-21 08:44] yinjihuan opened #441 "任务会重复执行"
有3个简单任务，凌晨1点执行，下午加了新的任务，重新发布了下，重启之后之前的老任务又重新执行了一遍，请问亮哥这是不是bug，还是我们上面地方配错了

[2017-11-22 13:50] terrymanu commented on #437
该长时间未跟进，且提出人不再反馈。并且没有可重现的必要条件，因此关闭

[2017-11-22 13:50] #437 closed, assigned to nobody

[2017-11-22 13:51] terrymanu commented on #438
这个问题应该不易用文字描述，请提供可重现的代码示例

[2017-11-22 13:52] terrymanu commented on #441
可以开启monitorExecution配置，详情请阅读文档

[2017-11-22 13:52] #441 closed, assigned to nobody

[2017-11-24 06:15] IcyLemon commented on #438
好的，我们再跟踪一段时间，到时给出详细的复现过程。谢谢。

[2017-11-24 10:51] dudan57 opened #442 "关于获取Hostname异常问题"
job在执行时，需要获取hostname用于记录日志，但我们的项目部署在docker中，获取hostname时抛异常了，导致任务执行失败。建议获取hostname时，不要抛异常，以免影响Job的正常执行

/elastic-job-common-core/src/main/java/com/dangdang/ddframe/job/event/type/JobExecutionEvent.java
/elastic-job-common-core/src/main/java/com/dangdang/ddframe/job/util/env/IpUtils.IpUtils.java()

[2017-11-25 01:47] terrymanu commented on #442
请提供异常信息

[2017-11-26 15:32] terrymanu commented on #442
这种方式并不能解决问题，只是将异常抛出并且返回空值。
因此这个pr我不能合并。
请提供异常信息，我们会着手解决

[2017-11-27 01:27] dudan57 commented on #442
Caused by: com.dangdang.ddframe.job.util.env.HostException: java.net.UnknownHostException: 588406e6cbb8: 588406e6cbb8: 域名解析暂时失败
Nov 24 16:00:00 gs-dcos12-node33 dockerd[27644]:         at com.dangdang.ddframe.job.util.env.IpUtils.getHostName(IpUtils.java:105)
Nov 24 16:00:00 gs-dcos12-node33 dockerd[27644]:         at com.dangdang.ddframe.job.event.type.JobExecutionEvent.<init>(JobExecutionEvent.j

[2017-11-27 07:26] terrymanu commented on #442
这是不是没定义hosts文件导致的

[2017-11-27 07:59] dudan57 commented on #442
588406e6cbb8
这串字符就是容器返回的hostname
Host模式没有报错，bridge模式才报的这个错

[2017-11-30 02:13] trockxi opened #444 "Configurations.xml生成位置自定义"
生成的Configurations.xml，默认是/root/.elastic-job-console/下，可否自定义设置生成位置，注意是为了方便查找配置文件，如果能修改，请问如何去修改？谢谢

[2017-11-30 05:47] chaletli opened #446 "AbstractIndividualThroughputDataFlowElasticJob"
hi，看到说明里有支持高吞吐的数据流作业，ThroughputDataFlow，需要继承AbstractIndividualThroughputDataFlowElasticJob并可以指定返回值泛型。但是我在git里怎么没找到这个类？

[2017-11-30 07:40] terrymanu commented on #444
console只是我们提供的一个demo，更多需求欢迎自行修改。我们不在对console提供技术支持

[2017-11-30 07:40] #444 closed, assigned to nobody

[2017-11-30 07:41] terrymanu commented on #446
版本问题

[2017-11-30 07:41] #446 closed, assigned to nobody

[2017-11-30 08:25] IcyLemon opened #447 "任务为什么无故不执行了？"
一个每隔5分钟的定时任务（cron没有问题），正常运行一段时间后，就再也不执行了。

控制台的历史轨迹如下：
![-](https://user-images.githubusercontent.com/19788374/33420774-cd13d77a-d5ea-11e7-844f-7d6f3fa7bea6.jpg)

上图红框中，该任务在2017-11-29 23:30:00执行失败后，后面就再也不会执行了！！！而且失败也看不到日志在什么地方。

控制台的历史状态：
![default](https://user-images.githubusercontent.com/19788374/33420498-c991b7a8-d5e9-11e7-9064-fd73cdc3a95b.jpg)

上图红框中，2017-11-29 23:30:00 的时候该任务只有TASK_STAGING一

[2017-11-30 08:29] IcyLemon commented on #447
又确认了一下，是所有的定时任务都不执行了，而任务状态又都显示正常，服务器进程也运行正常。

[2017-11-30 09:02] chaletli commented on #446
@terrymanu 你好，我是直接在github的库里搜索的AbstractIndividualThroughputDataFlowElasticJob，但是提示没有结果。我搜索的branch是master，版本是2.1.5

[2017-12-03 03:20] yinjihuan commented on #441
monitorExecution默认的配置项就是true,还需要手动配置么

[2017-12-04 03:23] terrymanu commented on #447
请将“无故”调研一下，用合理的可重现方法描述一下，否则我们无法接受和修改这个问题。

[2017-12-10 11:35] JiongJiongGe opened #448 "单机借助zk多项目如何配置模拟elastic-job，定时任务只运行一次"
Please answer these questions before submitting your issue. Thanks!

### Which version of Elastic-Job do you using?

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

### Please provide the reproduce example codes (such as github link) if possible.

[2017-12-10 16:21] terrymanu commented on #448
我们认为定时任务只运行一次，就不能称之为定时任务。因此暂时不支持

[2017-12-10 16:21] #448 closed, assigned to nobody

[2017-12-11 02:41] JiongJiongGe commented on #448
应该是我表达的意思不对，我想问的是单机多项目部署，借助zk，如何配置保证多项目的定时任务不重复执行

[2017-12-12 07:23] yuweiming2016 opened #449 "事件追踪-基于关系型数据库的事件追踪不支持oracle数据库?"
### Which version of Elastic-Job do you using?
lite-2.1.5

### Actual behavior
事件追踪-基于关系型数据库的事件追踪不支持oracle数据库?

![image](https://user-images.githubusercontent.com/22490427/33872085-59584464-df50-11e7-9995-ff5f9403a8c1.png)

[2017-12-12 07:48] terrymanu commented on #449
数据库之间的差别就在ddl，我们目前并无支持oracle的需求，如果可以，请提供pr

[2017-12-12 07:48] #449 closed, assigned to nobody

[2017-12-13 02:14] yuweiming2016 commented on #449
改了一个晚上，发现通篇都是用mysql语法写的，不仅是create table，select  ……………… limit，oracle的分页要用子查询嵌套的，放弃了……，，，现在只改到能用oracle语法insert和update成功，查询还没改

[2017-12-13 02:21] terrymanu commented on #449
请问目前针对mysql的sql，分页不用limit，还有别的选择么

[2017-12-13 02:45] lukangping commented on #440
用mesos container with docker images临时解决了一下:
https://gist.github.com/lukangping/4e1f8b6aec16867d4178b9f500cfaa43

[2017-12-13 02:48] lukangping opened #450 "请问下失败的任务如何retry？"
还有任务监控，报警等？

[2017-12-13 06:07] ymiao opened #451 "got ConcurrentModificationException when startup jobs"
Please answer these questions before submitting your issue. Thanks!

### Which version of Elastic-Job do you using?
2.1.0 lite

### Expected behavior
start jobs without exception

### Actual behavior
got exception
### Steps to reproduce the behavior
normal start, but cannot reproduce it every time

### Please provide the reproduce example codes (such as github link) if possible.

[code]

[2017-12-15 04:16] lukangping commented on #450
看到failover，misfire，忽略。

[2017-12-15 04:16] #450 closed, assigned to nobody

[2017-12-19 03:01] yunsongliu opened #454 "当发布job将mesos集群中的每个节点上的资源全部用完后，注销job再发布新的任务会报错，并且任务会一直处于ready状态。"
Please answer these questions before submitting your issue. Thanks!

### Which version of Elastic-Job do you using?
2.1.5
### Expected behavior
注销job再发布job，新的job能正常运行
### Actual behavior
控制台报错，新的job会一直处于ready状态
### Steps to reproduce the behavior
当发布job将mesos集群中的每个节点上的资源全部用完后，注销job再发布新的任务会报错，并且任务会一直处于ready状态。
![image](https://user-images.githubusercontent.com/34666561/34138708-e4171af2-e4ab-11e7-8

[2017-12-20 13:25] chenguofu1001 opened #455 "运行过程中总分片变为0，仍然会有分片在执行"
我们在生产上碰到这样的场景：运行时总分片设置为2，一共有5台机器，设置了失效转移策略。定时任务每十分钟运行一次，可能存在分片运行超过十分钟的情况。
在生产上发现两个问题：
1.服务器没有宕机，zk会重新进行选择，选择执行分片的机器；
2.在打印的日志中发现，存在总分片数为0，却仍然有分片在执行，导致具体工作被重复处理；
因是生产问题，代码复杂，很难提供源码。请问是否有碰到类似的情况，如何解决？

[2017-12-21 05:05] terrymanu commented on #455
总分片数为0是怎么做到的，应该有验证，不会为零。
除非自行改的zk中的数据，这个我们就无法预知了

[2017-12-21 05:54] justin-wick opened #456 "Elastic-job 是否支持多zookeeper中心？"
我公司正采用elastic-job 1.1.0，但是由于多机房的开通，线上zookeeper也变成了多套，导致线上的job重复触发多次，请问elastic是否有类似情况的解决方案？

[2017-12-22 08:26] terrymanu commented on #456
支持zk集群，不支持多zk集群

[2017-12-22 08:26] #456 closed, assigned to nobody

[2017-12-22 08:33] yunsongliu opened #457 "任务分配问题"
cloud分配任务时为什么总是先将一台服务器的资源占用完或者剩下的资源不够一片才会分配到下一台服务器

[2017-12-22 13:50] terrymanu commented on #457
分配算法这里确实不够灵活，不过在我们生产环境使用还是比较稳定的，因此暂时看不到修改带来的好处

[2017-12-22 13:50] #457 closed, assigned to nobody

[2017-12-22 13:51] terrymanu commented on #447
长时间无反馈，且无法根据当前信息判断是否为bug，该issue关闭

[2017-12-22 13:51] #447 closed, assigned to nobody

[2017-12-25 13:34] douxiaofeng99 opened #458 "增加某一个job由于时间间隔导致的并发运行禁止选项"
Please answer these questions before submitting your issue. Thanks!

### Which version of Elastic-Job do you using?
2.0
### Expected behavior
当任务处理时间超过时间间隔是，下一次触发取消
### Actual behavior
导致并发
### Steps to reproduce the behavior

### Please provide the reproduce example codes (such as github link) if possible.

[2017-12-25 13:45] jearton opened #459 "elastic-job-lite-console源码怎么找不到了？"
Please answer these questions before submitting your issue. Thanks!

### Which version of Elastic-Job do you using?

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

### Please provide the reproduce example codes (such as github link) if possible.

[2017-12-25 16:27] terrymanu commented on #459
所有的代码都在github上，请再仔细找找吧

[2017-12-25 16:27] #459 closed, assigned to nobody

[2017-12-25 16:29] terrymanu commented on #458
分布式job远不像单机job那样简单。这中间涉及到是否跑在所有分片的job都禁止运行，如果其中一个节点运行了，另一个节点没运行又将如何同步。
分布式job本就不该向单机job那样使用，请再次梳理一下自己的需求。如果无需分片，使用quartz即可。

[2017-12-25 16:29] #458 closed, assigned to nobody

[2017-12-25 17:11] jearton opened #460 "console V2.1.5 的立体按钮看起来蛮丑的，bootstrap不应该是扁平样式更好看吗？"
Please answer these questions before submitting your issue. Thanks!

### Which version of Elastic-Job do you using?

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

### Please provide the reproduce example codes (such as github link) if possible.

[2017-12-26 08:29] terrymanu commented on #460
需要的话自己改就好，我们对界面本身并不关注

[2017-12-26 08:29] #460 closed, assigned to nobody

[2017-12-27 07:46] chaletli opened #461 "从控制台中enable一个job之后，job不运行"
使用lite2.1.5版本启动一个SimpleJob，设置如下：
simple.id=springSimpleJob
simple.class=com.dangdang.ddframe.job.example.jobs.SpringSimpleJob
simple.cron=0 0/1 * * * ?
simple.shardingTotalCount=3
simple.shardingItemParameters=0=Beijing,1=Shanghai,2=Guangzhou
simple.failover=true
simple.description=test
simple.disabled=true
simple.overwrite=true

控制台点击该job的enable按钮之后，任务不执行。如果disable设置为false，程序启动自动运行的话，任务是可以跑的

[2017-12-27 09:43] chaletli commented on #461
上述问题是由于我自己给job加了一个AbstractDistributeOnceElasticJobListener的子类。然后设置的超时时间都是-1。看起来像是控制台点击了enable之后，没有触发dataChanged的监控。所以startedWait一直在wait。我改成强制超时30秒后，会主动抛错，然后任务就可以跑了。但是业务需求确实要等待控制台点击enable才能跑，所以没法强制超时吧？

[2017-12-27 10:45] chaletli commented on #461
刚才跟进源码看了下，AbstractDistributeOnceElasticJobListener的startedWait只有在监听StartedNodeRemovedJobListener的时候才会notifyWaitingTaskStart。页面上点击enable，是走的CronSettingAndJobEventChangedJobListener，所以startedWait永远在等。这是个问题吗？还是说哪里做的不对？

[2017-12-28 02:33] ljz0721cx opened #2 "部署3台机子出现内存泄漏的问题"
在使用的时候java.util.concurrent.Executors$RunnableAdapter
![image](https://user-images.githubusercontent.com/4934976/34398498-5275913a-ebba-11e7-8d3c-4a6f5954f80d.png)
对应的dump文件比较大，主要是以下这些dui对象发生的泄漏
![image](https://user-images.githubusercontent.com/4934976/34398516-7b33385c-ebba-11e7-8006-20d86f2ff150.png)

使用的版本号为
elastic-job-core 1.1.1
elastic-job-spring  1.1.1
elastic-job-api-core  1.1.1

[2017-12-28 02:50] terrymanu commented on #1
不清楚roadmap是什么

[2017-12-28 02:50] #1 closed

[2017-12-28 02:53] terrymanu commented on #2
请提供版本号

[2017-12-28 12:43] #2 closed

[2017-12-28 12:44] ljz0721cx commented on #2
使用的版本号为
elastic-job-core 1.1.1
elastic-job-spring 1.1.1
elastic-job-api-core 1.1.1

[2017-12-28 14:16] terrymanu commented on #2
版本过于老，我们已不在维护，请升级至2.x

[2017-12-29 01:14] ljz0721cx commented on #2
亮哥好：
      嗯嗯，打算升级2.X，
我注册到zk上A,B,C3台机子
1.我操作A机子暂停一段时间
2.A机子恢复暂停后，部分接口不在执行，我看见你是将暂停的节点挂到了zk上，
3.B,C中有一台机子会出现的内存泄漏问题。

想问问亮哥这个可能是什么原因呢？

在 2017-12-28 22:16:36，"张亮" <notifications@github.com> 写道：

版本过于老，我们已不在维护，请升级至2.x

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-12-29 05:31] ljz0721cx commented on #2
亮哥好：
 升级到2.0.0后使用情况是线程一直在攀升，但是使用率挺低的，是不是正常的情况

在 2017-12-28 22:16:36，"张亮" <notifications@github.com> 写道：

版本过于老，我们已不在维护，请升级至2.x

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-12-29 05:37] ljz0721cx opened #462 "Simple任务执行时候线程一直在上升"
### 使用版本2.0.0

### 执行情况正常

### 线程一直在上升

![image](https://user-images.githubusercontent.com/4934976/34430188-4ae1dbd4-ec9d-11e7-81f6-8802d76a9901.png)
![image](https://user-images.githubusercontent.com/4934976/34430189-4c66b6dc-ec9d-11e7-9e91-a1e3e2365e09.png)

这种情况正常么，在哪里配置线程池呢？

[2018-01-01 03:09] terrymanu commented on #462
可以配置线程池大小，请仔细阅读文档

[2018-01-01 03:09] #462 closed, assigned to nobody

[2018-01-04 07:43] keniushadu opened #463 "Guava 升级"
Guava 再不升级... 这项目没人敢用了啊 . 另外Java8 这么好. 你们内部都不升级一下么? 也太追求"稳定"了吧.

[2018-01-04 07:56] terrymanu commented on #463
这个问题见仁见智，作为我们来说，目前不会升级。
升级可以fork自便即可

[2018-01-04 07:56] #463 closed, assigned to nobody

[2018-01-05 03:00] mychao opened #464 "console的疑问"
Please answer these questions before submitting your issue. Thanks!

### Which version of Elastic-Job do you using?
elastic-job-lite-2.1.5
### Expected behavior
控制台可以同时多个namespace进行操作，不会相互被踢。想请教下，这种互斥操作的目的是什么？
### Actual behavior
正处于connected状态，其他人连接了，被迫断开
### Steps to reproduce the behavior

### Please provide the reproduce example codes (such as github link) if possible.

[2018-01-05 03:03] mychao commented on #464
@haocao 还请指教。我想在程序内调用job配置，修改job配置，再调用注册中心去更新配置，是否可以？

[2018-01-05 03:56] terrymanu commented on #464
console只是个简单运维工具，目前没考虑对用户和namespace进行控制。
elastic job本身的关注点在于分布式作业，界面类的并不关注，只是给开源社区提供一个桥接，因此，如有需要，自行修改即可

[2018-01-05 03:56] #464 closed, assigned to nobody

[2018-01-08 06:41] rudy2015 opened #465 "每3秒运行的定时任务，运行几天后，执行任务的线程出现卡顿，导致执行任务的时间变得很长"
Please answer these questions before submitting your issue. Thanks!

### Which version of Elastic-Job do you using?
elastic-job-lite-spring:2.1.5

[2018-01-09 07:42] wanglong9 opened #466 "Spring ApplicationContextt is null"
### 2.1.5 ###
### 前置条件
项目集成Spring成功。
### 需求
自定义类MySimpleJob实现SimpleJob类，内部通过ApplicationContext获取其他容器bean。
### 问题
当使用JobScheduler初始化job时，在122行
`  result.getJobDataMap().put(ELASTIC_JOB_DATA_MAP_KEY, Class.forName(jobClass).newInstance());`
反射生成MySimpleJob时，会报applicationContext为null无法生成容器中其他的bean。
但当使用SpringJobScheduler初始化时
[code]
MySimpleJob 内部的ApplicationContext是有值的。

对比了SpringJobScheduler和JobSche

[2018-01-10 09:07] IcyLemon opened #467 "任务已经执行完成，但zk上记录的状态一直是running，导致该任务后面不再执行？"
Hi，问题描述如下：

我的一个任务，通过在execute(ShardingContext shardingContext)方法中记录的运行日志看，是执行完成的（方法最后一行记录了日志），相关的操作结果也是正确的（比如正确入库）。

但是监听器ElasticJobListener的afterJobExecuted(ShardingContexts shardingContexts)方法却没有执行，因为里面的运行日志没有打印；

通过查看zookeeper中该节点的状态，发现其sharding/0中，一直有一个running节点（网络不好，上传截图老失败），而正常情况下执行完成的节点，应该是completed。这样导致该任务后面就不再执行了。

请问上面这个问题可能的原因是什么？

谢谢。

[2018-01-10 09:34] IcyLemon opened #468 "定时任务的运行日志在哪里能看到？"
请问定时任务的运行日志（也就是elastic-job-common-core中记录的）在哪里能看到？
谢谢。

[2018-01-14 04:12] yinjihuan opened #469 "overwrite覆盖注册中心配置Bug"
当刚开始shardingTotalCount配置为0的时候，启动会报下面的异常：
Caused by: java.lang.IllegalArgumentException: shardingTotalCount should larger than zero.

然后把shardingTotalCount改成1，加上overwrite=“true” 这个时候是不会去覆盖默认的配置，这个问题应该是如果注册中心的配置是错误的情况下，就不能用overwrite去覆盖了，只能通过手动的去删除zk中的配置信息了，这个算不算bug?

[2018-01-15 11:48] kevinye1227 opened #470 "任务重复执行BUG"
Please answer these questions before submitting your issue. Thanks!

### Which version of Elastic-Job do you using?
2.0.5
### Expected behavior
启动task后，在Job平台上点击触发，触发任务执行，执行完后，下一次任务按schedule设定的time触发下一次执行。
### Actual behavior
启动task后，在Job平台上点击触发，触发任务执行，执行完后，没到配置的时间，立即开始了下一次的执行。两次执行完后，Job停止执行。
### Steps to reproduce the behavior
任务schedule的CRON：0 * 12 10 * ?
第一次执行完的时间：01/11 22:50:14.142
第二次开始执行的时间：

[2018-01-15 11:57] kevinye1227 commented on #470
本地环境一直无法重新这个问题，线上环境出现过两次

[2018-01-16 01:08] IcyLemon commented on #470
我也遇到过一次，重复执行了好几次。但目前还没有找到复现的方法。

[2018-01-16 15:06] terrymanu commented on #468
根据自己配置的logback或log4j指定

[2018-01-16 15:06] #468 closed, assigned to nobody

[2018-01-16 15:07] terrymanu commented on #466
已经提供了SpringJobScheduler，因此spring相关请使用SpringJobScheduler。在spring使用环境下使用JobScheduler导致的问题按照使用不当处理，我们不会再跟进。

[2018-01-16 15:07] #466 closed, assigned to nobody

[2018-01-16 15:09] terrymanu commented on #455
issue提交者长时间无跟进。
从描述看属于误操作导致，因此关闭该issue，并按照无效问题处理

[2018-01-16 15:09] #455 closed, assigned to nobody

[2018-01-16 15:12] terrymanu commented on #465
应该是任务中的业务代码导致。定时任务直接使用的qurartz使用，如quartz本身有相关问题，应不会被如此大规模使用。
请自行排查自己的业务代码

[2018-01-16 15:12] #465 closed, assigned to nobody

[2018-01-16 15:14] terrymanu commented on #467
请提供可重现问题的代码，并提交至您自己的github repo，以帮助我们重现问题

[2018-01-16 15:15] terrymanu commented on #461
应该是enable/disable并未考虑使用listener的问题所致，可能是bug，我们有空会调研下

[2018-01-16 15:16] terrymanu commented on #470
请再调研一下，提供稳定的可重现条件，否则，仅以当前的信息，我们无法将其认为是bug并立项处理

[2018-01-16 15:18] terrymanu commented on #469
应该是bug，我们有空会处理下

[2018-01-17 05:31] liub1989 opened #471 "使用elasticjob，tomcat无法正常关闭"
Please answer these questions before submitting your issue. Thanks!

### Which version of Elastic-Job do you using?
2.1.4
spring >= 3.x
### Expected behavior
tomcat的shutdown能正常关闭，不影响再次启动
### Actual behavior
tomcat的shutdown无法完全关闭，再次启动异常。查看jstack
![image](https://user-images.githubusercontent.com/4240450/35027245-9c6b9160-fb8a-11e7-8d5e-f0d9c9906355.png)
属于用户进程且没有关闭
### Steps to reproduce the behavi

[2018-01-17 15:58] terrymanu commented on #471
需要自行将ejob的shutdown方法在servlet的destroy中调用吧

[2018-01-17 15:58] #471 closed, assigned to nobody

[2018-01-19 03:09] kevinye1227 commented on #470
提到这里，是因为无法重现出来这个问题，希望借助这个平台，看下是否有其他同仁用到这个工具，有遇到类似问题，可以提供一些思路想法。

[2018-01-22 08:48] liuzhiguo630 opened #472 "Job 不支持事务注解 @Transactional"
在一个继承了 SimpleJob 的任务内，在某个函数前加上 `@Transactional`注解后，启动时会报如下异常：
[code]
报错在 ConfigurationService.class 的 79 行。看起来是检查 Zookeeper 配置的 config 中配置的 class
 名时抛出的异常。ZK 上 config 配置的的 class 为之前配置的 BillJob 类的全限定名。后来加上了 `@Transactional`之后，检验的类名成了 Spring 代理类的名称，于是就错了。

又试了把 Zookeeper 上该任务的 config 删掉，第一次启动成功了，第二次启动又报错：
[code]
意料之中。

这种问题该如何解决呢？难道 Job 类的代码里不能用事务么。又或者当我的 job 文件不能改名或不能路径不能变动么（会出现同样的类名校验问题）？

[2018-01-22 13:00] terrymanu commented on #472
应该是使用cglib代理的类每次生成的都不一样，导致同样的类被当成了两个不同的类。可能需要改一下源码，对于cglib生成的类，获取其真正的类名才可以。
由于目前时间有限，暂时顾不上elastic-job，不知是否有感兴趣的同学可以修改后提交pr

[2018-01-23 02:55] bobyang-coder opened #473 "如何实现服务一启动不会更新zk中定时任务的失效状态？"
场景：服务双机房部署，zk数据不同，需要关闭一个机房的定时任务

除了使用job-parameter在代码逻辑中控制开关和双机房使用一个zk情况下，能直接在服务启动的时候不会修改zk中的失效状态吗？

[2018-01-23 06:10] ie7shop opened #474 "请问 elastic-job-lite 中的 zk 是否有可以换成无中心化的方案呢？"
请问 elastic-job-lite 中的 zk 是否有可以换成无中心化的方案呢？

[2018-01-24 05:11] terrymanu commented on #473
zk数据不同是两个注册中心。作业也是两套。目前elastic-job不支持同一份作业部署至两套注册中心

[2018-01-24 05:11] #473 closed, assigned to nobody

[2018-01-24 05:11] terrymanu commented on #474
如果有需求欢迎自行实现，如果有空，欢迎提供pr

[2018-01-24 05:11] #474 closed, assigned to nobody

[2018-01-26 11:57] leasontou opened #475 "如何升级curator版本？"
curator2.10.0的版本有bug，我项目本身依赖的是3.2.0，如何升级elastic-job依赖的curator？

[2018-01-26 13:18] terrymanu commented on #475
curator各种版本之间并不兼容，无论升级与否，都不可能做到全兼容。
因此目前的想法是去掉curator，直接使用zk的原生客户端。
但目前我们暂时没有精力做这件事，因此如果有可能，欢迎各位自行实现并提交pr。

[2018-01-29 03:48] yidinshi opened #476 "任务重复执行BUG且没有按给定的cron执行"
设置如下：

[code]

执行结果：
<2018-01-29 11:46:50> <appVisitJob_Worker-1> com.jobs.AppVisitJob.execute(AppVisitJob.java:80) <ERROR> 72消息推送:[, ] 返回结果: 0
SystemJobsManager do something by sharding item 0
PayResult:[, ]
job complete: 0
<2018-01-29 11:47:00> <appVisitJob_Worker-1> com.jobs.AppVisitJob.execute(AppVisitJob.java:80) <ERROR> 72消息推送:[, ] 返回结果: 0
SystemJobsManager do something by sharding item 0
Pa

[2018-01-31 07:12] richardboot commented on #470
我们也遇到了没按照指定时间执行的情况，查看日志执行时间，推测可能是重启服务器的时候执行的

[2018-01-31 08:53] wudadadaju opened #477 "手动触发任务能否实现代码触发"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
elastic-job-lite-2.1.5
### Expected behavior （您预期的结果是）
一个定时任务所有分片执行结束后，通过监听触发下一个任务。
### Actual behavior （实际运行的结果是）
无，不知道如何触发下一个任务。是不是只能定时。。
### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provi

[2018-01-31 16:22] terrymanu commented on #477
elastic-job主要用于处理定时任务，而非事件驱动的任务，如果需要事件驱动，请使用mq

[2018-01-31 16:22] #477 closed, assigned to nobody

[2018-01-31 16:25] terrymanu commented on #476
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上。为了节省复现问题的时间，请务必提供可重现的代码，否则我们会将issue直接标记为invalid并关闭。

[2018-01-31 16:25] #476 closed, assigned to nobody

[2018-01-31 16:28] terrymanu commented on #470
请提供源码，以及zk的dump数据

[2018-02-02 10:54] gzlicanyi opened #478 "JobTypeConfiguration是否可以考虑支持传入job的实例，而不是只能通过job的类名实例化"
如题

[2018-02-02 10:57] gzlicanyi opened #479 "ElasticJob是线程不安全的类，是否考虑每一个分片，分别使用不同的实例？"
如题

[2018-02-02 23:41] andyliuxl opened #480 "简单任务调度，采用2个分片，调用dubbo服务，dubbo shutdown"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5 dubbo:2.5.9
### Expected behavior （您预期的结果是）
采用SimpleJob任务分片处理，dubbo 服务正常运行
### Actual behavior （实际运行的结果是）
采用SimpleJob任务分片处理，dubbo 所有服务shutdown
### Steps to reproduce the behavior （可重现问题的操作步骤）
任务如下配置：

[2018-02-03 00:35] terrymanu commented on #480
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题。为了节省复现问题的时间，请务必提供可重现的代码，否则我们会将issue直接标记为invalid并关闭。

[2018-02-03 00:35] #480 closed, assigned to nobody

[2018-02-03 00:38] terrymanu commented on #479
elastic job是线程不安全的类，这个结论是如何得出的？

[2018-02-03 00:39] terrymanu commented on #478
精力有限，暂时无计划实现。如果有需求可以提供pr

[2018-02-03 00:39] #478 closed, assigned to nobody

[2018-02-05 02:49] gzlicanyi commented on #479
比如一台机器运行多个分片，ElasticJob里面的属性是分片共享的吧，execute操作同一个属性时，就会有并发问题

[2018-02-05 04:41] terrymanu commented on #479
这个与使用模式有关。举例说明：写一个servlet，会使用它的属性么，servlet是否非线程安全？

[2018-02-05 07:37] gzlicanyi commented on #479
嗯嗯，定位问题，意思都懂

[2018-02-05 07:37] #479 closed, assigned to nobody

[2018-02-05 10:19] soaped opened #481 "能否实现类似spring @Scheduled(fixedDelay = 50000) 上一任务完成多久后再次执行"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2018-02-05 15:18] terrymanu commented on #481
目前仅支持cron表达式

[2018-02-05 15:18] #481 closed, assigned to nobody

[2018-02-07 07:33] zhuangjiaju opened #482 "咨询下 支持spring注解的形式么 类似于： @Scheduled(cron = "0 0/1 * * * * ")"
咨询下 支持spring注解的形式么  类似于：    @Scheduled(cron = "0 0/1 *  * * * ")
注解就可以自己运行了
我找了好久没找到

[2018-02-08 08:13] weixuedian opened #483 "docker 部署两台机器，由于获取到docker中ip一样！怎么获取宿主机ip，或者任务的执行是根据ip来分配的吗？"
docker 部署两台机器，由于获取到docker中ip一样！怎么获取宿主机ip，es-job 分片执行的时候两台获取的到ip是一样的，会影响执行吗？

[2018-02-08 08:16] weixuedian commented on #442
docker部署到多台机器上，每一台机器获取到docker的ip都是一样的，导致控制台显示两个一样的ip。这种有什么解决办法吗？

[2018-02-08 16:09] terrymanu commented on #482
目前应该不支持，ej不是围绕spring的产品，自己比较独立

[2018-02-08 16:09] #482 closed, assigned to nobody

[2018-02-08 16:09] terrymanu commented on #483
这是docker使用host模式导致的吧

[2018-02-08 16:09] #483 closed, assigned to nobody

[2018-02-09 06:03] wgou commented on #470
同样遇到过莫名执行了两次，同一个任务同一个分片，在相聚不到1s的时间内，被触发两次，根据当时情况以及zk上的数据，没有找到其原因。 而后加上了RDB策略，用于记录任务日志。
另外说明下，RDB创建索引在mysql上报错，每次需要手动建表和索引。
表：JOB_STATUS_TRACE_LOG 索引：TASK_ID_STATE_INDEX
原因:task_id + state 索引超长，建议将task_id 更改为varchar(100).。

[2018-02-11 02:28] chenghm123 commented on #469
这个BUG是否已经修复？

[2018-02-13 09:46] HeroBigData opened #484 "洋桃跨境供应链 ： www.yunyangtao.com"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2018-02-15 07:23] #484 closed, assigned to nobody

[2018-02-18 09:17] liangpeichang opened #485 "动态添加定时任务，重新系统后还未执行的定时任务启动后不再执行,通过api 也恢复不了"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.0

### Expected behavior （您预期的结果是）
希望重启服务后，周期性定时任务还可以自动执行下去

### Actual behavior （实际运行的结果是）
1、重启系统服务后，还未执行的定时任务，到了时间后不再执行

2、通过api 进行恢复、关闭、立即运行定时任务，定时任务没有任何效果

### Steps to reproduce the behavior （可重现问题

[2018-03-01 07:11] haocao commented on #485
请先阅读文档http://elasticjob.io/docs/elastic-job-lite/01-start/faq/中关于动态添加作业部分的描述。

6. 是否支持动态添加作业?
回答：

动态添加作业这个概念每个人理解不尽相同。

elastic-job-lite为jar包，由开发或运维人员负责启动。启动时自动向注册中心注册作业信息并进行分布式协调，因此并不需要手工在注册中心填写作业信息。 但注册中心与作业部署机无从属关系，注册中心并不能控制将单点的作业分发至其他作业机，也无法将远程服务器未启动的作业启动。elastic-job-lite并不会包含ssh免密管理等功能。

elastic-job-cloud为mesos框架，由mesos负责作业启动和分发。 但需要将作业打包上传，并调用elastic-job-cloud提供的REST API写入注册中心。 打包上传属于部署系统的范

[2018-03-01 07:12] #485 closed, assigned to nobody

[2018-03-02 08:35] gzlicanyi opened #486 "Tomcat不能正常关闭"
开了job任务的监听，不能正常关闭Tomcat，通过jstack dump的部分信息如下：
"Thread-43" #179 daemon prio=5 os_prio=0 tid=0x00007f7a90223000 nid=0x1a60 runnable [0x00007f7a14fca000]
   java.lang.Thread.State: RUNNABLE
	at java.net.PlainSocketImpl.socketAccept(Native Method)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:409)
	at java.net.ServerSocket.implAccept(ServerSocket.java:545)
	at java.net.Serve

[2018-03-05 06:11] chaletli opened #487 "AbstractDistributeOnceElasticJobListener doBeforeJobExecutedAtLastStarted execute multiple times"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
加入了AbstractDistributeOnceElasticJobListener的job在集群环境下应该只有一个分片去判断并执行doBeforeJobExecutedAtLastStarted。从类注释“在分布式作业中只执行一次的监听器.”来看应该也是这个意思。
### Actual behavior （实际运行的结果是）
如果

[2018-03-05 12:05] #486 closed, assigned to nobody

[2018-03-06 02:05] liangpeichang opened #488 "elastic-job 执行shutdown 方法后，该job 到时间点还会执行"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.0
### Expected behavior （您预期的结果是）
1、通过api执行shutdown 方法，期望还没有到执行时间的job 关闭掉，到了时间不再执行
2、请问下api shutdown 方法和remove 方法有什么区别，执行remove 方法和web 监控页面为啥不一样，
web监控页面执行remove后zookeeper节点进行了物理删除，而api 执行remove 方法 只是状态

[2018-03-08 08:12] liujingjing5 opened #489 "如何知道定时器不走的原因"
### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
如何知道定时器不走的原因
### Actual behavior （实际运行的结果是）
定时器运行良好，有时突然就不走了
### Steps to reproduce the behavior （可重现问题的操作步骤）
不好重现
### 描述
和这图一样，突然到这就没了。
![qq](http://jjliu-oss-test.oss-cn-shanghai.aliyuncs.com/QQ%E5%9B%BE%E7%89%8720180308160231.png?Expires=1520561065&OSSAccessKeyId=TMP.AQGJO698PU52nwMhwVp0nRL

[2018-03-12 08:58] yeyincai opened #490 "elastic-job日数据库cpu和内存暴涨"
使用的Elastic-Job版本为 : 2.1.5
背景：线上使用elastic-job一段时间后，监控到任务日志记录数据库cpu和内存暴涨，发现其中有一条语句返回16万条数据
sql=SELECT original_task_id FROM JOB_STATUS_TRACE_LOG WHERE task_id = 'xxx' and state='TASK_STAGING'
程序每5秒执行一次，不分片

跟踪到源代码:
JobEventRdbStorage类里面保存JobStatusTraceEvent的代码为

[code]

查询的语句

[code]
我们发现这里查询获取getOriginalTaskId的时候，数据库返回16万条记录，但查出来的OriginalTaskId都是空的，不知道这里的逻辑是什么意思，为什么会查出这么多条无用的记录？

[2018-03-13 09:42] changjiang2016 opened #491 "任务重复执行的问题"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为）
       2.1.5
### Expected behavior （您预期的结果是：）
       任务不能重复执行
### Actual behavior （实际运行的结果是）
       在一台机器上出现了重复执行的情况
### Steps to reproduce the behavior （可重现问题的操作步骤）
       1.搭建两台job节点A和B，分片为6片（两台各自分3片）

[2018-03-14 10:22] yeyincai opened #492 "执行日志持久化可以关闭不？"
查看执行AbstractElasticJobExecutor 类的 execute)()方法，我们发现如果要保存事件的话，先要判断是否isAllowSendJobEvent
 if (shardingContexts.isAllowSendJobEvent()) {
            jobFacade.postJobStatusTraceEvent(shardingContexts.getTaskId(), State.TASK_STAGING, String.format("Job '%s' execute begin.", jobName));
 }

也就是说  shardingContexts里面有设置isAllowSendJobEvent，但是没有找到去哪里设置，或者怎么设置，请求解？

[2018-03-19 08:10] hanyidreamer opened #493 "ElasticJob修改执行频率没有立即更新执行时间，需要修改Job名称才会更新执行频率_已解决"
### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5

### Expected behavior （您预期的结果是）
更改配置文件频率由一分钟改为10分钟一次，重新编译启动后，应该执行频率立即改变，但是实际没有，在eclipse、IDEA均出现以上问题，不知道是什么情况，有空请告知谢谢，交流群加不进去可否给个交流群，谢谢！

### Actual behavior （实际运行的结果是）
执行频率放在properties配置文件中，更改执行频率重新编译启动不会使得定时任务频率生变，更改Job名后重新编译启动才可以。

### Steps to reproduce the behavior （可重现问题的操作步骤）
配置： <job:simple id="cancelOrdersElasticJob

[2018-03-19 08:52] hanyidreamer commented on #493
自己已解决，overwrite="true"属性加上即可

[2018-03-19 08:54] #493 closed, assigned to nobody

[2018-03-23 15:57] terrymanu commented on #492
If you don't configure event trace data source, elastic-job will not save your event log.

[2018-03-23 15:57] #492 closed, assigned to nobody

[2018-03-23 15:58] terrymanu commented on #490
Please clean this database by your self

[2018-03-23 15:58] #490 closed, assigned to nobody

[2018-03-23 15:59] terrymanu commented on #489
为了节省复现问题的时间，请务必提供可重现的代码，否则我们会将issue直接标记为invalid并关闭

[2018-03-23 15:59] #489 closed, assigned to nobody

[2018-03-24 09:03] takeseem opened #496 "需要在ShardingContext增加当前jvm的所有job分片信息"
### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5

### Expected behavior （您预期的结果是）
ShardingContext中没有当前jvm中所有的分片信息

### Actual behavior （实际运行的结果是）
无法获取

建议暴露ShardingContexts给用户，这样以后公共信息可以直接加在ShardingContexts即可。
[code]
[code]

[2018-03-26 03:13] lzg0409 opened #497 "Tomcat关闭时，报线程无法关闭，有内存泄漏可能的警告"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
elasticjob-lite 2.1.5
### Expected behavior （您预期的结果是）
Tomcat 关闭的时候能够正常结束任务
### Actual behavior （实际运行的结果是）
Tomcat关闭时配置了-force参数

[root@trweb-ctc-bj-10-254-64-94 bin]# ./shutdown.sh; tail -f ../logs/catalina.

[2018-03-26 07:42] Abelsf opened #498 "elastic-job 是否支持在运行过程中动态改变任务cron，动态改变定时任务的执行频率"
看的是elastic-job-lite 2.1.6的源码，没有看到相关的API（类似quartz更新job时间表达式的API），所以咨询一下

[2018-03-28 14:56] YangShuqing opened #501 "支持有序任务么？"
我们现在有个需求是进行批量任务处理，任务可以分成多个任务队列，但是每个队列中的任务都是有序的，必须处理完第一个后，才能进行下一个。在文档中，没有找到类似的处理案例，不知道 elastic-job能否满足？

[2018-03-29 13:03] wzl1990 opened #502 "版本是2.1.5 ，每次执行job 的时候都会执行failoverlister ,请问是为什么。没有看到执行job修改节点的代码。"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2018-03-30 04:25] gMan1990 opened #503 "使用exec比较好~"
https://github.com/elasticjob/elastic-job-lite/blob/b022898ef1b8c984e17efb2a422ee45f6b13e46e/elastic-job-lite-console/src/main/resources/bin/start.sh#L34

[code]

[2018-04-08 11:53] kamping commented on #497
楼主，请问你解决了这个问题吗？

[2018-04-08 11:53] kamping commented on #475
请问2.10.0有什么bug

[2018-04-10 11:31] newajax-1 opened #504 "服务在重启的时候,不应该执行的job执行了"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.4
### Expected behavior （您预期的结果是）
生产环境有两个job分别在每天 23:55(jobA) 和 00:05(jobB)  执行
### Actual behavior （实际运行的结果是）
服务在17:00的时候重启了,部署的是3个节点，jobA和JobB几乎在同一时间(相差毫秒),17:08的时候执行了
### Steps to reproduce the behav

[2018-04-11 05:12] zhanglc23 commented on #501
我也再找这方面的信息好像不支持啊

[2018-04-13 01:56] takeseem opened #505 "当任务disable时，应用希望获取到通知信息，停止因之前分片而执行的其他任务。"
在2.1.5中，没有办法获取到这个通知，而文档中也没有相关监听器。文档中只有任务执行的AOP监听器。

[2018-04-13 03:06] takeseem commented on #505
我这个案例只是利用elastic做负载均衡和高可用。

elastic-job一个job启动后，如果暂停或分片变更，希望都增加Listener，现在的设计只有执行前和后就，不利于使用方扩展。而且listener应该自动注入监听的task！

研究源码后，找到一个变通方法实现：
[code]

[2018-04-13 03:07] takeseem commented on #496
#505

我这个案例只是利用elastic做负载均衡和高可用。

elastic-job一个job启动后，如果暂停或分片变更，希望都增加Listener，现在的设计只有执行前和后就，不利于使用方扩展。而且listener应该自动注入监听的task！

研究源码后，找到一个变通方法实现：
[code]

[2018-04-15 11:39] ArvinC opened #506 "dataflow由于处理时间太长，导致无法进行下一次调度任务"
使用2.1.5版本，使用的是dataflowJob

我的调度任务每6秒回触发一次
但是有时处理完成后超过30秒。导致后面的调度任务无法正常启动。

[2018-04-16 04:48] yuexianbing opened #507 "失效后任务在同一时间2个节点上都在运行，导致数据处理重复。"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.2
### Expected behavior （您预期的结果是）
一个分片前提下，节点失效时，失效节点运行的任务线程被中断，重新选举后任务在另一个被选举的主节点运行。
### Actual behavior （实际运行的结果是）
失效节点运行的并未中断，在设置1个分片的前提下，2个节点任务同时运行，重复处理一批数据。
### Steps to reproduce the behavior （可重现问

[2018-04-16 04:49] yuexianbing commented on #507
如果要重现，可以设置两个节点，再主节点的任务运行的时候，断掉主节点与zk的会话链接，看下实际执行。

[2018-04-17 11:04] butioy opened #508 "docker容器部署es-job，使用的是bridge模式，导致获取的ip地址是docker容器的ip"
![docker-ip](https://user-images.githubusercontent.com/3390055/38865873-bd3cfb58-4271-11e8-8359-88cb9725f390.png)
这里面的都是docker的ip，不是宿主机的ip

[2018-04-17 11:09] weixuedian commented on #508
遇到同样的问题！

[2018-04-18 16:51] lep2015 opened #509 "关于job初始化过程中选出主节点是否会死锁的问题"
elastic-job版本：2.1.5
在job初始化过程中会选取主节点，在下面的方法中：
[code]
如果同时部署多台机器，多台机器同时初始化同一个job的时候，这样选取主节点过程中，如果A当选，B就会一直await，直到A失去leadership
问题：这样会导致B一直不能被初始化吗？

[2018-04-19 00:55] lep2015 commented on #509
尴尬，没注意到用到了try with resource，自动关闭

[2018-04-19 00:55] #509 closed, assigned to nobody

[2018-04-19 05:06] terrymanu commented on #503
please provide a pull request

[2018-04-19 05:06] terrymanu commented on #501
Unsupport for now

[2018-04-19 05:06] #501 closed, assigned to nobody

[2018-04-19 05:07] terrymanu commented on #498
supported. just update config on zk

[2018-04-19 05:07] #498 closed, assigned to nobody

[2018-04-23 07:41] fuyanzhang opened #510 "线程随着任务的增加而增加"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
使用的是2.1.5的版本
### Expected behavior （您预期的结果是）
jvm里的线程数不会随着任务的增加而增加
### Actual behavior （实际运行的结果是）
创建7000个任务时，发现线程数达到2w+
从代码中可以看到，每个任务会有一个quartz的调度器，即一个调度线程，同时会启一个工作线程。这样，7000任务就会有1.4w的线程。同时，每个任务又有一个zk的tree c

[2018-04-23 12:49] Ah39 opened #511 "FailOverService ShardingService."
A B C 三个机器，一个分片，A机器是选举出来的master
A机器执行任务，A机器挂掉了。
同时开启了fail over，然后B,C 都开始执行Fail Over，等待被选举为master。
则B，C只有一个节点能成为master，则另外一台会永久在等executeInLeader 上等待。

如果是A机器假死之类的，连接断开又连上，这种情况具体是咋样的？？

https://github.com/elasticjob/elastic-job-lite/issues/111
这里还有一个之前的issure，主节点丢失，任务卡住的。
我现在2.0.5 版本，遇到超过5次任务卡住了。
下面这两个方法都能被block住

FailoverService.failoverIfNecessary()
ShardingService.shardingIfNecessary()

[2018-04-26 03:46] baiyunpeng1991 opened #512 "AbstractDistributeOnceElasticJobListener分布式一次监听，在竞态条件下方法不可用问题"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
您好，我使用的是2.1.5的版本
### Expected behavior （您预期的结果是）
首先，这个不是很严重的问题：
这个AbstractDistributeOnceElasticJobListener分布式分片监听用zk做了Barrier的功能；
但是再以下代码中有明显的竞态条件存在{
       guaranteeService.registerStart(shardingContexts.g

[2018-04-27 02:10] zhaovincent opened #513 "修改服务器时间重启定时任务 偶尔会连续执行多次"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.4
### Expected behavior （您预期的结果是）
每次执行一次定时任务

### Actual behavior （实际运行的结果是）
每个定时任务执行两次

### Steps to reproduce the behavior （可重现问题的操作步骤）
修改服务器时间到未来一天，比如2018-07-06 重启定时任务执行

### Please provide the repro

[2018-04-27 03:10] newajax-1 opened #514 "job启动完成后,控制台一直显示分片待调整"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.4
zk服务版本是3.4.6，和demo中zk版本一致
### Expected behavior （您预期的结果是）
对于每天执行一次的任务,比如每天0点执行，在服务启动完成后,可以手动通过job控制台按钮触发一次
### Actual behavior （实际运行的结果是）
job控制台一直显示分片待调整,没有触发job的按钮
### Steps to reproduce the behavior

[2018-04-27 03:13] newajax-1 commented on #513
我也遇到了,我没有修改服务器时间，我是重启的服务的时候发现有任务在不正确的时间点执行了,我感觉应该是job配置失效转移机制,而在重启的时候触发了失效转移机制.具体还要看源码。

[2018-04-27 05:52] #512 closed, assigned to nobody

[2018-04-27 11:23] Ah39 opened #515 "2.0.5 版本Tree-Cache blocked，任务卡住。已经出现好几次"
"GroupLevelCalculationJob_QuartzSchedulerThread" #124 prio=5 os_prio=0 tid=0x00007fc0195fe000 nid=0x68c7 in Object.wait() [0x00007fbef73f2000]
   java.lang.Thread.State: WAITING (on object monitor)
	at java.lang.Object.wait(Native Method)
	at java.lang.Object.wait(Object.java:502)
	at org.apache.zookeeper.ClientCnxn.submitRequest(ClientCnxn.java:1406)
	- locked <0x00000000a39bc740> (a org.apache.z

[2018-05-01 08:29] gMan1990 commented on #469
木有！！！version-2.1.5
-----------------
只能通过手动的去删除zk中的配置信息了
@yinjihuan 怎么删，我不会/尴尬

[2018-05-03 03:01] baiyunpeng1991 commented on #497
这个是因为bean没有得到正确的销毁导致的，gc没办法回收掉强引用

[2018-05-03 06:29] baiyunpeng1991 commented on #507
我试了，没有这个问题

[2018-05-03 06:30] baiyunpeng1991 commented on #513
这是failover的原因

[2018-05-03 06:31] baiyunpeng1991 commented on #502
这不是bug

[2018-05-03 06:35] baiyunpeng1991 commented on #488
你观察下shutdown时候是不是disabled的没有被写入

[2018-05-04 11:39] shenjianhua1985 opened #516 "Elastic-Job 可以支持多少个job? 10万个job，每一分钟执行一次能行么？"
Elastic-Job 可以支持多少个job? 10万个job，每一分钟执行一次能行么？

[2018-05-07 05:44] lkpAgent opened #518 "disabled job后,服务重启job状态又变成可用生效状态"
如题.
job的状态是保存在zk的servers/ip路径下,通过控制台使job失效后,该值为DISABLED.
而通过JobScheduler(..).init()后,它读取的是config里配置的disabled属性.  显然通过控制台的操作并没有改变config里面的配置.

[2018-05-07 06:44] baiyunpeng1991 commented on #510
设计上明显是不支持太多job的，为了每个job到时间必须执行，及加上zk监听，一个job最少会开启4个线程；可以优化那个4个线程里，任务状态同步可以优化掉，剩余的3个基本线程按这个设计是没办法改的，只能根据公司的需求，进行符合业务的源码重构

[2018-05-08 08:38] deanjin opened #519 "job的AbstractDataFlowElasticJob的调度类如果集成aop的话，会无法调度"
问题重现：
<img width="616" alt="default" src="https://user-images.githubusercontent.com/13944043/39746750-e39a2dbc-52dd-11e8-8e20-4c350e0f843c.png">
在SmsTaskJob类中注入切面，这样fetchData就不会被调用

问题原因：
<img width="708" alt="default" src="https://user-images.githubusercontent.com/13944043/39746802-0a842752-52de-11e8-811a-72319de2e574.png">
<img width="958" alt="default" src="https://user-images.githubusercontent

[2018-05-10 03:00] ryuhi commented on #475
@kamping 最近做项目，用了dubbo2.6.1，它默认使用curator2.12.0做Zookeeper的客户端，结果和ej的版本冲突，报没有retrypolicy的类，升级版本到4.0.0之后，不报这个错了，但是在执行任务的时候，报没有createBuilder类的某个方法

看了一下，4.0.0版本的返回类和2.12.0/2.10.0的返回类是子类和父类的关系，应该不至于报找不到的错误，很奇怪

[2018-05-10 06:39] WeiShengPan opened #520 "未执行完成的job，运维平台上状态标识为【失败】"
问题如下：
job未执行完成时，先插入了一条缺失完成时间和失败原因的记录，运维平台界面上显示为失败状态；是否考虑将该状态的job记录展示为【执行中】或其他状态，避免对不熟悉实现的运维人员出现误导。

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
运维平台界面展示状态为【执行中】或其他状态。
### Actual behavior （实际运行的结果是）
运维平台界面展示状态为【失败】或其他状态。
### Steps to reproduce the behavior （可重现问题的操作步骤）
一个执行时间较长的job，在job刚开始执行时，可在运维平台上看到一条缺失完成时间和失败原因的记录，且执行结果为失败。
### Pleas

[2018-05-10 06:52] JohnVX commented on #520
支持一下。

[2018-05-11 02:10] 834449164 opened #521 "希望能在设置job的状态为“等待分片”时也可以触发功能"
版本号:2.1.4

希望能在设置job的状态为“等待分片”时也可以触发功能。

现在如果设置一个job后status为"sharding flag",是没有直接Trigger(触发)的绿色按钮
需要先把crontab时间设置为接下来的时间"* * * * * ?"来先触发一次后，status才变为OK，这是才有Trigger按钮。

希望在status为"sharding flag"时也可以触发（操作栏中出现绿色触发按钮），这样就不用去修改crontab时间触发一次后再把crontab时间调回来。

个人觉得这个功能可以简化一些操作使系统更加易用，若有什么错误之处还望指正。

[2018-05-11 03:35] newajax-1 commented on #521
赞同!

[2018-05-11 03:44] newajax-1 opened #522 "开启failover功能后,服务在重启的时候,任务会执行"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.4
### Expected behavior （您预期的结果是）
真正在运行时的job,failover才起作用
### Actual behavior （实际运行的结果是）
所有开启了failover功能的job在服务重启的时候都会执行
### Steps to reproduce the behavior （可重现问题的操作步骤）
1、开启一个每天14:00:00点执行一次的job,并部署在2个

[2018-05-11 10:04] huuusome opened #523 "有服务器节点挂掉，没有实现失效转移，从源码看应该是bug"
试了各种办法模拟失效转移都不成功，仔细研究了源码，发现源码中有个小bug。
`class JobCrashedJobListener extends AbstractJobListener {

        @Override
        protected void dataChanged(final String path, final Type eventType, final String data) {
            if (isFailoverEnabled() && Type.NODE_REMOVED == eventType && instanceNode.isInstancePath(path)) {
                String jobInstanceId = path.substring(instanceNode.getInstanc

[2018-05-12 13:32] DerekSun96 opened #524 "SpringBoot的java配置中没有设置job-exception-handler的方法"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
Elastic-Job版本：2.1.5

### Expected behavior （您预期的结果是）
希望知道在Java配置中如何设置扩展异常处理类（job-exception-handler）

### Actual behavior （实际运行的结果是）
在SpringCloud微服务工程中采用yml配置，无法使用异常处理类

### Steps to reproduce the behavior （

[2018-05-12 13:59] ScienJus opened #525 "当 Spring 容器异常退出后，SpringJobScheduler 中的 quartz 线程没有关闭，导致 Java 进程无法退出。"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

2.1.5

### Expected behavior （您预期的结果是）

当 SpringJobScheduler 为 Spring Bean 时，可以在容器销毁时关闭 quartz 线程。

### Actual behavior （实际运行的结果是）

在 SpringJobScheduler 启动后如果 Spring 容器异常退出，开启的 quartz 线程不会关闭，并且由于其是用户线程，所以会

[2018-05-14 01:00] huuusome commented on #522
您好，有个问题跟您交流一下，我在开启失效转移后，模拟系统宕机，没能实现失效转移，研究源码后，发现源码中有个问题，如下。
失效转移是从JobCrashedJobListener 这个监听器开始的。
`class JobCrashedJobListener extends AbstractJobListener {
    @Override
    protected void dataChanged(final String path, final Type eventType, final String data) {
        if (isFailoverEnabled() && Type.NODE_REMOVED == eventType && instanceNode.isInstancePath(path)) {
            String jobInstance

[2018-05-14 02:58] newajax-1 commented on #523
按你的分析话,即使配置了失效转移,也不会真正执行失效转移的功能,而我在测试发现,服务停止了,所有配置了失效转移的job,即使时间没到也执行了
具体看 issues 522

[2018-05-14 03:13] huuusome opened #526 "失效转移的问题讨论"
在使用Elastic-Job的失效转移功能时，遇到问题，kill掉服务进程或者断网处理后，没有达到失效转移的目的，配置中我已经设置了failover=true。
研究源码发现，源码中进入失效转移监听器的条件是instance下有节点被removed，我kill掉服务进程，instance下有节点被删除，可以正常进入监听器，但是在监听器内部要去查询该应用服务器分配的任务项并分配给其他空闲的应用服务器，在查询被removed的instance已分配任务项时，有一个限制条件instance必须存在，这跟进入监听器的条件instance被removed相矛盾。请有了解失效转移机制的同学一块交流一下

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5

### Expected behavior （您预

[2018-05-14 05:48] huuusome commented on #523
可以看看您的配置吗？还有，您是用kill -9让服务停止的吗？

这是我的配置，请帮忙看看有什么问题吗
<job:simple id="elasticBillingQuartzJob3" class="cn.com.ctsi.csdp.billing.quartz.ElasticBillingQuartzJob3" registry-center-ref="regCenter" sharding-total-count = "10"
    cron="0 0/5 * * * ?" overwrite="true" failover="true" misfire="true" event-trace-rdb-data-source="elasticJobLog" sharding-item-parameters="0='',1='',2='',3='',4='',5='',6='',7='

[2018-05-14 05:56] newajax-1 commented on #523
我用的就是官网的elastic-job-example-lite-springboot测试的,我是在idea中测试。起两个Job实例，然后手动停止的。还有一个就是我没有配置misfire=true这个配置

[2018-05-14 07:44] huuusome commented on #522
赞同

[2018-05-14 08:16] huuusome commented on #523
官网给的例子是10秒钟执行一次的，当停止一个job实例时，如果没有实现失效转移，就会进行重新分片，然后各实例获取新的分片开始执行。
您能确定您的Job不是重新分片，而是真的实现了失效转移？

[2018-05-14 08:17] newajax-1 commented on #523
时间我修改过，每半个小时执行有一次

[2018-05-14 08:33] newajax-1 commented on #523
我有测了下,部署在2服务器上,确实是没有执行失效转移

[2018-05-14 08:42] huuusome commented on #523
可以把你的配置贴出来吗

[2018-05-14 08:44] huuusome commented on #523
是不是可以说，使用Elastic-Job提供的原生的example也不能实现失效转移？

[2018-05-14 08:45] newajax-1 commented on #523
demoJob:
  cron: 0 0/30 0 * * ?
  shardingTotalCount: 1
  shardingItemParameters: 0=Beijing

@Bean(initMethod = "init")
    public JobScheduler demoJobScheduler(final DemoJob demoJob, @Value("${demoJob.cron}") final String cron, @Value("${demoJob.shardingTotalCount}") final int shardingTotalCount,
                                           @Value("${demoJob.shardingItemParameters}") final String s

[2018-05-14 08:46] newajax-1 commented on #523
之前我一直在一个服务器上启动2个job实例是可以实现失效转移的,但是部署在2个服务器上确实出现你说的情况

[2018-05-14 08:49] newajax-1 commented on #523
还有一个问题就是在JobCrashedJobListener监听器中还应该加个判断
 if(!JobRegistry.getInstance().isJobRunning(jobName)){
  return;
 }
**开启表示如果作业在一次任务执行中途宕机，允许将该次未完成的任务在另一作业节点上补偿执行**
这句话是文档上说的,所有我认为应该加上这个判断

[2018-05-14 09:22] huuusome commented on #523
根据代码来看，同一台服务器上启动两个实例必然是可以的，
`private boolean hasOnlineInstances(final String ip) {
        for (String each : jobNodeStorage.getJobNodeChildrenKeys(InstanceNode.ROOT)) {
            if (each.startsWith(ip)) {
                return true;
            }
        }
        return false;
    }`
应为这里判断是IP地址。

进入失效转移后，在取需要转移的任务项时，应该过滤该任务项是否正在running，如果不在running，则不转移，否则就过执行了一次。

至于补偿执行，我觉得失效转移最多能做到服务停止后，正

[2018-05-18 09:46] pescod106 opened #527 "Elastic-Job开启事件追踪功能之后，MySQL占用资源一直过高，导致服务器负载特别高"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
降低MySQL的资源占用情况
### Actual behavior （实际运行的结果是）
开启事件追踪功能导致MySQL资源占用过高
### Steps to reproduce the behavior （可重现问题的操作步骤）
打开时间追踪功能
### Please provide the reproduce example c

[2018-05-18 10:29] benhairui opened #528 "在eclispe下执行com.dangdang.ddframe.job.example.JavaMain类的main函数报错"
Exception in thread "main" java.lang.NoClassDefFoundError: com/dangdang/ddframe/job/event/JobEventConfiguration
	at java.lang.Class.getDeclaredMethods0(Native Method)
	at java.lang.Class.privateGetDeclaredMethods(Class.java:2625)
	at java.lang.Class.getMethod0(Class.java:2866)
	at java.lang.Class.getMethod(Class.java:1676)
	at sun.launcher.LauncherHelper.getMainMethod(LauncherHelper.java:494)
	at

[2018-05-19 13:25] ryuhi commented on #508
@butioy 可以通过容器指定ip的方式改成宿主机的ip，另外dubbo新版也可以在配置文件中指定服务节点的ip，但是只能是固定值

[2018-05-21 05:42] newajax-1 commented on #524
可以设置的
private LiteJobConfiguration getLiteJobConfiguration(final Class<? extends SimpleJob> jobClass,
        final String cron,
        final int shardingTotalCount, final String shardingItemParameters,
        final String jobParameter, final String description) {
        return LiteJobConfiguration.newBuilder(new SimpleJobConfiguration(
            JobCoreConfiguration.newBuilder(jobClass.getNa

[2018-05-22 02:34] ricky1024 opened #529 "某节点应用出现较长gc后，该节点上开启了失效转移的job被转移到其他节点，被额外重新触发"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
elastic-job-lite  2.1.5

### Expected behavior （您预期的结果是）
非running的job不会被重新触发

### Actual behavior （实际运行的结果是）
非running的job被额外重新触发

### Steps to reproduce the behavior （可重现问题的操作步骤）
jobA，分片数1，failover=“true”,

[2018-05-22 03:58] QiuMing opened #530 "新版console ,监控旧版任务，获取作业维度列表，报空指针"
### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
elastic-job-lite-console  2.1.5 版本
elastic-job-core     1.1.1 版本

### Expected behavior （您预期的结果是）
console 能够正常监控到作业维度列表

### Actual behavior （实际运行的结果是）
![image](https://user-images.githubusercontent.com/11348698/40341150-ffbd838a-5db5-11e8-9ce1-1c7da1b8d652.png)

具体报错代码
[code]

### Steps to reproduce the behavior （可重现问题的操作步骤）
复现此问

[2018-05-22 04:41] terrymanu commented on #530
please make version consist by yourself

[2018-05-22 04:41] #530 closed, assigned to nobody

[2018-05-22 04:44] terrymanu commented on #528
please try to find resolution by yourself

[2018-05-22 04:44] #528 closed, assigned to nobody

[2018-05-23 03:30] hqq2023623 opened #531 "Stream and connection not closed"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
version : 2.1.6-SNAPSHOT , branch : master
### Expected behavior （您预期的结果是）
close stream and connection when operation is done
### Actual behavior （实际运行的结果是）
## 1、FileInputStream not closed
WwwAuthFilter#ini

[2018-05-23 05:25] loong0306 commented on #525
您好，请问下您使用DisposableBean这边如何操作的呢，可以发下code嘛，谢谢。

[2018-05-26 13:37] terrymanu commented on #527
please clean trace records yourself

[2018-05-26 13:37] #527 closed, assigned to nobody

[2018-05-31 03:09] Jason1220 opened #533 "设置shardingTotalCount后不生效"
版本：2.1.5
shardingTotalCount 从5修改为3后，job重新启动还是按照5分片，查看zk发现还是老的数据，请问这个问题如何处理

[2018-05-31 05:34] MrChanLi2013 opened #534 "请问有没有全局配置，可以设置所有的task是否执行？"
#### 请问有没有全局配置，可以设置所有的task是否执行？
例如：`enable.allTask=true`这样就可以开启全部task。

#### job版本：1.0.7-SNAPSHOT
#### spring boot版本：1.3.3.RELEASE

[2018-05-31 06:40] #533 closed, assigned to nobody

[2018-05-31 06:40] Jason1220 commented on #533
已解决：设置overwrite(true)

[2018-06-04 06:30] zdf321 opened #535 "一个节点进程还在，但是不再执行任务"
## 一个节点进程还在，但是不在执行任务，有没有办法监控到这种状态，然后kill掉该节点，让其他节点执行？

Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.2
### Expected behavior （您预期的结果是）
当节点异常不再执行任务时，进程关闭
### Actual behavior （实际运行的结果是）
节点进程还在，任务不再执行
### Steps to reproduce the behavior （可重现问题的操作步骤）
线

[2018-06-05 03:19] bobbyz007 opened #536 "脚本类型作业如何在运行时动态给脚本设置参数"
目前是传入ShardingContext，没办法通过程序动态给脚本设置一些业务参数。

[2018-06-05 08:27] Tank-zhu opened #537 "任务重启时IP所对应的状态被清空"
### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
#### 2.1.5

### Expected behavior （您预期的结果是）
#### 重启后保持原有状态  （既然以ZK为准为何要把IP所对应的状态清空呢）
### Actual behavior （实际运行的结果是）
#### 重启后状态被清除
### Steps to reproduce the behavior （可重现问题的操作步骤）
- job设置overwrite 为false  不覆盖ZK配置，以ZK配置为基础
- 当在WEB界面禁用某一个任务时，ZK上会将该任务的server目录下的IP状态改为 DISABLED
- 这个时候如果重启任务服务，该任务所对应的server目录下的IP的DISABLED状态被清空

### Plea

[2018-06-06 01:27] a1197319946 opened #538 "elasticJob支持动态启停作业吗？ 看到文档上有JobOperateAPI这个类，项目中引用不到"
希望知道的大大帮忙解答下 ~ 感谢

[2018-06-06 09:44] 529349029 opened #539 "java项目加入当当后，无法启动，启动报错com.google.gson.stream.JsonWriter.jsonValue(Ljava/lang/String;)Lcom/google/gson/stream/JsonWriter"
2018-06-06 15:28:18 [WARN ] org.springframework.web.context.support.XmlWebApplicationContext {AbstractApplicationContext.java:546} - Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'com.dangdang.ddframe.job.lite.spring.api.SpringJobScheduler#0': Invocation of init method failed;

[2018-06-06 09:45] 529349029 commented on #539
gson版本2.6.1,2.8.0好几个版本都单独试过了，都不行，但是我本地启动是没有问题的，放在linux上就启动不了，就报了这个警告错误

[2018-06-07 01:50] a1197319946 opened #540 "elasticJob java main方法运行时，不能选举主节点，导致线程一直挂起，如何解决？"
程序是没问题的， 同样的代码在 git demo 里可以执行， 自己项目里无法选取主节点

[2018-06-07 01:58] Ah39 commented on #540
mark

[2018-06-07 02:00] a1197319946 commented on #540
@Ah39 你也碰到这个问题了吗

[2018-06-07 06:57] yuexianbing commented on #507
@baiyunpeng1991 那估计是你没模拟到场景吧。 出现这个问题后，我看了zk的节点数据，zk中显示我们的一个节点不可用(这个节点正常运行,只是与zk断连，节点的应用正常运行)，另一个备节点被选为主节点，也开始执行任务，导致两个任务同时运行，而因为我们这个任务没做数据的唯一约束，两个节点在分片数为1的情况下同时执行，重复创建了 400多张退货单。

[2018-06-07 07:55] a1197319946 commented on #540
浪费近两天时间， 终于解决， 是由于org.apache.curator jar包冲突， 自己引入的dubbo 简介引入了2.8版本的，项目中需要的是2.10版本， 造成选举主节点失败，具体报错：com.dangdang.ddframe.job.reg.exception.RegExceptionHandler - Elastic job: ignored exception for: KeeperErrorCode = NoNode for /elastic-job-example-lite-java/test/leader/election/instance

[2018-06-07 07:55] #540 closed, assigned to nobody

[2018-06-08 01:09] roaminlove opened #541 "同样源码,在centos7.4上打包无法注册到注册中心"
代码使用spring boot启动, 使用注解bean形式初始化注册中心bean, 手动调用了init方法, 日志打印都有打印.

相同的源码, 相同的java和maven版本, 在windows和ubuntu版本打包, 初始化玩都会在zookeeper中看到节点注册进来, 但是在centos打包的就无法注册zookeeper中, 日志也答应到已经调用初始化方法的了, 将jar包拿回本地运行也无法注册. 因为程序整体执行没问题, 就是elastic-job无法正确注册而已, 请问有什么特殊机制麽?

[2018-06-13 01:09] lklkxcxc opened #542 "docker容器部署es-job注册中心等状态化据是存放在哪里？"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

docker容器部署es-job每次启动后页面数据均为空，登记注册中心这些状态化数据是存放在哪里？

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce exampl

[2018-06-14 03:23] hurrica opened #543 "zookeeper中断连接后导致部分任务crash"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
是什么原因导致zookeeper连接中断后的任务crash，是因为没有手动开启失效转移吗？
### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example

[2018-06-19 02:24] wangjianwen commented on #522
@newajax-1 我也发现类似问题，已提交已提交[pull request](https://github.com/elasticjob/elastic-job-lite/pull/547)，等待审核和合并

[2018-06-19 02:33] wangjianwen commented on #522
@huuusome 之前大概看了下elastic-job的更新时间，发现很久没更新了，就没有关注issue。最后，自己debug了很长时间，才找到与你类似[解决方案](https://github.com/wangjianwen/elastic-job-lite/tree/fix_issue_522/529)。要是早点看到你的回答，可以减少不少时间。

[2018-06-19 02:34] wangjianwen commented on #529
@ricky1024  我也发现类似问题，已提交[pull request](https://github.com/elasticjob/elastic-job-lite/pull/547)，等待审核和合并

[2018-06-27 05:59] licl520 opened #548 "如何停止正在运行的elasticjob任务"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2018-06-28 07:10] abao301 commented on #513
我也遇见了，莫名其妙 执行了多次 定时时间还没到，就执行了

[2018-06-29 05:47] chindar opened #549 "Elastic-job 创建作业接口在两个节点上分别调用一次， 分片项才会在两个节点上处理"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
版本为2.1.5

### Expected behavior （您预期的结果是）
调用一个创建作业接口，会将分片项分配到活着的job节点中处理。

### Actual behavior （实际运行的结果是）
得分别调用两个节点的创建作业接口才会将任务项分配到两个节点中处理。若只调用一个节点, 他会将所有的分片项在这个节点上处理。

### Steps to reproduce the behavior （

[2018-07-01 06:48] handosme commented on #475
主要还是curator依赖的guava不能向下兼容吧，我的处理方式是使用maven-shade-plugin重定向com.google路径，然后把源码重新打包，问题解决了！

[2018-07-03 08:05] zion-li commented on #539
把你本地使用的gson去了就好了，有冲突

[2018-07-05 09:12] xujun738 opened #551 "Elasticjob Lite v2.1.5 Console在添加事件追踪数据源是否只支持mysql数据库？"
Elasticjob Lite v2.1.5 Console在添加事件追踪数据源时，在事件追踪数据源驱动的下拉框中只有mysql的驱动，为什么没有oracler的？

[2018-07-08 14:42] terrymanu commented on #551
yes for now.
If you want oracle, you can dev by yourself, codes is really similar and simple.
We appreciate if you provide a pr when finished.

[2018-07-08 14:42] #551 closed, assigned to nobody

[2018-07-08 14:44] terrymanu commented on #548
the answer is same for how to stop running application. you can just kill it or add a shutdownhook

[2018-07-08 14:44] #548 closed, assigned to nobody

[2018-07-08 14:45] terrymanu commented on #543
When zookeeper cannot connected, all jobs will pause, after re-connected, all jobs will resume.

[2018-07-08 14:45] #543 closed, assigned to nobody

[2018-07-08 14:47] terrymanu commented on #541
I suggest you find reason by yourself. no any additional special process here.

Please try to find the reason for different environments.

[2018-07-08 14:47] #541 closed, assigned to nobody

[2018-07-08 14:47] #539 closed, assigned to nobody

[2018-07-08 14:48] terrymanu commented on #549
you can try to enable config for monitor execution

[2018-07-08 14:48] #549 closed, assigned to nobody

[2018-07-08 14:49] terrymanu commented on #542
same with don't use docker, on zookeeper

[2018-07-08 14:49] #542 closed, assigned to nobody

[2018-07-08 14:50] terrymanu commented on #538
you should import `elastic-job-lite-lifecycle` on your pom

[2018-07-08 14:50] #538 closed, assigned to nobody

[2018-07-08 14:52] terrymanu commented on #534
the version is too old, please upgrede

[2018-07-08 14:52] #534 closed, assigned to nobody

[2018-07-08 14:52] terrymanu commented on #534
please do not use SNAPSHOT version

[2018-07-09 02:22] hurrica commented on #543
我的意思是，当zookeeper重新连接上之后，大部分的任务能够恢复，但是有极少个别的任务会被shutdown掉，你们自己没有遇见过这种问题吗？

[2018-07-10 10:05] sven-limited commented on #475
@handosme  你好我遇到了 curator的兼容问题 想跟您请教下 18920345531我的微信号  求加微信  万分感谢

[2018-07-13 01:56] handosme commented on #475
@sven-limited maven-shade-plugin重新打包源码，下面是mvn插件配置供参考：
master分支上，修改elastic-job-lite/elastic-job-lite-spring/pom.xml 文件，在</dependencies> 后增加如下内容：
[code]

[2018-07-17 04:11] robert-li-2018 opened #553 "击手动触发，定时任务会执行2次"
2.1.5版本，点击手动触发，定时任务会执行2次，请问需要配置什么？谢谢

[2018-07-24 10:05] ho000easy opened #554 "JOB状态为disable，但控制台展示为分片待调整状态"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）
两台服务器，服务器A/服务器B。job使用elastic job中的测试代码即可
1. 在服务器A 启动job，job的override和disable设置为true，运行

[2018-07-25 02:30] SanPy opened #555 "怎么在一个项目实例中配置多个不同的job任务？"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2018-07-25 03:49] 468120308 commented on #553
我也遇到了相同的问题，请问需要怎么做才能执行一次呢？

[2018-07-26 03:59] cloupeng opened #556 "下载了最新的源码无法编译通过，看似源码不完整，如何解决？"
下载下来的源码发现里面有好多对象的属性和方法缺失，无法编译通过

[2018-07-30 09:46] leorian opened #557 "数据库连接池连接获取之后，是不是应该手动关闭，归还连接池，否则这个连接一直占用"
和标题描述的一样，我看了elastic-job-lite的源码，看到rdb相关的代码的时候，看到从datasource里面拿connection操作数据之后，并没有手动关闭，归还连接池，请问一下，这个会不会导致连接一直被占用，无法释放？

[2018-08-02 07:04] ShouldLi commented on #553
同问，2.1.5版本，手动触发，执行两次

[2018-08-02 07:30] ShouldLi opened #558 "单机作业，配置作业监控端口, 方便开发者dump作业信息，启动报端口被占用"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
正常启动
### Actual behavior （实际运行的结果是）
端口被占用
### Steps to reproduce the behavior （可重现问题的操作步骤）
本地测试，单机作业
配置了monitorPort = 9888，
但是项目启动控制台显示Monitor server 运行，端口9888，然后 job_$

[2018-08-02 09:06] penghbgit commented on #523
失效转移我的都不生效（同一台机器和不同的机器）
@Configuration
public class DataflowDemo extends ContextLoaderListener {

    @Override
    public void contextInitialized(ServletContextEvent event) {
        new JobScheduler(createRegistryCenter(), createJobConfiguration("B")).init();
    }

    @Override
    public void contextDestroyed(ServletContextEvent event) {
        super.contextDestroyed(event);
    }

    priva

[2018-08-02 12:26] davis1214 opened #559 "与springboot结合时，有没有类似 @Scheduler的功能"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
3.0.0

### Expected behavior （您预期的结果是）
1、通过注解方式，比如@ElasticScheduler实现和springboot中调度相似功能
2、增加除了crontab外的调度配置方式

[2018-08-06 09:04] kangzhaok opened #561 "修改cron和overwrite为true时，状态一直是分片待调整"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
![image](https://user-images.githubusercontent.com/34024756/43708149-60019f16-999c-11e8-9b48-41633e4170fd.png)

### Actual behavior （实际运行的结果是）

![image](https://user-im

[2018-08-06 09:55] kangzhaok commented on #561
[](url)

[2018-08-06 09:55] #561 closed, assigned to nobody

[2018-08-07 07:43] zjw2011 commented on #472
什么时间修复这个BUG？我们也遇到这个问题了。而且有快半年没有更新了，还有人在维护吗？

[2018-08-13 03:46] wgou opened #562 "#367 Cloud禁用作业并未停止生成Ready队列，造成重新启用后堆积作业大量执行 . 在lite 版本也存在这个问题"
#367 Cloud禁用作业并未停止生成Ready队列，造成重新启用后堆积作业大量执行 . 在lite 版本也存在这个问题

[2018-08-13 04:25] ShouldLi opened #563 "无法停掉当前正在执行的任务"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5

### Expected behavior （您预期的结果是）
希望可以将当前正在执行的任务立即停掉不执行

### Actual behavior （实际运行的结果是）
点击失效或终止，一个长时间运行的任务仍然在执行

### Steps to reproduce the behavior （可重现问题的操作步骤）
一个需要执行10分钟的定时任务，执行了5分钟，点击失效或终止，任务显示已经失效

[2018-08-14 04:26] qwzhang01 opened #564 "项目集成spring boot报错，什么原因呢"
Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
08-14 12:21:04.004 ERROR [org.springframework.boot.SpringApplication] - Application run failed
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'simpleJobScheduler' defined in class path resource [com/bloom/oms/conf/job/StockJobConfig.class]: Bean

[2018-08-14 07:03] 3legcat opened #565 "bug of SensitiveInfoUtils.filterSensitiveIps"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Input for function SensitiveInfoUtils.filterSensitiveIps()
[code]
### Expected behavior （您预期的结果是）
[code]
### Actual behavior （实际运行的结果是）
[code]
### Steps to reproduce the behavior （可重现问题的操作步骤）
Unit

[2018-08-15 07:52] hubuyt opened #566 "数据库区分大小写 日志记录没写进去"
elasticjob 2.1.5
job_execution_log
job_status_trace_log
monitor-execution="true"
event-trace-rdb-data-source="dataSource"
开启后 由于数据库名字区分大小写 不能记录日志

[2018-08-15 07:55] hubuyt opened #567 "数据库名字区分大小写，不能记录日志"
elasticjob 2.1.5
job_execution_log
job_status_trace_log
monitor-execution="true"
event-trace-rdb-data-source="dataSource"
开启后 由于数据库名字区分大小写 不能记录日志

[2018-08-16 06:18] larrychao opened #568 "ZookeeperRegistryCenter的close()函数被谁调用的"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
找到函数的调用关系
### Actual behavior （实际运行的结果是）
通过intellij并没有找到
### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as githu

[2018-08-16 06:33] xjzrc commented on #559
可以自己写spring-boot-starter实现，如：https://github.com/xjzrc/elastic-job-lite-spring-boot-starter/tree/v1.1.0
v1.1.0是注解方式配置任务
v2.0.0去除了注解方式，完全采用了配置方式配置任务

[2018-08-16 11:56] dujiaolianglong opened #569 "通过api获取任务上次执行时间和下次执行时间"
用的版本为 2.1.5，  怎么样通过api 获取  任务  上次执行时间  和  下次执行时间，看了 elastic-job-lite-lifecycle 源代码，里面没有找见

[2018-08-17 08:30] #567 closed, assigned to nobody

[2018-08-20 03:35] xieshanggao commented on #553
同样碰到这个问题 同问

[2018-08-21 01:54] NoSugarIce opened #570 "job 执行多次"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5

### Expected behavior （您预期的结果是）
任务按照cron 表达式正确执行
### Actual behavior （实际运行的结果是）
偶然出现多次调用
### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as gith

[2018-08-21 05:40] xieshanggao commented on #553
我的问题解决了。
描述如下
我项目组件代码.  jobScheduler.init() 后，执行 jobScheduler.getSchedulerFacade().registerStartUpInfo(true);

源码中init()内部是有调用getSchedulerFacade().registerStartUpInfo()方法

这里重复调的话就产生新的线程去监听zk 节点。导致页面点击按钮触发时候会跑多一次任务

[2018-08-22 08:26] BaJingcheng commented on #523
我这边也试了一下失效转移，发现在zookeeper中并没有创建sharding/{item}/failover节点，感觉是这个原因导致的失效转移不成功

[2018-08-22 09:30] BaJingcheng opened #571 "失效转移不会触发"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
在kill掉服务后当前执行任务会转移到可用服务器
### Actual behavior （实际运行的结果是）
并没有实现失效转移
### Steps to reproduce the behavior （可重现问题的操作步骤）
在两台机器上部署并等待任务执行，任务开始执行后，kill掉一台服务的job进程。
### Please p

[2018-08-23 03:17] #562 closed, assigned to nobody

[2018-08-24 02:23] superbool opened #572 "原生的事件追踪是否可以去掉"
初始化时创建了 JobEventRdbConfiguration 导致自动创建了事件追踪记录的相关表JOB_STATUS_TRACE_LOG  现在这张表越来越大，导致数据库有压力。

JobEventRdbConfiguration这个事件追踪是否能去掉呢，以及去掉之后有什么影响吗

[2018-08-24 08:22] wujun8 commented on #461
disable 后应该使得对应  Scheduler 的 listener 暂时失效，或者在 listener 里处理 enable/disable

[2018-08-24 09:58] larrychao commented on #572
可以去掉，只要在构造schedule时不要传入JobEventRdbConfiguration就可以了。
事件追踪只是方便我们从控制平台查看job的进展，实际上自己从log也可。

[2018-08-28 07:51] shenjingmushan commented on #569
自己通过cron表达式就可以算出来了，quartz有个工具类可以算的

[2018-08-29 07:04] a420355244 commented on #514
这个问题还没有解决，有维护的大大在看吗？

[2018-08-29 07:56] ddwolf opened #573 "When inserting JOB_EXECUTION_LOG, transaction should be committed explicitly accordingly"
There could be exception occured in this line: "Lock wait timeout exceeded; try restarting transaction"

https://github.com/elasticjob/elastic-job-lite/blob/b022898ef1b8c984e17efb2a422ee45f6b13e46e/elastic-job-lite-core/src/main/java/io/elasticjob/lite/event/rdb/JobEventRdbStorage.java#L179

The dataSource object could be setup with defaultAutoCommit=false like this:

[code]

 so if without explic

[2018-08-30 01:24] zt994451054 commented on #523
看了网上的说法和源码发现失效转移是通过主动抓取和节点监听(移除事件)
1：每次定时任务执行任务,抓取leader/failover/items节点   --通过调试发现,每次执行到这就返回false,没有这个节点
2：通过JobCrashedJobListener监听节点删除事件，但是执行到isAvailableServer这个方法的时候，确实如楼上所说,实例都已经不在了,还在判断服务是否有效
至今仍未解决

[2018-08-30 06:17] forsil opened #574 "官方2群满了，无法加入。还有其他qq群可以加入吗？"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2018-09-02 01:12] Zhang-BigSmart opened #575 "Can it change the registry？"
execu me， can it change the registry by configuration ，not only the zookeeper

[2018-09-04 07:04] itshaw89 commented on #470
遇到相同的情况，在同一个节点，同一个时间点被触发两次

[2018-09-04 07:45] #572 closed, assigned to nobody

[2018-09-04 08:33] Portg opened #576 "oracle 11g 创建事件监听时报错"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）

正常创建时间跟踪表

### Actual behavior （实际运行的结果是）
Caused by: oracle.jdbc.OracleDatabaseException: ORA-00911: 无效字符

	at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.

[2018-09-06 07:29] sailsgo commented on #525
你好，获取SchedulerFacade 实例对象需要jobname等一些参数，我想spring容器销毁时暂停所有的定时任务线程调度，这样该怎么写呢，如何获取SchedulerFacade对象

[2018-09-06 11:02] houzhanshanlinzhou opened #577 "failover bug"
when I set the failover is true,I shutdown down the server,then the other server can't execute the failover's item.I found someone also find this problem in 2.1.5 version,  this is the url  https://blog.csdn.net/adi851270440/article/details/80498882   ,someone find the sourcecode bug,please check it;

[2018-09-19 02:46] KerwinAusten commented on #556
IDE要安装一下lombok插件，http://elasticjob.io/docs/elastic-job-lite/01-start/faq/

[2018-09-19 09:35] KerwinAusten commented on #557
你说的是这种代码吗
[code]
这种是JDK7引入的 try-with-resources 语法，凡是实现了AutoCloseable接口的在语句结束完毕时会自动调用close方法

[2018-09-19 09:48] KerwinAusten commented on #558
他这里每个作业都会根据monitorPort启动一个socket监听，所以如果有多个作业启动的话就妥妥的会报错。可以考虑把MonitorService的内容复制到自己的代码里启动一个socket即可

[2018-09-19 09:53] KerwinAusten commented on #575
Sorry, until now it only supports zookeeper. And the community has been inactive for a long time either.

[2018-09-19 09:57] KerwinAusten commented on #576
他们的建表语句的字段两边加了``符号，在Oracle下边就会报错，但是MySql不会，可以通过修改源码解决。位置是JobEventRdbStorage和StatisticRdbRepository两个类

[2018-09-19 09:58] KerwinAusten commented on #575
But you can do it yourself by implement the CoordinatorRegistryCenter interface

[2018-09-20 02:26] larrychao commented on #475
@handosme 这种方式相当于把guava打包进了项目？会造成jar包很大？

[2018-09-20 06:43] canxuewuhua opened #579 "job怎么配置"
项目模块的作用，以及怎么去配一个job，可以给出文档吗，谢谢

[2018-09-20 14:09] ryuhi commented on #475
今天又碰到这个问题，有时间就仔细看了下，4.0.0版本的返回类的父类和2.12.0/2.10.0的返回类（均是接口），继承了多个接口，造成方法列表不一样。包名、类名均相同，方法列表不一样，这样算是两个类吗？如果是两个类，就不存在父子类的问题，返回类型不符合，所以报方法不存在。我这样猜测对吗？请各位指教。

[2018-09-26 09:23] superbool commented on #470
遇到相同情况，版本2.0.3   ,配置时间【0 40 7 * * ? 】 执行了两次，当时系统没有其他异常。
[code]
代码：
[code]

[2018-09-26 10:22] itshaw89 commented on #470
追踪到job被实例化了两次

[2018-09-30 05:25] leorian commented on #557
哎呀呀，我孤陋寡闻了,你说的对的

[2018-09-30 10:25] 1594433168 commented on #570
在AbstractDistributeOnceElasticJobListener中，偶尔会2次触发doBeforeJobExecutedAtLastStarted和doAfterJobExecutedAtLastCompleted方法

[2018-10-02 02:32] 1594433168 commented on #487
看了源码，在调用beforeJobExecuted时并没有使用分布式锁做判断。如果多个就进程刚刚好同时触发beforeJobExecuted，会调用它同时执行

[2018-10-03 01:54] 1594433168 commented on #487
JobScheduler创建

[code]

注意，这里为监听器添加的保证分布式任务全部开始和结束状态的服务，该服务不提供分布式锁功能，可能导致多个节点同时执行监听器中方法
所以如果要防止多次触发，可以自己在代码采用Curator的分布式锁功能

[2018-10-08 12:35] zj4775 opened #580 "mesos"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2018-10-08 13:17] #580 closed, assigned to nobody

[2018-10-09 01:49] apa7 opened #581 "cvc-complex-type.2.4.c: 通配符的匹配很全面, 但无法找到元素 'reg:zookeeper' 的声明。"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
使用文档中的案例, 启动报错了
### Actual behavior （实际运行的结果是）

**[org.springframework.beans.factory.xml.XmlBeanDefinitionReader]Ignored XML validation warning
org.xml.sax.SAXParseExce

[2018-10-09 02:07] apa7 commented on #581
环境是spring,
tomcat启动

[2018-10-09 02:10] apa7 commented on #581
文件编码问题, sorry, 已解决

[2018-10-09 02:10] #581 closed, assigned to nobody

[2018-10-09 08:10] 736008081 opened #582 "部分任务运行一段时间crashed，报如下错误_$_NON_CLUSTERED shutdown complete"
2018-09-29 21:18:37,566 INFO [main-EventThread] o.a.c.f.s.ConnectionStateManager [ConnectionStateManager.java] State change: SUSPENDED
   	2018-09-29 21:18:37,566 INFO [main-EventThread] o.I.z.ZkClient [ZkClient.java] zookeeper state changed (Disconnected)
   	2018-09-29 21:18:38,609 INFO [main-EventThread] o.I.z.ZkClient [ZkClient.java] zookeeper state changed (SyncConnected)
   	2018-09-29 21:18

[2018-10-10 14:04] apegeek opened #584 "PostgreSQL数据库下，动态任务失败；内部表不能创建"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
相关的内部表可以正确创建
### Actual behavior （实际运行的结果是）
生成的create table语句含有``，导致出错
### Steps to reproduce the behavior （可重现问题的操作步骤）
使用postgresql数据库，动态添加任务
### Please provide the re

[2018-10-11 01:57] apegeek opened #585 "Postgresql下无法正常使用问题"
private void createJobStatusTraceTable(final Connection conn) throws SQLException {
        String dbSchema = "CREATE TABLE `" + TABLE_JOB_STATUS_TRACE_LOG + "` ("
                + "`id` VARCHAR(40) NOT NULL, "
                + "`job_name` VARCHAR(100) NOT NULL, "
                + "`original_task_id` VARCHAR(255) NOT NULL, "
                + "`task_id` VARCHAR(255) NOT NULL, "

[2018-10-11 03:45] hyhr commented on #469
我也遇到这个问题，而且每次配置出错都会抛出数据库相关的异常

[2018-10-12 07:01] gzlicanyi commented on #577
两台机器调试了下，确实是bug

[2018-10-12 07:27] apegeek commented on #585
我下载了源代码，并在其基础上做了修改

[2018-10-12 07:28] apegeek commented on #585
针对pg修改后，可以使用

[2018-10-15 03:45] quickbin opened #586 "是否能够支持fixed-delay，而不是cron的表达式"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2018-10-15 03:47] #586 closed, assigned to nobody

[2018-10-25 02:19] yuweiming2016 commented on #449
能否官方提供一个jpa的解决方案？@terrymanu

[2018-10-26 03:30] HollisChen1 opened #587 "SimpleJob设置了3个分片，但是有一个分片不执行"
我现在遇到一个问题，注册中心用的zk，simplejob设置了3个分片，最开始一切正常，但是一段时间后发现有一个分片始终不会执行了，我删掉zk的日志后重启了zk又可以执行了。这期间没人动过zk，这种问题的原因是怎么导致的呢？

[2018-10-26 08:17] microlmj commented on #564
我的也是这个问题 A component required a bean of type 'com.dangdang.ddframe.job.event.JobEventConfiguration' that could not be found.

[2018-10-29 05:36] #587 closed, assigned to nobody

[2018-10-31 03:35] kaisar420 opened #588 "爱启航"
http://www.iqihang.com

[2018-11-01 08:03] vm-001 opened #589 "完全停止任务的最佳实践"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
如何实现完全停止任务？
### Actual behavior （实际运行的结果是）
在console管理界面失效、停止任务任务就会停下，一旦业务服务重启，任务又会重新开始执行，有没有什么办法可以实现完完全全的停止任务
### Steps to reproduce the behavior （可重现问题的操作步骤）
任意一个scrip

[2018-11-01 09:06] vm-001 commented on #589
如果客户端的配置的任务一开始使用disabled，等服务器启动后在console开启任务。如果使用kill -9杀掉服务的定时任务的进程。发现服务重启恢复后，定时任务也不会自动启动。
[code]
客户端overwrite为false，那么是以zk数据为准，那么在console如果disabled字段可以修改为true，是不是服务器重启后就能以zk数据为准？重新开始执行定时任务？

[2018-11-01 10:46] Ah39 commented on #553
misfire 设置为false 就行。手动触发，有一次会认为是misfire 。
在2.0.5版本是这样，不知道在2.1.5版本是不是也是这样

[2018-11-01 10:49] Ah39 commented on #470
misfire 设置为false就行了。quartz 手动触发，不在cron的时间运行，会认为是misfire。又执行一次

[2018-11-02 07:20] BitgetLimited opened #590 "依赖包冲突导致类或方法找不到"
### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
我们环境使用到是springboot 1.5.14，Curator 4.0.1，guava是23

### Actual behavior （实际运行的结果是）
运行时报Caused by: java.lang.NoSuchMethodError: com.google.common.util.concurrent.MoreExecutors.sameThreadExecutor()Lcom/google/common/util/concurrent/ListeningExecutorService 等错误

所以必须在pom中指定curator等版本为2.10.0，以及guava

[2018-11-02 07:28] BitgetLimited commented on #590
补充一下：
当只引入elastic-job和elastic-spring包时，curator-client,curator-framework,curator-recipes三个包的版本也是错误的
![image](https://user-images.githubusercontent.com/40291324/47899236-d9d61b80-deb3-11e8-9b47-be64795df90c.png)

[2018-11-05 02:38] devpage opened #591 "如何给job:dataflow填充自定义属性"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
`<job:dataflow>
  <property name="自定义bean的属性" value="就像使用原始spring那样注入自定义的值"  />
</job:dataflow>
`
### Actual behavior （实际运行的结果是）
无法注入属性到<job:dataflow> 标签
### Steps to r

[2018-11-06 06:18] devpage commented on #591
java code

[2018-11-06 06:18] #591 closed, assigned to nobody

[2018-11-06 11:35] ShouldLi commented on #553
misfire 默认不就是false吗

[2018-11-07 02:14] Ah39 commented on #553
![image](https://user-images.githubusercontent.com/2367243/48106311-e670c000-e275-11e8-83b0-182148334d37.png)
JobCoreConfiguration.java misfire 默认为true

[2018-11-07 04:25] martinko2009 opened #593 "elastic-job-lite是基于quartz,在部署的时候需要在数据库中创建quartz相对应的表吗"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
既然elastic-job-lite是基于quartz的话，部署的时候是否需要在数据库中创建quartz对应的表，比如qrtz_triggers,qrtz_cron_triggers等12张表
### Actual behavior （实际运行的结果是）
不知道该如何操作。
### Steps to reproduce the beh

[2018-11-07 08:49] zj861222 opened #594 "定义了stream类型的job，调用jobOperateAPI.trigger 无法循环执行fetchdata方法"
### Which version of Elastic-Job do you using?
elastic-job-lite-spring  2.1.1

### Expected behavior
期望能按照正常steam定时任务一样循环执行fetchData 和 processData

### Actual behavior
实际结果是 fetcdata和 processData 只执行了一次。

### Steps to reproduce the behavior （可重现问题的操作步骤）
1.  定义一个steam类型的job
2. 调用 jobOperateAPI.trigger 方法去触发这个stream 类型的job

###

debug了源码， 在 DataflowJobExecutor 这个类中。

**在 streamingExecute 方法中，getJobF

[2018-11-07 08:55] zj861222 commented on #589
@Dog-Lee  感觉按照你这种逻辑来会导致混乱，导致配置文件不生效，不知道实际现网环境中到底是什么值，

[2018-11-07 08:55] zj861222 commented on #585
这个表只能mysql吧，你可以自己改成pg的建标语句

[2018-11-09 09:09] laohubuchiyu opened #595 "jvm里查询作业运行信息"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5

想在shutdown的时候 查询出还在运行的job信息 不知道怎么操作比较合理

[2018-11-14 08:11] Ah39 opened #596 "misfire 在一些条件下会陷入死循环，导致内存泄露，任务不能执行"
**A，B两个节点执行任务，不断的对A，或者B执行失效，暂停，全部触发等操作，在一定条件下，会有节点misfire 会陷入死循环**
jstack 日志如下
`
"job_demo444_QuartzSchedulerThread" #20 prio=5 os_prio=0 tid=0x00007fcb9c55e800 nid=0x314b in Object.wait() [0x00007fcb8491d000]
   java.lang.Thread.State: WAITING (on object monitor)
	at java.lang.Object.wait(Native Method)
	at java.lang.Object.wait(Object.java:502)
	at org.apache.zookeeper.ClientCnxn.submitRequest(C

[2018-11-14 08:15] Ah39 commented on #596
**在execute 中obFacade.misfireIfRunning 会设置misfire标识，jobFacade.isExecuteMisfired 会判断是否要进入misfire过程。quartz本身执行，如果是不在当前时间，JobTriggerListener 也会设置misfire。**
`    public final void execute() {

        if (jobFacade.misfireIfRunning(shardingContexts.getShardingItemParameters().keySet())) {`

[2018-11-14 08:19] Ah39 commented on #596
https://github.com/elasticjob/elastic-job-lite/issues/515
https://github.com/elasticjob/elastic-job-lite/issues/324
**全部是跟misfire 有关，我开始以为是zk，submitRequest没有返回，其实是zk client一直在submitRequest，所以多次jstack，看起来就像是zk client submitRequst 卡住了。**

[2018-11-14 09:33] Ah39 commented on #596
并且创建了多个trigger
![image](https://user-images.githubusercontent.com/2367243/48473456-75ac4380-e833-11e8-963b-420a0d252ba6.png)

[2018-11-14 11:00] Ah39 commented on #470
@ShawHero ，哪个地方创建了jobdetail 两次。

[2018-11-14 13:05] Ah39 commented on #596
在 org.quartz.simpl.RAMJobStore.acquireNextTriggers 这个方法里面陷入了死循环

[2018-11-14 13:31] NiuCC opened #597 "借贷宝 www.jiedaibao.com"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2018-11-14 13:32] #597 closed, assigned to nobody

[2018-11-15 09:21] xiangtao123 opened #598 "屏蔽Quartz UpdateChecker运行"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.6
### Expected behavior （您预期的结果是）
Quartz UpdateChecker 不被执行。
### Actual behavior （实际运行的结果是）
Log 级别为 Debug 时，控制台打印 Quartz UpdateChecker 运行的日志，内容：
Checking for available updated version of Quartz...
并访问一个

[2018-11-15 09:30] xiangtao123 commented on #598
修改方式：
Properties com.dangdang.ddframe.job.lite.api.JobScheduler.getBaseQuartzProperties()
在此方法中，增加：
[code]

[2018-11-16 02:24] Ah39 commented on #596
2.0.5 版本

[2018-11-16 03:14] #598 closed, assigned to nobody

[2018-11-16 08:11] 736008081 commented on #582
是用的zkclient，在部分zk上面会出现这种问题，部分不会，排除掉elastic-job的curator包，重新引入一个高版本的curator包，没出现过这种问题，具体原因暂时不清楚

[2018-11-19 06:41] hello2z opened #600 "代码配置jobParameter不生效,读取值为空 (springboot)"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
[code]

### Expected behavior （您预期的结果是）

[code]

### Actual behavior （实际运行的结果是）

[code]

### Steps to reproduce the behavior （可重现问题的操作步骤）

[code]

### Please provide the reproduce example codes (such as git

[2018-11-21 11:07] junyi5257 commented on #600
@

@ZaneRicky

1，这个参数不能再这里获取，是由于这个@ElasticSimpleJob 注解的原因导致的吧，

@ElasticSimpleJob 注解，并不是 官方elastic-job-lite的,这个是其他人写的 对springboot的支持工具,你可以找这个

<dependency>
    <groupId>com.github.kuhn-he</groupId>
    <artifactId>elastic-job-lite-spring-boot-starter</artifactId>
    <version>2.1.5</version>
</dependency>
的开发者。

谢谢

[2018-11-21 11:29] junyi5257 commented on #579
http://elasticjob.io/docs/elastic-job-lite/01-start/dev-guide/

建议查看 开发API,加群(文档中有),然后发现问题再来发Issues

[2018-11-22 05:36] gMan1990 commented on #582
elastic-job是用ZkClient的吗？不是curator？
https://github.com/elasticjob/elastic-job-lite/blob/2.1.5/elastic-job-common/elastic-job-common-core/pom.xml#L23
[code]
你的ZkClient是其它包用到的吧。

[2018-11-23 01:42] xue2lang commented on #467
确实有这个问题，我们也遇到同样的问题，麻烦问一下这个问题如何解决的？？

[2018-11-23 01:59] xue2lang opened #601 "分片执行，偶尔插入执行记录日志（JOB_EXECUTION_LOG）会报Duplicate entry 'xx' for key 'PRIMARY'"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
1.0.2
### Expected behavior （您预期的结果是）
正常按照分片项插入执行记录日志
### Actual behavior （实际运行的结果是）

ERROR druid.sql.Statement[152] - {conn-10019, pstmt-20081} execute error. INSERT INTO `JOB_EXECUTION_LOG` (`id`, `job_na

[2018-11-26 10:38] jimgreen2013 commented on #571
@BaJingcheng 这个问题我也碰到了，你是怎么解决的呢？

[2018-11-27 07:06] Nicqiang opened #603 "timezone设置"
elastic-job对于不同的作业指定timezone去执行，不同的作业可以使用不同的timezone，可能做到跟jvm的timezone无关

[2018-11-29 02:21] yinbucheng opened #604 "elastic-job的lite在k8s上运行出现的问题"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2018-11-29 02:26] yinbucheng commented on #604
你好我用你们的elastic-job时版本为2.1.5采用java的api方法调用。出现问题是定时器有的无法注册上面去。不稳定。请求这是什么原因了。好像是zookeeper的注册instance的临时节点出现问题了
请问是k8s的网络不稳定还是你们框架lite不shiyo适应k8s

[2018-11-29 02:28] yinbucheng commented on #604
难受，群也不能加。早知道用xx-job了。

[2018-11-29 03:43] fenghy commented on #470
我也碰到过，情景是这样：在一个tomcat下部署了2个相同项目，job每次都是执行2次。原因：2个项目启动的时候相同job会注册2次，所以创建了jobdetail 两次，但是job key是基于ip+jvm name,所以在zk看到的是一个job。

[2018-11-29 06:12] fangqj opened #605 "ReconcileService无法释放回收"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
动态创建任务，执行完成删除任务。
删除zookepper job节点，以及删除任务后，任务相关实例 如ReconcileService能够回收，避免内存泄漏
### Actual behavior （实际运行的结果是）
删除节点后ReconcileService无法回收，一直在执行runOneIteration
![image](ht

[2018-12-05 09:51] chenshuangxi commented on #576
改了源码支持oracle，但是启动一段时间之后，再重启的话，非常慢，60个定时任务，360秒才启动完，我设置的默认启动都是disable的，请问有没有遇到过？

[2018-12-09 11:38] xinzhuxiansheng opened #607 "throw new SilentExitException()"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
启动不应该执行这行代码
### Actual behavior （实际运行的结果是）
	public static void exitCurrentThread() {
		throw new SilentExitException();
	}
用java配置就会报这个错，用xml配置就ok
### Steps to reproduc

[2018-12-10 15:34] gMan1990 opened #608 "如何修改elastic-job-console绑定的ip地址？"
RT

[2018-12-11 11:12] hunterwyld commented on #593
不会创建的，默认使用的是quartz的RAMJobStore

[2018-12-12 09:11] HeroOnline opened #609 "servers 中只有一个IP ，实际部属多个节点"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
servers 中只有一个IP  ，实际部属多个节点
### Actual behavior （实际运行的结果是）
期望多少节点，servers 中就有多少个IP
### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce exa

[2018-12-12 14:39] 529349029 commented on #539
怎么去掉呢，去掉好像没有用啊，结果还是一样的，你说的本地的gson是哪里呢？

[2018-12-14 08:28] gaolin713 commented on #604
单机有问题吗？我们是多机下任务会停止。。。

[2018-12-15 07:08] liubo-tech opened #610 "elasticjob.io 为什么访问不了了"
elasticjob.io 为什么访问不了了，我还想查看文档呢，急呀！

[2018-12-17 00:54] martinko2009 commented on #593
1、如果是用RAMJobStore，如果elastic-job-lite应用重启或者关闭后，再启动，所有调度信息都会丢失了。

[2018-12-18 01:39] #607 closed, assigned to nobody

[2018-12-20 01:23] anglewu commented on #434
我也遇到了，后修改下ID名称就好了。如果不修改ID名称，就再也无法启动。

[2018-12-22 19:30] wanglianghust commented on #516
每开一个job，都会起线程。我测试过，开了300个job，每个5秒执行一次，机器线程数达到4000多，不一会就电脑down机了。

[2018-12-24 10:22] wkclz opened #611 "任务配置不即时生效"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
com.dangdang.elastic-job-lite-core.2.1.5
### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）
1、springboot 项目，作业配置在application.properties 内
2、通过

[2018-12-25 07:17] wkclz commented on #611
LiteJobConfiguration.newBuilder(simpleJobConfig).overwrite(true).build()
添加 ： .overwrite(true) 后问题解决

[2018-12-25 08:19] #611 closed, assigned to nobody

[2018-12-25 09:06] sssssssq commented on #526
关于这个问题，我在测试的时候发现，开启失效转移时，一定需要一台空闲的服务器。例如3个实例分了两片。那么在实际运行的过程中，才会触发失效转移。针对正在执行作业的服务器，无法在重新分片之前来执行前一次的失效任务。

[2018-12-26 12:00] kiwiflydream commented on #589
遇到了同样的问题，重启服务 失效、停止没有以 console 配置的为准，但是其它的配置倒是以 console 的为准了。

[2018-12-28 08:19] nangongh commented on #442
这个问题，有人解决吗。我的应用也报这个错

[2019-01-07 07:35] mrxlh opened #612 "从文档中没有发现有任务失败重试的配置呀"
### Expected behavior （您预期的结果是）
控制台并没有提供失败重试的机制策略 ，查看咱们说明文档也没有，不知可否补充下web的使用相关文档
### Actual behavior （实际运行的结果是）

Code should based on https://github.com/elasticjob/elastic-job-example
（代码请基于 https://github.com/elasticjob/elastic-job-example）

[2019-01-07 10:11] qin4zhang commented on #608
你放在哪里运行这个console，都没关系，只要能连接到zk就可以吧

[2019-01-08 02:33] yswjdwn1st opened #613 "elasticjob.io 404了"
elasticjob 中文官网 http://elasticjob.io/index_zh.html 404 了, 请问是更换地址了吗?

[2019-01-08 08:13] MessiYsk opened #614 "微医 https://www.guahao.com/"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2019-01-09 01:41] #613 closed, assigned to nobody

[2019-01-10 09:46] wydpp commented on #470
刚才遇到了重复执行的问题。两台机器，设置的sharding-total-count="1"，偶尔有任务会再两台机器上都运行。暂时不知道为什么，所以线上目前关掉了一台机器。后续有结果再反馈。

[2019-01-12 08:42] gMan1990 commented on #521
支持该功能~~~（直接发http请求可以绕过么？
[code]

[2019-01-14 09:02] cx898 opened #615 "Job无法调用Feignclient远程Service"
在SpringCloud中使用。Job任务试图调用Feign远程Service，发生错误：
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'scopedTarget.oauth2ClientContext': Scope 'request' is not active for the current thread; consider defining a scoped proxy for this bean if you intend to refer to it from a singleton; nested exception is java.lang.IllegalStateException: No thread-bound request found:

[2019-01-15 14:36] yuanjinzhong opened #616 "还维护吗？生产准备用，我调研一下"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2019-01-17 02:55] mrxlh opened #617 "失败重试次数配置没有找到呀"
尊敬的开源作者，通过文档没有找到对应的失败重试次数的相关配置，不知能否提供该功能

（代码请基于 https://github.com/elasticjob/elastic-job-example）

[2019-01-17 05:48] gMan1990 commented on #608
@qin4zhang 我是说这个console被访问的ip
比如绑定到127.0.0.1，那只能http://127.0.0.1:8899访问console

[2019-01-17 11:34] Chasun-fhd opened #618 "上海fengyv科技有限公司"
### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
1.1.1

[2019-01-18 01:32] zhulangfly opened #619 "SQL语句末尾有分号，导致写入Oracle数据库报无效字符错误。"
版本：2.1.5
bug：io\elasticjob\lite\event\rdb\JobEventRdbStorage.java 中的sql语句最后又“;” 导致写入Oracle时报错： (job-event-15) ORA-00911: 无效字符。
解决方案： 去掉sql语句的“;”号。

[2019-01-18 05:52] gMan1990 opened #620 "ExecutionContextService java.lang.NullPointerException"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
elastic-job-lite-core-2.1.5.jar

### Expected behavior （您预期的结果是）
maybe null safe?

### Actual behavior （实际运行的结果是）
NullPointerException

### Steps to reproduce the behavior （可重现问题的操作步骤）
I am not sure. 应该是网络访

[2019-01-18 07:58] gMan1990 commented on #601
这个你要看是哪里打印的，我这是[ERROR druid.sql.Statement]，所以不要紧的。
https://github.com/elasticjob/elastic-job-lite/blob/9cc659f8e315e18efa9a3e57f0260fa50f616d17/elastic-job-common/elastic-job-common-core/src/main/java/com/dangdang/ddframe/job/event/rdb/JobEventRdbStorage.java#L235
[code]

[2019-01-22 05:43] Vwings opened #621 "How to run a job only once at application start time?"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.0.5
### Expected behavior （您预期的结果是）
Config a job that run only once at start time.
### Actual behavior （实际运行的结果是）
Cannot find the configuration
### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please

[2019-01-26 11:39] liych05 opened #622 "ZookeeperRegistryCenter的cache线程不安全，存在并发故障的风险"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5

### Steps to reproduce the behavior （可重现问题的操作步骤）
频繁创建作业，并且作业执行完后手动对作业shutdown和remove（删除zookeeper的数据），ZookeeperRegistryCenter.cache就容易出现异常ConcurrentModificationException。

### 请问这个问题如何解决最安全？如果需要自己修改代码

[2019-02-12 02:55] B0B02333 opened #623 "xsd错误"
### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5 版
### Expected behavior （您预期的结果是）
可以引入xsd文件
### Actual behavior （实际运行的结果是）

Referenced file contains errors (http://www.dangdang.com/schema/ddframe/reg/reg.xsd). For more information, right click on the message in the Problems View and select "Show Details..."

### Steps to reproduce the behavior （可重现问题的操作步骤）

[2019-02-14 09:22] gMan1990 opened #624 "项目启动完成后执行一次，后续每1小时执行一次怎么配置？"
1、项目启动后执行一次
2、后续每隔1小时执行一次，基于什么时间点无所谓

[2019-02-22 09:43] wgou opened #626 "在不同的namespace下. 相同id的任务只能执行一个"
Elastic-Job版本为:elastic-job-lite-code 2.1.5
您预期的结果是：在不同的namespace下 相同的任务id 完全隔离执行
实际运行的结果是：其中之一被运行，另一个不会运行

配置如下：spring-cdwm-job.xml
  <reg:zookeeper id="rebateJobCenter_cdwm" server-lists="10.13.3.10:2181" namespace="rebate-cdwm-local"    base-sleep-time-milliseconds="1000" max-sleep-time-milliseconds="3000" max-retries="3"/>
	<job:dataflow
			id="cxInvComJob"
			class="com.dmall.cx.rebate.biz.bea

[2019-02-23 07:40] yanmaipian commented on #516
可以使用mesos 来做集群

[2019-02-25 08:23] yanmaipian commented on #616
一年没有更新了，应该不维护了。

[2019-02-26 11:47] magicheng commented on #616
xxl-job的分片功能弱吧？

[2019-02-27 02:44] slatonwu opened #627 "注册中心期望支持Nacos"
注册中心希望能适配更多注册中心，比如nacos等。

[2019-02-27 06:58] liubo-tech opened #628 "配置了JobEventConfiguration，数据库没有自动创建表"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
elastic-job-lite    2.1.5
### Expected behavior （您预期的结果是）
自动创建两张日志表
### Actual behavior （实际运行的结果是）
没有创建两张日志表，并报错，Table 'world.job_execution_log' doesn't exist
### Steps to reproduce the behavior （可重现问题的操作步骤

[2019-02-27 06:59] #610 closed, assigned to nobody

[2019-02-27 10:23] whaty commented on #615
你解决了吗，一样的问题

[2019-02-28 03:43] liubo-tech opened #631 "AbstractDistributeOnceElasticJobListener 分布式监听器不起作用"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
## Actual behavior （实际运行的结果是）
如介绍的那样，分布式监听器只执行一次
### Steps to reproduce the behavior （可重现问题的操作步骤）
继承AbstractDistributeOnceElasticJobListener，编写分布式监听器。启动两个应用，查看日志，开始时，
开

[2019-02-28 12:36] nmyphp commented on #470
@fenghy 建议检查一下是否与你的tomcat配置有关了：
有时候我们为了访问项目时路径中不带dirName，会在<Host autoDeploy="true">标签添加一个<Context>标签，这回导致我们的工程被加载两遍。

[2019-02-28 12:53] nmyphp commented on #475
@ryuhi 你好，看到你的问题引发的主要原因是：
同一pom依赖或间接依赖了elastic-job和dubbo这两个中间件，但他们依赖的curator版本不一致，导致了jar冲突。
建议：将dubbo接口和elastic-job分开放在两个module里面，然后两个module分别去依赖dubbo和elastic-job，并且去掉这两个module的父pom里面的dubbo和elastic-job依赖。
其实这属于项目结构设计方面的经验，依赖jar应该“就近原则”

[2019-03-01 03:46] ryuhi commented on #475
这的确是一个方法，Thanks a lot.

[2019-03-06 12:42] nmyphp commented on #616
@yuanjinzhong
就现有功能来说，已经比较稳定和完善了，2.1.3版本目前接受了当当网订单团队的校验，从性能和稳定性来说，满足线上应用是绝对没问题的。也和作者亮哥沟通过这个问题，后面会继续维护，只是这段时间还投身在另一个项目中

[2019-03-07 12:18] nmyphp commented on #624
@gMan1990
0 0 * * * *
每小时的00:00执行一次

[2019-03-07 12:24] nmyphp commented on #472
@zjw2011 你好，我试了“任务在某个函数前加上 @Transactional注解”但是没有复现你的问题，能把代码发给我，让我看一下吗？

[2019-03-08 02:33] JeffreyPan commented on #475
针对Curator版本冲突问题，可以考虑elastic-job升级到4.0.1，Curator-client依赖排除zookeeper，同时再引入公司使用的zookeeper版本

[2019-03-08 16:04] ryuhi commented on #475
elastic-job没有4.0.1的版本啊，如果是说Curator，那我遇到的问题也和Zookeeper无关

[2019-03-09 02:17] cuiqunhao opened #632 "we wish add time zone implementation in implementation"
we wish add timezone funciton in the jobSchedulerController

[2019-03-10 05:25] gMan1990 commented on #624
@nmyphp 比如在01:08分程序运行了，得等50多分钟才执行

[2019-03-15 05:49] EmuuGrass opened #633 "事件追踪数据源配置有问题或者没有此数据库时，程序不报错"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
程序报出相应错误日志或者错误栈
### Actual behavior （实际运行的结果是）
启动时卡主
### Steps to reproduce the behavior （可重现问题的操作步骤）
配置数据源，但是不建立相对应的数据库
### Please provide the reproduce example codes

[2019-03-21 03:57] zhengqz commented on #508
@ryuhi  怎么操作docker ip改为宿主机IP(不要--net=host方式)
我最近也在使用docker 启动服务，启动注册到zookeeper上是docker的ip。
我使用 docker hostname指向宿主机IP，但是不行。。

[2019-03-21 04:00] zhengqz commented on #508
[code]
![image](https://user-images.githubusercontent.com/12173151/54732799-ba286100-4bd0-11e9-90f4-30d8930456ca.png)

[2019-03-21 04:43] zhengqz commented on #483
如果不使用host模式，docker 里服务启动注册的IP是docker IP。这个怎么解决？

[2019-03-25 03:18] dalaocu commented on #628
我也碰到了这个问题

[2019-03-26 07:56] losymear opened #634 "elastic-job-console看不到历史记录"
有作业操作，表`JOB_EXECUTION_LOG`和`JOB_STATUS_TRACE_LOG`有数据，但是作业历史显示`No matching records found`。

[2019-03-28 02:24] Pezhin opened #635 "ZookeeperRegistryCenterModifyTest中测试的执行顺序会影响测试结果"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
v2.1.5
### Expected behavior （您预期的结果是）
测试在没有修改代码的情况下，应该一直通过（或者有bug时总是失败）
### Actual behavior （实际运行的结果是）
assertPersistEphemeralSequential()如果在assertPersistSequential()之后运行，测试会失败
### Steps to reproduce the be

[2019-03-29 05:15] liujingjing5 opened #637 "定时器会把所有任务都执行一遍"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
elastic-job-lite 2.1.5

### Expected behavior （您预期的结果是）
定时器按配置 执行

### Actual behavior （实际运行的结果是）
所有任务都执行一遍

### Steps to reproduce the behavior （可重现问题的操作步骤）
一台机器，部署了两个tomcat，各自都有定时器项目。
当关闭一台tomcat时，另一台tomc

[2019-03-29 08:37] douxiaofeng99 opened #638 "JobScheduleController add shutdown(boolean waitForJobsToComplete) method"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）
对于比较重要的定时任务，需要此次任务执行完成后才可以停止任务，也就是优雅的停止任务。
在JobScheduleController 有个shutdown方法，但不带参数，里面的调用也是直接调用quartz的shutdown方法，导致没办法优雅停止任务
### Actual behavior （实际运行的结果是）
无此方法
### Steps t

[2019-03-31 11:21] leehom opened #639 "分片建议"
目前ej分片比较简单，相当于hint，具体数据由应用解释，很多场景下，例如数据采集一个不断增长的表，需要动态切分数据。建议分片由两步组成，
1. 分配，分片号分配给作业实例，即现在的实现
2. 分片，切分数据，设计如附件
![分片模型](https://user-images.githubusercontent.com/721472/55288435-436a3f80-53ea-11e9-9d34-40c83539a0ab.jpg)

[2019-04-01 02:58] Leonidasz commented on #624
0 0 */1 * * ?

[2019-04-03 06:05] gMan1990 commented on #624
@Leonidasz 项目启动完成后如何执行一次?

[2019-04-03 08:19] Leonidasz commented on #624
elastic-job采用的trigger是CronTrigger，cron表达式不能覆盖你提出需求的效果。是否可以考虑采用上面两种比较接近的方式。

[2019-04-05 14:54] lawplus opened #640 "job任务数量控制在多少比较合适?"
![image](https://user-images.githubusercontent.com/9402650/55636154-d9d89f80-57f4-11e9-9ac0-e15b56ef495f.png)
图片显示的是我线上应用的job真实数量, 注册中心也是zookeeper3.4.5, 3个集群节点(zk内存已占1g), task节点如图所示, task节点占用cpu日常在10-20%左右(还是挺高的).
了解了job-lite 会注册zk的监听事件的机制. 随着业务量的增长, job数量现已过万了.

并且查看应用所占线程数量, 应用运行一天,已开启了1w多 -  2w+ 的线程. 貌似线程数量没有控制到位?
ps huH p  {pid} | wc -l

[2019-04-09 11:45] Leonidasz commented on #640
你目前作业节点集群的规模是多大?
esjob-lite中，考虑到分片作业的并发，作业执行是通过线程池实现的，为了保证不同作业之间的隔离性，一个作业对应一个线程池。你们目前job数过万，所以线程数1w多是很正常的事情。
个人觉得如果task节点足够的话，系统资源饱和度方面问题不大，但是zk集群可能后续会有一些问题，毕竟所有的作业配置以及调度、分片信息都在zk中，如果作业量过大的话，zk的性能会下降。所以建议从你们实际的业务或应用角度考虑把作业集群拆分一下，你们可以试着压一下你们的zk集群，看作业量在多少时表现比较合适。

[2019-04-10 03:27] newHuZhiLong opened #641 "el-job curatorframework删除zk节点,不能全部删除"
@Override
    public void remove(final Optional<String> jobName, final Optional<String> serverIp) {
        shutdown(jobName, serverIp);
        if (jobName.isPresent() && serverIp.isPresent()) {
            regCenter.remove(new JobNodePath(jobName.get()).getServerNodePath(serverIp.get()));
        } else if (jobName.isPresent()) {
            JobNodePath jobNodePath = new JobNodePath(jobName.get(

[2019-04-10 06:16] lawplus commented on #640
作业节点集群的规模? 共4个dubbo服务节点承载着elastic job lite的容器， 对外暴露dubbo接口供其他app调用来生成各种job

[2019-04-10 06:18] lawplus commented on #616
当时看到无需mysql DB， 并且我们又有zk集群， 所以就不选 xxl-job了。 现在生产稳定运行上万个elastic job，节点和cpu要准备充足些。

[2019-04-10 08:22] Leonidasz commented on #623
http://elasticjob.io/docs/elastic-job-lite/02-guide/config-manual/
参看“2. Spring命名空间配置”
添加elastic-job-lite-spring模块的依赖

[2019-04-10 08:37] Leonidasz commented on #616
会继续维护这个项目，目前有很多团队在生产环境上已经使用了。

[2019-04-10 08:44] Leonidasz commented on #621
elastic-job采用的trigger是CronTrigger，主要针对的是定时调度的场景。
建议在你的作业执行的业务逻辑内加上控制逻辑，作业执行一次后设置状态位，后续的作业调度时判断状态位，如果状态位被修改，不进行实际的业务处理。

[2019-04-12 06:58] lxchinesszz opened #642 "RegExceptionHandler的命名给人造成一种幻想"
RegExceptionHandler 给人的第一感觉是，正则表达式异常处理器，但是其主要是处理,zk找不到job节点的异常，名字应该改为JobNodeExceptionHandler更好些。

[2019-04-15 11:10] #641 closed, assigned to nobody

[2019-04-16 04:03] Leonidasz commented on #642
REG 是 register center注册中心的缩写，RegExceptionHandler是注册中心异常处理类。命名由此得来。

[2019-04-16 04:06] lxchinesszz commented on #642
reg 可以看做是注册中心，也感觉是正则表达式。有点不明确。

| |
刘鑫
邮箱：13120725361@163.com
|

签名由 网易邮箱大师 定制

在2019年04月16日 12:03，Leonidaz 写道：

REG 是 register center注册中心的缩写，RegExceptionHandler是注册中心异常处理类。命名由此得来。

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-20 09:28] MonkeyDis commented on #469
确实存在这个问题，我用的是2.0.4版本。
临时解决办法：

- 使用zookeeper客户端连接到zk服务器，手动删除Elastic-Job在zookeeper注册的节点（注册中心的配置文件可以看到namesapce）
- 重新启动Elastic-Job

[2019-04-23 07:08] caoxinhe0108 opened #643 "服务切换启动的时候，关闭的服务zk中的临时配置不能自动删除"
版本 Elastic-Job 2.1.5， zk 版本 3.4.13
问题描述：服务A（端口 8100）正在运行 zk下的 instances/172.17.0.5@-@58339；跑批也都正常；由于A服务更新文件，需要重新启动，为了不影响测试，部署另外一套服务A（8200）；8200 启动后；自动kill 8100服务A；zk下的 instances/172.17.0.5@-@58339（旧服务下PID） 和172.17.0.5@-@76535（新服务下PID）；
结果：instances/172.17.0.5@-@58339（旧服务下PID）没有自动删除，造成定时失败；
zk 版本 3.4.9版本的时候 出现这种问题，升级到3.4.13解决了，但最近又出现这种问题，请帮忙答疑。建议：手动触发的时候，作业运行实例节点写入TRIGGER时，应加入判断该实例是否存活！

[2019-04-25 06:36] FashtimeDotCom commented on #627
确实需要支持一下nacos

[2019-04-28 02:38] #643 closed, assigned to nobody

[2019-05-10 14:02] hiql commented on #616
一直在用，功能基本满足，当然也可以自己护展

[2019-05-13 13:44] zhaoqiang1024 opened #644 "1.1.1版本连接zk集群时偶尔会报OperationTimeoutException"
elastic-job版本:1.1.1
线上目前有9台服务器的集群，发现偶尔会出现打开超时的情况，异常名称为:org.apache.zookeeper.keeperexception$operationtimeoutexception: keepererrorcode = operationtimeout，查了zk版本发现为2014年的3.4.6版本，其它问题如防火墙问题应该不存在，线上为docker环境，且多次重启有一定机率会正常连接，所说是1.1.1版本bug或者zk客户端版本太低？

[2019-05-13 13:45] zhaoqiang1024 commented on #644
敢问大佬有遇到过种问题吗？

[2019-05-14 03:38] #618 closed, assigned to nobody

[2019-05-16 06:23] MrRachelWong commented on #634
我也遇到这个问题了， 有解决方法吗？

[2019-05-17 10:15] purgeyao commented on #551
哈哈 自己开发

[2019-05-23 02:47] itlaoge opened #646 "elastic-job-lite-console用户名和密码安全问题"
### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
用户名和密码不能被破解，虽然一般部署在内网

### Actual behavior （实际运行的结果是）
F12查看浏览器network，抓取出header里的Authorization，是用Base64编解码的，很容易就能解码出用户名和密码

### Steps to reproduce the behavior （可重现问题的操作步骤）
登录elastic-job-console，F12查看network，复制header里的Authorization进行Base64解码，用户名和密码显示明文

### Please provide the reproduce example

[2019-05-23 08:38] henryjun0 opened #647 "elastic-job-lite集群部署问题"
elastic-job-lite集群部署，只要通过负载均衡就行了吗？它会自动调整吗？有没有详细的部署文档？

[2019-05-25 10:07] HUTchengxi commented on #637
ej的作业都是注册在zk上，正常情况下，两台服务器各自一个分片，比如0和1，当持有分片0的服务器挂掉了，ej会将分片0也分配给另一台服务器，所以存活的那台服务器会执行所有的任务，这是ej的弹性扩容特性

[2019-05-28 02:04] henryjun0 opened #648 "建议大家生产环境不要使用elastic-job"
原打算在生产环境用elastic-job，现发现坑太多，而且最大问题，项目已经停止维护，很多奇怪的问题无人理会，建议准备在生产环境用的朋友三思而后行

[2019-05-29 03:04] hmapleleaf opened #649 "同一namespace，修改cron表达式，任务未实时更新"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2019-05-29 03:07] hmapleleaf commented on #649
版本2.1.5
预期：修改cron表达式，重启任务，定时规则更新
实际：10秒更新一次，修改cron重启后仍旧10s更新一次

[2019-05-29 05:23] bbcdabao commented on #648
正在准备生产环境使用，哎！ 测试发现 AbstractDistributeOnceElasticJobListener  监听器会在一个job的多个实例同时调用的bug ， 真实坑人

[2019-05-29 05:28] bbcdabao commented on #631
https://my.oschina.net/u/252559/blog/2223092#comments
这个链接解答了你的问题，这个是一个很大很大的坑，我也是刚刚准备上线时发现，太坑

[2019-05-29 05:47] bbcdabao commented on #616
2.1.5 版本依然存在AbstractDistributeOnceElasticJobListener 多个实例，多次调用的坑

[2019-05-30 09:58] misskeyjoy commented on #648
文档不是推荐AbstractDistributeOnceElasticJobListener这个吧

[2019-05-30 13:17] wasd345 opened #650 "动态的数据源应该怎么传入，我的项目里有读写分离的操作"
动态的数据源应该怎么传入，我的项目里有读写分离的操作，配置的是多个数据源，目前没发现怎么可以动态传入数据源

[2019-05-31 02:45] wasd345 opened #651 "控制台打包报错"
[ERROR] Failed to execute goal on project elastic-job-lite-console: Could not resolve dependencies for project io.elasticjob:elastic-job-lite-console:jar:3.0.0.M1-SNAPSHOT: Failed to collect dependencies at io.elasticjob:elastic-job-lite-lifecycle:jar:3.0.0.M1-SNAPSHOT: Failed to read artifact descriptor for io.elasticjob:elastic-job-lite-lifecycle:jar:3.0.0.M1-SNAPSHOT: Could not transfer artifac

[2019-05-31 08:05] liuchu commented on #648
我们项目在用elastic-job。
关于fixed-delay，我在release note里没看到相关的，想在这里请问下你们现在的版本，是否支持这个特性？
@henryjun0 谢谢！

[2019-06-03 06:15] glasses1989 commented on #640
加我QQ 我们沟通下产线上遇到的坑吧，我们产线上目前1600个调度

[2019-06-03 06:15] glasses1989 commented on #640
QQ:2087663863

[2019-06-03 06:37] Leonidasz commented on #649
作业执行的cron表达式在何处修改的？

[2019-06-03 06:40] hmapleleaf commented on #649
代码，配置文件里面。由10s执行一次修改成，每天16点执行

------------------ 原始邮件 ------------------
发件人: "Leonidaz"<notifications@github.com>;
发送时间: 2019年6月3日(星期一) 下午2:37
收件人: "elasticjob/elastic-job-lite"<elastic-job-lite@noreply.github.com>;
抄送: "l.clever"<592871815@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [elasticjob/elastic-job-lite] 同一namespace，修改cron表达式，任务未实时更新 (#649)

作业执行的cron表达式在何处修改的？

—
You are rece

[2019-06-03 06:43] hmapleleaf commented on #649
修改namespace后，任务才更新

[2019-06-03 06:43] Leonidasz commented on #649
LiteJobConfiguration中有个overwrite属性，你设置一下true。cron表达式没有改的原因是因为你再次启动作业的话，还是默认从zk中读取作业配置，设置了这个属性后，作业启动会将配置文件中的配置覆盖zk中的。

[2019-06-03 06:45] Leonidasz commented on #650
动态的数据源，是指运行的作业需要连接的数据源是动态的么？可以考虑作业连接配置中心，如appolo

[2019-06-03 06:46] Leonidasz commented on #648
@liuchu
Elastic-job使用的是crontrigger，对于fixed-delay，某些比较特殊的场景，可能覆盖不了。

[2019-06-03 06:47] Leonidasz commented on #648
@bbcdabao
这个问题，可以考虑结合分布式锁来处理。

[2019-06-03 06:49] Leonidasz commented on #647
http://elasticjob.io/docs/elastic-job-lite/00-overview/

[2019-06-03 06:49] wasd345 commented on #650
已找到变通解决方案，目前把主库的数据源名字传了过去,我们的主库负责增删改逻辑，两个从库负责的读操作，是1主2从的mysql配置模式

[2019-06-03 06:52] wasd345 opened #652 "分片的数量是越多越好吗，如果采用平均算法，分片数量越大，最后一个分片的压力比较大，不能被整除的数据都被分给了最后一个分片"
分片的数量是越多越好吗，如果采用平均算法，分片数量越大，最后一个分片的压力比较大，不能被整除的数据都被分给了最后一个分片

[2019-06-03 06:53] wasd345 commented on #652
我们的数据id是uuid所以目前采用的是分页查询的方式处理业务数据

[2019-06-03 06:53] hmapleleaf commented on #649
ok,thankyou

[2019-06-04 01:05] Leonidasz commented on #652
分片的数量是应该和自身的业务还有作业节点服务器的性能等方面综合考虑的，也不是分片越多就越好，分片的策略的详细说明可以看一下官网http://elasticjob.io/docs/elastic-job-lite/02-guide/job-sharding-strategy/
，如果采用默认的分片策略，不能整除的多余分片将依次追加到序号小的服务器，而不是最后一个。且分片数也只是比其他服务器多一个而已。

[2019-06-06 00:34] liubo-tech opened #653 "Elastic-Job为什么不出新版本了，是不维护了吗？"
Elastic-Job为什么不出新版本了，是不维护了吗？ 最新的版本还是16年的。

[2019-06-10 03:40] shuohao opened #654 "通过api添加的任务，当服务重启后可否通过zk获取job信息自动注册启动"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
服务重启后，从zk中获取IP对应的所有的job信息，然后重新注册启动
### Actual behavior （实际运行的结果是）
通过API添加的任务，服务重启后不会重新注册启动job
### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the r

[2019-06-10 07:59] Leonidasz commented on #654
通过哪个api添加的任务？服务注册成功后，在zk中有对应的注册配置信息么？

[2019-06-10 08:06] Leonidasz commented on #653
会继续维护。

[2019-06-13 05:03] wasd345 opened #655 "elastic-job-lite-console-2.1.5有bug，注册中心连不上"
elastic-job-lite-console-2.1.5有bug，注册中心连不上

[2019-06-13 06:02] ZShUn commented on #653
什么时候重新维护呢？

[2019-06-18 11:31] henryjun0 opened #656 "elastic-job-lite docker bridge模式 多网络情况下，获取ip会获取到多个网络段的ip"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
只获取到client所在的docker容器的ip
### Actual behavior （实际运行的结果是）
获取到了不只是docker容器所在网络的ip，还获取到了其他网络的ip
### Steps to reproduce the behavior （可重现问题的操作步骤）
每次
### Please provide the r

[2019-06-19 01:02] Leonidasz commented on #655
有排查连接不上的日志么？realease的版本一般不会存在这么关键的bug问题。

[2019-06-19 01:13] wasd345 commented on #655
找到原因了 需要填写内网的ip,才可以连上，我们是5台linux服务器

------------------ 原始邮件 ------------------
发件人: "Leonidaz"<notifications@github.com>;
发送时间: 2019年6月19日(星期三) 上午9:03
收件人: "elasticjob/elastic-job-lite"<elastic-job-lite@noreply.github.com>;
抄送: "wangxiaodong"<813723897@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [elasticjob/elastic-job-lite] elastic-job-lite-console-2.1.5有bug，注册中心连不上 (#655)

有排查连接不上的日志么？

[2019-06-19 10:55] suyehe commented on #654
可以单独把任务名称按照一定的规则做前缀 启动的时候遍历zk节点 然后根据config信息重新加载任务

[2019-06-20 06:12] zhouzhiy opened #657 "2.1.5启动报索引超出767 bytes错误，数据库mysql5.6"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2019-06-20 06:15] zhouzhiy opened #658 "7"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2019-06-20 06:16] #658 closed, assigned to nobody

[2019-06-20 12:10] zhyErick commented on #508
阿里云k8s flanel网络，用了hostnetwork=true，但获取到的不是宿主机真实ip，是宿主机docker0的ip

[2019-06-22 13:47] Jody-Jiang commented on #475
curator2.10.0的版本有bug,无法选举，造成主线程一直等待，这个如何是好

[2019-06-24 06:17] gaofeng36599 commented on #472
请问格纹大佬，这个问题解决了吗

[2019-07-02 09:04] xiaolongyuan commented on #653
关注

[2019-07-03 10:12] Zhazhanan opened #660 "倒计时"
elastic-job 有没有倒计时任务的功能或者说只执行一次的任务，有没有实现思路

[2019-07-04 03:48] #660 closed, assigned to nobody

[2019-07-10 06:02] glasses1989 opened #661 "应用启动时选主会产生大量临时节点，偶尔有个别临时节点无法删除导致阻塞，从而引起应用启动卡住"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
选主正常
### Actual behavior （实际运行的结果是）
选主阻塞
### Steps to reproduce the behavior （可重现问题的操作步骤）
测试环境
作业数量：1800左右
实例数量：580
个别应用系统在启动的时候会出现/{jobName}/leader/election/latch下选主产生

[2019-07-11 07:18] glasses1989 commented on #655
找到原因为啥不关闭问题

[2019-07-16 02:24] purgeyao opened #662 "不支持fixedRate特性 initialDelay特性，导致迁移困难"
因@Scheduled 注解 fixedRate特性  initialDelay特性  elasticjob暂不支持
导致迁移过程困难

[2019-07-16 09:31] WangPei0316 opened #663 "关于分片的问题"
现在有多个job部署在3台服务器上，有几个job是分成3片自然是每台上都跑，若job只设定1片呢，应该如何去设定分片策略让多个分片为1的job平均分到每台上运行？

[2019-07-17 01:18] zyd007 opened #664 "告警处理"
任务未执行，任务未正确结束，如何告警？

[2019-07-22 06:38] Leonidasz commented on #664
lite版有事件追踪，可以从mysql中查询出作业执行的情况。如果需要对作业执行情况进行告警，可以针对作业设置SLA告警。

[2019-07-22 06:39] Leonidasz commented on #662
目前Elastic-job的调度触发器是crontrigger。

[2019-07-22 06:41] Leonidasz commented on #663
这里是内置分片策略，http://elasticjob.io/docs/elastic-job-lite/02-guide/job-sharding-strategy/。
按照业务要求，也可以定制。

[2019-07-23 12:43] yunkaiOr2 commented on #590
所以很少外部依赖是开源项目的一个重要指标。我打算用这个，然后发现依赖太旧了。想放弃了。

[2019-07-26 01:46] lawplus commented on #648
生产用了1年了， 有什么问题大家@下我看看能否帮忙解决

[2019-07-26 01:55] lawplus opened #665 "[ERROR][][LeaderLatch:532] Can't find our node. Resetting. Index: -1"
[ERROR][][LeaderLatch:532] Can't find our node. Resetting. Index: -1

/elastic-job-lite 2.1.5 版本， 每天都会产生这样的ERROR日志。有人碰到过么？

[2019-07-26 03:05] lawplus commented on #661
有错误日志么？ 类似这样的： 错误日志：[2019-07-26 10:17:09,707][ERROR][][LeaderLatch:532] Can't find our node. Resetting. Index: -1

？

[2019-07-26 03:22] glasses1989 commented on #664
我们这边的告警是基于zabiix调用告警脚本，脚本定时请求控制台提供的接口。
大概逻辑：
1.轮询低频调度（我们改写了源码，加入了高低频标识，一天执行小于48次就为低频，高频的需要特殊配置才可以告警，否则默认不监控），
2.针对每一个调度作业根据cron表达式计算出当前调度截止当前日期应该执行的次数；
3.再捞取数据库里面截止目前记录的日志条数；
4.如果2、3步骤的结果不一致则认为调度作业执行有异常，返回异常结果给zabbix服务器
5.zabbix定时请求上述接口，并把异常信息以邮件、短信的方式发送给相关人员
希望对你有帮助。

[2019-07-26 07:00] glasses1989 commented on #663
目前默认情况下，你会尴尬的发现所有分片数量是1的job都集中到一台机器上去了，不能实现你所说的按照job维度平均的分配到集群下的机器。
策略设置为：RotateServerByNameJobShardingStrategy 会好点，job数量较多的情况下会相对均匀的分散在不同的机器上。
否则只能实现Strategy接口自己定制。

[2019-07-26 07:11] glasses1989 commented on #661
你这个是选主错误，跟我的情况不一样。
我看了下源码好像这个日志对应的逻辑是正常的，观察下选主功能是否正常，如果正常，关闭curator的日志。忽略吧

[2019-07-26 07:17] WangPei0316 commented on #663
现在是三台机器，主要是分在1和3了，2上面除了分片为3的几乎没有别的job在运行，我试试RotateServerByNameJobShardingStrategy会不会有改善，谢谢您的回复。

[2019-07-27 11:55] fanmuyong opened #666 "k8s 上部署集群一直 Name or service not known elastic-job-lite v2.1.5"
2019-07-27 11:00:00 [ERROR] [StatisticsStudentCallbackJob_Worker-1] - org.quartz.core.ErrorLogger : Job (DEFAULT.StatisticsStudentCallbackJob threw an exception.
org.quartz.SchedulerException: Job threw an unhandled exception.
        at org.quartz.core.JobRunShell.run(JobRunShell.java:213)
        at org.quartz.simpl.SimpleThreadPool$WorkerThread.run(SimpleThreadPool.java:573)
Caused by: com.dang

[2019-07-30 09:38] henryjun0 commented on #508
我的docker集群会指向一个虚拟ip，导致ip只有一个，不知道怎么解决，hostname指向也不行

[2019-08-08 08:25] aboluo-gy opened #667 "1单次任务执行后删除自己发生异常2.大量任务同时执行，偶尔会有一条任务没有触发"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
lite-2.1.5

### Expected behavior （您预期的结果是）
1.大量单次执行任务执行结束后，手动调用删除任务方法删除自己可以删除成功
2.开启了错过执行（默认）后，多个并发的任务（比如100个）都可以执行

### Actual behavior （实际运行的结果是）
1.大量单次执行任务执行结束后，手动调用终止任务方法可以终止（偶有报错，但是不影响使用），
 jobSetting

[2019-08-10 13:57] cuiqunhao commented on #523
该问题解决了吗

[2019-08-13 05:11] cuiqunhao commented on #577
我也遇到了这个问题，现在解决了吗

[2019-08-14 04:10] tiyilon commented on #582
请问最后用了哪个版本的curator呢?

[2019-08-14 06:02] wasd345 opened #668 "报错请问是为什么"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
linux部署后正常，不报错
### Actual behavior （实际运行的结果是）
linux部署后，日志会打印报错
### Steps to reproduce the behavior （可重现问题的操作步骤）
1：部署后一切都可以连接正常
2：但是服务器会报错，不知道什么原因到导致的
3：报错代码如下：
14:02:00

[2019-08-14 12:59] cuiqunhao opened #669 "失效转移失败"
问题：失效转移在两台机器实验下不生效，请问是否是我的实验方式有问题？
场景：
两台机器：192.168.206.202；192.168.206.191，
任务配置如下：
@ElasticJobConf(name = "MySimpleJob_1",
		cron = "* 0/5 * * * ?",
		failover = true,
		shardingItemParameters = "0=0,1=1,2=2,3=3",
		shardingTotalCount=4,description = "简单ce任务")

操作步骤：
1、两台机器先后上线
2、等第一次任务执行完成
3、删除zk节点（jobName/instances下的某个实例节点）
4、触发fialoverlistenermanager中的JobCrashedJobListener
5、但是在获取失效分片的时候shard

[2019-08-19 03:46] johnyannj commented on #669
假设修正了这个bug。

每次有节点挂掉，这个节点所属的分片任务都会立即被执行一次，也不符合逻辑。

[2019-08-19 07:09] javayqf opened #670 "无法访问官网"
无法访问官网

[2019-08-19 08:56] johnyannj opened #671 "失效转移导致任务重复执行"
### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
任务不要重复执行
### Actual behavior （实际运行的结果是）
任务重复执行
### Steps to reproduce the behavior （可重现问题的操作步骤）
3个节点
1分钟执行一次任务。0 *  * * * ?
场景一、
在 25秒的时候， kill掉其中一个节点， 这个节点的任务会迅速被其它节点获取并立即执行。
（备注：  假设修复了https://github.com/elasticjob/elastic-job-lite/issues/669  这个bug）
在下一个分钟的0秒的时候，重新分片，全部分片执行。

那么这次失效转移的分片 不就

[2019-08-20 11:28] johnyannj commented on #671
com.dangdang.ddframe.job.lite.internal.failover.FailoverListenerManager.JobCrashedJobListener#dataChanged
里的下面也是矛盾的。
[code]
failoverService.getFailoverItems(jobInstanceId); 就是获取/sharding/$item/failover的节点
  failoverService.setCrashedFailoverFlag(each); 会判断没有/sharding/$item/failover 才会set failover flag....

[2019-08-24 12:26] rob89828 commented on #467
同样遇到这个问题，zk上看是部分分片始终属于running状态。通过重启服务器或者将zk上running属性删除可以解决。怀疑是某种情况下任务complete的状态没有被zk拿到

[2019-08-27 03:38] ZShUn commented on #661
其实可以这样解决把job的zk拆分出来，因为有可能在你重启的那个时间段zk比较繁忙导致job 假死（其实内部源码时个debug日志）

[2019-08-28 04:23] Leonidasz commented on #670
@javayqf 域名续租事宜处理，现已ok

[2019-08-29 06:50] purgeyao opened #672 "一个任务失败导致其他任务全部失效"
### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
最新版本

问题：
一个服务有多个任务，第一个任务执行失败了，可能是业务异常。
很奇怪的是后面的任务全部都是这个错误了，去控制台上看发现都失效了。
[code]

[2019-08-29 06:52] purgeyao commented on #672
@terrymanu 麻烦帮忙看下呗。

[2019-08-29 06:53] purgeyao commented on #672
@haocao 麻烦帮忙看下呗

[2019-08-29 07:13] purgeyao commented on #668
这个问题排查到了吗？
据我所知  定时器内部失败后  就会这样，然后这个服务的其他定时器都会失效

[2019-08-29 07:17] wasd345 commented on #668
已解决，配置文件开了8个实例也就是需要开8个tomcat（8片8个tomcat），实际测试环境中我只开了一个tomcat，线上所有的tomcat都开启，就不会报这个错了

[2019-08-29 07:22] purgeyao commented on #668
哦  可以帮我看看https://github.com/elasticjob/elastic-job-lite/issues/672   这个问题和你一样吗

[2019-08-29 07:23] purgeyao commented on #668
配置文件开了8个实例  这个配置文件只的是哪里的

[2019-08-29 07:32] wasd345 commented on #668
你的672估计也是这原因，其中有服务器挂掉了吧，我的springBoot架构项目，配置文件即application.yml文件中的这个参数shardingItemParameters，回答你这么多问题了，请给我发个红包吧，支付宝账号 813723897@qq.com

elasticJob:
   zk:
       serverLists: 172.16.0.22:2181
       namespace: dingshitask
   DuizhangJob:
       cron: 0/30 * * * * ?
       overwrite: true
       shardingTotalCount: 8
       shardingItemParameters: 0=0,1=1,2=2,3=3,4=4,5=5,6=6,7=7
       jobParameter:

[2019-09-05 07:08] glasses1989 commented on #672
你这个是zk连接错误，zkclient已经被关闭了

[2019-09-05 07:10] purgeyao commented on #672
@glasses1989 一个错误导致springboot容器关闭，导致所有连接池关闭 包括zk 。 问题解决了 谢谢回答

[2019-09-05 07:29] wasd345 opened #673 "job_status_trace_log 日志如何关闭"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
job_status_trace_log 日志不插入
### Actual behavior （实际运行的结果是）
不管如何设置都不起作用，删除了事件追踪源配置还是不行。
### Steps to reproduce the behavior （可重现问题的操作步骤）
删除了事件追踪源配置还是不行，还是依旧会往库里插入日志。

###

[2019-09-09 07:50] bbcdabao commented on #648
谢谢您,，您说的很对，分布式锁可以修改这个bug，这个问题已经解决，采用0片任务负责分配任务，

[2019-09-10 09:27] compilerduck commented on #673
new JobScheduler对象时不使用带有JobEventConfiguration参数的构造函数就可以了吧

[2019-09-17 14:55] leokongwq commented on #523
直到今天还是没有解决。今天早晨到现在几乎一致在分析这个问题，看了楼上的分析和我扒源代码的逻辑并且做实验得出了结论：该问题需要自己解决了。
放弃了xxl-job而使用elastic-job最大的原因就是failover能力。

[2019-09-18 04:16] zjypp opened #674 "我们的场景是每天创建很多动态任务，这些任务都是一次性的，这些任务执行完成以后，zookeeper的节点信息会删除吗"
我们的场景是每天创建很多动态任务，这些任务都是一次性的，这些任务执行完成以后，zookeeper的节点信息会删除吗，

起了一个A任务，A任务是每半个小时执行支持，A任务里面动态的创建了很多一次性的任务，这些一次性任务也是会在zookeeper里面生成节点信息的，这些一次性任务执行完以后，zookeeper的节点信息会自动删除吗？还是需要我们手动删除？目前看，这些节点信息好像一直存在，节点数据会越来越大

[2019-09-19 01:42] zjypp commented on #605
楼主问题解决了吗？我也碰见这样的问题，动态创建一次性的问题，elasticjob隔1,2天就假死或者宕机，使用jconsole以后，发现大量的ReconcileService进程存在。也删除了zookeeper中的节点数据了

[2019-09-20 03:48] vran-dev commented on #674
作业节点不会删除的，针对你的问题也有解决方案
-  另外开启一个作业，专门用来定时删除这些临时任务。 （可以将这类任务放在一个 `namespace` 下）
- 修改源码 `JobShutdownHookPlugin` ，在里面添加作业节点删除的逻辑

另外再说一下，目前 Elasticc-Job-Lite 这样创建的动态任务是无法有效利用到分片机制的，但是任务的执行是没有问题的。

[2019-09-20 04:10] vran-dev commented on #671
`场景一` 确实是一个问题，这是因为 Elastic-Job-Lite 简单的认为实例下线就是失效了，我觉得失效的条件应该是 `实例下线时有作业还在运行中`， 这样才应该进行补偿。

`场景二`  存活节点的确是一次只抢占一个分片（有加分布式锁），但是后面的批量获取分片也是只获取属于存活节点的分片。

[2019-09-21 07:35] johnyannj commented on #671
@vran-dev
现在的逻辑是 抢占一个failover分片 就triggerjob（但是这个triggerjob 是异步的哟），这会导致任务还没有执行，又抢了一个，又会trigger job一次。 第一次的trigger job 会执行两个failover分片任务，第二次trigger的就是多余的。

[2019-09-21 07:39] johnyannj commented on #674
@vran-dev  删除zk里的数据， 是递归删除的，不是一下子删除的，这会导致一些节点监听节点变化，进行选主、设置分片标记，在zk下面存留垃圾数据~~

[2019-09-21 12:34] vran-dev commented on #671
可以参考 `JobScheduler.getBaseQuartzProperties()` 方法， 为Quartz配置的线程池的线程总数为1。

`分配失效分片 -> 删除失效标记 -> triggerJob` ， 第二次`triggerJob`时，如果第一次还没执行完成，是会被阻塞的。（因为只有一个线程）

[2019-09-23 01:10] johnyannj commented on #671
@vran-dev

大哥，我的意思是：

抢了一个分片 triggerJob，这个job不会立即执行的。循环判断当前没有执行的任务，它会又抢一个分片，并triggerjob。

第一次trigger的job 会把两个分片都执行掉。 第二triggerjob就是重复执行。

我说的是重复执行，不是并发执行。

[2019-09-23 01:29] vran-dev commented on #671
你说的对，确实会重复执行，你有什么解决思路吗？
感觉要解决这个问题，作业执行时要知道这次触发原因是失效转移才行

[2019-09-23 12:04] johnyannj commented on #671
@vran-dev
作者 在com.dangdang.ddframe.job.lite.internal.failover.FailoverService.FailoverLeaderExecutionCallback写了一行TODO注释：
  // TODO 不应使用triggerJob, 而是使用executor统一调度

可能就是考虑到了这个问题。

[2019-09-25 09:05] mmx1960 commented on #634
控制台上面需要配置追踪的数据源

[2019-09-27 06:18] donghailang opened #675 "client"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2019-09-27 06:18] #675 closed, assigned to nobody

[2019-09-29 08:31] heureuxQ opened #676 "分片参数配置导致实际分片数目不正确"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
elastic-job-lite-spring-shaded
2.1.5
### Expected behavior （您预期的结果是）
配置shardingTotalCount = 1; shardingItem = 1=xxxx
期望单台实例运行Job
### Actual behavior （实际运行的结果是）
两台实例都运行了Job
### Steps to reproduce the behavio

[2019-10-08 03:28] xqq1994 commented on #673
楼上正解

[2019-10-08 06:58] compilerduck commented on #676
Hi heureuxQ，没有办法复现这个问题。如果已经起了一个实例并且正常运行，第二个实例分到的分片项应该为空，不会执行的。具体你可以在AbstractElasticJobExecutor.execute(ShardingContexts,ExecutionSource)第一行上设置下断点，看是否是这样。

[2019-10-09 07:41] #670 closed, assigned to nobody

[2019-10-09 09:24] #673 closed, assigned to nobody

[2019-10-09 11:45] compilerduck commented on #653
已经重启了维护，请关注社区动态，多谢关注。

[2019-10-09 11:45] #653 closed, assigned to nobody

[2019-10-09 12:00] compilerduck commented on #648
@henryjun0 感谢关注Elastic Job社区，因团队核心成员变动，暂停了一段时间。目前我们已重启了维护，如果您有任何建议或问题可在社区提出
@bbcdabao，AbstractDistributeOnceElasticJobListener在个别情况下执行多次的问题，请关注#487，我们后续会在#487中回复相关处理状态。
@liuchu 后续可能会支持fixed-rate，因为quartz scheduler本身就支持，fixed-delay还有待进一步论证

[2019-10-09 12:00] #648 closed, assigned to nobody

[2019-10-09 12:02] compilerduck commented on #642
Reg是register的缩写

[2019-10-09 12:02] #642 closed, assigned to nobody

[2019-10-09 12:04] #672 closed, assigned to nobody

[2019-10-09 12:07] #668 closed, assigned to nobody

[2019-10-09 12:17] #640 closed, assigned to nobody

[2019-10-09 12:21] compilerduck commented on #616
会继续维护，请关注社区。另外，AbstractDistributeOnceElasticJobListener多次调用的问题，请关注#487

[2019-10-09 12:21] #616 closed, assigned to nobody

[2019-10-09 12:23] compilerduck commented on #614
请不要发和项目无关的issue

[2019-10-09 12:23] #614 closed, assigned to nobody

[2019-10-09 12:23] #588 closed, assigned to nobody

[2019-10-09 12:24] #579 closed, assigned to nobody

[2019-10-09 12:25] compilerduck commented on #574
请加群：430066234试试看

[2019-10-09 12:25] #574 closed, assigned to nobody

[2019-10-09 12:26] compilerduck commented on #566
请配置正确的数字库名字即可

[2019-10-09 12:26] #566 closed, assigned to nobody

[2019-10-09 12:27] #556 closed, assigned to nobody

[2019-10-09 14:02] liubaochuan commented on #514
遇到同样的问题,计划任务跑着跑着就发现分片的instance和leader的instance不一致，后面就一直无法执行计划任务了，重启都不行，断点看请求leader进入了无线循环。

[2019-10-10 01:44] compilerduck commented on #609
无法复现此问题，正常多个节点启动会在zk的servers下注册多个ip。如果楼主还有此问题，请重开本新issue，并详细描述复现步骤，先关了。

[2019-10-10 01:44] #609 closed, assigned to nobody

[2019-10-10 02:13] compilerduck commented on #633
经过验证，应该是可以报出相应错误信息（见下面日志），且启动时也没有被卡住。相关逻辑请参考JobEventBus.register()方法，当数据库不存在时，isRegistered变量不会置为true，后面写库时会先判断isRegistered变量。如果还有问题，请重开本issue。

[ERROR] 2019-10-10 10:09:27,323 --main-- [com.dangdang.ddframe.job.event.JobEventBus] Elastic job: create JobEventListener failure, error is:
com.dangdang.ddframe.job.event.JobEventListenerConfigurationException: org.apache.commons.dbcp.SQLNestedException:

[2019-10-10 02:13] #633 closed, assigned to nobody

[2019-10-10 02:46] compilerduck commented on #632
Duplicated to #70, close the issue, please notice the update in #70.

[2019-10-10 02:46] #632 closed, assigned to nobody

[2019-10-10 09:10] Leonidasz commented on #655
@compilerduck 这个issue可以关闭了。

[2019-10-10 10:02] #655 closed, assigned to nobody

[2019-10-10 10:04] Leonidasz commented on #487
@compilerduck @terrymanu @oracle219

针对这个issue，有个修复的方案思路：

参考curator分布式锁原理，使用zookeeper的EPHEMERAL_SEQUENTIAL类型节点的特性，增加执行分布式唯一任务资格的判断，保证在所有分片任务都启动完毕（或执行完毕）后仅有一个实例能执行监听器的方法。

AbstractDistributeOnceElasticJobListener大致修改逻辑，以doBeforeJobExecutedAtLastStarted为例：
1. 在beforeJobExecuted进行是否所有的任务均启动完毕判断（isAllStarted方法）后，再增加一步判断，判断是否当前节点“是否有资格”去执行分布式唯一的任务。
2. 判断“是否有资格”的逻辑即为判断当前实例在EPHEMERAL_SEQUENTIAL类型节点下是否创建

[2019-10-11 02:48] Leonidasz opened #677 "Add a Spring Boot Starter: elastic-job-lite-starter"
I suggest adding a Spring Boot Starter for elastic-job-lite.

[2019-10-11 07:25] compilerduck commented on #487
用类似分布式锁方案，感觉有点重，且分布式锁要解决的是串行执行问题。而AbstractDistributeOnceElasticJobListener要解决的是只执行一次问题，要达到这个目标，类似分布式锁方案要考虑诸多意外情况（防止执行完后再次执行），逻辑比较复杂，且有几次zk交互，性能也有损耗。我还是倾向于用含有0号分片的实例执行，逻辑简单清晰，无多余zk操作。

[2019-10-11 08:53] legiorange commented on #677
guest what

https://github.com/yinjihuan/elastic-job-spring-boot-starter

[2019-10-11 09:06] legiorange opened #678 "Really hope registry support Eureka"
But ...
Latest commit 2 years ago.

[2019-10-11 12:43] Leonidasz commented on #678
Maintenance of the project has been restarted, so please pay more attention to elastic-job-lite. Of course, we also welcome the participation of open source enthusiasts  , if there are good Suggestions and ideas.

By the way, We will deliberate on the enhancements and adjustments of registry center, but maybe not now.

In my opinion, resume the iteration and release of elastic-job-lite as soon as

[2019-10-12 01:52] compilerduck commented on #677
Looks cool, we can take a look at the code and see if there is something good that can be used in the official version.

[2019-10-12 02:00] compilerduck commented on #678
You will see commits soon :-)

[2019-10-12 10:54] terrymanu opened #679 "Add checkstyle check on pull request validation"
Before pull request merge, we need to add checkstyle to check the code format and style.
Define a checkstyle template and add it to maven validation phase is a good practice.

We can use ShardingSphere's checkstyle template directly, there is in:
https://github.com/apache/incubator-shardingsphere/blob/dev/src/resources/checkstyle_ci.xml

[2019-10-12 10:58] terrymanu opened #680 "Upgrade quartz's version"
We are using quartz 2.2.1 which is using C3P0. The license of C3P0 is LGPL which is not friendly for Apache license.

We should Upgrade quartz's version to 2.3.0 at least that using DBCP instead of C3P0 and is friendly for Apache license.

[2019-10-14 02:39] compilerduck commented on #680
Latest version of quartz is 2.3.1. For safety purpose, we can use 2.3.0 which might be verified by more people. By the way, we will upgrade Curator from 2.10.0 to 4.1.0. Of course, we need fully test.

[2019-10-14 03:06] compilerduck commented on #679
OK, having a checkstyle is a good thing, not sure if existing code can pass the check, we will have a try.

[2019-10-14 03:09] compilerduck commented on #669
We reproduce the case you described, will have a further investigation and see if a fix needed.
我们复现了这个问题，需要进一步研究看要如何修复。

[2019-10-14 06:28] compilerduck commented on #665
这个出错信息是Curator报出来的，看源码是因为选主时会在zk中建立类似节点：/leader/election/latch/_c_89beae59-f590-4b93-9068-b32653d830d6-latch-0000000000，如果该节点为null，则会报这个错误。所以请看下，是否选主过程中zk节点表现异常？参考LeaderLatch第532行。

[2019-10-14 06:53] compilerduck commented on #676
如果有问题，请再reopen issue吧

[2019-10-14 06:53] #676 closed, assigned to nobody

[2019-10-14 07:44] #649 closed, assigned to nobody

[2019-10-14 09:33] #652 closed, assigned to nobody

[2019-10-14 09:35] leokongwq commented on #669
我在使用过程中，尝试修复了该问题，目前能实现failover和failover后的立即执行问题。具体思路如下：
1. 直接获取Job每个分片的执行实例instanceId，和crash的实例instanceId进行比较，匹配则加入需要failover的结果集中
2. running节点改为持久节点，正常运行时，数据为空。crash后，写入数据'interrupted' ，用来表示Job真实的运行情况。

修改后的核心代码如下：

### ShardingService.getShardingItems -> ShardingService.getShardItemsForFailover

[code]

### ExecutionContextService.isRunning

`
private boolean isRunning(final int shardingItem) {

[2019-10-14 11:22] compilerduck commented on #669
如果对修复此问题感兴趣，请提交一个pull request，注意不要使单元测试覆盖率下降（所以你需要写必要的单元测试）。

[2019-10-14 11:22] compilerduck commented on #669
请注意，在dev分支上提交pull request，不要在master上提交。

[2019-10-16 06:58] #623 closed, assigned to nobody

[2019-10-16 07:03] compilerduck commented on #637
部署在两台机器上时，如果关闭了一台，被中断的任务没有failover补偿吗？楼主是这个意思吗？如果是，请参考issue #669。如果有别的意思，请重新reopen这个issue并说明情况。

[2019-10-16 07:03] #637 closed, assigned to nobody

[2019-10-16 08:25] #650 closed, assigned to nobody

[2019-10-16 08:29] compilerduck commented on #663
目前ElasticJob仅支持3种分片策略，如果都不满足，可以实现自定制的。先关闭这个issue了，如果有好的分片想法，可再开新的issue讨论。

[2019-10-16 08:29] #663 closed, assigned to nobody

[2019-10-16 08:40] compilerduck commented on #654
因楼主未提供进一步信息，先关闭此issue。如果有进一步想说明的，可reopen。

[2019-10-16 08:40] #654 closed, assigned to nobody

[2019-10-16 08:46] compilerduck commented on #651
看这个异常日志，是连不到你的仓库？这不是elastic job问题，是maven仓库管理方面的。如果是本机仓库，尝试打开.m2\repository\io\elasticjob\elastic-job-lite-lifecycle\3.0.0.M1-SNAPSHOT，把其中的文件都删掉试试。

[2019-10-16 08:46] #651 closed, assigned to nobody

[2019-10-16 08:48] compilerduck commented on #657
提供的信息过少，请最起码把错误信息粘出来，现在还能复现吗？鉴于提供的信息不完整，先关闭此issue了，有问题再reopen吧。

[2019-10-16 08:48] #657 closed, assigned to nobody

[2019-10-16 08:52] zhouzhiy commented on #657
ok

------------------ 原始邮件 ------------------
发件人: "Shengjun"<notifications@github.com>;
发送时间: 2019年10月16日(星期三) 下午4:49
收件人: "elasticjob/elastic-job-lite"<elastic-job-lite@noreply.github.com>;
抄送: "戒烟"<920488881@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [elasticjob/elastic-job-lite] 2.1.5启动报索引超出767 bytes错误，数据库mysql5.6 (#657)

提供的信息过少，请最起码把错误信息粘出来，现在还能复现吗？鉴于提供的信息不完整，先关闭此issue了，有问题再reopen

[2019-10-16 09:05] compilerduck commented on #666
还能复现吗？感觉像是k8s集群配置的问题？

[2019-10-16 09:08] compilerduck commented on #631
将会尽快修复这个问题，请关注社区动态。

[2019-10-16 09:11] compilerduck commented on #622
将会尽快修复这个bug，请关注社区，谢谢

[2019-10-16 09:15] compilerduck commented on #621
与#624重复了，后续请关注#624的最新更新，关闭此issue。

[2019-10-16 09:15] #621 closed, assigned to nobody

[2019-10-16 09:20] compilerduck commented on #617
能否详细描述您的需求，是指作业执行失败要重试？如果是这样，ElasticJob大概率不会提供这样的设置，你可以在你的业务逻辑中实现重试。先关闭此issue了，如果我的理解有误且你认为此功能有价值，请重新reopen并陈述理由，谢谢

[2019-10-16 09:20] #617 closed, assigned to nobody

[2019-10-16 09:23] compilerduck commented on #644
现在是否还有问题？有试过elasticjob的最新版本2.1.5吗？

[2019-10-16 09:31] compilerduck commented on #620
这是job的配置没读到，根据源码逻辑，如果是zk的ConnectionLossException，NoNodeException或是NodeExistsException，会忽略这些异常，并返回null，请看下日志是否报了这些信息（debug日志）

[2019-10-16 10:06] compilerduck commented on #608
elastic-job-console是一个web项目，部署到哪台服务器上，就可以用那台服务器的ip地址服务，没有绑定的说法。

[2019-10-16 10:06] #608 closed, assigned to nobody

[2019-10-16 10:11] compilerduck commented on #570
楼主提供的信息过少，在何种情况下出现多次调用？elastic job基于quartz构建，cron表达式最终会被quartz解释并执行。如果是指AbstractDistributeOnceElasticJobListener的方法会被执行多次，请参考#631，确实会在特定场景下触发多次执行。先关闭此issue了，请下次一定提供详细信息，提高沟通效率

[2019-10-16 10:11] #570 closed, assigned to nobody

[2019-10-16 10:37] gMan1990 commented on #608
@compilerduck 就比如
- 绑定0.0.0.0 外部网络可以访问到elastic-job-console
- 绑定127.0.0.1 外部网络访问不到elastic-job-console

[2019-10-16 10:56] compilerduck commented on #608
外部网络指的是公网吗？如果是，需要机房部署有独立公网IP的服务器，要么把elastic-job-console服务直接放上去，要么从这台服务器转发到部署有console服务的内部服务器。
如果指的是机房内部或办公网访问机房，只需要网络能连通就可以用ip地址访问了

[2019-10-16 11:49] compilerduck commented on #603
与#70重复了，请关键#70的更新

[2019-10-16 11:49] #603 closed, assigned to nobody

[2019-10-16 11:51] compilerduck commented on #577
Duplicated to #669

[2019-10-16 11:51] #577 closed, assigned to nobody

[2019-10-16 12:01] gMan1990 commented on #608
@compilerduck 我是说 允许远程访问 还是 只能本机访问
就像 mysql https://www.jianshu.com/p/efeb209e6621

将bind-address = 127.0.0.1
设置成bind-address = 0.0.0.0（设备地址）

[2019-10-16 12:11] compilerduck commented on #608
哦，大概了解了。Elastic Job不支持这样的功能，而且也不会支持。未来有可能加入权限控制，可允许多个用户访问系统，不同的用户可以有不同的权限。

[2019-10-16 14:28] #679 closed, assigned to nobody

[2019-10-17 07:13] johnyannj opened #683 "ExecutorServiceHandlerRegistry有内存泄漏风险(risk of memory leak)"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
关闭任务的清理资源
### Actual behavior （实际运行的结果是）
内存增长
### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，oth

[2019-10-18 07:11] Leonidasz commented on #683
Can you give more details about the problem or some code snippet of the issue?

[2019-10-18 10:16] yanglikun opened #685 "多实例场景下执行间隔时间不对"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
代码：一个简单的simpleJob 每三秒打印一个log
期望：每3秒打印一个log
### Actual behavior （实际运行的结果是）
实际：顺序启动了4个实例，到后来运行的间隔时间不是3秒了，而且不固定
### Steps to reproduce the behavior （可重现问题的操作步骤）
顺序启动simple

[2019-10-18 10:18] yanglikun commented on #685
![image](https://user-images.githubusercontent.com/1728527/67086540-91eafa00-f1d3-11e9-88e9-fe5899cf48ca.png)

[2019-10-19 02:31] xjzrc commented on #677
注：以下项目已停止维护，仅供代码参考
配置文件版本
https://github.com/xjzrc/elastic-job-lite-spring-boot-starter
注解版版本
https://github.com/xjzrc/elastic-job-lite-spring-boot-starter/tree/v1.1.0

[2019-10-19 02:44] johnyannj commented on #683
hi @Leonidasz

when one job is shutdown， the “ExecutorServiceHandlerRegistry.remove(String jobName)”  is not call.

when we add job and shutdown job more and more.

" Map<String, ExecutorService> REGISTRY"  in ExecutorServiceHandlerRegistry will be more and more

OOM at last.

[2019-10-19 03:26] johnyannj opened #686 "在任务shutdown后很多资源没有清理"
资源一：
ReconcileService 线程，这个已经有人 提过单了
https://github.com/elasticjob/elastic-job-lite/issues/605

资源二：
RegistryCenterConnectionStateListener
每个job会给zk的client加一个RegistryCenterConnectionStateListener，但是任务关闭的时候没清除。

资源三：
ExecutorServiceHandlerRegistry里的ExecutorService
每个job一个线程池记录在此，在shutdown任务的时候 没释放。
已经提单
https://github.com/elasticjob/elastic-job-lite/issues/683

资源四：
这个是最难发现的一个资源未释放的
Quartz资源无法释放
Jo

[2019-10-19 03:33] johnyannj opened #687 "zookeeper主节点挂掉会触发failover"
作者为zookeeper添加了一个状态监控类RegistryCenterConnectionStateListener

目的是当zookeeper发生故障的时候，暂停任务，当zookeeper恢复连接的时候重新启动任务

临时节点重新注册创建。

问题是：

当zk的leader节点挂掉以后，会触发ConnectionState.RECONNECTED 事件， elastic-job监听此事件会删除、重建任务的instance节点。instance节点的删除操作，会导致其他任务节点监控到执行failover。

instanceService.persistOnline(); 它会调用persistEphemeral创建 XXXX/instances/${instanceId} 临时节点
persistEphemeral里面的逻辑是删除再重建。

public void persistE

[2019-10-21 07:15] Leonidasz commented on #685
You run 4 instances of the job, the sharding total count is 3?
你的这个作业运行了4个实例，分片数设置的是3么？

[2019-10-21 07:22] Leonidasz commented on #686
Thank you for your suggestion and arrangement. We need a full discussion about these points.
非常感谢你的建议和整理，这几点需要讨论一下。

[2019-10-21 08:36] fanmuyong commented on #666
部署上去一直都启动不了，我们换成xxl-job了，运行没问题

[2019-10-22 02:35] johnyannj opened #689 "config “reconcile-interval-minutes” with placeholder in Spring will report errors"
File Path： elastic-job-lite/elastic-job-lite-spring/src/main/resources/META-INF/namespace/job.xsd

“reconcile-interval-minutes” is declared as an integer
[code]

when config “reconcile-interval-minutes” with placeholder in Spring as follows:
[code]
it will report error:
org.xml.sax.SAXParseException; lineNumber: 30; columnNumber: 35; cvc-datatype-valid.1.2.1: '${job.reconcile.interval.minutes}' 不是

[2019-10-22 03:17] Leonidasz commented on #671
@johnyannj
你提到的场景2：
[code]
这里并不是批量获取的failover分片，请注意**FailoverLeaderExecutionCallback**中：
[code]
实际上是“领”了一个分片。
作者原本的思路，JobFacade#failoverIfNecessary() 方法，只会抓取一个失效转移的作业分片，这样带来的好处是，多个作业分片可以一起承担执行失效转移的分片集合。

场景1和场景3你提到的情况，我们会再详细讨论，谢谢~

[2019-10-22 03:29] gerryliu2489 commented on #467
同样遇到这个问题，我是同一台机器起了两个节点，运行一会就出现该问题，很容易复现，ejob版本2.1.5

[2019-10-22 05:54] qingqing2022 opened #690 "项目启动报错，任务不能执行"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）>>>>2.1.5

### Expected behavior （您预期的结果是）>>>>项目启动成功，到达指定时间点执行任务

### Actual behavior （实际运行的结果是）>>>>启动报错
error log：
 INFO  org.quartz.core.QuartzScheduler 305 - Scheduler meta-data: Quartz Scheduler (v2.2.1)

[2019-10-22 06:21] rob89828 commented on #467
我们也是一台机器两个节点。
之前有一段时间有这种情况，但后来恢复了。
应该是有什么其他的组件导致任务卡住了，我们应该是kafka导致的

344580823@qq.com

发件人： gerryliu2489
发送时间： 2019-10-22 11:30
收件人： elasticjob/elastic-job-lite
抄送： rob89828; Comment
主题： Re: [elasticjob/elastic-job-lite] 任务已经执行完成，但zk上记录的状态一直是running，导致该任务后面不再执行？ (#467)
同样遇到这个问题，我是同一台机器起了两个节点，运行一会就出现该问题，很容易复现，ejob版本2.1.5
—
You are receiving this because you commented.
Reply to this email directly,

[2019-10-22 10:06] compilerduck commented on #689
The issue has been reproduced, will fix ASAP.

[2019-10-22 10:12] Leonidasz commented on #690
The log you provide is not the error log, iust the info log printed by the QuartzScheduler.
你提供的日志不是错误日志，是QuartzScheduler打印的info日志。

You sure your job is not executed? How do you configure cron expression of your job?The job is executed only when cron expression triggered.
你的job是没有执行么？你配置的cron表达式是怎么配置的？作业只有当cron表达式触发的时候才会执行。

[2019-10-22 12:37] compilerduck commented on #487
@terrymanu Hi Liang, please have a review to this pr. Related issue: #487, in which you could see the problem, as well as our discussion and solutions, thanks.

[2019-10-23 02:20] qingqing2022 commented on #690
是这样的，我在配置文件配置了执行时间，开始任务是可以执行的，但是我在配置文件里改了几次触发时间的cron表达式，重启几次服务之后就不work了，目前是服务器是还可以work，但是我本地任务不能触发了，连得是本地zk

[2019-10-23 02:41] Leonidasz commented on #690
Sorry, I didn't get your point. Can you confirm the reason why the job does not execute? Is it caused by changing cron or restarting the service? Can you mak sure your local job has finished last schedule  work before the cron is triggered ?
抱歉，没太明白你描述的意思。作业不执行的原因能确认一下么，是改了cron导致的还是重启了服务导致的？你本地任务不触发，是否是本地执行的作业分片上个周期的调度还未完成？

[2019-10-23 06:50] #557 closed, assigned to nobody

[2019-10-23 06:51] compilerduck commented on #585
Seems the problem has been resolved, closing.

[2019-10-23 06:51] #585 closed, assigned to nobody

[2019-10-23 06:53] compilerduck commented on #647
Please see official documentation for any question first, closing.

[2019-10-23 06:53] #647 closed, assigned to nobody

[2019-10-23 06:58] Leonidasz commented on #600
@ZaneRicky
Please contact the author of of ele-job-lite-spring-boot-starter to confirm the relevant question.In addition, the maintenance of elastic-job-lite has been restarted, and related springboot starter will be added in the future(#677). Please pay attention to to community.

elastic-job-lite-spring-boot-starter的相关问题，烦请联系其开源作者确认一下。另外，elastic-job-lite目前重启了相关维护工作，后续会增加相关的springboot starter(请参考

[2019-10-23 06:59] #600 closed, assigned to nobody

[2019-10-23 12:08] compilerduck commented on #686
问题1已复现

[2019-10-23 12:53] Leonidasz commented on #514
The author divided the job into several states on the console. The first state of the job was "Sharding flag",  the job scheduler had not been triggered at that time, so there is no sharding. When the job scheduler was triggered, sharding was completed, and the state at this time would become "OK".The "trigger" button was originally designed to be displayed only in the "OK" state. This will be adj

[2019-10-23 13:02] Leonidasz commented on #626
I think there are two simple ways to do this: 1. Just change another jobId,  2. Run two job services using the same jobId in a different namespace of the same zk.
Using namespace+jobname as the key will increase the complexity of the  code logic (for subsequent treatment ) and add additional processing overhead. Instead, the "option" can be easily avoided.
我觉得这个问题有两种很简单的方式：1.就是换一个jobId，2.运行两个job服务

[2019-10-24 03:54] #680 closed, assigned to nobody

[2019-10-26 06:17] johnyannj commented on #671
@Leonidasz 同学可能你理解错了
List<Integer> failoverShardingItems** = failoverService.getLocalFailoverItems();
是任务执行时查询，就是查询本节点抢到的所有failover分片

JobFacade#failoverIfNecessary() 是只会抓一个，但是抓了一个还没有执行的话，他会接着抓。

failover的执行  和抓 failover分片是两个地方执行的。

抓分片是 JobCrashedJobListener干的，有节点挂了，JobCrashedJobListener判断当前没有任务执行，他就抓，每次抓一个，抓完了投到quartz里，如果当前还是没有任务执行，他还会抓。

问题在于投到quartz里执行是有延迟的，这会导致连续抓了多个。投入quartz多个trigger。

当第一个t

[2019-10-27 05:31] qingqing2022 commented on #690
我找到问题了，本地配置文件改了表达式，但是zk上还是原来的表达式，所以任务没有按新表达式的时间执行。原因是overwrite参数使用默认，并没有覆盖zk上表达式，把overwrite设置成true，就可以按新表达式的时间执行了。这是我的问题，谢谢大神支持。

[2019-10-28 05:39] #690 closed, assigned to nobody

[2019-10-29 01:36] shizhandev commented on #685
分片总数是3

[2019-10-29 02:09] Leonidasz commented on #685
3 sharding with 3 instances is sufficient for testing, and the result should be one sharding per instance. According to the log, between 18:02 and 18:03, the execution interval on the three instances which running sharding item is 1 minute. Can you make sure the execution duration of the job is just 3 seconds ?
如果是为了测试的话，3个分片使用3个实例就足够了，最后的效果应该是一个实例上分配一个分片。从贴出的日志上看，18:02 至18:03分这段，三个运行分片的实例上执行的间隔都是

[2019-10-29 08:33] yanglikun commented on #685
I recorded a video explaining the problem I encountered. See：https://youtu.be/aSec6iJm1Qk
我录制了一个视频了说明遇到的问题。请参见：https://youtu.be/aSec6iJm1Qk

[2019-10-29 09:19] Leonidasz commented on #685
Video I have seen, I also simulated in the development environment, but can not reappear the question.When the scheduling of job was incorrect, the interval is both 35 seconds of the 2 instances. I cannot see your job implementation clearly. I suggest you debug your job implementation. In  version 2.1.5, there wouldn't be such an obvious mistake in scheduling of the srouce code , please also check

[2019-10-29 10:06] yanglikun commented on #685
你可以把你的代码发我一下么？我在自己的电脑上试试
May you send me your code? I try on my own computer

[2019-10-29 13:20] Leonidasz commented on #671
@johnyannj
按照首次发送failover，当作业instance发生crash时，JobCrashedJobListener会把crash的instance之前分配到的分片项全部抓取过来，然后设置failover标志，并进行失效转移（如必要）。
[code]
如果失效instance拥有多个分片项的话，会多次执行failoverService.failoverIfNecessary()（当然这和AbstractElasticJobExecutor.execute()中的jobFacade.failoverIfNecessary()有些重复，需要优化考虑下。），但是并不是每次调用都会触发triggerJob，因为在needFailover()有isJobRunning(jobName)的判断，如果当前已经有job在运行那么是不会触发triggerJob，也即如果有job已经触发正在

[2019-10-30 02:12] Leonidasz commented on #685
给个邮箱地址或是QQ号吧。

[2019-10-30 02:14] yanglikun commented on #685
yanglikun0@gmail.com

[2019-10-30 03:34] Leonidasz opened #691 "The link of the architecture diagram is missing"
The link(http://ovfotjrsi.bkt.clouddn.com/docs/img/architecture/elastic_job_lite.png) of the architecture diagram  in README.md is missing, I suggest to use the image link on the official website instead.
![readme](https://user-images.githubusercontent.com/27260805/67826079-4c4cfc00-fb06-11e9-9205-7e96ac559632.png)

[2019-10-30 05:40] yanglikun commented on #685
1、已经收到邮件代码代码，并且在本地试了下，也有同用的问题(有时候35秒执行)。
2、因为本地是用docker启动的zk，看了下docke的时区是 UTC 0时区的。不是+8的。
3、后来不用docker，用本地的zk和一个远程服务器zk(都是东八区) 分别试了下，执行都是正常的。
4、结论：如果client时区 和 zk 时区不一致，还会有问题？

[2019-10-30 06:21] Leonidasz commented on #685
这个结论需要确认一下，如果你们有环境，可以跟进debug一下确认具体是哪个环境导致的问题。谢谢~

[2019-10-30 07:07] #685 closed, assigned to nobody

[2019-10-30 11:57] Leonidasz commented on #674
@zjypp
The job data in zookeeper will be not delete automatically. If the dynamic jobs you created have independent job names in zk as nomal as the job configed, then the dynamic jobs can be removed manually, you can do that through elastic-job-lite-console. But please note that first "shutdown" and then "remove".If delete the job date node in zookeeper directly, the job services may not stop, and

[2019-10-30 14:02] #691 closed, assigned to nobody

[2019-10-30 14:05] #689 closed, assigned to compilerduck

[2019-10-31 03:20] johnyannj commented on #671
@Leonidasz

====》问题就在于这里，他是triggerjob，triggerjob是往quartz里放入一个提trigger而已，要等到quartz的调度任务触发这个trigger，真正跑起来才会isJobRunning(jobName)， 这个过程是有时间差的。
并不是triggerjob了 ， isJobRunning(jobName)就会返回true

[2019-10-31 07:19] #622 closed, assigned to nobody

[2019-10-31 09:13] compilerduck commented on #451
This is caused by non thread-safe variable 'ZookeeperRegistryCenter.caches', has been fixed today. Please see issue #694

[2019-10-31 09:13] #451 closed, assigned to nobody

[2019-11-05 09:14] wkhappy1 opened #695 "任务执行问题咨询"
版本2.1.5
问题如果我把任务设置每10分钟执行一次
如果第一个10分钟任务执行超过了10分钟，比如15分钟
此时第二个10分钟任务会怎么执行，是等待第一个任务执行完，还是放弃执行

[2019-11-05 09:46] Leonidasz commented on #695
If misfire set false in JobCoreConfiguration, the misfired task will not execute.
If misfire set true in JobCoreConfiguration, the misfired job will execute after the pre task completed.
如果JobCoreConfiguration中配置misfire为false，则在你描述的场景中，misfire任务不会执行。
如果JobCoreConfiguration中配置misfire为true，则等第一个任务执行完后，会执行misfire的任务。

[2019-11-07 04:52] #695 closed, assigned to nobody

[2019-11-08 01:28] wangjw0811 opened #696 "服务器重启后，失效状态被重置成生效(不是本地覆盖注册中心)"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
版本2.1.5
### Expected behavior （您预期的结果是）
通过console让某个任务失效，更新服务器代码后，注册中心的任务状态不要变（不是覆盖）
[code]

### Actual behavior （实际运行的结果是）
服务器重启后，失效状态被重置成生效

### Steps to reproduce the behavior （可重现问题的操作步骤）
1 console 已设置生

[2019-11-08 02:26] Leonidasz commented on #696
As you describe, after restart the job service,  the ConfigurationService. Persist (LiteJobConfiguration) is unable to execute replaceJobeNode, because set the "overwrite" to false, then in the ServerService. PersistOnline (enable), "enable" is  always false by the initial setting in ZK . Please confirm step where the problem occurs again. If the problem continues to occur, I suggest you debug loc

[2019-11-08 07:26] kuguobing opened #697 "Job Event Database操作资源未释放"
### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
elastic-job-common-core-2.1.5.jar；其他版本这块代码应该一样
https://github.com/elasticjob/elastic-job-lite/blob/master/elastic-job-common/elastic-job-common-core/src/main/java/com/dangdang/ddframe/job/event/rdb/JobEventRdbStorage.java

https://github.com/elasticjob/elastic-job-lite/blob/master/elastic-job-common/elastic-job-common-core/src/mai

[2019-11-12 02:57] 3tem opened #698 "elastic-job 依赖jar包升级问题"
elastic-job 2.1.5版本，但是依赖的，zk 以及 Curator-* 版本依旧很低，是否有考虑过升级依赖jar包版本？
如果去掉elastic-job  中的zk相关依赖包进行单独进行升级，能否给出些升级参考意见？

[2019-11-12 03:18] Leonidasz commented on #698
Yes, we have considered upgrade the dependency versoin, and we also intend to use the raw client of zk. You can refer to #475 first, and if you have any idea, you can discuss here or finish the idea and commit the pr.

[2019-11-12 03:59] wangjw0811 commented on #696
# 问题复现了  如果zk上的节点不做修改是没问题的，但是修改cron参数后 任务状态就被重置为空了

[2019-11-12 05:00] wangjw0811 commented on #696
发现在console修改任务时disabled和overwrite均被丢弃了，导致后续从config节点拿到的参数为false，进而使得disabled被置空
![image](https://user-images.githubusercontent.com/44764995/68643394-3f8bc780-054c-11ea-94c2-5c24faf59977.png)

[2019-11-12 06:40] Leonidasz commented on #696
You have found the problem, you can improve it, I suggest you submit a PR. ：）

[2019-11-15 06:38] johnyannj commented on #697
try-with-resources 语法 和 finally是等效的，已经释放了

[2019-11-18 15:44] 3tem commented on #698
ok

[2019-11-20 03:21] wangbo911 opened #700 "官方交流群满了，有没有考虑新增加群。"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2019-11-20 06:23] inotgaoshou commented on #627
希望支持下nacos 以及升级下spring的依赖版本等。

[2019-11-21 04:15] Leonidasz commented on #700
You can discuss any question or idea via issue. We may create new QQ group later, and then we shall Inform through the community.

[2019-11-25 08:31] 13917030454 commented on #646
启动job控制台报错 Exception in thread "main" java.lang.NoClassDefFoundError: com/dangdang/ddframe/job/lite/console/ConsoleBootstrap

[2019-11-25 08:33] 13917030454 opened #701 "win10环境启动 控制台报错"
C:\Users\BML\Desktop\elastic-job-lite-console-2.1.5\bin>if """" == """" set PORT=8899

C:\Users\BML\Desktop\elastic-job-lite-console-2.1.5\bin>java  -cp "C:\Users\BML\Desktop\elastic-job-lite-console-2.1.5\bin\..\lib\*;C:\Users\BML\Desktop\elastic-job-lite-console-2.1.5\bin\.." com.dangdang.ddframe.job.lite.console.ConsoleBootstrap 8899
Exception in thread "main" java.lang.NoClassDefFoundError: co

[2019-11-25 08:36] 13917030454 commented on #701
我已解决，以管理员身份运行就可以了

[2019-11-25 09:02] Leonidasz commented on #669
@terrymanu @compilerduck
I have collected some issues about failover. Please access the following link (skip the source code analysis and just go to "related issue").
大致收集了一下issue上关于failover的一些问题，并简单梳理了一下，烦请参看下面链接的内容（附上了部分源码解析，issue整理的内容请直接跳至“相关issue整理”）。

https://note.youdao.com/ynoteshare1/index.html?id=a31f6bd6f85db0ab9326ba93a9afbfa8&type=note

[2019-11-25 09:12] Leonidasz commented on #631
@terrymanu @compilerduck
I have suggested some adjustment scheme about AbstractDistributeOnceElasticJobListener. Please access the following link and take a view.
简单整理了一下AbstractDistributeOnceElasticJobListener相关bug的几种改造方案，烦请参看下面链接的内容。

https://note.youdao.com/ynoteshare1/index.html?id=fc39cf1c29b17db47439a98ef4e7465a&type=note

[2019-11-25 09:30] Leonidasz commented on #701
: ) Please close this issue, thanks~

[2019-11-25 09:31] #701 closed, assigned to nobody

[2019-12-04 06:18] caozhenhuamail opened #702 "ReconcileService线程数一直在陡增"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
elastic-job-lite：2.1.5
Expected behavior （您预期的结果是）
如何把ReconcileService和Curator-TreeCache 线程数稳定住，现在一直在增加
Actual behavior （实际运行的结果是）
每天这两个线程大概增加一倍的数量
Steps to reproduce the behavior （可重现问题的操作步骤）

1.手工创建任务
new Spr

[2019-12-04 06:56] Leonidasz commented on #702
We are already revising this problem, new version will fix it.
这个问题我们已经在处理中，新版本会修复相关问题。

[2019-12-04 07:04] caozhenhuamail commented on #605
楼主解决了这个问题了吗，一直运行ReconcileService 线程数一直递增控制不住那；

[2019-12-04 07:07] caozhenhuamail commented on #702
请问下新版本大概在什么时间点上线那，另外有计划增加任务依赖的功能吗，还有任务编排，还有任务分组功能？

[2019-12-04 07:15] Leonidasz commented on #702
The focus of the new version is to fix some prominent problems received from the community before, the new features will be arranged and considered later. We will release it as soon as possible.
新版本重点是修复之前社区反馈的一些比较突出的问题，新功能方面后续会安排考虑，新版本的发布时间点不太好确定，我们会尽快推动。
另外，请修改一下issue的标题，还有就是也麻烦调整一下内容中“#”号的使用，会引用到无关的issue，谢谢！

[2019-12-04 07:31] caozhenhuamail commented on #702
好的

[2019-12-04 09:42] caozhenhuamail commented on #702
能否告知下解决方案那，如果相对比较简单想自己先升级下。 我们接入的任务越来越多，线程问题是个比较大的问题。

[2019-12-04 11:46] Leonidasz commented on #702
Your e-mail, please~

[2019-12-05 01:49] caozhenhuamail commented on #702
caozhenhuamail@sina.com

[2019-12-05 06:51] Leonidasz commented on #702
Please check your email. As soon as possible, we'll fix these problems in new branches 3.0, so stay tuned.

[2019-12-05 09:47] zhangjs09 opened #703 "将服务放入阿里云后，部了两台机器，但是只有一台生效，另一台启动后无法运行定时任务"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5

### Expected behavior （您预期的结果是）
两台机器同时跑elastic-job，并进行平均分片

### Actual behavior （实际运行的结果是）
两台机器只有1台成功运行，另一台处于假死状态，启动后不运行定时任务，请问如何排查这个问题

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please p

[2019-12-10 10:14] taikeung opened #704 "Sharding item for job 'Manage.DelayedSendingNoticeJob' is empty."
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）
出现`Sharding item for job 'Manage.DelayedSendingNoticeJob' is empty.`会是哪些问题导致的？现在有一两个任务出现这种情况。
### Steps to reproduce the behavior （可重现问

[2019-12-10 12:24] Leonidasz commented on #704
It means that the current instance did not get the sharding item. This may be normal, you should confirm the sharding items of other instances at that moment.
这个表示当前实例没有获取到分片，这不一定表示异常，需要确认一下，其他实例在对应的调度期内，所获取的分片数情况。

[2019-12-10 12:32] Leonidasz commented on #703
You can check the process logic of sharding items on the 'suspended' host. For example, you can stop the 'suspended' node, and confirm whether all sharding items can run normally on one node.
可以确认一下异常主机上对应分片项的作业逻辑是否存在问题，比如可以将异常节点直接停掉，确认下所有的分片项在一台节点上是否能正常运行。

[2019-12-11 07:33] zhangjs09 commented on #703
请问一下，启动时会报这个错，是这个影响了定时任务吗
java.util.ConcurrentModificationException: null
        at java.util.HashMap$HashIterator.nextNode(HashMap.java:1442) ~[na:1.8.0_181]
        at java.util.HashMap$EntryIterator.next(HashMap.java:1476) ~[na:1.8.0_181]
        at java.util.HashMap$EntryIterator.next(HashMap.java:1474) ~[na:1.8.0_181]
        at com.dangdang.ddframe.job.reg.zookeeper.ZookeeperRegistryCenter.

[2019-12-11 09:01] Leonidasz commented on #612
http://elasticjob.io/

[2019-12-11 09:15] Leonidasz commented on #595
有控制台，http://elasticjob.io/docs/elastic-job-lite/02-guide/web-console/

[2019-12-11 09:17] Leonidasz commented on #593
elastic-job-lite相关的配置是存储在zk中。

[2019-12-12 10:02] #700 closed, assigned to nobody

[2019-12-12 10:03] #697 closed, assigned to nobody

[2019-12-12 13:58] #674 closed, assigned to nobody

[2019-12-12 14:00] #626 closed, assigned to nobody

[2019-12-12 14:01] #624 closed, assigned to nobody

[2019-12-12 14:01] #502 closed, assigned to nobody

[2019-12-13 01:38] johnyannj commented on #669
@Leonidasz
关于你的总结  《2. Failover多余补偿》这一章节总结，还是没有包括https://github.com/elasticjob/elastic-job-lite/issues/671的情况。
671描述的是，一个活着的节点连续抢了两个failover 分片，执行了两次trigger job，其中一次trigger 会把两个分片都执行完，后面的一个trigger是多余的，造成作业重复执行。

[2019-12-13 03:01] Leonidasz commented on #669
@johnyannj
Thanks for your attention , as well as for the collation and discussion of the issues. In the "4. TriggerJob handles" section, I recorded the problem of triggerJob.
: )感谢你对相关问题的重视，以及之前的整理和讨论，triggerJob多余处理的这个问题记录在“4. triggerJob处理”这一小节里。

[2019-12-14 09:10] hwgkill opened #706 "服务重启后，原来的任务不会执行"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）

### Expected behavior （您预期的结果是）

### Actual behavior （实际运行的结果是）

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example codes (such as github link)，otherwise we will lab

[2019-12-14 09:16] hwgkill commented on #706
通过api动态添加

     JobCoreConfiguration configuration = JobCoreConfiguration.newBuilder(jobConfig.getJobName(),
                    jobConfig.getCron(), 1)
                    .misfire(false)
                    .description(jobConfig.getDescription())
                    .jobParameter(jobConfig.getJobParameter())
                    .build();
            JobTypeConfiguration type=new SimpleJobConfig

[2019-12-14 15:07] ShortFinger commented on #706
我也有这个问题，如果我起了几个lite服务  但是lite服务现在全挂了就只能手动从zookeeper上找到任务节点然后恢复吗？或者我们要用自己的数据库保存任务信息，当所有lite服务都挂了重新启动时能恢复任务？

[2019-12-16 02:55] Leonidasz commented on #706
@hwgkill
Please provide detailed steps for repeating the problem. LiteJobConfiguration set overwrite false, so the job configuration added from the API is still based on the registry center. It is recommended to check the relevant configuration in registry, or delete the data of zk and restart.
最好提供一下能复现问题的详细步骤，另外LiteJobConfiguration设置了overwrite(false)，那么从api添加的作业配置还是以注册中心为准，建议核查一下注册中心的相关配置，或者删除zk

[2019-12-19 13:28] caozhenhuamail commented on #702
elasticjob:3.0 已经解决了线程数的问题了吗？能用于生产了吗

[2019-12-20 06:28] Leonidasz commented on #702
@caozhenhuamail
If you are in a hurry, you can adjust the code according to the ideas in last email. If there are any questions, you can send emails.
The pr for resource clean has been submitted and is currently under review.
The new release will include other bug fixes, so it will take some time to validate and test.
上次邮件里有相关的改造方案，如果生产需求比较着急的话，可以按照相关思路进行调整。如果有问题，可以邮件沟通。
资源释放相关的调整的pr已经提交，目前在review

[2019-12-20 08:01] caozhenhuamail commented on #702
非常感谢您的回复

[2019-12-25 10:06] suyehe commented on #702
望提前告知解决方案 邮件: zhouxiangyang@dxy.cn

[2019-12-25 10:11] Leonidasz commented on #702
@CowardY
#705 please.

[2019-12-26 06:12] suyehe commented on #702
收到谢谢  quartz 线程并不随着任务销毁而销毁这个问题好像这个commit里没有处理

[2019-12-26 06:18] Leonidasz commented on #702
@CowardY
In ```JobShutdownHookPlugin```, use a  simpler way.
有处理，在JobShutdownHookPlugin中，用了一个比较简单的方式。
链接里是之前整理的方案
http://note.youdao.com/noteshare?id=44e0767eb8a68b26808aa3ef0de2f802&sub=28EE6C5FC3EF426CAF424139202AC8D9
也可以参考 #686

[2019-12-30 07:58] suyehe commented on #702
谢谢 quartz的那个 还需要把线程组关闭 我看上面好像遗漏了 可以通过把线程组设置成守护线程组来。

[2020-01-01 07:52] ZShUn commented on #631
@compilerduck 请问elastic job是打算重新维护了吗

[2020-01-01 09:18] ZShUn opened #710 "elastic-job重启启动，请问在3.0分支会有啥新特性？"
rt

[2020-01-01 09:47] compilerduck commented on #710
Yes, we restarted maintainence of Elastic-Job, in a new branch 3.0. Main changes include package change (from com.dangdang to i.elasticjob), version upgrade for some dependencies and some emergent bug fixes.
是的，elastic-job重新启动维护，3.0分支不发布新特性，主要有以下变动：
1.包名从com.dangdang变成了io.elasticjob
2.某些依赖包的版本较低，会进行升级
3.修复社区反馈的比较多的bug，比如failover相关、分布式唯一任务不唯一、任务结束后资源不释放等问题，具体你可以参考近期提交的pull request。

[2020-01-01 15:33] ZShUn commented on #710
那么3.0相当于一个过度版本咯，是否考虑长期维护下去？

[2020-01-02 04:51] compilerduck commented on #710
开源软件的活力在于社区是否活跃，未来我们会致力于社区活跃性建设，需要你、我和大家的积极参与及回馈，如果你对此项目感兴趣，欢迎参与到ElasticJob的维护开发中来，参与的人多了，项目就活起来了:)

[2020-01-07 07:48] gzdzss commented on #710
会考虑支持更多多注册中心吗,  比如 nacos

[2020-01-07 08:41] compilerduck commented on #710
多注册中心支持在3.0版发布后，会进行考虑，到时候会排一下优先级，会优先做社区呼声高的功能，同时也鼓励大家多多参与。

[2020-01-08 11:11] liubaochuan commented on #710
3.0 什么时间发布

[2020-01-08 11:19] Leonidasz commented on #710
@liubaochuan
会尽量争取在春节前，如果赶不上的话就春节过后了。

[2020-01-10 04:50] WinSuperStar opened #711 "重构能把curator-framework升级到高版本吗?"
2.1.x的curator-framework 和其他框架整合的时候要处理冲突，虽然用低版本在某些情况下也没什么问题，但是毕竟覆盖不了全场景，重构之后能否尽量适配下高版本，或者做两个适配版本出来，供使用者自由选择。

[2020-01-13 06:04] Leonidasz commented on #711
Version conflicts for dependent components such as the curator and guava will be resolved in the 3.0 branch.
3.0 分支中会解决curator以guava等依赖组件的版本冲突问题。

[2020-01-13 06:50] WinSuperStar commented on #711
got it

[2020-01-18 02:44] ronyongxian opened #715 "是否支持不同节点不同权重？"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
最新版

### Expected behavior （您预期的结果是）
某个节点能抢先分配任务，如果任务被其他节点抢到，也能抢过来

### Actual behavior （实际运行的结果是）
所有节点对等分配任务

### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example code

[2020-01-19 02:47] Leonidasz commented on #715
Elastic-job-lite支持自定义分片策略:
http://elasticjob.io/docs/elastic-job-lite/02-guide/job-sharding-strategy/

[2020-01-19 08:16] pazzainfer opened #716 "console包的2.5.1下载地址失效,另外源码能否提供出来"

[2020-01-19 08:19] Leonidasz commented on #716
https://github.com/elasticjob/elastic-job-lite/tree/dev/elastic-job-lite-console

[2020-01-19 15:35] pazzainfer commented on #716
嗯,这个是最新版的源码,2.5.1这个版本的源码没有吗?

[2020-01-21 09:38] ronyongxian commented on #715
均分 但某执行节点能优先获得作业 这种能否实现？

[2020-01-21 10:19] lawplus opened #717 "集群有6个节点，任务有上万个，集群重启后部分定时服务无论如何都无法运行"
以下为生产的线程镜像：
`"order-autoconfirmreceive-job-0ff1c802d8df43dca22c251cd159d0d0_QuartzSchedulerThread" #6964 prio=5 os_prio=0 tid=0x00007f375dd9a800 nid=0x8a3f in Object.wait() [0x00007f36033c2000]
   java.lang.Thread.State: TIMED_WAITING (on object monitor)
	at java.lang.Object.wait(Native Method)
	at org.quartz.simpl.SimpleThreadPool.blockForAvailableThreads(SimpleThreadPool.java:452)
	- locked <0x0

[2020-01-21 10:23] Leonidasz commented on #716
The latest release is 2.1.5.
目前已发布的最新版本是2.1.5，没有2.5.1这个版本。

[2020-01-21 10:26] Leonidasz commented on #717
Can you provide the detailed steps to reproduce the problem?
能给出重现问题的详细步骤么？越详细越好。

[2020-01-21 14:45] lawplus commented on #717
sure. here try to desc this problem as detail as I can:
1. 业务场景： 订单类自动确认收货的、时间段价格自动过期的等等（无需sharding分片），都是采用了此框架，这样造成了quartz线程池的爆炸性增长，于是
2. 我这边加了一些自己的逻辑，将此框架用于瞬时任务的执行，将此类瞬时（即cron表达式只执行一次的）任务对应的线程池关闭掉
3. 待进入standby的周期时间时，自动恢复这些瞬时任务
结果，现在的情况时，有相当一部分此类瞬时任务在二次重启后其线程执行都跌入了 BlockUtils.waitingShortTime。

私人的邮箱是： cnpaul2005@163.com， 方便我们电邮沟通。

[2020-01-21 14:50] lawplus commented on #717
get /elastic-job-lite/order-autoconfirmreceive-job-1810a1dab95241189c53be8297c27a1a/leader/election/instance
-- 是其本机进程 10.72.27.53@-@86594

get /elastic-job-lite/order-autoconfirmreceive-job-0ff1c802d8df43dca22c251cd159d0d0/leader/election/instance
-- 是其他机器的进程	10.72.27.161@-@11792

以上两个job都是被分配在 10.72.27.53@-@86594 ， 但是第二个是无法执行的。当修改第二个的instance节点的值时 (补充： 或者关掉 10.72.27.161@-@11792 的job进程 +_+ )，其整个j

[2020-01-21 16:41] lawplus commented on #717
是否是quartz设置的问题呢：
`private Scheduler createScheduler() {
        Scheduler result;
        try {
            StdSchedulerFactory factory = new StdSchedulerFactory();
            factory.initialize(getBaseQuartzProperties());
            result = factory.getScheduler();
            result.getListenerManager().addTriggerListener(schedulerFacade.newJobTriggerListener());
        } catch (final Schedul

[2020-01-22 03:42] Leonidasz commented on #717
The config is ok, set misfire threshold is 1 millisecond, just set the condition of  misfire trigger. The misfire functionality in elastic-job-lite is actually self-implemented, not entirely based on quartz.
misfire的设置没有问题，配置misfireThreshold为1毫秒，只是设定misfire的触发条件，elastic-job-lite中misfire的功能实际上还是自行来实现的，并不是完全依托于quartz。

[2020-01-22 04:20] Leonidasz commented on #717
抱歉还是没有太明白问题的具体流程？能否单纯从流程及执行逻辑层面说明下，不要描述业务内容。

[2020-01-22 04:56] lawplus commented on #717
或者您簡述下如何設置job config，代碼不會進入 - .LiteJobFacade.getShardingContexts 這個方法？
又沒相關文章介紹整個job的執行過程可以推薦給我？若方便的話，可以加我QQ - 184974868 進行聊天。感謝！

[2020-01-22 06:19] lawplus commented on #717
cron表达式为： 47 30 16 17 01 ? 2020

[2020-01-22 06:33] Leonidasz commented on #717
[Job config(official)](http://elasticjob.io/docs/elastic-job-lite/02-guide/config-manual/)

[Job example(suggest)](https://github.com/elasticjob/elastic-job-example/tree/master/elastic-job-example-lite-springboot)

[Source analysis (recommend)](http://www.iocoder.cn/categories/Elastic-Job-Lite/)

Your cron expression measn the jobs will trigger only once ,just at 2020-01-17 16:30:47.

[2020-01-22 06:36] Leonidasz commented on #717
@rongmin
Notice the friend request of your QQ, please~

[2020-01-29 04:02] CYXK commented on #710
现在能确定发布的具体时间了吗？

[2020-02-03 06:34] neeuq commented on #710
同问，之前版本某些依赖包（如curator）的有点低，需要新版本升级。赞同上述3.0的改动，先做些维护性的调整，类似dubbo的重新开源之路。

[2020-02-04 04:27] CYXK opened #718 "Abuse of Optional"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
NA

### Expected behavior （您预期的结果是）
From IDEA Inspection: "Optional was designed to provide a limited mechanism for library method return types where there needed to be a clear way to represent "no result".

[2020-02-11 04:03] compilerduck commented on #718
Hi CYXK,
Thank you for the suggestion. This seems to be a discussion about how to use "Optional" properly, rather than a real issue. If you search on internet, you will find someone use Optional as return type, and someone use it as function parameter. In my opinion, I prefer to using it as return type. But currently, this is not an important optimization. Anyway, thank you for submitting the issu

[2020-02-17 08:50] jackielgl commented on #628
我也有个问题，第一次启动，创建成功了表，JOB_EXECUTION_LOG和表JOB_STATUS_TRACE_LOG，再次启动，会报错： com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: Table 'JOB_EXECUTION_LOG' ，是不是没有判断表已经存在呢？

[2020-02-17 09:49] Leonidasz commented on #628
@jackielgl 有判断

[2020-02-26 02:44] johnyannj commented on #717
elastic-job 一个任务会创建几个线程的， 你有1万了任务？ 还能跑的起来？

[2020-03-02 08:36] johnyannj commented on #710
又跳票了吗？

[2020-03-02 09:19] Leonidasz commented on #710
@johnyannj
首先抱歉，日期延后了，疫情也确实对发布造成了一定的影响。本人自1月23日起，低烧以及不适持续了10多天，且不说身体状况，在这个疫情爆发的时期，心理的情况可想而知。但是，esjob的发布工作一直在进行，并没有搁置，目前3.0版本计划发布的修改基本全部完成，也都提交了pr，近期我们的member还抽空review通过过了一个比较关键的pr。后续review工作完成后，我们会再进行一个整体回归测试，然后将新版本发布出来。
出于对代码质量的要求，member对pr提交的内容审核的比较仔细，相关问题也会反复沟通推敲，我们希望最终发布的版本是稳定可控的。
借用作者的一句话“开源不易”，参与esjob开源工作的同伴，都有本职的工作，参与开源工作都是不计报酬，仅凭一份内心的喜爱。
请各位理解，多多给予支持。
如果确实比较着急，也可以参看下我提交的几个pr，先行在项目中试用，如有问题，

[2020-03-02 10:10] neeuq commented on #710
理解作者，开源都不容易。

[2020-03-03 01:04] simafei commented on #628
这个项目没人维护了，很多依赖的组件都不升级，guava还是18.0，与20.0以上版本都不兼容，mysql驱动8以上就不能创建表

[2020-03-03 02:35] Leonidasz commented on #628
@simafei
还在维护。组件版本冲突的问题在3.0分支中正在处理，相关的PR刚刚review通过。可以关注下这个分支。

[2020-03-04 10:37] johnyannj commented on #710
@Leonidasz
理解作者，支持作者，保重身体~

[2020-03-05 02:33] furaul opened #720 "如何实现多服务器实例的任务轮询机制"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5

### Expected behavior （您预期的结果是）
当任务是单分片，同时有多个服务器实例时，希望任务可以在各个服务器轮流执行。
比如JOB单分片，三台服务器A，B，C，执行时间间隔1小时，10点开始触发。
希望10点在服务器A执行，11点在服务器B执行，12点在服务器C执行。

### Actual behavior （实际运行的结果是）
各个分片策略，在将分片分配到指定服务器之后，

[2020-03-05 02:57] Leonidasz commented on #720
多作业节点一般是为多分片提供分摊（多节点均摊多分片，提高作业分布式并发能力），或是为单分片提供高可用保障（当然，多分片的情况下也能保证高可用）。
你的需求比较特殊，定制化的分片策略也解决不了你的需求，因为作业就单分片，而且从你的需求来看，还不太好触发重分片。
不过有一种方式，你看是否可以参考一下：
3个节点上的作业，分别配置不同的调度cron，例如：A节点配置从0点开始，每3个小时执行一次；B节点配置从1点开始，每3个小时执行一次；C节点配置从2点开始，每3个小时执行一次；
这样应该可以满足你的需求，但是实际上你的集群中，作业是3个，而不是原先计划的1个了，如果你有高可用方面的考虑，可以为每个节点增加一个standby的节点。

[2020-03-05 03:53] furaul commented on #720
感谢回复，我们参考下。

[2020-03-05 03:53] #720 closed, assigned to nobody

[2020-03-09 02:25] johnyannj opened #721 "官方QQ群都满了，还有别的QQ群吗？"
官方群：
官方群(目前已满，请加官方2群)： 430066234（仅限于讨论与Elastic-Job相关的话题。我们希望您在入群前仔细阅读文档。并在入群后阅读公告以及修改群名片。谢谢合作。）
官方2群： 460139727

两个群都满了，还有别的群可以加入吗？

[2020-03-09 07:08] Leonidasz commented on #721
回头我跟作者沟通一下。目前如果有什么需要讨论的话，可以通过issue交流，

[2020-03-10 07:01] small-wang opened #722 "云桌面运行任务，未生成任务执行日志"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5

### Expected behavior （您预期的结果是）
Run a job and query a record in job_execution_log(执行一次任务，并且可以获取到执行日志)

### Actual behavior （实际运行的结果是）
Success run a job, but can not get a record in job_execution_log(

[2020-03-11 03:31] Leonidasz commented on #722
@small-wang 作业未执行的原因是在华为云环境下，IpUtils.getIp()返回为空，是么？

[2020-03-11 03:39] small-wang commented on #722
是的，NetworkInterface.getNetworkInterfaces()可以获取到部分网络接口，但是不包含有效的接口。该问题复现场景比较特殊，我尝试解决了，如果该问题被接受我可以提交PR看看。

[2020-03-11 03:59] Leonidasz commented on #722
@small-wang 可以将你的解决方案在isuue中说明一下，这样也方便大家沟通讨论，如果最终方案ok的话，再麻烦提一下PR，THX~

[2020-03-13 07:37] small-wang commented on #722
因为我本地同时使用了dubbo和elasticjob框架，dubbo框架可以正常获取本地ip并注册至zk，所以思路是参考dubbo获取本地ip实现：
1.尝试通过InetAddress获取本地ip并做合法性校验，合法则返回；
2.尝试通过NetworkInterface获取本地ip并做合法性校验，合法则返回；
3.返回null；

[2020-03-23 13:34] johnyannj commented on #710
@Leonidasz  请问下 当前工作停滞在哪里了，我可以加入群中，贡献一份力量吗？

[2020-03-23 13:34] #721 closed, assigned to nobody

[2020-03-23 13:36] johnyannj commented on #662
@purgeyao 如果支持fixedRate  initialDelay， 你怎么保证所有节点同时执行任务啊~~

[2020-03-24 01:05] Leonidasz commented on #710
@johnyannj
Your QQ number, please~

[2020-03-24 06:18] johnyannj commented on #710
@Leonidasz 497736866 谢谢

[2020-03-26 09:59] Fdemo123 opened #724 "springboot启动阻塞"
项目引用2.1.5的elastic-job-lite-core和elastic-job-lite-spring 后 启动日志打印：
 [main] INFO  o.s.d.r.c.RepositoryConfigurationDelegate  - Multiple Spring Data modules found, entering strict repository configuration mode!
后自动停止

[2020-03-26 16:40] johnyannj opened #725 "社区是否可以在3.0释放之前出一个2.1.x的稳定版本"
@Elastic-job作者您好

我司在生产环境使用了elastic-job的2.1.5版本。也在使用过程中发现了诸多问题，同时反馈给了社区。

但是社区迟迟没有释放新的版本，前段时间呼之欲出的3.0版本，貌似也停滞了下来。

因为我司的开源政策，两年没有发布版本的软件，视为社区不活跃的开源软件，有未来无法升级维护的风险，是不建议采用的，所以我们当前面临重新技术选型的岔路口。

elastic-job的2.1.5版本已经是2017年发布的版本，距今已经快有3年了。目前社区issue已经积累了大量的issue，还有就是依赖的陈旧的第三方软件。相信应该有很多elastic-job的使用者可能会因为这个原因放弃使用elastic-job。

所以如果3.0分支有较长的版本计划的当前，我建议社区有必要基于当前社区的反馈，修正一些明显的bug，升级一些开源软件，释放一个新的稳定版本，这也是对社区反

[2020-03-28 02:06] Leonidasz commented on #724
应该是项目依赖spring data版本不一致导致的，可以检查一下自身的相关dependencies。

[2020-03-28 03:06] RocketTH commented on #725
我认同这个观点，我觉得在3.0出来之前，有必要出一个2.1.X的稳定版本，把这个版本的bug修复即可，还有一种做法可以和jdk一样，双向进行，2.1.X版本bug修复和3.0版本开发同时进行

[2020-03-28 14:50] CYXK commented on #725
@johnyannj HW的？

[2020-04-02 07:14] ZhiQinIsZhen commented on #725
me too

[2020-04-10 06:14] kute opened #726 "怎样区分任务是 被 手动执行的还是 定时正常执行的？"
目前发现 任务被重复执行了，且在 不同的时间点，想问问 怎样区分任务是 被 手动执行的还是 定时正常执行的？有什么比较关键的日志吗？

[2020-04-11 08:00] wendyqun opened #727 "任务没有被执行的原因猜测"
com.dangdang.ddframe.job.lite.internal.shedule.JobTriggerListener
[code]
第一次执行时  trigger.getPreviousFireTime() 必定为null，如果此时执行时发生了 misfire，那么elastic-job就不能设置 misfire状态，导致了任务不会被执行

[2020-04-17 09:56] haodanhui521 commented on #470
![image](https://user-images.githubusercontent.com/45254880/79557206-c2551780-80d4-11ea-9c62-ce09999f2f14.png)
![image](https://user-images.githubusercontent.com/45254880/79557193-bc5f3680-80d4-11ea-8ade-e8cd203c72bf.png)

[2020-04-21 10:25] terrymanu opened #728 "Discuss about donate Elastic-Job as a subproject of Apache ShardingSphere"
Hello everyone,

I am the founder of Elastic-Job, the project is established by dangdang.com.
I have no time to develop Elastic-Job and maintain the community during recent 3 years.

Currently, we need a distribute scheduler framework to process data migration of Apache ShardingSphere(https://github.com/apache/shardingsphere), I am VP of  Apache ShardingSphere too. I want start a discussion about

[2020-04-21 10:32] yu199195 commented on #728
good idea.

[2020-04-21 10:35] readazusa commented on #728
can I use chinese?

[2020-04-21 10:36] terrymanu commented on #728
请便，毕竟目前还没有结论说要捐入Apache

[2020-04-21 10:38] FangOba commented on #728
+1

[2020-04-21 10:44] kekerzzZ commented on #728
very good!
I learning source code during this time.   if possible I want to contribute to this project.

[2020-04-21 10:45] dongzl commented on #728
This is a good idea. Elastic-Job is a very excellent project. Donate to Apache ShardingSphere will attract more people to develop it.

But I suggest to make Elastic-Job as a independent project and doesn't over coupling with ShardingSphere, for this user can use Elastic-Job independently even if they don't use ShardingSphere.

[2020-04-21 10:46] terrymanu commented on #728
Welcome, we can talk further if the project donated to ASF

[2020-04-21 10:47] terrymanu commented on #728
Sure, it should be different projects, the new name should be `apache-shardingsphere-elasticjob`

[2020-04-21 11:02] qixiaobo commented on #728
So maybe we need change package name again?

[2020-04-21 11:05] terrymanu commented on #728
You still can use current version

[2020-04-21 11:11] lovepoem commented on #728
Exciting news, very awesome scheduling framework is coming back ！！！

[2020-04-21 11:19] taojintianxia commented on #728
I personally believe the shardingspehre community will make elasticjob resurrected.

The strong evidence is that shardingsphere become the top class project of apache,  it's on the apache way , which means the community is professional and powerful . the statistics of shardingsphere is awesome, it's the honour for China internet industry

The donation of elasticjob not only make this project resur

[2020-04-22 00:49] cherrylzhao commented on #728
looking forward to contribute again in shardingsphere !

[2020-04-22 03:42] EasonFeng5870 commented on #728
Carry on

[2020-04-22 06:16] lvaolin commented on #728
好主意   期待中

[2020-04-22 06:20] herozeng commented on #728
Good news, we can discuss new feature

[2020-04-22 06:48] scorp2010 commented on #728
It's so cool

[2020-04-22 09:14] huyanfu commented on #728
good idea, The company is using.

[2020-04-22 10:41] keven0706 commented on #728
support

[2020-04-23 02:29] DKodak opened #729 "el-job指定任务时间轮询不生效的原因有哪些？"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
2.1.5
### Expected behavior （您预期的结果是）
指定每半小时轮询应该按正常隔半小时执行一次
### Actual behavior （实际运行的结果是）
不执行，但是指定单独的时间运行可以运行
### Steps to reproduce the behavior （可重现问题的操作步骤）

### Please provide the reproduce example code

[2020-04-24 03:31] PegasusS commented on #728
Come On！Just Do It！

[2020-04-28 07:19] tanjunchen commented on #728
Nice Job! It is beneficial to the development of the project.  +1
if possible I want to contribute to this project.

[2020-04-28 10:03] gzdzss commented on #728
期待

[2020-04-28 10:27] kailbin commented on #728
👍

[2020-04-29 06:55] born198x commented on #634
已经配置了 一样看不到数据 怎么说

[2020-05-01 07:02] fjxmhsl commented on #725
3.0版本有说什么时候发布吗

[2020-05-01 07:04] fjxmhsl commented on #711
我也遇到了这个问题，客户公司安全组要求升级guava版本到28.1-jre，然后升级了curator-framework到4.1.0版本，启动直接报错了。

[2020-05-07 02:05] liubaochuan opened #730 "LeaderLatch 永久阻塞主线程"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
elastic-job-lite-spring 2.1.5
curator 4.2.0
zk 3.5.5
### Expected behavior （您预期的结果是）
重启后正常能注册和选择leader不阻塞主线程
### Actual behavior （实际运行的结果是）
"main" - Thread t@1
   java.lang.Thread.State: WAITING
	at java.la

[2020-05-07 09:17] ZhiQinIsZhen commented on #728
good for elasticjob

[2020-05-09 01:29] neeuq commented on #728
+1

[2020-05-15 10:29] tanjunchen commented on #728
@terrymanu
for
The challenge for current community is:
    All issue and pull request need change to English.
the comment of source code is also needed to change to en,right?

[2020-05-16 09:26] johnyannj commented on #728
我认为elastic-job-lite实现比较粗糙，特别是可靠性 一致性方面。
不如重新构建一个好了。没必要捐赠当前这个。

[2020-05-21 02:38] xx-ee opened #731 "启动“假死”"
Please answer these questions before submitting your issue. Thanks!
开源不易，我们希望将精力放在完成新功能和解决有价值的问题上，为了让大家的配合更具有效率，请填写以下列出的全部问题

### Which version of Elastic-Job do you using?（您使用的Elastic-Job版本为？）
elastic-job-lite-spring 2.1.5
zookeeper-3.4.10
curator 2.10.0
### Expected behavior （您预期的结果是）
重启后正常能注册和选择leader不阻塞主线程
### Actual behavior （实际运行的结果是）
 ‘xxxjob’ sleep short time until sharding completed
Regis

[2020-05-21 09:48] terrymanu commented on #728
The ElasticJob Donation Proposal:
https://cwiki.apache.org/confluence/display/SHARDINGSPHERE/ElasticJob+Donation+Proposal

Mailinglist:
https://lists.apache.org/thread.html/rd6171e2065be6bcfbeb7aba7e5c876eeed04db585c6ab78fc03a581c%40%3Cdev.shardingsphere.apache.org%3E

[2020-05-21 09:50] terrymanu commented on #728
你好，在捐入Apache之前，我们还能用中文交流哈。
我不太认同实现比较粗糙就需要重新做，社区就是为了集中大家的力量将它做好。社区优于代码，代码只是现状，活跃的社区代表着未来。
@johnyannj

[2020-05-21 09:52] terrymanu commented on #728
Yes, it is better to establish a global and diversity community.

@tanjunchen

[2020-05-21 10:30] tristaZero commented on #728
Hi Liang,

Thanks for this proposal.
IMO, SGA and simple dependencies help this project become sub-project of Apache ShardingSphere easier.

What concerns me a bit is that the core committer is only one person, Liang Zhang (Please correct if I missed something).
Besides, the Chinese ISSUE list is supposed to be taken care of before ElasticJob steps on the international stage.
I am glad to see a mo

[2020-05-21 11:09] Technoboy- commented on #728
Cool.

[2020-05-21 13:04] wangfengstar commented on #728
调度的统一层面扩展，包括融入云原生体系的容器化方面的特性。这方面我们自己研发的平台已经在mesos、kubernetes中大规模使用。另外考虑计算模型编排方面，我们通过统一的流水线编排模型来统一多种依赖或者单个job的管理。-----英文写起来太困难，哈哈~

[2020-05-21 14:12] terrymanu commented on #728
I just reply in the mailing list

[2020-05-25 04:21] Patrick0308 commented on #728
这个事情有结论了吗

[2020-05-25 11:54] terrymanu commented on #728
Voting: https://lists.apache.org/thread.html/r427b355c63376386e6444cb7849e77a1ce16877d5b0bee62fffca77a%40%3Cdev.shardingsphere.apache.org%3E

[2020-05-25 14:55] zgooa1 commented on #711
curator版本冲突问题有比较好的解决方案吗

[2020-05-28 04:55] terrymanu commented on #728
Voting passed[1].
I will start to process ElasticJob donation to Apache ShardingSphere community soon.

[1] https://lists.apache.org/thread.html/rbbc1d5fa7bf69d8e75476154d635774cb432943aade21d7a01eba11c%40%3Cdev.shardingsphere.apache.org%3E

[2020-05-28 09:53] qingquaner commented on #558
显示设置monitorPort(-1) 试试看呢

[2020-05-31 15:37] terrymanu commented on #725
ElasticJob将于近期作为Apache ShardingSphere的子项目，会改包名和maven坐标的名字，因此不会再发布2.x版本了。
3.x版本会在近期规划，欢迎讨论。因此这个issue我先关闭了。

[2020-05-31 15:50] #565 closed, assigned to nobody

[2020-05-31 15:52] #525 closed, assigned to nobody

[2020-05-31 16:00] #628 closed, assigned to nobody

[2020-05-31 16:01] #635 closed, assigned to nobody

[2020-05-31 16:11] #725 closed, assigned to nobody

[2020-06-03 05:33] #631 closed, assigned to nobody

[2020-06-03 05:39] #523 closed, assigned to nobody

[2020-06-03 05:39] #526 closed, assigned to nobody

[2020-06-03 05:39] #571 closed, assigned to nobody

[2020-06-03 05:40] #669 closed, assigned to nobody

[2020-06-03 11:27] terrymanu opened #732 "Prepare for transfer to ASF repo"
I will merge master and dev branch for prepare transfer to ASF repo.

- [x] Merge master and dev branch
- [x] Set master as default branch
- [x] Remove dev branch

[2020-06-03 11:36] #732 closed, assigned to terrymanu

[2020-06-03 13:27] terrymanu opened #733 "Add Apache copyright on all files"

[2020-06-03 13:35] terrymanu commented on #731
Curator 2.1.0 can support ZooKeeper 3.4.6 well, I am not test for version 3.4.10.
Can you try it?

[2020-06-03 13:38] terrymanu commented on #730
ElasticJob just use curator 2.1.0, I can not guarantee the dependency updated.

[2020-06-03 13:38] #730 closed, assigned to nobody

[2020-06-03 14:56] terrymanu commented on #729
Can you provide more details?

[2020-06-03 15:24] terrymanu commented on #726
You can use event-trace, FYI: http://elasticjob.io/docs/elastic-job-lite/02-guide/event-trace/

[2020-06-03 15:25] #724 closed, assigned to nobody

[2020-06-03 15:26] #716 closed, assigned to nobody

[2020-06-03 15:30] terrymanu commented on #717
Any conclusion? can we close this issue?

[2020-06-03 16:25] terrymanu commented on #733
Done

[2020-06-03 16:25] #733 closed, assigned to terrymanu

[2020-06-03 16:42] terrymanu opened #734 "Translate java doc to English"
It is better to use English to write java doc, it is a good way to push ElasticJob as an international project.

[2020-06-03 16:43] terrymanu opened #735 "Remove author on java doc"
For the ASF policy, the TLP need to remove author information on java doc.

[2020-06-03 17:02] terrymanu opened #736 "Upgrade to Java 8"
Java 7 is too old version, Apache ShardingSphere has already upgraded to Java 8, so it is better to keep same Java version with ElasticJob and ShardingSphere.

[2020-06-03 17:20] #735 closed, assigned to terrymanu

[2020-06-04 01:57] lovepoem opened #737 "Change the base package , maven group and maven artifactId"
Since the elastic-job-lite is transferred here ,  we should change the base package , maven group and  maven artifactId

[2020-06-04 02:04] lovepoem opened #738 "Upload the xml schema to official website and change domain name"
Upload the  xml schema to official  website  and change domain name

Now the domain is  `dangdang.com`

[2020-06-04 02:22] xx-ee commented on #731
测试中kill -9杀死springboot项目，没有优雅停止，导致后续与zk之间信息未更新，导致重启一直处于分片。

[2020-06-04 02:22] DKodak commented on #729
Of course, the situation we met at that time was as follows: five timing tasks were triggered at 10:30, but it was found that another 10:30 timing task was added later, but it was not triggered, so it was triggered at the specified time and then changed back to 10:30, and it was not triggered, which was a bit bad

[2020-06-04 07:40] terrymanu opened #739 "Update issue template for English only"

[2020-06-04 09:08] #739 closed, assigned to terrymanu

[2020-06-04 14:42] tianbin1001 commented on #738
please assgin to me

[2020-06-04 14:43] terrymanu commented on #738
Thank you, assigned @tianbin1001

[2020-06-05 09:21] #734 closed, assigned to terrymanu

[2020-06-05 10:15] #737 closed, assigned to terrymanu

[2020-06-05 17:13] #736 closed, assigned to terrymanu

[2020-06-08 02:22] xlofhappy opened #750 "依赖库更新"
项目依赖的 guava 库， 版本太过陈旧，何时可以更新一下版本

[2020-06-08 05:08] terrymanu commented on #750
**For English only**, other languages will not accept.

[2020-06-08 05:08] #750 closed, assigned to nobody

[2020-06-08 05:16] xlofhappy opened #753 "Library Upgrade"
the Google-Guava Library is too old, please upgrade it

[2020-06-08 08:42] ecfree opened #755 "关于稳定版本问题"
目前 master  和 3.0 上的分支都是无法直接用maven依赖，版本也不是稳定版本，都是需要从github上自救down 下来 打包吗。。 群都加不进去。。

[2020-06-08 09:20] #755 closed, assigned to nobody

[2020-06-08 09:20] ecfree commented on #755
get

[2020-06-09 13:40] tuohai666 opened #759 "Licenses to be determined"
Files in the following directory without license header or unexpected header. I prefer exclude them to pass the build first, then study how to handle these files.

[code]

[2020-06-10 10:42] Technoboy- opened #762 "Move Regex Pattern out of the method"
SensitiveInfoUtils#filterSensitiveIps will create IP pattern every time, make it static to avoid recreating it.

[2020-06-10 10:56] #762 closed, assigned to Technoboy-

[2020-06-10 11:19] Technoboy- opened #764 "Replace Chinese comments with English"

[2020-06-10 16:04] terrymanu commented on #731
Did you configure reconcile-interval-minutes to avoid this situation?

[2020-06-10 16:05] terrymanu commented on #753
We can not update them directly, it need to test.

[2020-06-10 16:08] #764 closed, assigned to Technoboy-

[2020-06-11 02:38] makf-fly opened #767 "作业已下线是什么原因导致的呢"
作业被下线了 不知道是什么原因后台也没有报错

[2020-06-11 04:18] terrymanu commented on #767
**For English only**, other languages will not accept.

[2020-06-11 04:18] #767 closed, assigned to nobody

[2020-06-11 04:20] terrymanu commented on #718
Java 8 upgrade finished, I can close this issue now.
Fixed by #748

[2020-06-11 04:20] #718 closed, assigned to nobody

[2020-06-11 06:18] xx-ee commented on #731
yes ,but it doesn't work for this situation.I didn't shut the application down gracefully(such as I used command like "kill -9 'application-name' ")because of that command,that situation what is "‘xxxjob’ sleep short time until sharding completed or Registering Quartz shutdown hook....'" occurred after restarting the application.
I used to deal with that situation with deleting zk Node information

[2020-06-11 06:22] xx-ee commented on #731
Here is an excerpt from  log where I  shut the application down gracefully:
44507 2020-06-21 11:36:53.311 Thread-2 INFO  [] [] [] [] [] [] org.apache.dubbo.remoting.transport.netty4.NettyChannel -  [DUBBO] Close netty channel [id: 0x58fcfc6a, L:/10.100.32.43:42209 - R:/10.100.32.42:9081], dubbo version: 2.7.0, current host: 10.100.32.43
44507 2020-06-21 11:36:53.311 DubboSharedHandler-thread-12 IN

[2020-06-11 08:34] Technoboy- opened #768 "Add license for asf.yaml"

[2020-06-12 06:49] mmx1960 opened #771 "esjob can not shutdown correctly when encountering spring context destory in initializing"
**Description :**
I have more than one job in an elastic-job base project and running in the spring envionment.

when spring application  initializing and some of jobs was already initialized ，but before initialize other jobs , some compoents encountering a problem and throw an error, it cause the
spring beans' destory(call spring destory method) and rest of initializing processes must be stop.

f

[2020-06-12 07:45] #768 closed, assigned to nobody

[2020-06-14 03:33] CYXK opened #774 "Support redis registry center"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
No!

### Describe the fea

[2020-06-14 08:07] terrymanu commented on #774
This issue is not necessary, I just keep it as volunteer wanted to open discuss and seek for contributor who want to do it.

[2020-06-15 04:45] kute commented on #726
thks

[2020-06-15 04:45] #726 closed, assigned to nobody

[2020-06-15 06:48] haizi1996 opened #778 "Job shard Bug(Job shard repeat schedule)"
Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elastic-job-lite/issues).
- Read documentation: [ElasticJob Doc](http://elasticjob.io/docs/elastic-job-lite/00-overview/).

Please pay attention on issues you submitted, because we maybe need more details.

[2020-06-15 08:32] #778 closed, assigned to nobody

[2020-06-15 12:06] #738 closed, assigned to tianbin1001

[2020-06-15 15:32] Technoboy- commented on #771
I will try to reproduce in the latest version, and if the bug still exists, I will try to fix it later.

[2020-06-16 02:47] dalaocu commented on #753
Yes, I met the same problem. It used some deprecated methods, such as com.google.common.util.concurrent.MoreExecutors.sameThreadExecutor()

[2020-06-16 14:44] Technoboy- commented on #771
Hi, @terrymanu and @mmx1960 , this issue seems to be fixed by #583 .

[2020-06-16 15:05] mmx1960 commented on #771
thank u , this  commit is sure to fixed this issue, but there is another little problem and i will open a new issue

[2020-06-16 15:05] #771 closed, assigned to nobody

[2020-06-17 03:22] mmx1960 opened #780 "instance node in register center could't be removed when procedure shutdown(using spring)"
I found the instance node in register center could't be removed when the procedure shutdown

### Which version of ElasticJob did you use?
the master branch version
### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?
ElasticJob-Lite
### Expected behavior
instance node in register server(zk) be removed
### Actual behavior
instance node still in zk until the heartbeat timeout
### Reas

[2020-06-17 03:54] Technoboy- opened #782 "Refactor MonitorService"
## Feature Request
Currently, if a job has something wrong, and need to dump data, we have to configure a monitor port per job. As the job increases, the port grows. I think monitor service is an useful function that should support by default. And every project, we should only config one monitor service and dump with command 'dump jobName' is much more better.  So I would like to talk about the re

[2020-06-17 03:55] Technoboy- commented on #782
@terrymanu

[2020-06-17 04:36] Technoboy- opened #783 "Namespace URL error"
In spring module, spring.handlers and spring.schemas config incorrect url.
[code]
[code]
Should be
[code]

[2020-06-17 06:31] Technoboy- opened #785 "Enable method bug"
JobOperationRESTfulAPI#enableJob
[code]
Should be
[code]
and the same with ServerOperationRESTfulAPI#enableJob

[2020-06-17 08:33] #785 closed, assigned to nobody

[2020-06-17 08:36] #783 closed, assigned to Technoboy-

[2020-06-18 01:53] hujunzhong opened #787 "shutdownInstance空指针"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elastic-job-lite/issues).
- Read documentation: [ElasticJob Doc](http://elasticjob.io/docs/elastic-job-lite/00-overview/).

Please pay attention on issues you submitted, because we maybe need more detail

[2020-06-18 03:49] mmx1960 commented on #787
place confirm the field `jobName`  have been setted in  your planJobConfig instance. if you're sure about that , give more code  can help to resolve your issue

[2020-06-18 06:04] hujunzhong commented on #787
ZookeeperConfiguration zkConfig = new ZookeeperConfiguration(zkAddress, "elastic-job-price_source");
        String jobName = "test";
        CoordinatorRegistryCenter regCenter = new ZookeeperRegistryCenter(zkConfig);
        regCenter.init();
        JobCoreConfiguration simpleCoreConfig = JobCoreConfiguration.newBuilder(jobName, "0/1 * * * * ?", 1).build();
        SimpleJobConfiguration simple

[2020-06-18 08:21] hujunzhong commented on #787
quartz版本问题

[2020-06-18 08:21] #787 closed, assigned to nobody

[2020-06-18 09:34] Technoboy- opened #788 "Change request path from 'disable' to 'enable'"
[code]
It's better to use:
[code]
And so does below method:
ServerOperationRESTfulAPI#enableServerJob

[2020-06-18 10:24] #788 closed, assigned to Technoboy-

[2020-06-19 03:08] Technoboy- opened #790 "Minor updates in README.md"
1. Update namespace from 'elaticjob' to 'elasticjob' in Job configuration part.
2. Update Architecture part to refer to current docs img.

[2020-06-19 04:29] #790 closed, assigned to Technoboy-

[2020-06-19 10:06] terrymanu opened #792 "New job API"
New job API

- [X] Decouple JobItemExecutor and JobExecutor
- [x] Add job instance into JobScheduler API
- [x] Remove class tag for spring namespace
- [x] Remove class name for job configuration
- [x] Simplify Job API level, merge configuration object to single
- [x] Remove static job type and use SPI to introduce job type

[2020-06-20 10:08] mmx1960 opened #797 "Refactor JobScheduleController's shutdown API and JobShutdownHookPlugin"
The more graceful function to implements shutdown hook is refactor JobShutdownHookPlugin and use the same api like JobRegsitry#shutdown's use when add an shutdown hook.

And to use Quartz's `isCleanShutdown` properties in JobScheduleController#shutdown , it needs to refactor JobScheduleController's shutdown API (add an overload method).

[2020-06-21 12:31] terrymanu opened #804 "Use type with SPI to introduce configuration strategy"
- [x] Use SPI to introduce job-sharding-strategy
- [x] Use SPI to introduce job-executor-service-handler & job-error-handler

[2020-06-22 03:24] terrymanu opened #808 "Add license and notice for Apache release"
- [x] Update non front-end files
- [x] Update front-end files

[2020-06-22 04:55] #804 closed, assigned to terrymanu

[2020-06-22 05:08] terrymanu opened #810 "Add typedSPI interface"
Add typedSPI interface for all type based SPI interface.

[2020-06-22 05:31] #810 closed, assigned to terrymanu

[2020-06-22 06:31] terrymanu opened #815 "Transfer http://elasticjob.io to http://shardingsphere.apache.org/elasticjob/"
Add redirect page to handle http://elasticjob.io to http://shardingsphere.apache.org/elasticjob/

[2020-06-22 06:34] terrymanu opened #816 "Add One-Off Job scheduler"
Add one off job, and adjust cron job as an optional ElasticJob API.

The tasks are:

- [x] Rename JobScheduler to  ScheduleJobBootstrap
- [x] Add OneOffJobBootstrap
- [x] Refactor cron from required to optional in job config
- [x] Add integrate test cases for OneOffJobBootstrap
- [x] Adapt spring namespace

[2020-06-22 06:37] terrymanu opened #817 "Remove unitils dependency"

[2020-06-22 09:19] viviel opened #820 "Fix docs 404 page syntax errors"
- docs 404 page syntax errors
- formatting some code

[2020-06-22 11:47] #817 closed, assigned to terrymanu

[2020-06-22 12:08] terrymanu opened #822 "Redesign tracing module"
- [x] Split core module and tracing module
  - [x] Create elasticjob-lite-tracing-api module
  - [x] Create elasticjob-lite-tracing-rdb module
- [x] Use SPI to introduce tracing module
- [x] Refactor rdb tracing module
  - [x] Put SQL into properties file
  - [x] Use dialect to distinguish SQL
  - [x] Remove MySQL dependency
  - [x] Move search & statistics to elastic-job-lite-console module

[2020-06-22 14:03] tuohai666 commented on #815
Done.

[2020-06-22 14:03] #815 closed, assigned to tuohai666

[2020-06-23 02:41] nilIfNull commented on #774
Want Nacos as a registration center

[2020-06-23 02:50] #820 closed, assigned to nobody

[2020-06-25 15:49] terrymanu opened #836 "Use spring boot to refactor elastic-job-lite-console"
The current elastic-job-lite-console is using jetty.

For convenient reason, it is better to change it to spring boot.
After change to spring boot, we need use it to handle job event dao with spring boot + JPA.

[2020-06-25 15:52] terrymanu opened #837 "Use spring boot + JPA to deal with search dao"
Current search dao is using JDBC which can not adapt different database dialects.
It is better to use spring boot + JPA to more databases.

[2020-06-25 15:54] terrymanu opened #838 "Use spring boot + JPA to deal with statistics dao"
Current statistics dao is using JDBC which can not adapt different database dialects.
It is better to use spring boot + JPA to more databases.

[2020-06-25 16:21] viviel commented on #837
May I try this task?

[2020-06-25 16:27] terrymanu commented on #837
@viviel cool, assigned

[2020-06-25 16:28] kekerzzZ commented on #836
I want to try this task.

[2020-06-25 16:58] rudy2steiner commented on #838
I want pick up this as my fisrt issue ,please assign it to me

[2020-06-26 05:12] terrymanu opened #840 "Add SQL dialect for event tracing storage"
The current event tracing storage use properties file to process SQL which to distinguish different SQL dialects.

MySQL, H2 properties have finished, SQL92 need to be polish.
The PostgreSQL, Oracle, SQLServer, DB2 are missing.
Developer can add properties in to `META-INF\sql` folder.

- [x] Add `META-INF\sql\postgresql.properties` and provide correct SQL for PostgreSQL
- [x] Add `META-INF\sql\ora

[2020-06-26 05:17] tianbin1001 commented on #840
please assign to me

[2020-06-26 05:18] terrymanu commented on #840
@tianbin1001 Welcome

[2020-06-26 05:19] dhc575757 commented on #840
please assign to me

[2020-06-26 05:27] terrymanu opened #841 "Remove JDBC driver dependency for elastic-job-lite-console"
The current elastic-job-lite-console depend MySQL which the license cannot compatible with ASF.
We need to remove MySQL dependency and add new ext-lib to permit user introduce JDBC driver by themselves.

- [x] Add ext-lib folder
- [x] Update start script, setup ext-lib into classpath
- [x] Remove MySQL dependency
- [x] Update document for adding customized JDBC driver  dependency

[2020-06-26 05:28] terrymanu commented on #840
@dhc575757 Cool, assigned

[2020-06-26 05:31] terrymanu commented on #836
@kekerzzZ Welcome, assigned

[2020-06-26 06:08] TeslaCN commented on #841
@terrymanu I can make it. Please assign to me.

[2020-06-26 06:15] #822 closed, assigned to terrymanu

[2020-06-26 13:08] #841 closed, assigned to TeslaCN

[2020-06-26 13:26] terrymanu commented on #774
Because they are unnecessary, and it seems like nobody want to do it, I just close this issue.

[2020-06-26 13:26] #774 closed, assigned to nobody

[2020-06-26 15:43] terrymanu opened #847 "Simplify JSON processor"
The current JSON processor is too complicated, it is better to merge `LiteJobConfigurationGsonTypeAdapter` and `AbstractJobConfigurationGsonTypeAdapter`

[2020-06-26 16:41] #847 closed, assigned to terrymanu

[2020-06-28 04:39] nmyphp commented on #838
I will do my best, please assign to me.

[2020-06-28 10:13] Mark-WJQ commented on #838
May i get this task? And which version of springBoot will use?

[2020-06-28 10:19] Mark-WJQ opened #852 "Will update spring version?"
I notice that the newest version of spring is 5.0+, but ejob use version is 4.0 +。So will you have a plan,that , import the lastest spring and springBoot project ?

[2020-06-28 11:01] terrymanu commented on #852
Any contributor interesting this issue?

[2020-06-28 11:07] Technoboy- commented on #852
If @Mark-WJQ wanna to do ,leave it to him. Otherwise, I will take it.