[2020-11-08 13:59] TeslaCN commented on #1654
How about add an argument "cleanup" and let users decide whether to clean up or not.

[2020-11-08 14:09] aibowen opened #1697 "A required class was missing while executing org.apache.maven.plugins:maven-enforc er-plugin:1.4:enforce: org/apache/maven/enforcer/rule/api/EnforcerRuleException"
when i compiled the whole project, i got the following error
[code]

[2020-11-08 14:16] TeslaCN commented on #1697
I cannot reproduce this problem in my environment. Consider clearing your local maven repository.

[2020-11-08 14:22] aibowen commented on #1697
I found that this class came from enforcer-api.jar, Is it included after your project is successfully built.

[2020-11-08 14:45] TeslaCN commented on #1697
"enforcer-api.jar" is in my local repository.

[2020-11-09 03:09] kongxiaodong opened #1698 "jobErrorHandlerType 配置LOG ，THROW 为什么效果是一样的，都不会中断作业"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, b

[2020-11-09 06:31] terrymanu commented on #1698
**For English only**, other languages will not accept.

[2020-11-09 06:31] #1698 closed, assigned to nobody

[2020-11-09 13:44] kimmking opened #1702 "Clearify dependencies licenses in cloud-scheduler/cloud-ui/lite-ui release binary"
Clearify dependencies licenses in cloud-scheduler/cloud-ui/lite-ui release binary
- [x] gather and clearify all dependencies
- [x] sync apache-shardingsphere-elasticjob-3.0.0-beta-cloud-scheduler-bin.tar.gz [1]
- [x] sync apache-shardingsphere-elasticjob-3.0.0-beta-cloud-ui-bin.tar.gz [2]
- [x] sync apache-shardingsphere-elasticjob-3.0.0-beta-lite-ui-bin.tar.gz [2]

1. https://github.com/apache/sh

[2020-11-09 14:13] kimmking commented on #1702
======>
======>elasticjob-3.0.0-beta-cloud-ui-bin.tar.gz

HikariCP-java7-2.4.13.jar
aspectjweaver-1.8.14.jar
audience-annotations-0.5.0.jar
checker-qual-2.11.1.jar
commons-codec-1.10.jar
commons-collections4-4.4.jar
commons-dbcp-1.4.jar
commons-dbcp2-2.2.0.jar
commons-exec-1.3.jar
commons-lang-2.6.jar
commons-lang3-3.4.jar
commons-logging-1.2.jar
commons-pool-1.6.jar
commons-pool2-2.4.3.jar
curato

[2020-11-09 14:19] kimmking commented on #1702
There are some additional jars beyong ShardingShere Proxy:

aspectjweaver-1.8.14.jar
h2-1.4.196.jar
mchange-commons-java-0.2.15.jar
openjpa-3.1.2.jar
quartz-2.3.2.jar
serp-1.15.1.jar
xbean-asm8-shaded-4.17.jar

fenzo-core-0.11.1.jar
mesos-1.1.0.jar

[2020-11-10 09:46] #1702 closed, assigned to kimmking

[2020-11-10 12:33] #1696 closed, assigned to nobody

[2020-11-10 13:04] TeslaCN opened #1705 "Testcases of HttpJobExecutor may failed"
## Bug Report

Ref: https://github.com/apache/shardingsphere-elasticjob/runs/1378979975

[code]

[2020-11-11 01:25] TeslaCN opened #1706 "Update documents and examples of Spring Boot Starter"
## Documents & Examples

#1703 has been merged. `@DependsOn` should be removed from documents and examples.

[2020-11-11 08:13] gzdzss commented on #1706
I want to do this.

[2020-11-11 08:13] TeslaCN commented on #1706
OK! Thanks for you help!

[2020-11-11 08:29] TeslaCN opened #1707 "Consider unify Netty version by dependencyManagement"
## Dependencies

3 versions of Netty were introduced in project. It's better to unify the version of Netty.

[code]

[2020-11-11 15:10] #1706 closed, assigned to nobody

[2020-11-11 15:13] #1707 closed, assigned to TeslaCN

[2020-11-12 04:54] TeslaCN opened #1712 "Resource leak may occurred in RestfulService"
## Bug Report

[code]

[2020-11-12 08:46] huayhuy opened #1714 "cloud version issues"
Hello, when I was deploying the cloud version, the service node kept printing "elastic job: xxx has leadership". There were about 30 logs per second, and it could not be accessed through 8899. I don't know why this happens. Could you please help me?

Cheers,
Hua

[2020-11-12 08:54] TeslaCN commented on #1714
Cloud required mesos library. Ref https://mesos.apache.org/documentation/latest/building/

If you are going to run cloud scheduler in IDE, you may need to set the following properties:
https://github.com/apache/shardingsphere-elasticjob/blob/3b88d317f3fd52b0a68b1ebddbfe0b3ad1a45568/elasticjob-distribution/elasticjob-cloud-scheduler-distribution/src/main/resources/bin/start.sh#L26

[2020-11-12 09:08] huayhuy commented on #1714
我是在linux服务器上部署的scheduler，并且在启动之前已经启动mesos了，并且mesos可以确认启动成功。这个问题给我的感觉是服务注册失败，但是没有任何报错信息，只会打印"elastic job:xxx has leadership"这一条日志，并且是以每分钟二十多条的速度。

[2020-11-12 09:22] TeslaCN commented on #1714
Have you install mesos library into library path? such as `/usr/local/lib:/usr/lib:/usr/lib64`

For instance, my mesos lib is under `/usr/local/lib/libmesos.so`, and I run cloud scheduler with `-Djava.library.path=/usr/local/lib`.

logs:
[code]

[2020-11-12 09:26] TeslaCN opened #1715 "Configuration for flatten-maven-plugin is incorrect in examples"
## Bug Report

The flatten-maven-plugin in examples is put into pluginManagement, which should be placed under `<plugins>` instead of `<pluginManagement>`.

[2020-11-12 09:32] gzdzss opened #1716 "Update example version"
3.0.0-beta-SNAPSHOT  **->**  3.0.0-RC1-SNAPSHOT

[2020-11-12 09:38] ZHZstruggle commented on #1715
please assigned to me

[2020-11-13 02:14] huayhuy commented on #1714
我按照你推荐的方法重新安装了一下，结果还是一样的。
我的mesos是安装在docker上的，我不知道和这个是否有关系。
[INFO ] 2020-11-13 10:10:35,529 --Curator-LeaderSelector-0-- [org.apache.shardingsphere.elasticjob.reg.zookeeper.ZookeeperElectionService] Elastic job: 10.11.0.182:8899 has leadership
[INFO ] 2020-11-13 10:10:35,532 --Curator-LeaderSelector-0-- [org.apache.shardingsphere.elasticjob.reg.zookeeper.ZookeeperElectionService] Elastic job: 10.1

[2020-11-13 02:22] TeslaCN commented on #1714
Take a look at the top of the logs. Is there any log about failed to load Mesos library like the following?
[code]
![image](https://user-images.githubusercontent.com/20503072/99020687-1b692900-259a-11eb-945d-570f86519a63.png)

[2020-11-13 02:59] huayhuy commented on #1714
没有。
因为我是在liunx下启动的，我只能看到log和error log，errorlog并没有内容，log中只有
--Curator-LeaderSelector-0-- [org.apache.shardingsphere.elasticjob.reg.zookeeper.ZookeeperElectionService] Elastic job: 10.11.0.182:8899 has leadership

[2020-11-13 03:02] huayhuy commented on #1714
JAVA_OPTS=" -Djava.awt.headless=true -Djava.net.preferIPv4Stack=true -Djava.library.path=/home/mesos/lib"
以上是我脚本的部分内容，我的libmesos.so文件在/home/mesos/lib，请问我这样修改对吗

[2020-11-13 03:22] TeslaCN commented on #1714
For English only.

Mesos error log is printed to stderr. You can run `bin/start.sh 1> /dev/null` to check if it failed to load Mesos library.

![image](https://user-images.githubusercontent.com/20503072/99024846-6ab35780-25a2-11eb-850f-98f2c53e4114.png)

![image](https://user-images.githubusercontent.com/20503072/99023892-8289dc00-25a0-11eb-843e-fc7313666138.png)

[2020-11-13 07:07] johnny2002 opened #1720 "Customize the JobInstance"
## Feature Request

For some reason, we need to customize the JobInstance ID, so that we can assign specific shard number to specific JobInstance.

And as I found in JobInstance.java, the JobInstance ID is fixed to IP concate with JVM name. The code as following:

[code]

### Is your feature request related to a problem?
Yes, I cannot identify JobInstance in JobShardingStrategy
### Describe the fe

[2020-11-13 07:13] TeslaCN commented on #1720
You may submit a PR if you are interest in.

[2020-11-13 07:14] johnny2002 commented on #1720
Detail reason for we need this feathure:

We have a large system with large data, so we have to use unitized architecture.
So one job instance in specific unit can only execute specific sharding data.
e.g.
JobInstance-unit1 can only handle data sharding No.1
JobInstance-unit2 can only handle data sharding No.2
and so on

[2020-11-13 07:14] johnny2002 commented on #1720
That's a good idea, I am doing it now

[2020-11-13 09:05] #1716 closed, assigned to nobody

[2020-11-14 09:12] #1715 closed, assigned to ZHZstruggle

[2020-11-15 02:51] #1712 closed, assigned to nobody

[2020-11-15 05:03] terrymanu commented on #1720
@johnny2002 Hi, thank you for the suggestion.
I want discuss further.
Job instance id is internal impl in elastic  job which user should not focus on them.
It is not a good idea to expose lots of internal impl to special reason.

Can you consider about reuse the job sharding strategy to rebalance your sub-job?

[2020-11-15 12:16] johnny2002 commented on #1720
H Terry,

Of course I want to use my own sharding strategy to assign sub-job, while, the job strategy api passed in a list of instances, I need to exactly identify the jobinstance, so that I can assign corresponding sub-job to correct jobInstance. In my application, JobInstances are not equivalent.  **Each jobinstance only has the resource to handle 1 or 2 specific sub-jobs.** e.g. JobInstance fro

[2020-11-15 12:20] johnny2002 commented on #1720
Here is my sample strategy :
[code]

[2020-11-15 13:01] terrymanu commented on #1720
Can you use jobParameter to recognize your customized sharding logic?

[2020-11-15 13:09] TeslaCN commented on #1720
As you said that your system is partition architecture, why not treat them as different jobs?

[2020-11-15 13:27] johnny2002 commented on #1720
Hi Terry,
My problem is cannot identify JobInstnaces. **Update on 2020-11-16: Sorry, I found this design not work, please ignore it.**
~~If you don't like to change the jobinstance id, I have another graceful way like:
Pass all System Properties that name starts with "elasticjob." into JobInstance.
Sample code:~~
[code]
~~Then we can identify JobInstance through JobInstance.properties~~

[2020-11-15 13:28] johnny2002 commented on #1720
@terrymanu
jobParameter can only identify sub-job, NOT jobInstance or job executor.

[2020-11-15 13:30] johnny2002 commented on #1720
Then there will be 1000 jobs need to config one by one. and also hard to monitor.

[2020-11-15 13:45] TeslaCN commented on #1720
I don't quite understand your scenarios. Maybe you can just configure different job names while keeping other configuration consistent. I think configuring 1000 job names is as simple as configuring 1000 job instance id. Coorperating with Tracing module, you can immediately locate the problem by job name if any partition failed.

[2020-11-15 14:57] TeslaCN commented on #1705
I run the testcase `assertProcessWithIOException` repeatly until failure, and I found there was a very little probability that the expected `JobExecutionException` wasn't thrown. In this testcase, HTTP connection timeout and read timeout are both 1 millis while handler sleep 3 millis. Maybe the delay of server and client are too similar to ensure timeout will occur.

[2020-11-16 00:56] johnny2002 commented on #1720
32 job names by 32 instance names, that's 1024 Job Instances, compare to configure 1024 job names, do you think which is simpler?

Another protential problem is that if we seperate one job to many jobs, then the configuration may be inconsistent.

Even though We can configure 1000 job names, we still need to distinguish main and backup job instance.
Our complete sharding strategy is that:
Firstly,

[2020-11-16 07:27] terrymanu commented on #1720
This feature request is support static job assigned in ElasticJob which is not permit sub-jobs rebalance even job server crashed.
It is an interesting features. Open a SPI to permit user customize job instance id is good, but it is not enough, user still need to customize job sharding strategy.
Can we discuss the design to make a smart API to let user can use `static` ElasticJob?

[2020-11-16 08:58] johnny2002 commented on #1720
not exactly. we have jobinstances pair to backup each other.
Our complete sharding strategy sample:
JobInstance1 and JobInstance2 backup each other.
For sub-job1, firstly assign to instance1(main), if job instance1 crashed, then assign to instance2(backup)
For sub-job2, firstly assign to instance2(main), if job instance2 crashed, then assign to instance1(backup)

[2020-11-16 09:00] TeslaCN commented on #1720
What if 1 and 2 are both crashed?

[2020-11-16 11:05] johnny2002 commented on #1720
Banking system usually has 3 data centers which located in 2 cities. Instance1 and Instance2 are located in 2 different centers, so very very low possibility for both crashed.  If both crashed, then we will start to use center3.

[2020-11-16 13:36] terrymanu commented on #1720
What I mean is we need to design a whole way to provide a project, not for patch only.
Customized job instance id and sharding strategy together is not good for common user.

[2020-11-16 13:54] johnny2002 commented on #1720
A graceful way is to add some customizable attributes in JobInstance, like group, tag, etc. then put them in Zookeeper. Like Dubbo service does. e.g.
[code]

[2020-11-16 15:29] TeslaCN commented on #1622
The branch [TeslaCN/fix-1622](https://github.com/TeslaCN/shardingsphere-elasticjob/tree/fixes-1622) is base on configuring job error handler by JobExtraConfiguration. Since https://github.com/apache/shardingsphere-elasticjob/pull/1626 has already revert the way to configure job error handler, I think we can further discuss this issue and do this in a future version.

[2020-11-18 04:30] #1705 closed, assigned to TeslaCN

[2020-11-18 09:16] shuohao opened #1724 "all SimpleJob executed on the same machine"
I have 3 node machine and several SimpleJobs, Each job has a shard，These jobs are triggered almost at the same time. and found that these jobs are all executed on the same machine, This will cause too much load and oom, Is there a way to dynamically adjust the load？
English is not good, only machine translation

[2020-11-18 09:22] TeslaCN commented on #1724
You may try a different `jobShardingStrategyType` or implement your own `JobShardingStrategy`.

Ref: https://shardingsphere.apache.org/elasticjob/current/en/user-manual/elasticjob-lite/configuration/built-in-strategy/sharding/

[2020-11-18 10:34] shuohao commented on #1724
3q

[2020-11-18 10:34] #1724 closed, assigned to nobody

[2020-11-18 12:35] caojingui commented on #1445
I have used it in my work this way。 I'm glad to make contributes to the community.

[2020-11-18 12:38] TeslaCN commented on #1445
Welcome! You may post you design in this issue and we can discuss it further.

[2020-11-18 13:15] caojingui commented on #1445
### simpleJob annotion definition

[code]

### deal with BeanDefinitionRegistryPostProcessor

[code]
### config  and use

[code]

[code]

### other
1. like this, defined @ScriptJob  @DataflowJob
2. with spring Import  we can defined @EnableElasticJob  to replace config the ElasticJobScannerConfigurer

[2020-11-18 13:25] TeslaCN commented on #1445
I think define an annotation for specific job type may not conducive to extension, each new job type is need to create a corresponding annotation. Maybe we can define a generic annotation, such as `@ElasticJob` which I propose in issue #970, and we need a better naming.

[2020-11-19 01:52] caojingui commented on #1445
👍  define a generic annotation, then we can get the jobType from the bean class, and auto registry the specific job type

[2020-11-19 02:09] johnny2002 commented on #1688
What is the detail requirement, I may contribute on it

[2020-11-19 02:28] johnny2002 commented on #1688
If you just want to specify the timezone, does jvm parameter "--Duser.timezone=GMT+08" work for you？

[2020-11-19 02:37] hzy1992 commented on #1688
I want to set the job's timezone when i creating it

[2020-11-19 02:45] johnny2002 commented on #1688
Then you may try to add a timezone parameter when starting up the job app like "-Duser.timezone=Asia/Shanghai"

[2020-11-19 03:28] kaihekaihe opened #1725 "how is “failover” properly setted to the executionSource，the property of the JobExecutionEvent."
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2020-11-19 14:23] TeslaCN opened #1726 "maven-release-plugin and flatten-maven-plugin cannot work together very well"
## Bug Report

`flatten-maven-plugin` was introduced by @lovepoem in #1672. It replaced project version with placeholder to manage project version uniformly. But `maven-release-plugin` replaced placeholder in project version with specific version again. So we need to find a way to make `maven-release-plugin` and `flatten-maven-plugin` work together.

[2020-11-20 01:26] lovepoem commented on #1726
I think this issue should appear in the release process operated by the  release manager. I will have a look

[2020-11-21 10:18] gzdzss opened #1728 "Increase testcases' coverage of module elasticjob-lite-spring-boot-starter"
<img width="1186" alt="截屏2020-11-21 下午6 07 48" src="https://user-images.githubusercontent.com/41991766/99874857-e8700680-2c25-11eb-8f03-aa525dcaf5e4.png">

[2020-11-23 02:13] #1728 closed, assigned to gzdzss

[2020-11-24 02:06] lixiongliang opened #1731 "Task meta-information Management"
## Question

Task metadata, each time the container environment is re-published, metadata information remains in ZooKeeper; As a result, many tasks can be seen in the Console, which is difficult to find manual trigger. I hope it can provide a mechanism to automatically delete the history of useless meta information after the restart

[2020-11-24 09:12] TeslaCN commented on #1731
Could you clarify which meta information is useless?

[2020-11-24 09:17] TeslaCN commented on #1725
Thanks for your feedback. The current way to trigger failover shard does lead to this issue. We can further discuss it if you are interested in.

[2020-11-24 11:01] vsover commented on #1039
try jvm args add "-Djava.net.preferIPv4Stack=true"

[2020-11-25 03:30] TeslaCN opened #1732 "SnapshotService will be unavailable in specific situation"
## Bug Report

### Steps to reproduce the behavior.
Try dumping a job exists in current namespace but not scheduled by the process which runs the SnapshotService.

### Actual behavior

[code]

After that, the SnapshotService will be unavailable.

[2020-11-27 02:38] #1732 closed, assigned to TeslaCN

[2020-11-27 03:45] TeslaCN opened #1737 "Cloud testcase may failed"
## Bug Report

**The probability is very small.**

### Actual behavior

[code]

### Steps to reproduce the behavior.
Just run `mvn install`

[2020-11-28 04:24] #1544 closed, assigned to TeslaCN

[2020-11-28 08:57] TeslaCN opened #1739 "Override close method for implementations of JobErrorHandler"
## Enhancement

Since #1735 has been merged, the following classes should override close method:
- [x] DingtalkJobErrorHandler
- [x] WechatJobErrorHandler

Shutdown hook should be refactor into close method.

[2020-11-28 09:00] HombioChan commented on #1739
I can do it.

[2020-11-29 02:29] #1739 closed, assigned to HombioChan

[2020-11-29 05:40] TeslaCN commented on #1737
I found something from https://github.com/mockito/mockito/wiki/FAQ#is-mockito-thread-safe

[2020-11-29 09:17] johnny2002 opened #1742 "Tracing Module may be unavailable if overwrite is false in 3.0.0-beta"
## Bug Report
I use elasticjob with spring-boot, datasource config correctly, while I cannot get any job trace data and job history data.

### Which version of ElasticJob did you use?
3.0.0-beta

### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?
ElasticJob-Lite

### Expected behavior
Can see job trance and history in ui console at: http://localhost:8088/#/history-trace

### Actua

[2020-11-29 09:41] TeslaCN commented on #1742
Have you specify the tracing type "RDB"?

[2020-11-29 09:51] johnny2002 commented on #1742
Do you mean this?
[code]

[2020-11-29 09:55] TeslaCN commented on #1742
The current job trace page requires jobName parameter to search job.

[2020-11-29 09:59] johnny2002 commented on #1742
1. I can't see any data in database.
2. I can see the sql on console:  SELECT t0.id, t0.complete_time, t0.execution_source, t0.failure_cause, t0.hostname, t0.ip, t0.is_success, t0.job_name, t0.sharding_item, t0.start_time, t0.task_id FROM JOB_EXECUTION_LOG t0 WHERE (t0.ip = ? AND t0.job_name = ?) LIMIT ? [params=?, ?, ?]

[2020-11-29 14:30] TeslaCN commented on #1742
I'm not familiar with H2 database. But I tried the SpringBoot example and connecting to my local MySQL instance, tracing module works fine.

[2020-11-30 01:23] johnny2002 commented on #1742
I also tried mysql, unforunately, neigther work.
Which version are you using? 3.0.0-beta or SNAPSHOT?

[2020-11-30 01:26] TeslaCN commented on #1742
I tried it on the latest master branch.

[2020-11-30 01:31] johnny2002 commented on #1742
I am using 3.0.0-beta, so, let me try master branch later.

[2020-11-30 02:00] TeslaCN commented on #1742
Thanks for your feedback, it is a bug. If the option `overwrite` is false, the extraConfiguration will lost.

[2020-11-30 08:24] johnny2002 commented on #1742
Yes, As I tested, only xxxNoticeYyyJob has jobConfig.getExtraConfigurations(), other jobs like SimpleJob or ScriptJob, jobConfig.getExtraConfigurations() return empty set.

[2020-11-30 09:13] skddyj opened #1743 "spring boot can not 'org.apache.shardingsphere.elasticjob.api.ShardingContext' bean"
i'm using springboot 2.1.7 and elasticjob-lite-spring-boot-starter 3.0.0 beta, i've configued by [USER MANUAL](https://shardingsphere.apache.org/elasticjob/current/en/user-manual/elasticjob-lite/configuration/spring-boot-starter/) , when i start my project it show that:
![image](https://user-images.githubusercontent.com/13520699/100590260-1d1f4480-332f-11eb-9b96-2b89e449318e.png)

it seems like th

[2020-11-30 09:16] TeslaCN commented on #1743
ShardingContext is not a bean. Could you show me your code?

[2020-11-30 09:31] skddyj commented on #1743
i've reboot my computer and cleaned my project just now, and the error is gone :( , thanks for your reply!

[2020-11-30 09:32] #1743 closed, assigned to nobody

[2020-11-30 11:19] TeslaCN opened #1744 "Consider persisting JobExtraConfiguration to registry center"
## Bug & Enhancement

JobExtraConfiguration is defined in JobConfiguration, but is not persisted into registry center. If job configuration was existed in registry center and the option `overwrite` is false, the instance of JobConfiguration created by local will be replaced with a JobConfiguration which is deserialized from registry center and missing JobExtraConfigurations.

### Related Problems

[2020-11-30 11:42] johnny2002 commented on #1720
Hi Team,

How is the conclusion? Suggest to add group property to JobInstance.

[2020-12-01 01:26] PANIXS opened #1745 "Job conflict with register center"
## Bug Report
I write a job in springboot, first time,it started success, but when i restart, it cant start, the exception is

rg.apache.shardingsphere.elasticjob.infra.exception.JobConfigurationException: Job conflict with register center. The job 'tyydHistoryJob' in register center's class is 'com.qx.job.jobs.tyyd.QueryFlowHistory$$EnhancerBySpringCGLIB$$d7a64376', your job class is 'com.qx.job.

[2020-12-01 01:35] TeslaCN commented on #1745
Thanks for your feedback, we will fix it as soon as possible.

[2020-12-01 02:11] PANIXS commented on #1745
I tried the 3.0.0-alpha version and use new namespace,and still has this problem

[2020-12-01 02:17] TeslaCN commented on #1745
This problem does exist. A JobClassNameProvider for class enhanced by Cglib should be introduced into Spring Boot Starter.

[2020-12-01 02:49] PANIXS commented on #1745
ok,thank you,may i ask how long can you guys fix this bug

[2020-12-01 02:57] TeslaCN commented on #1745
I'm not sure about this. We may release next version in this month. Are you interested in fixing this issue?

[2020-12-01 03:50] PANIXS commented on #1745
this problem looks already resolved,i found a SpringProxyJobClassNameProvider in the code, but my package is from mvnrepository.com, it just not update to it

[2020-12-01 04:09] #1737 closed, assigned to TeslaCN

[2020-12-01 06:03] #1745 closed, assigned to nobody

[2020-12-01 14:49] TeslaCN commented on #1714
Hello @huayhuy ,
Have you solved your problem?

[2020-12-01 14:53] TeslaCN commented on #1720
There is no conclusion yet. Fixing bugs is the first we need to do.

[2020-12-01 15:19] TeslaCN opened #1746 "Investigate resource leak in restful module"
## Investigation

Run test `org.apache.shardingsphere.elasticjob.cloud.console.controller.CloudJobControllerTest` repeatly with JVM option ` -Dio.netty.leakDetectionLevel=advanced`.

[code]

[2020-12-01 15:28] HombioChan commented on #1746
Let me have a try.

[2020-12-01 15:30] TeslaCN commented on #1746
Thanks for your participation.

[2020-12-01 15:37] TeslaCN commented on #1697
Hello @aibowen,
Have you solved your problem?

[2020-12-02 02:23] aibowen commented on #1697
It has not been resolved. I cannot upload to the private warehouse after executing the packaging command.
----- 原始邮件 -----
发件人：吴伟杰 <notifications@github.com>
收件人：apache/shardingsphere-elasticjob <shardingsphere-elasticjob@noreply.github.com>
抄送人：aibowen <bowen_job@sina.com>,  Mention <mention@noreply.github.com>
主题：Re: [apache/shardingsphere-elasticjob] A required class was missing while executing

[2020-12-02 02:26] TeslaCN commented on #1697
What's your maven version?

[2020-12-02 02:49] aibowen commented on #1697
3.6.3
----- 原始邮件 -----
发件人：吴伟杰 <notifications@github.com>
收件人：apache/shardingsphere-elasticjob <shardingsphere-elasticjob@noreply.github.com>
抄送人：aibowen <bowen_job@sina.com>,  Mention <mention@noreply.github.com>
主题：Re: [apache/shardingsphere-elasticjob] A required class was missing while executing org.apache.maven.plugins:maven-enforc er-plugin:1.4:enforce: org/apache/maven/enforcer/rule/api/Enf

[2020-12-02 06:58] kaihekaihe opened #1748 "Question about failover"
![image](https://user-images.githubusercontent.com/52127183/100839071-92655380-34ae-11eb-9341-b7ecbbf696f9.png)

when are the failoverItems not empty and program will go to code at line between 81 and 84

[2020-12-02 09:20] QiAnXinCodeSafe opened #1750 "There is a vulnerability in Apache Mesos 1.1.0 ,upgrade recommended"
https://github.com/apache/shardingsphere-elasticjob/blob/ed330549b5983dafd15bd64320449212df76e204/pom.xml#L65

CVE-2017-7687 CVE-2017-9790 CVE-2018-8023
Recommended upgrade version：
1.4.3

[2020-12-02 09:48] kaihekaihe opened #1751 "Does failover work depending on opening monitor_execution?"
Does failover work depending on opening monitor_execution? I did not find the code of failover process depending on opening monitor_execution.

[2020-12-02 10:10] Technoboy- opened #1752 "Minor updates for restful"
1. Use LinkedList
[code]

2. Change method from to
[code]
3. Simplify codes, remove get
[code]
4. Change the return type to Optional
[code]

[2020-12-02 10:39] #1752 closed, assigned to Technoboy-

[2020-12-02 10:53] TeslaCN commented on #1751
No, it doesn't. Even `monitorExecution` is false, the feature failover still works.

[2020-12-02 12:11] kaihekaihe opened #1754 "One sharding item is stuck"
I have one job named “cronJob” running on two servers。I found that three sharding items was stuck at the moment，I manually triggered the job，then sharding item 0、2 started to run as the cron principle，but sharding item 1 was still stuck。The dumped information is below：

/cronJob/sharding |
/cronJob/sharding/2 |
/cronJob/sharding/2/running |
/cronJob/sharding/2/instance | ip1@-@102156
/cronJob/shar

[2020-12-02 12:25] kaihekaihe commented on #1751
![image](https://user-images.githubusercontent.com/52127183/100871593-7c21bc80-34db-11eb-8e23-a03ae059677e.png)

I found this and have doubt about this。Maybe the document shoud be updated？

[2020-12-02 13:00] TeslaCN commented on #1751
Thanks for your feedback! The document does need to be updated. You may submit a PR if you are interested in, or we will update it later.

[2020-12-02 13:15] TeslaCN opened #1755 "Log actual listen port when set port 0 in SnapshotService"
## Enhancement

Set port 0 as listen port means let system determine which port to use. It should log the actual port rather than 0.
[code]

[code]

[2020-12-02 15:10] TeslaCN commented on #1754
I cannot reproduce this problem in my environment. Try setting the `maxTimeDiffSeconds` to `1` to check if servers' time are equivalent.

[2020-12-02 15:46] TeslaCN commented on #1697
The problem you asked at first does it resolved? Does `mvn install` runs properly?

[2020-12-02 21:08] aibowen commented on #1697
I run it crrectly
----- 原始邮件 -----
发件人：吴伟杰 <notifications@github.com>
收件人：apache/shardingsphere-elasticjob <shardingsphere-elasticjob@noreply.github.com>
抄送人：aibowen <bowen_job@sina.com>,  Mention <mention@noreply.github.com>
主题：Re: [apache/shardingsphere-elasticjob] A required class was missing while executing org.apache.maven.plugins:maven-enforc er-plugin:1.4:enforce: org/apache/maven/enforcer/

[2020-12-03 03:18] kdYY commented on #1755
please assigened to me

[2020-12-03 03:20] TeslaCN commented on #1755
@kdYY Thanks for your participation!

[2020-12-03 07:16] #1755 closed, assigned to kdYY

[2020-12-03 07:26] TeslaCN opened #1757 "Add support for Filter in Restful module"
## Feature Request

Add support for filter chain in module elasticjob-restful to support features such as authentication.

- [x] Bind HTTP response lifecycle to request scope
- [ ] Add support for filter chain

[2020-12-03 07:35] TeslaCN commented on #1697
`mvn install` runs properly means this issue is done. If you have other problems related with elasticjob cannot find a solution, you may open another issue.

[2020-12-03 07:35] #1697 closed, assigned to nobody

[2020-12-03 07:37] TeslaCN commented on #1714
No feedback from author.

[2020-12-03 07:37] #1714 closed, assigned to nobody

[2020-12-03 07:39] TeslaCN commented on #1731
No response from author.

[2020-12-03 07:39] #1731 closed, assigned to nobody

[2020-12-03 14:22] HombioChan commented on #1746
[code]
When i add `ReferenceCountUtil.release(httpRequest.content())` after line 102 in `HandlerParameterDecoder`, the  problem is solved. So I guess ,  the line 102 code tigger the gc while the refCnt is keeped, which results in the problem of `ByteBuf.release() was not called before it's garbage-collected`.

Based on my guess, i give two solutions.
1. add `ReferenceCountUtil.release(httpRequest.

[2020-12-04 03:51] #1757 closed, assigned to TeslaCN

[2020-12-04 06:51] avalon5666 opened #1761 "Refactor elasticjob cloud and support elasticjob cloud on kubernetes"
In order to making elasticjob cloud easier to deploy, I intend to support elasticjob cloud to work on kubernetes.

The task is as follows:

* [ ] The communication between master and work is independent of mesos
  * [ ] Define communication api based on event bus
  * [ ] Implementation of communication api based on mesos
  * [ ] Implementation of communication api based on zookeeper
* [ ] The task

[2020-12-04 07:08] avalon5666 commented on #1761
#1690

[2020-12-04 08:46] kaihekaihe commented on #1754
Setting the maxTimeDiffSeconds to 1 ,I need to restart the executor.But after the restarting,the problem may be gone and the environment will be destroyed.

[2020-12-04 08:52] TeslaCN commented on #1754
Could you check if servers' time are consistent.

[2020-12-04 09:35] Technoboy- commented on #1742
@johnny2002 Could you leave your email here or on your GitHub page?

[2020-12-04 09:45] terrymanu commented on #1761
Because ElasticJob Cloud is a mesos framework which depend mesos API, we need to decouple them first. Is it in the plan?

[2020-12-04 09:48] gzdzss commented on #1751
I'll try

[2020-12-04 09:50] Technoboy- commented on #1746
Could you help to make a pr for this ?

[2020-12-04 10:09] avalon5666 commented on #1761
Yes, I will finish 1.1, 1.2, 2.1, 2.2 first.

[2020-12-04 10:11] terrymanu commented on #1761
It is a good idea

[2020-12-05 13:50] zewade opened #1765 "Is the elasticjob-lite 3.0.0-beta compatible with spring boot 2.1.1?"
## Question

Hello。My project use the elastic-job-lite v2.1.5 with spring boot 2.1.1.RELEASE, can I update elastic job lite to v3.0.0-beta without update the spring boot version?

[2020-12-05 14:07] TeslaCN commented on #1765
You can keep using Spring Boot 2.1.1.

[2020-12-09 13:54] TeslaCN commented on #1744
I have worked on this issue for sereral days and I found some problems.
For example, `TracingConfiguration` is an implementation of `JobExtraConfiguration`, its constructor requires an instance of `DataSource`. If we want to persist `JobExtraConfiguration` to registry center, we have to marshal / unmarshal the instance of `DataSource`.
I have implemented a `Represent` and `Construct` to marshal /

[2020-12-10 01:44] jackycchen opened #1767 "YamlEngine function dumpAsMap data format incompatible"
## Feature Request
### Is your feature request related to a problem?
Code location: YamlEngine.java#marshal
`public static String marshal(final Object value) {
        return new Yaml(new ElasticJobYamlRepresenter()).dumpAsMap(value);
    }`
The function dumpAsMap detail is :
`public String dumpAsMap(Object data) {
        return this.dumpAs(data, Tag.MAP, FlowStyle.BLOCK);
    }`

Problem is **da

[2020-12-10 01:56] TeslaCN commented on #1767
The API has already changed in `3.0.0`. It's still incompatible with 2.x even if using a same format to marshal/unmarshal configuration.

[2020-12-10 03:39] TeslaCN commented on #1765
I'm closing this issue. You may open a new issue if you have other questions.

[2020-12-10 03:39] #1765 closed, assigned to nobody

[2020-12-10 08:42] namelcx opened #1768 "请问elasticjob-example-lite-springboot 如何启动"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, b

[2020-12-10 09:08] horizonzy opened #1769 "How can I get the stable version in public maven repository."
## Question

I want to repalce dangdang's release by apache.
But in the mvn repository, I just found `3.0.0-beta` and `3.0.0-alpha`, how can I get stable version of this.
https://mvnrepository.com/artifact/org.apache.shardingsphere.elasticjob/elasticjob-lite-core

[2020-12-10 09:41] TeslaCN commented on #1769
The latest version is `3.0.0-beta`. Stable version is coming soon.

[2020-12-10 09:43] TeslaCN commented on #1768
**For English only!**

[2020-12-10 09:43] #1768 closed, assigned to nobody

[2020-12-10 09:48] horizonzy commented on #1769
Why not upload this release to mvn repository? any defect？
https://github.com/apache/shardingsphere-elasticjob/releases/tag/2.1.5

[2020-12-10 09:48] #1767 closed, assigned to nobody

[2020-12-10 09:51] TeslaCN commented on #1769
The earlier version can be found here: https://mvnrepository.com/artifact/com.dangdang/elastic-job-lite-core/2.1.5

[2020-12-10 10:01] namelcx opened #1770 "how can i start elasticjob-example-lite-springboot"
i have use maven to install whole project,but now i don't know how to start the example,
e,g the elasticjob-example-lite-springboot
help me

[2020-12-10 10:10] horizonzy commented on #1769
It's dangdang's release, wait apache next  release, the new version already upgrade curator's version to 4.x?
The `2.1.5` use old version curator, some project already use 4.x. the curator's high version and low version is incompatible.

[2020-12-10 12:38] TeslaCN commented on #1769
The curator has been upgraded to 5.1.0 in `3.0.0-beta`.

[2020-12-10 13:03] horizonzy commented on #1769
ok. Look forward to next release.

[2020-12-10 13:35] #1769 closed, assigned to nobody

[2020-12-10 13:48] TeslaCN commented on #1770
Just start `org.apache.shardingsphere.elasticjob.lite.example.SpringBootMain#main`.

[2020-12-12 14:30] #1744 closed, assigned to TeslaCN

[2020-12-13 04:32] TeslaCN opened #1772 "Upgrade dependency commons-dbcp to commons-dbcp2"
## Enhancement

The current version `3.0.0` require Java 8, we can also upgrade commons-dbcp to commons-dbcp2.

[2020-12-13 06:45] TeslaCN opened #1773 "Create some POJOs to avoid (un)marshal TracingConfiguration directly"
## Refactor

For serialization, #1771 temporarily add no arg contructor into the following classes:
- org.apache.shardingsphere.elasticjob.tracing.api.TracingConfiguration
- org.apache.shardingsphere.elasticjob.tracing.rdb.datasource.DataSourceConfiguration

I'm going to create some POJOs for serialization to restore the API.

[2020-12-13 08:06] #1770 closed, assigned to nobody

[2020-12-15 07:50] #1773 closed, assigned to TeslaCN

[2020-12-15 11:31] #1742 closed, assigned to TeslaCN

[2020-12-15 12:24] TeslaCN opened #1776 "Testcase TaskResultStatisticJobTest#assertExecute may fail"
## Bug Report

Ref: https://github.com/apache/shardingsphere-elasticjob/runs/1555591106

[code]

[2020-12-16 00:48] TeslaCN commented on #1776
I run this testcase repeatly and I found memory leak occurred.

![image](https://user-images.githubusercontent.com/20503072/102290184-70260800-3f7b-11eb-8040-c4a8e05e9031.png)

![image](https://user-images.githubusercontent.com/20503072/102290125-4ec51c00-3f7b-11eb-86c9-f03ac8de6848.png)

[2020-12-16 02:31] kaihekaihe opened #1777 "Feature failover works after zk session timeout，How to decrease consuming time of the process。"
I know decreasing zk session timeout can work.

Decreasing the inteval of reconcile service do not work, because it also depends on the zk session timeout. Am i right?

[2020-12-16 03:27] TeslaCN commented on #1777
`ReconcileService` works on situation that doesn't need sharding but some shards belongs to offline servers. The probability of that situation is very small.

[2020-12-16 03:29] TeslaCN commented on #1754
Hi @kaihekaihe ,

Have you solved the problem?

[2020-12-16 03:34] kaihekaihe commented on #1754
Two servers,ip1 and ip2. their time are consistent.Differrence is less than 1 second.
I have not solved the problem

[2020-12-16 03:44] TeslaCN commented on #1754
Do you know how to reproduce it?

[2020-12-16 05:49] NotEdibleSalt opened #1779 "Zookeeper connection failed"
## 依赖
		<dependency>
			<groupId>org.apache.shardingsphere.elasticjob</groupId>
			<artifactId>elasticjob-lite-spring-boot-starter</artifactId>
			<version>3.0.0-alpha</version>
		</dependency>

## zookeeper version
3.6.2
## Exception description
![图片](https://user-images.githubusercontent.com/52400896/102310197-7cbf5600-3fa5-11eb-9015-9da0751a61d2.png)

`org.apache.zookeeper.ClientCnxn$EndOfStrea

[2020-12-16 06:00] TeslaCN commented on #1779
Make sure your Zookeeper cluster is available. Consider specifying `connectionTimeout` and other parameters.

[2020-12-16 06:01] #1772 closed, assigned to TeslaCN

[2020-12-16 06:25] NotEdibleSalt commented on #1779
There is no problem with Zookeeper, and the test program to connect to Zookeeper can be connected.

## Zookeeper配置
![图片](https://user-images.githubusercontent.com/52400896/102312856-74b5e500-3faa-11eb-8333-ac9cc34917d1.png)

## yml配置

![图片](https://user-images.githubusercontent.com/52400896/102313072-dd9d5d00-3faa-11eb-858d-bed251502e75.png)

[2020-12-16 08:29] TeslaCN opened #1780 "Complete documents for cloud-scheduler authentication"
## Documents

Describe how to get access token and request APIs with token.

[2020-12-16 09:13] Lucas-307 opened #1781 "Trigger ScheduleJob duplicate execute."
## Bug Report

### Which version of ElasticJob did you use?
3.0.0-beta

### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?
ElasticJob-Lite

### Process
Process1: Create a ScheduleJobBootstrap with corn=0 0 0 1 1 ? 2099, shardingTotalCount=2; and JobOperateAPI.trigger it.
when this two sharding items executing.
Process2: Create the same job and trigger it again.

### Expected behav

[2020-12-16 09:55] lsiuf commented on #1779
elasticjob version: 3.0.0-beta
zookeeper version: 3.6.2
curator version: 5.1.0

I also encountered the same problem, now increase the following configuration value temporarily to solve this problem.
`elasticjob.reg-center.max-retries: 10`

[2020-12-17 00:34] TeslaCN commented on #1781
I've tested 2 cases and cannot reproduce your problem:
1. Start Process2 while Process1 executing 2 shards. The Process2 got stuck because of waiting other shards comlete.
2. Start Process2 after Process1 finished. Reshard happened and each process got a shard. Then Process1 executed shard 1 and Process2 executed shard 2.

[2020-12-17 02:43] kaihekaihe commented on #1754
I need to think how to reproduce.I have another question.
What would maxTimeDifference beteween executor and zk which is very big affect ?

[2020-12-17 02:48] kaihekaihe commented on #1777
According to the code.shards belongs to offline servers can only be found after zk session timeout.

If server is offline,but temprary node does not disappear,ReconcileService can not find the offline server.

[2020-12-17 03:01] TeslaCN commented on #1777
I don't think `ReconcileService` is used for this situation. Normally, when server offline, listener will be aware of offline event and set reshard flag. `ReconcileService` works in extreme cases.

[2020-12-17 03:20] TeslaCN commented on #1754
If time difference exceed max allow, an exception will occur.

[2020-12-17 07:21] #1781 closed, assigned to nobody

[2020-12-21 07:49] kaihekaihe commented on #1754
The cause may be debugging in one executor.

[2020-12-21 09:04] kaihekaihe commented on #1754
Debugging in one executor for about 10 minutes,the procedure will hung while debugging。Then stop debugging，the executor will still run for a period of time，but will stop for unknown cause。There is no exception found。

[2020-12-21 11:15] lizanle521 commented on #1779
i also encontered the same problem .but problem still exist after have  add the configuration elasticjob.reg-center.max-retries: 10

 in yaml file. my test program work correctly
DEBUG] 19:12:12.182 [http-nio-8088-exec-7-SendThread(10.136.143.77:8181)] org.apache.zookeeper.ClientCnxn - Got auth session id: 0x1008aba465105dd
[DEBUG] 19:12:12.182 [http-nio-8088-exec-7-SendThread(10.136.143.77:8181)]

[2020-12-21 13:51] TeslaCN commented on #1754
@kaihekaihe  Could you show me your job logic?

[2020-12-21 13:55] lizanle521 commented on #1779
public class ConfigRegistryCenterFactory {

    private static final Map<HashCode, CoordinatorRegistryCenter> REG_CENTER_REGISTRY = new ConcurrentHashMap<>();

    /**
     * Create a {@link CoordinatorRegistryCenter} or return the existing one if there is one set up with the same {@code connectionString}, {@code namespace} and {@code digest} already.
     *
     * @param connectString registry ce

[2020-12-22 01:50] TeslaCN commented on #1779
This issue seems not our problem. You may Google it or ask on StackOverflow.
I found something may help.
https://blog.csdn.net/dfsgwe1231/article/details/107264264

[2020-12-22 07:27] zhouyutaoz opened #1786 "can not restart,.SchedulerException: The Scheduler cannot be restarted after shutdown() has been called."
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'com.dangdang.ddframe.job.lite.spring.api.SpringJobScheduler#1': Invocation of init method failed; nested exception is com.dangdang.ddframe.job.exception.JobSystemException: org.quartz.SchedulerException: The Scheduler cannot be restarted after shutdown() has been called.

Caused by:
org.quartz.SchedulerExceptio

[2020-12-22 14:21] #1780 closed, assigned to TeslaCN

[2020-12-22 14:46] TeslaCN commented on #1786
Hi @zhouyutaoz
We need to know how to reproduce this problem.

[2020-12-23 07:50] kaihekaihe commented on #1754
My application is just elasticjob examples

[2020-12-25 10:17] jgroups opened #1790 "A start error with log “com.dangdang.ddframe.job.exception.JobSystemException: org.quartz.SchedulerException: The Scheduler has been shutdown.”"
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'com.dangdang.ddframe.job.lite.spring.api.SpringJobScheduler#0': Invocation of init method failed; nested exception is com.dangdang.ddframe.job.exception.JobSystemException: org.quartz.SchedulerException: The Scheduler has been shutdown.
 at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFa

[2020-12-25 10:55] TeslaCN commented on #1790
Hi @jgroups
We need to know how to reproduce this problem.

[2020-12-25 14:08] liujunjia1996 commented on #1779
I meet totally the same problem.how can i fix it?    o(╥﹏╥)o

[2020-12-27 11:18] liujunjia1996 commented on #1779
I finally find the problem. It is my ZK's version too old! my dear company is using 3.5.x !

[2020-12-27 11:24] liujunjia1996 opened #1791 "The spring-boot-starter-jdbc is not optional in ElasticJob Spring Boot Starter"
Must i configure a RDB？

[2020-12-27 12:17] TeslaCN commented on #1791
Tracing module is optional. You could run your jobs without Tracing configuration.

[2020-12-28 01:44] liujunjia1996 commented on #1791
what can i do to close tracing feature.
I read the doc but not found.

[2020-12-28 01:53] TeslaCN commented on #1791
Tracing doesn't enable by default.
If you are using Spring Boot, tracing won't enable if missing `elasticjob.tracing.type=RDB`.

[2020-12-28 02:06] liujunjia1996 commented on #1791
I use the `elasticjob-lite-spring-boot-starter` ,and i true do not configure the `elasticjob.tracing.type`,but i must exclude `spring-boot-starter-jdbc` and `h2` and then my application can run.
this is my pom:

         <dependency>
            <groupId>org.apache.shardingsphere.elasticjob</groupId>
            <artifactId>elasticjob-lite-spring-boot-starter</artifactId>
            <version>3.0.

[2020-12-28 02:15] liujunjia1996 commented on #1791
if don't exclude,i will get this:

***************************
APPLICATION FAILED TO START
***************************

Description:

Failed to configure a DataSource: 'url' attribute is not specified and no embedded datasource could be configured.

Reason: Failed to determine a suitable driver class

Action:

Consider the following:
	If you want an embedded database (H2, HSQL or Derby), please pu

[2020-12-28 02:39] TeslaCN commented on #1791
@qaqLjj I see the problem. Maybe we need to add `<optional>true</optional>` to dependency `spring-boot-starter-jdbc`  in `elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-boot-starter/pom.xml`.

[2020-12-28 02:48] liujunjia1996 commented on #1791
ok,thanks for your patience.

[2020-12-28 02:50] TeslaCN commented on #1791
Hi @qaqLjj
Are you interested in contributing? You may submit a PR to fix this issue.

[2020-12-28 02:59] liujunjia1996 commented on #1791
![image](https://user-images.githubusercontent.com/43411944/103186524-c5f39c00-48fb-11eb-90cb-f85ba2a13446.png)

[2020-12-28 06:35] #1791 closed, assigned to liujunjia1996

[2020-12-28 11:57] TeslaCN commented on #1754
I've tried suspending the application for tens of miniutes, After I resume the program, it reconnected to Zookeeper and continue scheduling.

[2020-12-28 12:38] TeslaCN opened #1794 "Avoid creating unnecessary DataSource instances"
## Enhancement

When using the constructor `org.apache.shardingsphere.elasticjob.tracing.api.TracingConfiguration#TracingConfiguration(java.lang.String, T)`, another instance of DataSource will be created, which is unnecessay because user have already created one.

[code]

[2020-12-29 02:56] #1794 closed, assigned to TeslaCN

[2020-12-29 09:06] zewade opened #1796 "Why elasticjob must be update zookeeper to 3.6.x?"
Dose the elasticjob use some new feature on zookeeer 3.6.x? Because we already use zookeeper 3.5.5 in production env as microservice registry, can I simplely replace the ZookeeperRegistryCenter.java to the one in elasticjob v2.1.5 source code to support zookeeper 3.5.5?

[2020-12-29 09:08] TeslaCN commented on #1796
Hi @zewade
ElasticJob 3.0.0 has upgraded Curator to 5.1.0.

[2020-12-29 09:11] zewade commented on #1796
I checked the release note of Curator 5.1.0, it only says that it no long support 3.4.x.So why 3.5.5 also can't work with elasticjob?
I have tested the CuratorCacheExample under the source code of Curator 5.1.0, and it can run properly with zookeeper 3.5.5.

[2020-12-29 09:50] TeslaCN commented on #1796
You may check the Curator's dependencies in https://mvnrepository.com/artifact/org.apache.curator/curator-client/5.1.0 .
The curator-client 5.1.0 is using Zookeeper 3.6.0, I'm not sure if the Curator 5.1.0 is compatible with Zookeeper 3.5.x.

[2021-01-01 14:20] wenlincheng opened #1799 "NoSuchMethodException: com.alibaba.druid.spring.boot.autoconfigure.DruidDataSourceWrapper.<init>()"
## Bug Report

When init data source, the DruidDataSourceWrapper can not find the Init function.
version:

- elasticjob-lite-spring-boot-starter 3.0.0-RC1
- springboot 2.3.2
- druid-starter 1.1.20

[code]

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/i

[2021-01-04 03:22] TeslaCN commented on #1799
Hi @wenlincheng
We didn't take the wrapper class without public no args constructor into consideration before. Do you have any ideas about this issue?

[2021-01-06 05:27] wwj-go opened #1801 "What is the use of BeanPostProcessor for ElasticJobBootstrapConfiguration？"
## Question

What is the use of BeanPostProcessor for ElasticJobBootstrapConfiguration？
[code]
I find that the class ElasticJobBootstrapConfiguration do not implement any methods in BeanPostProcessor, so is it enough like below?
[code]

[2021-01-06 06:00] TeslaCN commented on #1801
You may check what I did in #1696

[2021-01-06 06:55] wwj-go commented on #1801
@TeslaCN I have got it！
The reason is that the bean which implements BeanPostProcessor will be initialized earlier than normal beans.
Thanks for your reply !

[2021-01-06 06:56] #1801 closed, assigned to nobody

[2021-01-06 13:53] TeslaCN opened #1802 "Correct artifactId of the project"
## Refactor

This project is a sub project of ShardingSphere. All the packages should be named with prefix `shardingsphere`.

[2021-01-07 03:38] 15168326318 opened #1805 "zk 不稳定，部分任务不执行"
ejob:2.1.5
zk:3.5.5
curator: 2.13.0

zk注册中心不稳定，经常有任务不执行。日志打印已经关闭，如下：
 [Curator-TreeCache-1] [org.quartz.core.QuartzScheduler:666] - trace[] Scheduler DictEffectDataEsJob_$_NON_CLUSTERED shutting down.
[Curator-TreeCache-1] [org.quartz.core.QuartzScheduler:585] - trace[] Scheduler DictEffectDataEsJob_$_NON_CLUSTERED paused.
 [Curator-TreeCache-1] [org.quartz.core.QuartzScheduler:740] - trace[] Sche

[2021-01-07 05:19] shuohao opened #1806 "Why elasticjob 3.x strongly rely on curator version 5.x"
Our company infrastructure zookeeper has not been upgraded to 3.5.x/3.6.x

[2021-01-07 05:48] TeslaCN commented on #1805
**For English only**, other languages will not accept.

[2021-01-07 05:48] #1805 closed, assigned to nobody

[2021-01-07 05:51] 15168326318 opened #1807 "ZK is unstable, some missions are not executed"
ejob:2.1.5
zk:3.5.5
curator: 2.13.0
The ZK registry is not stable, there are often tasks not executed.Log printing has been turned off, as follows:
[Curator-TreeCache-1] [org.quartz.core.QuartzScheduler:666] - trace[] Scheduler DictEffectDataEsJob_$NON_CLUSTERED shutting down.
[Curator-TreeCache-1] [org.quartz.core.QuartzScheduler:585] - trace[] Scheduler DictEffectDataEsJob$NON_CLUSTERED paused.

[2021-01-07 05:57] TeslaCN commented on #1806
ZooKeeper 3.6.0 has some significant changes from previous versions. Such as the `CuratorCache` in https://github.com/apache/curator/pull/335.

[2021-01-07 06:02] TeslaCN commented on #1807
If connection to registry center lost, jobs will be suspended. If max retry times reached, the jobs may be shutdown.

[2021-01-07 06:06] 15168326318 commented on #1807
同一个项目中的jobs，应该是都关闭才对，为什么我们只是其中的一两个会关闭，很多是好的

[2021-01-07 06:07] 15168326318 commented on #1807
而且我本地测试，把注册中心关闭，等很久之后注册中心启动后还是可以执行的。

[2021-01-07 06:12] TeslaCN commented on #1807
Hi @15168326318
We need more info about this issue.

[2021-01-07 06:34] #1796 closed, assigned to nobody

[2021-01-07 06:34] #1777 closed, assigned to nobody

[2021-01-07 06:43] TeslaCN commented on #1779
It seems this issue has already done, I'm closing this issue.

[2021-01-07 06:43] #1779 closed, assigned to nobody

[2021-01-08 03:06] WooXooM opened #1808 "定时任务执行完成之后，进入了重试机制"
是用的版本是elastic-job-lite 2.1.5
定时任务执行成功了，中间没有抛异常，但是进入了重试。重试配置的是maxRetries=3， baseSleepTimeMilliseconds=1000， maxSleepTimeMilliseconds=3000。定时任务执行完成之后，又在30秒之后执行了一次，然后30秒之后又执行了一次。
执行成功之后，发现上送的结果是request:: '/test-job/errorLogMonitorJob/sharding/0/running,-1
下面是日志
[SendThread(zk:2181)] [] ClientCnxn.readResponse(ClientCnxn.java:818) [Reading reply sessionid:0x761d4cd6a77e8f, packet:: clientPath:null ser

[2021-01-08 03:15] TeslaCN commented on #1808
**For English only**

[2021-01-08 03:15] #1808 closed, assigned to nobody

[2021-01-11 08:47] zewade opened #1809 "Can I manually trigger a job with specific jobParameter?"
As we use elastic job lite v2.1.5, can I manually trigger a job with specific jobParameter?
For exmaple, My timed tasks are usually performed once a day and work only on that day's data. But sometimes due to some reason, such as system failure, the execution of the day timed task is missed. How to manually trigger a timed task the next day and pass the previous day's time period through a paramete

[2021-01-12 14:35] TeslaCN commented on #1809
I have some ideas about this issue:
1. Consider starting a job for manual trigger only;
2. Specify jobParameter by ElasticJob Console.

[2021-01-15 06:23] kaihekaihe opened #1810 "Bean is not eligible for getting processed by all BeanPostProcessors"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, because we maybe need more de

[2021-01-18 02:54] Tank-zhu opened #1811 "ui server after deleting a job"
after deleting a job

Zookeeper the data has been deleted

but the configuration of the application has not been deleted

so  restart,  the job register again

have good plan ????

[2021-01-19 01:57] liujunjia1996 opened #1812 "error: Invalid config event received"
i got this when booting,but my job seem is running ok:
2021-01-19 09:52:21.622 ERROR 11604 --- [ain-EventThread] o.a.c.framework.imps.EnsembleTracker     : Invalid config event received: {server.2=10.176.70.222:2888:3888:participant, server.1=10.176.70.220:2888:3888:participant, server.3=10.176.70.221:2888:3888:participant, version=0}

my zk version: 3.6.2

my application.yml:
[code]

why i recive

[2021-01-19 02:00] liujunjia1996 commented on #1812
[does this help?](https://blog.csdn.net/dataiyangu/article/details/105632234)

[2021-01-19 06:44] gzdzss commented on #1812
[it can help you](https://zookeeper.apache.org/doc/r3.6.2/zookeeperReconfig.html)

[2021-01-19 08:10] lixiongliang opened #1813 "Expansion of tasks, how to solve them, how to optimize system resources and quick start"
At present, we have configured 300 tasks in xml, and will continue to increase in the future. I feel that the system startup has become very slow, it takes a long time, and the number of threads started in the process is thousands. After reading the source code, I found that each configuration job, there will be a separate thread to execute, is there a good and simple way to optimize, integrated S

[2021-01-19 08:12] TeslaCN opened #1814 "Separate API and implementations from elasticjob-registry-center"
## Discuss

The current registry center API and implementation are in one package. To support different implementations of registry center (such as etcd), it's better to separate API and implementations into the following structure.

[code]

[2021-01-19 08:21] TeslaCN commented on #1813
Consider separate your tasks into different clusters.
You may configure the parameter `executor-service-handler` to specify thread count.

Ref: https://shardingsphere.apache.org/elasticjob/legacy/lite-2.x/02-guide/config-manual/

[2021-01-19 09:46] terrymanu commented on #1814
Good idea. It is similar with ShardingSphere's governance module.

[2021-01-20 05:39] birkh8792 opened #1815 "Filename too long"
![image](https://user-images.githubusercontent.com/74575713/105131918-e098e980-5b24-11eb-8d7e-92e90bc43c0a.png)

[2021-01-20 05:45] TeslaCN commented on #1815
Just configure your git with
[code]

[2021-01-20 05:45] #1815 closed, assigned to nobody

[2021-01-20 06:44] qjc1024join opened #1816 "apache-shardingsphere-elasticjob-3.0.0-RC1-lite-ui-bin.tar.gz modification job"
Failed to specialize base type org.apache.shardingsphere.elasticjob.infra.yaml.config.YamlConfiguration<org.apache.shardingsphere.elasticjob.api.JobExtraConfiguration> as org.apache.shardingsphere.elasticjob.tracing.yaml.YamlTracingConfiguration, problem: Type parameter #1/1 differs; can not specialize org.apache.shardingsphere.elasticjob.api.JobExtraConfiguration with org.apache.shardingsphere.el

[2021-01-20 06:49] TeslaCN commented on #1816
This is a bug. https://github.com/apache/shardingsphere-elasticjob-ui/issues/97

[2021-01-20 06:51] lixiongliang commented on #1813
Our framework package elastic-job-core needs to be upgraded to 2.x. Currently we are 1.1. I feel that the changes are quite big, and there will be classes that cannot be found.

Dividing tasks into different machines is one way to deploy. The current 2.x custom thread pool DefaultExecutorServiceHandler is also configured for a single task, not a thread pool that applies global tasks.

[2021-01-20 08:05] kamafeel opened #1817 "有AbstractDistributeOnceElasticJobListener的使用例子吗？"
在spring boot 下面，总是提示
java.lang.IllegalArgumentException: Can not find job listener type 'distributeOnceJobListener'.

[2021-01-20 08:07] TeslaCN commented on #1817
**For English Only**

[2021-01-20 08:07] #1817 closed, assigned to nobody

[2021-01-20 10:10] skaic opened #1818 "[Job trace] id-uuid('varchar') in mysql table PRIMARY KEY (`id`) is not a good idea"
## Question

[Job trace] 'varchar'  in mysql table PRIMARY KEY (`id`)  is not a good idea。

e.g.

REATE TABLE `JOB_STATUS_TRACE_LOG` (
  `id` varchar(40) NOT NULL,
  `job_name` varchar(100) NOT NULL,
  `original_task_id` varchar(255) NOT NULL,
  `task_id` varchar(255) NOT NULL,
  `slave_id` varchar(50) NOT NULL,
  `source` varchar(50) NOT NULL,
  `execution_type` varchar(20) NOT NULL,
  `sharding_

[2021-01-21 03:34] dolphin-bear commented on #1817
how to develop jobListener ？  can you do some example for using that ？

[2021-01-21 03:48] dolphin-bear opened #1819 "I developed my own JobListener，but i don't know how to use it. can you give me some examples for using it? help me ,thanks"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, b

[2021-01-21 07:01] qjc1024join opened #1820 "ELASTIC-JOB AND NAOCS"
zookeeper Can you and Nacos in  server ？

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.apache.shardingsphere.elasticjob.lite.spring.boot.job.ElasticJobBootstrapConfiguration': Invocation of init method failed; nested exception is org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'zookeeperRegistryCenter' defined in

[2021-01-21 08:59] TeslaCN commented on #1819
Hi @dolphin-bear
`JobListener` is discovered by SPI.

1. You may specify your implementation under
`META-INF/services/org.apache.shardingsphere.elasticjob.infra.listener.ElasticJobListener` like the following file.
https://github.com/apache/shardingsphere-elasticjob/blob/master/elasticjob-lite/elasticjob-lite-core/src/test/resources/META-INF/services/org.apache.shardingsphere.elasticjob.infra.list

[2021-01-21 09:06] TeslaCN commented on #1820
Hi @qjc1024join
What's your Curator's version?
You exception is
[code]

[2021-01-21 09:11] qjc1024join commented on #1820
on account of   spring-cloud-dependencies  Hoxton.SR8  version control
 <groupId>org.springframework.cloud</groupId>
  <artifactId>spring-cloud-zookeeper-dependencies</artifactId>
  <version>2.2.3.RELEASE</version>
  <packaging>pom</packaging>
  <name>spring-cloud-zookeeper-dependencies</name>
curator-client  in version 4.0.1

[2021-01-21 09:24] TeslaCN commented on #1820
The ElasticJob 3.0.0-RC1 has upgraded Curator to 5.1.0. Old version of Curator client cannot work properly.

[2021-01-21 09:28] qjc1024join commented on #1820
on account of spring-cloud-dependencies Hoxton.SR8 version control Cause there are ElasticJob 3.0.0-RC1curator-client in version low  therefore ElasticJob 3.0.0-RC1 I can't do that

[2021-01-21 09:29] qjc1024join commented on #1820
<dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>org.springframework.cloud</groupId>
                <artifactId>spring-cloud-dependencies</artifactId>
                <version>${spring-cloud.version}</version>
                <type>pom</type>
                <scope>import</scope>

        </dependencies>
    </dependencyManagement>

[2021-01-21 09:39] TeslaCN commented on #1820
You may specify Curator's version in dependencyManagement.

[2021-01-22 02:50] dolphin-bear commented on #1819
**implements ElasticJobListener is OK, but extends AbstractDistributeOnceElasticJobListener is wrong.  why ?**

exception like this:
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.apache.shardingsphere.elasticjob.lite.spring.boot.job.ElasticJobBootstrapConfiguration': Invocation of init method failed; nested exception is java.util.ServiceConfigurationEr

[2021-01-22 06:41] TeslaCN commented on #1819
SPI requires no args constructor to instantiate your listener.

[2021-01-22 09:32] jinjiangxu opened #1821 "elastic-job-lite 3.x 使用事件追踪，但是在数据库查询不到任何追踪记录"
## Question

*elastic-job-lite 3.x 使用事件追踪，但是在数据库查询不到任何追踪记录

## Code
[code]

[2021-01-22 09:36] TeslaCN commented on #1821
**For English Only**

[2021-01-22 09:36] #1821 closed, assigned to nobody

[2021-01-25 01:22] dolphin-bear commented on #1819
got it,thanks!!

[2021-01-25 03:57] LebronCurry opened #1822 "The console does not display job history"
Hello,I confirm that the job has been executed correctly, but the console does not display the job record. Is there a problem with my configuration?
version: 3.0.0-RC1
![image](https://user-images.githubusercontent.com/48313599/105659535-e8310780-5f03-11eb-9e01-53f26e0a7e95.png)
![image](https://user-images.githubusercontent.com/48313599/105659571-f97a1400-5f03-11eb-9a0a-4c5e8aff5318.png)

[2021-01-25 10:05] TeslaCN commented on #1822
Have you configured DataSource?

[2021-01-25 10:07] #1819 closed, assigned to nobody

[2021-01-26 03:07] LebronCurry commented on #1822
Yes,
![image](https://user-images.githubusercontent.com/48313599/105794786-b03ec880-5fc6-11eb-97d4-4dff4b7043a7.png)

[2021-01-26 04:26] JiekerTime opened #1824 "The official document hyperlink is incorrect"
All "Edit this page" in [elastic's official documents](https://shardingsphere.apache.org/elasticjob/current/en/overview/) will jump to the ShardingSphere address.
![image](https://user-images.githubusercontent.com/76552510/105800332-5816b080-5f4b-11eb-8aba-da1be1c6e41e.png)
![image](https://user-images.githubusercontent.com/76552510/105800331-5816b080-5f4b-11eb-8ddb-5db95b57eb6e.png)

[2021-01-27 00:55] TeslaCN commented on #1822
I have some suggestions for your:
1. Check if data present in your MySQL;
2. Restart the Lite Console backend application.

[2021-01-27 10:37] wefun94 opened #1823 "Run the demo job but got a exception "KeeperErrorCode = Unimplemented for /my-job/MyJob/config""
I run the demo job according to the document (https://shardingsphere.apache.org/elasticjob/current/en/quick-start/elasticjob-lite/#import-maven-dependency), but it crashed.

**Please help me find what i am wrong.**

Import the dependency

[code]

Then add my job
[code]

[code]

The error msg is

[code]

[2021-01-27 11:02] TeslaCN commented on #1823
Hi @wefun94
Which version of Zookeeper do you use?

[2021-01-27 11:11] wefun94 commented on #1823
<dependency>
            <groupId>org.apache.zookeeper</groupId>
            <artifactId>zookeeper</artifactId>
            <version>3.6.0</version>
        </dependency>

[2021-01-27 11:40] LebronCurry commented on #1822
There is no data in mysql, I tried restarting. I use JavaApi for elastic-job development and SpringBootStarter for event tracking. Is this a problem,thanks for reply

[2021-01-28 00:11] TeslaCN commented on #1822
You need to add TracingConfiguration to JobConfiguration manually when using the Java API.

[2021-01-28 02:01] LebronCurry commented on #1822
I have solved this problem,thanks.

[2021-01-28 02:36] #1822 closed, assigned to nobody

[2021-01-29 00:42] TeslaCN commented on #1823
It requires Zookeeper server's version >= 3.6.0

[2021-01-29 06:18] #1824 closed, assigned to TeslaCN

[2021-01-29 11:29] guanziao opened #1826 "TracingStorageConverterNotFoundException"
Hello, I config rdb-tracing as below

    <elasticjob:zookeeper id="regCenter" server-lists="${zkConnectString}" namespace="${namespace}" />

    <bean id="tracingDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
            <property name="url" value="${dsp.datasources.url}"/>
            <property name="username" value="${dsp.datasources.username}"/>

[2021-01-29 11:51] #1826 closed, assigned to nobody

[2021-02-01 10:07] guanziao opened #1827 "monitor job schedule"
hi,
 I wonder to ask whether elasticjob-lite has a monitor function which can  automaticly notice on the console when a cron not work as expectely. If not , will it be plan in the future version.
Thanks！

[2021-02-02 00:57] TeslaCN commented on #1827
Hi @guanziao ,
Do you have any idea about how to do that? Starting another timer to check it?

[2021-02-02 02:57] guanziao commented on #1827
Thanks for you reply @TeslaCN . My idea is to analyze cron to get the right schedule time and check the log by a new thread.

[2021-02-02 06:45] TeslaCN commented on #1827
The ElasticJob is a SDK, not an application. I think it's too tedious for the SDK that starting another timer to check if its timer works properly. The checking may be done in the application layer.

[2021-02-02 10:10] guanziao commented on #1827
Thanks！

[2021-02-03 02:39] 3476682269 opened #1828 "Job dimension throws Unable to find property 'jobClass' on class: org.apache.shardingsphere.elasticjob.infra.pojo.JobConfigurationPOJO"
[ERROR] 10:30:10.461 [http-nio-8077-exec-2] o.a.s.e.l.u.w.h.RestExceptionHandler - Unable to find property 'jobClass' on class: org.apache.shardingsphere.elasticjob.infra.pojo.JobConfigurationPOJO
org.yaml.snakeyaml.error.YAMLException: Unable to find property 'jobClass' on class: org.apache.shardingsphere.elasticjob.infra.pojo.JobConfigurationPOJO
        at org.yaml.snakeyaml.introspector.Proper

[2021-02-04 01:34] TeslaCN commented on #1828
ElasticJob 3.0 is incompatible with configuration of ElasticJob 2.x

[2021-02-05 01:02] 3476682269 commented on #1828
Thank you very much.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "吴伟杰"<notifications@github.com&gt;;
发送时间: 2021年2月4日(星期四) 上午9:35
收件人: "apache/shardingsphere-elasticjob"<shardingsphere-elasticjob@noreply.github.com&gt;;
抄送: "⚓铁锚上的一条柠檬鲸🐠"<3476682269@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [apache/shardingsphere-elasticjob] Job dimension  throws Unable to find prope

[2021-02-07 04:08] cn-src commented on #1814
I agree. I want to use relational database or redis. Because my business scenario is simple and I don't want to install ZooKeeper anymore.

[2021-02-07 10:39] guanziao opened #1829 "ReconcileService"
I have a question about ReconcileService.
The job config 'reconcileIntervalMinutes' describe in user manual is:

In a distributed system, due to network, clock and other reasons, ZooKeeper may be inconsistent with the actual running job. This inconsistency cannot be completely avoided through positive verification. It is necessary to start another thread to periodically calibrate the consistency b

[2021-02-08 11:45] ChenJincheng-Gencent opened #1830 "org.apache.zookeeper.ClientCnxn$EndOfStreamException: Unable to read additional data from server sessionid 0x300c45dbff90003, likely server has closed socket"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, because we maybe need more de

[2021-02-08 12:08] TeslaCN commented on #1830
Make sure your Zookeeper server's version >= 3.6.0

[2021-02-08 12:30] TeslaCN commented on #1829
Maybe the describe is too abstract. Under normal conditions, `sharding/necessary` flag will be set when any instance was offline. I think the probability of `hasShardingInfoInOfflineServers` is very small, so default 10 minutes is enough. You may specify a smaller value for your scenarios.

[2021-02-08 13:04] TeslaCN commented on #1820
Close due to no response.

[2021-02-08 13:04] #1820 closed, assigned to nobody

[2021-02-08 13:05] #1806 closed, assigned to nobody

[2021-02-08 13:06] TeslaCN commented on #1807
Close due to no response.

[2021-02-08 13:06] #1807 closed, assigned to nobody

[2021-02-08 13:07] #1827 closed, assigned to nobody

[2021-02-08 13:08] TeslaCN commented on #1828
I'm closing this. You may open a new issue if you have other question.

[2021-02-08 13:08] #1828 closed, assigned to nobody

[2021-02-09 00:27] 3476682269 commented on #1828
OK .Thank you.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "吴伟杰"<notifications@github.com&gt;;
发送时间: 2021年2月8日(星期一) 晚上9:08
收件人: "apache/shardingsphere-elasticjob"<shardingsphere-elasticjob@noreply.github.com&gt;;
抄送: "�7�9铁锚上的一条柠檬鲸�9�6"<3476682269@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [apache/shardingsphere-elasticjob] Job dimension  throws Unable to find prope

[2021-02-09 01:27] ChenJincheng-Gencent commented on #1830
You are right. I made a mistake. My Zookeeper server's version is not 3.6.2. I did not upgrade it with "bin" tar.gz. So it does not work. Thank you very much.

[2021-02-09 01:27] #1830 closed, assigned to nobody

[2021-02-11 01:38] cielswift opened #1831 "java.lang.ClassNotFoundException: org.apache.curator.connection.ConnectionHandlingPolicy"
Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/curator/connection/ConnectionHandlingPolicy
	at org.apache.curator.framework.CuratorFrameworkFactory.builder(CuratorFrameworkFactory.java:78)
	at org.apache.shardingsphere.elasticjob.reg.zookeeper.ZookeeperRegistryCenter.init(ZookeeperRegistryCenter.java:72)
	at com.ciel.fast.elastjob.ThJob.createRegistryCenter(ThJob.java:46)
	a

[2021-02-13 03:43] TeslaCN commented on #1831
Hi @cielswift
The ElasticJob 3.0.0-RC1 requires Curator 5.1.0

[2021-02-18 07:11] bestmemory opened #1832 "The docker container deploys es job, the IP address obtained is the docker container's IP, and the task is repeated"
## The docker container deploys es job, the IP address obtained is the docker container's IP, and the task is repeated

You closed the problem #508 ,
In this : #1069 ,I see you fixed this question.  but I didn't find a solution to the problem #508 !! Can you tell me the solution to the problem?

[2021-02-19 02:42] TeslaCN commented on #1832
Hi @bestmemory
How the task is repeated?

[2021-02-19 03:07] qjc1024join opened #1833 "The next version"
When is the next release expected？ elasticjob-ui-3.0.0-RC1/apache-shardingsphere-elasticjob-3.0.0-RC1-lite-ui-bin.tar.gz  Have the problems been fixed？ You' ve had a long day

[2021-02-20 01:17] bestmemory commented on #1832
Hi @TeslaCN
because, the IP address registered on ZK is the same, and the IP address is docker container's ip (like this: 172.17.0.5), so they may be the same.
For example, I have a task, which is divided into two pieces of execution, and there are two instances. In this way, two pieces of tasks will be executed on each instance, resulting in repeated tasks. (if the IP address is different, each i

[2021-02-20 03:43] nevenchen commented on #1833
I have the same question, when will ElasticJob release the stable version?

[2021-02-21 02:44] TeslaCN commented on #1832
Why would different containers have same IP?

[2021-02-21 05:31] TeslaCN commented on #1833
The issue https://github.com/apache/shardingsphere-elasticjob-ui/issues/97 has been fixed at master branch. The next version we are still working on it.

[2021-02-21 05:33] TeslaCN commented on #1816
Close due to https://github.com/apache/shardingsphere-elasticjob-ui/pull/105 has been merged.

[2021-02-21 05:33] #1816 closed, assigned to nobody

[2021-02-22 01:54] bestmemory commented on #1832
@TeslaCN
I have two machines running different docker environments，and elastic-job(IpUtils) get Ip from local environment is container's ip.
In bridge network mode, the IP obtained by IpUtils in elastic job is the internal IP of docker container on different machines, which will be the same.
Elastic-job （IpUtils）get IP from local machine is the container's ip. Because they are all virtual (bridge

[2021-02-22 11:23] jxguosuspectx opened #1834 "作业状态一直是PENDING"
请教一下，使用的版本是2.0.3，作业的状态一直是pending，重启服务也没用，这个该怎么处理呀？

[2021-02-22 14:11] TeslaCN commented on #1834
For English only

[2021-02-22 14:11] #1834 closed, assigned to nobody

[2021-02-22 14:13] TeslaCN commented on #1831
Close due to no response.

[2021-02-22 14:13] #1831 closed, assigned to nobody

[2021-02-22 14:14] TeslaCN commented on #1823
Close due to no response.

[2021-02-22 14:14] #1823 closed, assigned to nobody

[2021-02-23 01:55] jxguosuspectx opened #1835 "job status is always pending"
## Question

job status is always pending，restarting the job does not works，what reasons may cause this and how  to fix it?
the using version is 2.0.3.

[2021-02-25 02:37] kaihekaihe commented on #1777
@TeslaCN
I have one suggestion.
Adding shutdown hook to delete the temprary  instance node immediately，other executors will be notified more quickly which does not rely on session timeout

[2021-02-25 06:47] kaihekaihe opened #1836 "Decrease consuming time of delivering failover shard"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

#1777

### Describe the

[2021-02-25 07:46] lzx404243 opened #1837 "Flaky unit tests in RDBJobEventStorageTest(non-idempotent)"
## Bug Report

### Expected behavior
Tests `io.elasticjob.lite.event.rdb.JobEventRdbStorageTest.assertAddJobStatusTraceEventWhenFailoverWithTaskFailedState` and `io.elasticjob.lite.event.rdb.JobEventRdbStorageTest.assertAddJobStatusTraceEventWhenFailoverWithTaskStagingState` should be idempotent and pass when running twice in the same JVM

### Actual behavior
The two tests are not idempotent and f

[2021-02-25 07:56] furaul opened #1839 "Could I choose the instance to run my job?"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
No.

### Describe the fea

[2021-02-25 08:03] TeslaCN commented on #1835
Could you dump your Zookeeper's data?

https://shardingsphere.apache.org/elasticjob/legacy/lite-2.x/02-guide/dump/

[2021-02-25 08:13] TeslaCN commented on #1839
Maybe implements your own `JobShardingStrategy` can solve your problems.

Refer to https://shardingsphere.apache.org/elasticjob/current/en/dev-manual/sharding/

[2021-02-25 08:26] TeslaCN commented on #1832
Hi @bestmemory
If the container's network bridged to docker0, the IpUtils can only get container's IP because of isolation. You may change the subnet of Docker daemon or bridge to other network.

[2021-02-25 09:43] nevenchen opened #1840 "New instance not able to trigger resharding"
VERSION: 3.0.0.rc1
Project: ElasticJob-Lite

### Expected behavior:
I have a job in my app deployed with 2 node.
The job set the config 'sharding-total-count' to 3.
I start one node first, when all 3 sharding job run on the node.
I start the second node.

The "job-sharding-strategy-class" left as defult.
After the second node start, I think the second node should take at lease one sharding job.
Th

[2021-02-27 12:38] #1837 closed, assigned to lzx404243

[2021-02-27 14:28] TeslaCN commented on #1840
Hi @nevenchen
Could you dump your data in Zookeeper?
Refer to https://shardingsphere.apache.org/elasticjob/current/en/user-manual/elasticjob-lite/operation/dump/

[2021-03-01 09:05] kaihekaihe opened #1841 "How much jobs can be supported to run in one instance"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
I have 100 jobs running i

[2021-03-02 04:01] guanziao opened #1842 "When a sharding item failure"
When a sharding item failure, is the whole job failure or success?
Is there any transactional method for rolling back the whole job when a sharding item failure?
Or any sharding item is independency, it running status or result does not depend on other item in the same job.
Thanks！

[2021-03-04 03:44] afdbaia opened #1844 "ShardingItemParameters"
ShardingItemParameters.class
PARAMETER_DELIMITER and KEY_VALUE_DELIMITER 切分字符可在yml配置。
分片的参数会以json格式或其他格式存在。

[2021-03-04 06:09] candyYu opened #1845 "error when i use elastic-job-lite with java api"
I get the error next
org.apache.shardingsphere.elasticjob.infra.exception.JobConfigurationException: Can not find executor for elastic job class

i have already import the jar

        <dependency>
            <groupId>org.apache.shardingsphere.elasticjob</groupId>
            <artifactId>elasticjob-lite-core</artifactId>
            <version>${elasticjob-version}</version>
        </dependency>

[2021-03-04 07:45] candyYu commented on #1845
after i recompile my package it can goes well; but i got the error next
2021-03-04 15:44:00,003 [org.quartz.core.ErrorLogger.schedulerError(QuartzScheduler.java:2425)][scheduleJob_Worker-1] - [ ERROR ]  Job (DEFAULT.scheduleJob threw an exception.
org.quartz.SchedulerException: Job threw an unhandled exception. [See nested exception: java.lang.NullPointerException]
        at org.quartz.core.JobRu

[2021-03-04 09:18] TeslaCN commented on #1842
Each sharding item is independent. You need to maintain the transaction on your own.

[2021-03-04 09:29] TeslaCN commented on #1841
Make sure your instance have enough resource to run your jobs.
ElasticJob is designed for distributed scenario. You may increase instances to spread the pressure.

[2021-03-04 09:44] TeslaCN commented on #1845
Could you check if your classpath include the following JARs:
- elasticjob-infra-common
- elasticjob-error-handler-general

[2021-03-04 09:45] TeslaCN commented on #1844
**For English Only**

[2021-03-04 09:45] #1844 closed, assigned to nobody

[2021-03-04 10:15] candyYu commented on #1845
i add it, now my dependency are
 <dependency>
            <groupId>org.apache.shardingsphere.elasticjob</groupId>
            <artifactId>elasticjob-lite-core</artifactId>
            <version>${elasticjob-version}</version>
        </dependency>
        <dependency>
            <groupId>org.apache.shardingsphere.elasticjob</groupId>
            <artifactId>elasticjob-dataflow-executor</artifactId

[2021-03-05 02:48] guanziao commented on #1842
I got it, thanks!

[2021-03-05 09:48] candyYu commented on #1845
what depedency i forgot to import?  I got the error next, i can run in my idea when i run it with java -jar  i got the next error

Exception in thread "main" org.apache.shardingsphere.elasticjob.infra.yaml.exception.YamlConfigurationConverterNotFoundException: No YamlConfigurationConverter found for class [org.apache.shardingsphere.elasticjob.tracing.api.TracingConfiguration]
        at org.apache

[2021-03-07 05:02] xhga commented on #628
遇到不能创建表的原因可能是由于驱动com.mysql.cj.jdbc.Drive导致的。我也是遇到不能创建表的问题，并解决了它。
并记录了不能创建表的原因。文章地址：https://blog.csdn.net/qq_37751454/article/details/90737740
希望可以帮助到有需要的朋友。

[2021-03-08 08:09] guanziao opened #1847 "Get failover sharding item"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, b

[2021-03-11 13:35] KunBrother100 opened #1848 "elasticjob ssl connect zookeeper"
If zookeeper is configured with client ssl connection, elasticjob can provide an example of ssl connection?

[2021-03-12 10:03] candyYu commented on #1745
how i actually use it in project?

[2021-03-12 10:25] wkhapy123 commented on #1786
run unittest  in springboot always produce

[2021-03-14 06:09] TeslaCN commented on #1848
Try adding this properties to your VM options:
[code]

[2021-03-14 06:57] TeslaCN commented on #1847
If there is no job crashed, the failoverShardingItems will be empty.

[2021-03-16 03:31] songShiPeng opened #1849 "什么时候才能等到正式版呢"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, b

[2021-03-16 10:06] CherishCai commented on #1811
up

[2021-03-16 12:36] kaihekaihe opened #1850 "Parsing commandline fails"
My commandline  is ：
`echo `date +‘%Y-%m-%d %H:%M:%S'` > /tmp/cloudjob_cluster.log`

But while executing the commandline,the console has output:

`date "+%Y-%m-%d %H:%M:%S`" > /tmp/cloudjob_cluster.log {"jobName":"manualScriptJobBean","taskId":"manualScriptJobBean@-@0@-@READY@-@ip1@-@334934","shardingTotalCount":1,"jobParameter":"","shardingItem":0}

The execution result is not the same as that by

[2021-03-17 14:54] TeslaCN commented on #1849
**For English Only**

[2021-03-17 14:54] #1849 closed, assigned to nobody

[2021-03-17 14:57] TeslaCN commented on #1850
The current script job executor will append the sharding context in JSON format to command arguments.

[2021-03-17 15:09] TeslaCN commented on #1845
Since you have configured TracingConfiguration, check if your classpath include the following JARs:
* elasticjob-tracing-api
* elasticjob-tracing-rdb

[2021-03-17 15:09] #1842 closed, assigned to nobody

[2021-03-18 11:57] kaihekaihe commented on #1850
After execution of the commandline，the date is not in the file

[2021-03-18 12:02] kaihekaihe commented on #1841
Is there  test report about processing capacity of one instance（eg. 4c16g）

[2021-03-18 12:24] kaihekaihe opened #1852 "How to dynamicly delete jobs cleanly."
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2021-03-20 08:52] TeslaCN commented on #1852
The current shutdown method will not remove data from registry center. Maybe we can add a new method or set a flag to cleanup data.

[2021-03-20 08:55] TeslaCN commented on #1850
If the script job executor cannot satisfy your requirements, you may implement your own `JobItemExecutor`.

[2021-03-20 09:11] TeslaCN opened #1853 "ReconcileService is still running after the job shutdown"
## Bug Report

### Which version of ElasticJob did you use?
3.0.0-RC1

### Expected behavior

### Actual behavior
The instance of `ReconcileService` in `SetUpFacade` is not the one in `SchedulerFacade`. So the running `ReconcileService` will not be shutdown.
### Reason analyze (If you can)

https://github.com/apache/shardingsphere-elasticjob/blob/d374fad51ca49bf93516a7bde31c60fe37149703/elasticjob

[2021-03-22 12:14] TeslaCN opened #1854 "Welcome to leave your article link (欢迎留下关于 ElasticJob 的文章链接)"
Hi the community,

This is our article collection, which you can learn more about ElasticJob. Moreover, welcome your posts!

---
这里有 ElasticJob 的资源汇总。欢迎你的关注，也欢迎你贡献有关 ElasticJob 的博客文章。

[2021-03-22 13:52] songxiaosheng commented on #1854
分享下分布式调度系统源码设计，使用原理系列教程，文章发布自公众号：**中间件源码** 感兴趣可以关注下

# [Elastic-Job2.1.5源码-分布式弹性调度系统的简介](https://mp.weixin.qq.com/s/EuSqNzCHxjKU-w1k9va9Vg)
## 1 Elastic-Job2.1.5源码-分布式弹性调度系统的简介
### 1.1 项目介绍
### 1.2 分布式弹性调度系统特征
## 2 Elastic-Job的使用
### 2.1 使用Java代码创建第一个调度例子
### 2.2 使用Spring配置一个作业

# [Elastic-Job2.1.5源码-调度注册中心的设计原理](https://mp.weixin.qq.com/s/YoeFOEsAe59xokakBdswFg)
## 3  注册中心的设计原理
### 3.1 调度系统使用Zook

[2021-03-23 08:12] BertOnline opened #1855 "[Bug] shardingsphere-elasticjob-lite-ui-backend-3.0.0-RC1 bug"
## Bug Report

### Which version of ElasticJob did you use?
3.0.0-RC1

### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?
elasticjob-lite

### Expected behavior
![image](https://user-images.githubusercontent.com/17882970/112114614-39ebca80-8bf3-11eb-86de-d6b9172e2187.png)

### Actual behavior
When I click the update button, I get an exception
[code]

### Reason analyze (If you can

[2021-03-23 09:20] Lucas-307 opened #1856 "ElasticJob add static sharding strategy, add completed flag and split job create trigger API plan"
## Reason

Scaling module dependent on ElasticJob module to sharding and execute scaling job, there are some issues like:

1. OneOff job can't do average sharding even if one-off job start in a short interval.
2. Sharding item sometimes exexute in different server, which may cause some problems.
3. OneOff job don't have a complete flag, which may cause job execute more than once.

## Plan

So, we

[2021-03-24 01:51] #1855 closed, assigned to nobody

[2021-03-24 09:18] YANGJINJUE opened #1857 "zookeeper cluster killed and recovery，the job shutdown by self"
### use 3.0.0-alpha

### project: ElasticJob-Lite

### Expected behavior
the job will recovery when the zookeeper cluster recovery

### Actual behavior
there is a job shutdown by self when the zookeeper cluster recovery

### Reason analyze (If you can)
I guess the class ShutdownListenerManager have a bug at line 57
`protected void dataChanged(final String path, final Type eventType, final String d

[2021-03-25 05:53] TeslaCN commented on #1857
What's your ZookeeperConfiguration?
We set the retry policy `org.apache.curator.retry.ExponentialBackoffRetry` when initializing the Curator client. If retry times exceeded, the instance will not recover.

[2021-03-25 06:29] YANGJINJUE commented on #1857
the code  schedulerFacade.shutdownInstance() may execute when zookeeper cluster session expire

[2021-03-26 18:09] yangzhoucyl opened #1858 "Elasticjob unable to get local IP address, runtime In JDK version 1.8.0_40"
## Bug Report

### Which version of ElasticJob did you use?
 - 3.0.0-RC1

### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?
- ElasticJob-Cloud

### Expected behavior
- Project Launch Successfully

### Actual behavior

	at org.apache.shardingsphere.elasticjob.infra.env.IpUtils.getIp(IpUtils.java:68)

### Reason analyze (If you can)

    Version before jdk1.8.0_74 `InetAddress.isRe

[2021-03-29 03:33] justfunxin opened #1859 "hope support fixed rate task"
hope support fixed rate task，sometimes cron not support，like 90 seconds interval。

[2021-04-01 00:39] double2013 opened #1865 "springboot2.x+ elasticjo3.0.0-RC1 +mybatis-dynamic3.3.0, can not work well with elasticjob.tracing.type=RDB"
application.yml as below:
[code]

if i open elasticjob.tracing.type , like below, then application will throw exception, otherwise it work well.

[code]

18:25:57.644 logback [main] WARN o.s.b.w.s.c.AnnotationConfigServletWebServerApplicationContext - Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error cre

[2021-04-02 09:42] xiebin2015 opened #1866 "shardingsphere-elasticjob-ui"
你好，我部署了elastic-job3.0.0RC1UI，但是一直报这个错，请问这是怎么回事
![image](https://user-images.githubusercontent.com/14512197/113404317-8cd73600-93da-11eb-80b2-4196f6ccf447.png)

[2021-04-02 11:01] TeslaCN commented on #1866
**For English Only**

[2021-04-02 11:01] #1866 closed, assigned to nobody

[2021-04-02 11:04] #1853 closed, assigned to TeslaCN

[2021-04-07 08:34] sucg opened #1868 "I can't find the branch which includes the code from Bug fix for Failover #714"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, b

[2021-04-08 07:07] austgh opened #1869 "job prototype not work"
in elastic-job ,job use @Scope("prototype"),but job is singleton.Job hashcode is the same .How to set job as prototype

[2021-04-09 17:08] TeslaCN commented on #1868
It seems that the commits were missing when refactoring this project. Could you submit a new PR?

[2021-04-09 17:18] TeslaCN commented on #1869
Prototype scope is used for different jobs. In the same job, each shard shares the same instance.

[2021-04-09 17:22] #1802 closed, assigned to TeslaCN

[2021-04-10 01:50] wl4g opened #1870 "与DolphinScheduler对比，请问有啥优势？及对后续发展冲击？"
与DolphinScheduler对比，请问有啥优势？及对后续发展冲击？

[2021-04-12 05:58] sucg commented on #1868
of course , my pleasure~

[2021-04-12 10:47] BertOnline commented on #1859
@kangarooxin "30 1/3 * * * ?" equivalent to 90 seconds interval

[2021-04-13 12:17] denvensss opened #1871 "Is it feasible to replace zookeeper with consult"
Is it feasible to replace zookeeper with consult? Can you tell me how to operate?
MySQL is used for data storage, and the project can register with the consul instead of zookeeper

[2021-04-13 14:47] TeslaCN commented on #1871
The ElasticJob makes full use of features of Zookeeper such as ephemeral nodes, watches. I don't think is easy to replace Zookeeper with Consul.

[2021-04-14 09:06] xiebin2015 opened #1872 "job触发有延迟"
elasticjob3.0.0RC1
job触发有延迟？测试过程发现job触发有随机延时的情况，大神们有遇到这个情况吗？

[2021-04-14 10:07] #1761 closed, assigned to avalon5666

[2021-04-17 01:46] yuanrengu commented on #1871
Being more foundational, architectural elements are harder to  replace. I don't think it's a good idea to replace zk with cousul.

[2021-04-21 13:24] Fdemo123 opened #1876 "任务执行后重启服务增加tracing功能不生效"
## Bug Report

任务执行后重启服务增加tracing功能不生效，反过来也一样
源码中这段代码一直获取到的都是旧值
public JobConfiguration load(final boolean fromCache) {
        String result;
        if (fromCache) {
            result = jobNodeStorage.getJobNodeData(ConfigurationNode.ROOT);
            if (null == result) {
                result = jobNodeStorage.getJobNodeDataDirectly(ConfigurationNode.ROOT);
            }
        } else {

[2021-04-26 02:58] #1868 closed, assigned to sucg

[2021-04-26 07:59] kaihekaihe opened #1879 "If the timeout parameter are set to 0L,then the thread executing some sharding may wait for Long.maxvalue."
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, because we maybe need more de

[2021-04-26 09:56] TeslaCN opened #1880 "Support configuring Mail SMTP SSL trusted"
## Feature Request

### Is your feature request related to a problem?
Our SMTP server using self-signed certificate. There is no way to configure trusted host for now.

### Describe the feature you would like.
Support configuring trusted host by property.

[2021-04-26 11:03] TeslaCN commented on #1876
**For English only**
You may set `overwrite` to `true` to overwrite the configurations in Zookeeper.

[2021-04-26 11:03] #1876 closed, assigned to nobody

[2021-04-26 11:03] TeslaCN commented on #1872
**For English only**

[2021-04-26 11:03] #1872 closed, assigned to nobody

[2021-04-26 11:06] TeslaCN commented on #1879
Hi @kaihekaihe
Do you mean the timeout of `DistributeOnceElasticJobListener`?

[2021-04-27 02:22] gonedays opened #1881 "Specify an ip when job instance application deployed on a multi-ip server."
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
No

### Describe the feat

[2021-04-27 03:30] kaihekaihe opened #1882 "How do elasticjob listeners inject beans in spring？"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2021-04-27 03:33] kaihekaihe commented on #1879
`startedTimeoutMilliseconds` and `compltedTimeoutMilliseconds` in class `AbstractDistributeOnceElasticJobListener`

[2021-04-27 09:38] seeger12138 opened #1883 "LiteJobFacade#isExecuteMisfired method is to first obtain the need for points from zk, and then determine whether misfired is turned on"
## Feature Request

**The LiteJobFacade#isExecuteMisfired method first obtains whether points are needed from zk`(!isNeedSharding())`, and then judges whether misfired is enabled`configService.load(true).isMisfire()`. This is a performance loss for the misfired configuration that is not turned on.**

### Is your feature request related to a problem?
**just suggestion**

### Describe the feature yo

[2021-04-27 13:01] TeslaCN commented on #1881
Hi @gonedays
You may specify an interface by `-Delasticjob.preferred.network.interface=eth0`

[2021-04-27 13:08] TeslaCN commented on #1883
Hi @seeger12138
Thanks for your feedback! Are you interested in submitting a PR to fix this issue?

[2021-04-27 13:20] TeslaCN commented on #1882
Hi @kaihekaihe
The listener doesn't support inject spring beans for now. Consider lazily retrieving beans by some static context holder.
We're thinking about that replace SPI factory with Spring containers if the Spring dependencies present.

[2021-04-27 13:44] seeger12138 commented on #1883
I am very happy to do this. Recently, I will take a detailed look at other places that can be optimized like this issue, and then make a summary and raise a PR together.

[2021-04-28 09:16] #1883 closed, assigned to seeger12138

[2021-04-28 13:45] TeslaCN commented on #1746
We're going to make big changes to the ElasticJob Cloud. The Restful module may be refactored.

[2021-04-28 14:34] #1880 closed, assigned to TeslaCN

[2021-04-29 07:51] TeslaCN commented on #1881
Maybe we can sort out this issue to FAQ.

[2021-05-06 01:26] keepmeup commented on #667
这个问题有结果了吗

[2021-05-06 01:42] aboluo-gy commented on #667
亮哥后面回复过让用英文重新issue，就把这个关了，比较忙就没有重新提交，问题应该没有解决，我后面使用其他定时任务框架了。 阿波罗 ***@***.*** 签名由 网易邮箱大师 定制 在2021年05月06日 09:27，keepmeup 写道： 这个问题有结果了吗 — You are receiving this because you authored the thread. Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-05-06 09:15] #1881 closed, assigned to nobody

[2021-05-08 09:14] chiangyn opened #1889 "IpUtils.getIp()方法获取不到ip"
InetAddress..isReachable always false

[2021-05-08 09:22] skaic commented on #1445
so，Annotation Job Has it stopped?   @TeslaCN

[2021-05-09 06:18] TeslaCN commented on #1445
Hi @skaic
I think we can finish it in 3.1.0.

[2021-05-10 06:33] skaic commented on #1889
this is your problem

[2021-05-10 09:43] skaic commented on #1865
you can register a bean of TracingConfiguration\<DataSource\> like this:

[code]

and

[code]

[2021-05-10 10:03] skaic opened #1891 "add Tracing Api"
## Question

I want have a Tracing Api , and I can use it to show the Tracing log in my admin page.

[2021-05-11 02:40] chiangyn commented on #1889
这是InetAddress..isReachable java方法问题，在某些操作系统下会取不到ip。建议替换这个方法的使用

[2021-05-11 02:43] chiangyn commented on #1889
https://www.cnblogs.com/passedbylove/p/7561006.html 有人讨论过JDK bug这个问题

[2021-05-12 05:11] zewade commented on #1857
We also have the same problem，when zookeeper connect is not stable，some of the elastic jobs might be shutdown by self.
2021-05-12 11:07:12,276 INFO  [userdemo-infra] [main] [org.quartz.core.QuartzScheduler:666] - trace[] Scheduler quartzScheduler_$_NON_CLUSTERED shutting down.
2021-05-12 11:07:12,276 INFO  [userdemo-infra] [main] [org.quartz.core.QuartzScheduler:585] - trace[] Scheduler quartzSche

[2021-05-13 07:53] yourzjf opened #1892 "question about DAG feature develop plan"
Is there a development plan for DAG features？

[2021-05-14 01:18] workswan commented on #1810
use the default zookeper,maybe your zookeeper version is avaliable

[2021-05-14 02:57] workswan commented on #1810
sorry,use the zookeeper on version 3.6.3 haven the some question ,but is not influnce it works

[2021-05-18 03:40] skaic commented on #1690
wow, I'm very much looking forward to it and holp I can help.

[2021-05-18 12:35] sparrowzoo commented on #1549
“job paused ” means business thread  of sharding instance is stopped?

[2021-05-19 03:11] skaic commented on #1624
oh, i like this idea, let me try.

[2021-05-20 02:18] forrimerico opened #1893 "Task not performed at the expected time"
## Bug Report

### Which version of ElasticJob did you use?
2.1.5
### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?
ElasticJob-Lite
### Expected behavior
I got a task like
Scheculed(Cron = 0 0 0 * *  ? *)
public void task()...

It is expected to be executed at 0 o'clock every day

### Actual behavior

In fact, it will be executed at a time other than 0 o'clock for no reason

[2021-05-21 02:57] sandyisone commented on #1799
有解决吗？

[2021-05-21 08:34] skaic commented on #1893
Hi @forrimerico

When will it be executed after 0:00？

[2021-05-21 08:36] skaic commented on #1892
https://github.com/apache/shardingsphere-elasticjob/issues/1690   plan finish it in next version.

[2021-05-21 09:30] skaic commented on #1799
you can try register a bean of TracingConfiguration\<DataSource\> to cover default  `DruidDataSourceWrapper`  like this:

[code]

and

in `application.yml`

[code]

[2021-05-23 01:46] johnyannj opened #1894 "Please use different package name in junit test cases"
Please use different package names in the unit test case,

Easy to distinguish between source code and test code

[2021-05-23 02:52] TeslaCN commented on #1894
Test files and production files are in different directories.

[2021-05-23 15:09] TeslaCN commented on #1889
Hi @chiangyn
Could you please translate this issue to **English**?
I've read the solutions in the blog but I don't think those are suitable. Do you have any idea?

[2021-05-24 07:55] johnyannj commented on #1894
@TeslaCN  Yes，But Sometimes， I can't tell whether a class is actually used or only used for testing.

[2021-05-25 11:57] HelKim commented on #1442
Any idea about it? I would like to rewrite it with vue3 and typescript.

[2021-05-26 02:24] skaic commented on #1442
Hi @HelKim

I think vue3 and typescript is good idea.
we can create a issue on https://github.com/apache/shardingsphere-elasticjob-ui , and make a plan.

[2021-05-26 03:12] HelKim commented on #1442
ok. thanks @skaic

[2021-05-26 05:55] chenyujie-lab opened #1895 "Invoking other services"
[Timed tasks call the Fegin interface, and there is a non-execution time execution]

**问题复现步骤:**

1. [Define a timed task to be executed every second, invoking service B]
2. [Start service B]
3. [Start service Job]

**期望的表现:**

[Service B is called every second]

**观察到的表现:**

[There are two calls per second]

![Console log](https://user-images.githubusercontent.com/49234299/119609112-9e145000-be29

[2021-05-27 07:25] skaic commented on #1464
I can make it, Could you assign to me. @terrymanu @TeslaCN

[2021-05-28 08:13] cjoin opened #1897 "I can't find the branch which includes the code from "Bug fix for clean resource when shutdown job. #705""
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, b

[2021-05-31 16:23] sucg commented on #1409
In my work two months ago, I started to implement registry center by etcd.
Only implemented some of the functions.
It is currently running well in the production environment.
I hope to join in, thank you

[2021-06-04 05:08] wx4625820 commented on #1751
I saw that this issue has not been fixed yet, so I submit a pr

[2021-06-06 06:23] TeslaCN commented on #1895
Could you provide your job configurations? Is it possible that misfire happened?

[2021-06-06 10:00] chenyujie-lab commented on #1895
`
    <job:simple id="testTxLcnJob" class=""
                registry-center-ref="regCenter" cron="0/1 * * * * ?" overwrite="true" failover="false"
                sharding-item-parameters="0=a" description="This is a timed task" sharding-total-count="1"/>
`
`
    <reg:zookeeper id="regCenter" server-lists="127.0.0.1:2181" namespace="garbage-job" base-sleep-time-milliseconds="1000"

[2021-06-07 03:17] #1751 closed, assigned to gzdzss

[2021-06-07 12:51] nanjinglex opened #1899 "Unable to find property 'jobClass' on class: org.apache.shardingsphere.elasticjob.infra.pojo.JobConfigurationPOJO"
{"success":false,"errorCode":500,"errorMsg":"Unable to find property 'jobClass' on class: org.apache.shardingsphere.elasticjob.infra.pojo.JobConfigurationPOJO","model":null}

[2021-06-07 12:59] y553546436 opened #1900 "Flaky unit tests in GsonFactoryTest (non-idempotent)"
## Bug Report

### Expected behavior

Test `org.apache.shardingsphere.elasticjob.infra.json.GsonFactoryTest.assertRegisterTypeAdapter` should not pollute the state shared among tests, to prevent test dependency issues (i.e., a new test in the future could be flaky and fail when run after it due to the state pollution).

### Actual behavior

The test pollutes the state shared among tests. If run tw

[2021-06-07 13:03] nanjinglex commented on #1899
![image](https://user-images.githubusercontent.com/44739893/121021317-d88bce80-c7d3-11eb-8cbb-b025f04a6730.png)

[2021-06-08 06:53] takeseem opened #1902 "ShardingContext can add a field ShardingContexts"
## Feature Request

**For English only**, other languages will not accept.

I have a case:

1. I will start a Timer from a job
2. when re-sharding, i need found all the shardingItems in this JVM, if the item is not in this jvm, I will to stop the timer.

[code]
I will stop Timer not sharding in this jvm with ShardingContext.getShardingContexts().shardingItemParameters(), like this
[code]
### Is yo

[2021-06-08 09:29] ArberChang commented on #1821
开发人员或许需要加强中文学习哦！

[2021-06-09 08:29] CherishCai opened #1903 "Why 3.0.0 do not push to mvnrepository"
![image](https://user-images.githubusercontent.com/16837364/121320422-badb7800-c93f-11eb-8cb6-aea72acf36c7.png)

![image](https://user-images.githubusercontent.com/16837364/121454150-e2305480-c9d4-11eb-9231-530a1d17e005.png)

[2021-06-10 02:18] CherishCai commented on #1903
@TeslaCN 请问下估计什么时候 3.0.0 正式版发布吗

[2021-06-10 09:56] xiangtao123 opened #1904 "Filename too long error"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, because we maybe need more de

[2021-06-11 01:34] skaic commented on #1904
windows gui？you can search in google。

[2021-06-18 08:02] kaihekaihe opened #1906 "How to control the size of threads in "ReconcileService group executor" and "job-event group executor""
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, because we maybe need more de

[2021-06-21 00:59] yourzjf commented on #1892
Thank you. When will the DAG feature be available

[2021-06-21 15:28] TeslaCN commented on #1903
Hi @CherishCai,
Sorry for the delay. We will finish the releasing ASAP.

[2021-06-21 15:33] TeslaCN opened #1907 "[DISCUSS] Release plan of ElasticJob 3.0.0"
Hi All,

Sorry for the delay of releasing ElasticJob 3.0.0. We worked hard on the ShardingSphere 5.0.0-beta in the past month. We are going to continue releasing the ElasticJob 3.0.0.

* https://lists.apache.org/thread.html/r1bd147b7d0985e2d6e4acaa059fe1ba688c07bfc08b73e5a5284752b%40%3Cdev.shardingsphere.apache.org%3E

[2021-06-22 09:06] kaihekaihe opened #1908 "springboot starter configuration instantiation phase"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2021-06-23 08:34] sam2099 opened #1909 "spring boot ElasticJob-Lite Job conflict with register center"
## Bug Report

### Which version of ElasticJob did you use?
elasticjob-lite-spring-boot-starter 3.0.0-RC1
spring-boot 2.2.12.RELEASE
zookeeper-3.7.0

### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?
ElasticJob-Lite
### Expected behavior

### Actual behavior
every time i need delete zookeeper data when i start spring boot application,
otherwise error as below :

[code]

### Reaso

[2021-06-24 07:38] #1895 closed, assigned to nobody

[2021-06-25 02:14] CherishCai commented on #1903
感谢答疑，期待。

[2021-06-25 02:14] #1903 closed, assigned to nobody

[2021-06-25 02:18] CherishCai commented on #1909
$$EnhancerBySpringCGLIB$$c45ad338

这段明显是经过了 AOP 增强，ej 校验了类名的一致性，若要支持，得识别各种增强的后缀切除吧。

[2021-06-25 10:17] skaic opened #1910 "ElasticJobExecutor execute have some different between SingleSharding and MultipleSharding"
## Question

look here：

[code]

When `shardingContexts.getShardingItemParameters` size is 1 ,  process is run in currentThread。
Then  `shardingContexts.getShardingItemParameters` size not‘s 1， process is run in ExecutorService.Thread。

I  want to SingleSharding  process keep pace with  MultipleSharding process , what do you think?

[2021-06-26 12:53] TeslaCN commented on #1907
Hi,

ElasticJob-3.0.0 is on the voting stage at this moment, please refer to [Vote Process](https://lists.apache.org/thread.html/r4809eba31a29b8e7252a1422633ac07f7dcbaf03d6456dd3927a7a3a%40%3Cdev.shardingsphere.apache.org%3E) to cast your vote.

[2021-06-28 09:16] G927538242 opened #1912 "shardingsphere-elasticjob 节点 重启后 部分任务下线"
![image](https://user-images.githubusercontent.com/48881364/123611842-97b43200-d834-11eb-909f-87eae4551221.png)
![image](https://user-images.githubusercontent.com/48881364/123611871-9e42a980-d834-11eb-99a3-2e93752c6b20.png)
![image](https://user-images.githubusercontent.com/48881364/123611892-a39ff400-d834-11eb-961e-9f97b459bb2f.png)

[2021-06-28 09:27] TeslaCN commented on #1912
Could you please translate the title into **English** and tell us the ElasticJob's version?

[2021-06-28 09:30] G927538242 commented on #1912
ok

[2021-06-28 09:40] G927538242 opened #1913 "After the shardingsphere elastic job node is restarted, some tasks are offline"
#Error reporting
Elasticjob Lite node, task display offline
- read the document: [elasticjob doc]（ https://shardingsphere.apache.org/elasticjob/current/en/overview/ )。
Version: elasticjob Lite
#Expected behavior
#Actual behavior
Task offline
###Steps to copy behavior
Synchronization task: when a node is offline, restart it again, and some tasks will be offline
###Sample code (such as GitHub link).

[2021-06-28 09:40] G927538242 commented on #1913
![image](https://user-images.githubusercontent.com/48881364/123615510-f4651c00-d837-11eb-83ca-e7851e80acc2.png)

[2021-06-28 16:02] TeslaCN commented on #1910
I think submitting a task to the thread pool may cause a thread context switch, which is unnecessary for a single shard.

[2021-06-28 16:04] #1912 closed, assigned to nobody

[2021-06-29 02:17] TeslaCN commented on #1464
Hi @skaic
We can discuss about how to support and what will happen if timed out.

[2021-06-29 02:19] skaic commented on #1464
Thanks @TeslaCN .  It is a necessary feature for me ,  I have a idea and give me some time to write, Thanks.

[2021-06-29 03:58] skaic commented on #1464
Core:
核心思想：

We start a process in new thread and waiting it。 When time out, call the interrupt() of the thread  And cloes() of the thread socket 。
我们通过线程启动任务后，使用一个计时器进行等待，如果超时了，就调用该线程的 interrupt 方法和该线程的套接字 close 方法。

So,  Ours Job can  try to find a timeout  By  Check  isInterrupted ( `Thread.currentThread().isInterrupted()` ) 、 catch InterruptedException | IOException , and to close self .
因此，我们

[2021-06-29 05:55] skaic commented on #1464
of course , the waiting timeout code can make it better .

[2021-06-29 06:16] TeslaCN commented on #1464
I don't think it is elegant that let user write the `Thread.currentThread().isInterrupted()` in their business code. And they can also check the timeout or interrupt by themselves just by adding a little bit of code if they had already wrote some code about Thread or concurrent.
We may need a more elegant way to do that.

[2021-06-29 06:51] skaic commented on #1906
Hello, @TeslaCN

I think use only one thread to  reconcile Interval for all job is better, What do you think?

[2021-06-29 07:17] skaic commented on #1464
Right,  `Thread.currentThread().isInterrupted()`  looks stupid.

But Java deprecated `Thread.stop()`, `Thread.suspend()` methods, and use 'Thread.Interrupt() ' send the signal to the thread.
 if necessary  `Job` need  to check the signal and stop itself.

We just providing a solution to stop `job-thread`  When it is timeout.

[2021-06-29 10:36] xdxTao opened #1914 "文档中说提供自定义的Spring Boot Starter没太明白这个是什么意思"
![image](https://user-images.githubusercontent.com/37034233/123782946-6c9b1280-d908-11eb-9894-b42f795846f3.png)

我引入的pom文件如下
[code]

配置文件如下

[code]

怎么都无法开启定时任务。  难道说这个Starter是需要我自己去制作一个吗？

ps：使用Java API的方式可以调用成功

[2021-06-29 16:32] skaic commented on #1914
For English only

pom need import this package.
[code]

[2021-06-30 01:58] #1914 closed, assigned to nobody

[2021-06-30 03:11] laobing2019 opened #1915 "部分任务在部分节点上没有被执行"
实践中遇到的，当前elastic-job集群是3台节点，手动触发任务但是发现，只有两个节点执行了，打印出了execute的监听日志，但是指定shardingItemParameters = "0=1"的那台节点却没有执行任务，没有任何日志输出，这个节点上的其他的任务是正常运行的。（并且这个任务在前一段时间都有被执行过）

[2021-06-30 03:45] xdxTao opened #1916 "I don't understand how to configure one-time scheduling in springboot"
**MyJob**
[code]

<br/>

**MyYML**

[code]

<br/>

**MyController**

[code]

<br/>

**StratError**

[code]

[2021-06-30 03:46] xdxTao opened #1917 "I don't understand how to configure one-time scheduling in springboot"
**MyJob**
[code]

<br/>

**MyYML**

[code]

<br/>

**MyController**

[code]

<br/>

**StratError**

[code]

[2021-06-30 07:10] #1916 closed, assigned to nobody

[2021-06-30 07:16] xdxTao commented on #1917
I changed the bean name：myElasticJobBean

startError：

[code]

[2021-06-30 10:47] cemian commented on #1915
我也遇到了一样的问题，其他job都可以正常执行，只有一两个会执行几次之后就无法执行了，job_execution_log也没相应的记录，然后重启服务后又可以正常执行，过一会儿又不执行了。
如果你找到了问题的原因，希望能告诉我，谢谢！

[2021-06-30 15:38] TeslaCN commented on #1915
For **English** only.

[2021-06-30 15:38] #1915 closed, assigned to nobody

[2021-06-30 15:42] TeslaCN commented on #1917
Hi @xdxTao
Just rename the class `MyElasticJob` or rename the value of jobBootstrapBeanName.

[2021-06-30 15:42] #1917 closed, assigned to nobody

[2021-07-01 02:39] xdxTao commented on #1917
Hi @TeslaCN
I changed the class to `onejob` and the `jobBootstrapBeanName` according to you, but still can't。

**job**

[code]

**yml**

[code]

**controller**

[code]

**pom**

[code]

**startError**

[code]

The error is that the bean type is wrong. Is there any configuration missing?

[2021-07-01 06:34] gonedays commented on #1881
Hi,@TeslaCN,
There is still a problem, when multiple application instances deployed on different server, and each server has different netwrok interfaces, but we has unified deployment script, then no way to specify the network interface for each application instance.
I guess we can have a better way, refer to spring cloud's choice(spring.cloud.inetutils.preferredNetworks=ip regular express), spec

[2021-07-01 10:47] yourzjf commented on #1892
see #1690

[2021-07-01 10:47] #1892 closed, assigned to nobody

[2021-07-01 12:21] xdxTao opened #1918 "Can't springboot use the listener?"
I don't see how the `springBootStarter` uses the listener in the document. Can it not be used?

If I can, what's wrong with my writing?

**MyListener**
[code]

**MyYml**

[code]

**In addition, please take another look #1917**

Thank you.

[2021-07-02 03:41] gonedays opened #1919 "Specify an ip when job instance application deployed on multi-ip server with different network interface"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
yes, [https://github.com/

[2021-07-03 12:08] TeslaCN commented on #1918
The current job listener supports SPI only. You may create a file `META-INF/services/org.apache.shardingsphere.elasticjob.infra.listener.ElasticJobListener`in your resources directory and specify your implementation.
We will enhance the Spring support in the next release.

[2021-07-04 02:48] #1818 closed, assigned to nobody

[2021-07-06 03:15] #1907 closed, assigned to nobody

[2021-07-06 03:19] #1900 closed, assigned to nobody

[2021-07-06 09:58] #1910 closed, assigned to nobody

[2021-07-06 11:47] skaic commented on #1464
Job  execution timeout for quartz  is doing like that.  see it  https://www.quartz-scheduler.net/documentation/quartz-3.x/packages/quartz-plugins.html#:~:text=%23-,JobInterruptMonitorPlugin,-This%20plugin%20catches

[2021-07-07 13:44] stanstanwang opened #1924 "Is Operation API module still in incubation?"
## Question

https://github.com/apache/shardingsphere-elasticjob/issues

Is Operation API module still in incubation?

and When will it be released？

[2021-07-08 02:31] sunkai-cai commented on #1924
It is released.  You can have a look [elasticjob-lite-lifecycle](https://github.com/apache/shardingsphere-elasticjob/tree/master/elasticjob-lite/elasticjob-lite-lifecycle)

[2021-07-08 07:37] stanstanwang commented on #1924
thanks

[2021-07-08 07:37] #1924 closed, assigned to nobody

[2021-07-08 10:02] 13761103808 opened #1925 "Ready jobs Is not executed in the order of scheduler time ?"
Sometimes, we have too many jobs ,and the resource is  not enough for all jobs.  Then some jobs will wait as ready list in zookeeper  /ready  node.
But , the ready jobs execute with the order of  name or other ,  not  scheduler time , so  some jobs will  never run .

[2021-07-08 10:06] dawang1024 opened #1926 "How should runtime job timeouts be checked？"
## How should runtime job timeouts be checked
this is question
![image](https://user-images.githubusercontent.com/67535305/124903958-14a29100-e017-11eb-9f55-0b746e2bbe58.png)

[2021-07-08 10:19] sunkai-cai commented on #1926
For English only.

[2021-07-09 03:00] happy999999999 opened #1927 "How to configure Operation and maintenance platform and RESTFul API deployment？"
The elastic-job-lite-console is in the description document, but now, it cannot be implemented in the project. What should I do now to get "elasticjob-lite-console-${version}.tar.gz"?

[2021-07-09 03:04] happy999999999 commented on #1927
https://shardingsphere.apache.org/elasticjob/current/en/user-manual/elasticjob-lite/operation/deploy-guide/

[2021-07-09 06:58] sunkai-cai commented on #1926
Did you set the `job:distributed-listener:started-timeout-milliseconds` or `job:distributed-listener:completed-timeout-milliseconds` ?

[2021-07-09 07:01] sunkai-cai commented on #1927
look here. https://github.com/apache/shardingsphere-elasticjob-ui

[2021-07-09 07:06] sunkai-cai commented on #1925
You want to clear unnecessary jobs ？

[2021-07-09 08:23] dawang1024 commented on #1926
**Thank you. I figured out what the problem was**

[2021-07-09 08:23] #1926 closed, assigned to nobody

[2021-07-09 08:42] ArberChang commented on #1865
[code]
it dosen`t work,when i change version to 3.0.0

[2021-07-09 15:41] 13761103808 commented on #1925
No.
I want the  waiting jobs execute  by the order of  created  time in zookeeper node.

thanks .

[2021-07-10 05:15] sunkai-cai commented on #1925
Hi @TeslaCN

this is need your help.

[2021-07-10 05:32] 13761103808 commented on #1925
Thanks @sunkai-cai @TeslaCN   !!

By the way ,   Can us  open a interface to the user  ?
We can  implement  ourself  execute  order strategy for the jobs in  waiting queue ?

[2021-07-12 03:37] lwtao opened #1928 "Is there a way for each application node to run a specified number of shards?"
比方说，应用有3个节点，设置每个节点运行1个分片，那该任务整个集群会运行3个分片，当应用进行扩容，到了5个节点，那系统会让新的节点也分配一个分片，整个集群会运行5个分片。

[2021-07-12 04:27] TeslaCN commented on #1928
Hi @lwtao
Could you please translate your issue into English? Other language will not accept.

[2021-07-12 04:27] #1928 closed, assigned to nobody

[2021-07-12 14:50] TeslaCN commented on #1927
@sunkai-cai Thanks for your answer!

[2021-07-12 14:50] #1927 closed, assigned to nobody

[2021-07-12 16:59] #1894 closed, assigned to nobody

[2021-07-12 17:02] TeslaCN commented on #1902
Hi @takeseem
I can't get your point. What's the timer for?

[2021-07-12 17:04] TeslaCN commented on #1891
Hi @skaic
Could you query tracing logs from the database?

[2021-07-12 17:06] #1850 closed, assigned to nobody

[2021-07-13 10:47] lwtao opened #1929 "Is there a way for each application node to run a specified number of shards?"
For example, if the application has three nodes and each node is set to run one shard, then the whole cluster will run three shards for the task. When the application expands to five nodes, the system will assign one shard to the new node and the whole cluster will run five shards.

[2021-07-14 10:34] sunkai-cai commented on #1909
Hi  @TeslaCN

I see the  `elasticjob-lite-spring-boot-starter` is need  `SpringProxyJobClassNameProvider` , but it not dependency `elasticjob-lite-spring-namespace`.  I want to create a commoe project  like   `elasticjob-lite-spring-core`  ,  Is that alright ?

[2021-07-14 10:40] sunkai-cai commented on #1891
of course. i do it now.

[2021-07-15 13:17] #1810 closed, assigned to nobody

[2021-07-15 13:17] #1908 closed, assigned to nobody

[2021-07-15 13:22] TeslaCN commented on #1929
Hi @lwtao
Could you try implements your own `JobShardingStrategy`? You may ignore the `shardingTotalCount` in the Context and sharding as you want.

[2021-07-15 13:25] #1891 closed, assigned to nobody

[2021-07-15 13:25] TeslaCN commented on #1848
Close due to no response.

[2021-07-15 13:25] #1848 closed, assigned to nobody

[2021-07-15 16:31] TeslaCN commented on #1899
ElasticJob 3.x is incompatible with 2.x. Try cleanup your ZooKeeper.

[2021-07-15 16:31] #1899 closed, assigned to nobody

[2021-07-15 17:03] TeslaCN commented on #1904
https://shardingsphere.apache.org/document/current/en/faq/#13-in-windows-environmentwhen-cloning-shardingsphere-source-code-through-git-why-prompt-filename-too-long-and-how-to-solve-it

[2021-07-15 17:03] #1904 closed, assigned to nobody

[2021-07-17 14:21] #1909 closed, assigned to sunkai-cai

[2021-07-17 16:25] sunkai-cai commented on #1445
@TeslaCN   Let's finish this work ：）

[2021-07-18 07:56] 13761103808 commented on #1925
@sunkai-cai @TeslaCN

Hello  !

We can modify the method  getChildrenKeys of ZookeeperRegistryCenter.getChildrenKeys.
We need sort by ctime in zk  ,now is sorted by name  string.

``@Override
    public List<String> getChildrenKeys(final String key) {
        try {
            List<String> result = client.getChildren().forPath(key);
            Collections.sort(result, new Comparator<String>() {

[2021-07-19 06:01] sdlzhd opened #1934 "ElasticJob cannot be restored when DNS service is down!"
## Bug Report

### Which version of ElasticJob did you use?

2.1.5

### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?

ElasticJob-Lite

### Expected behavior

ElasticJob is available after DNS to be restored

### Actual behavior

ElasticJob is down

### Reason analyze (If you can)

If I use ip to connect to zkp, a `NodeExistsException` will be thrown when the network is disconnec

[2021-07-20 10:16] Technoboy- commented on #1906
Maybe we can use a common threadpool.

[2021-07-20 14:27] #1906 closed, assigned to nobody

[2021-07-21 09:05] CherishCai opened #1937 "Question: Can ElasticJobListener has order?"
## Question

**For English only**, other languages will not accept.

can ElasticJobListener has an order? or afterJobExecuted reverse order call ElasticJobListener under code.

org.apache.shardingsphere.elasticjob.lite.internal.schedule.LiteJobFacade
[code]

[2021-07-22 02:05] sunkai-cai commented on #1919
I can do it, assign to me thanks.

[2021-07-22 12:46] lllzh-dev commented on #1858
How about Using `Socket` connect to some open ports like 22, 80, etc. after `InetAddress.isReachable()` return false

[2021-07-22 15:09] TeslaCN commented on #1858
This may not work. The final goal is find a proper IP for current environment. Testing reachable is just a way to do that.

[2021-07-22 15:10] TeslaCN commented on #1937
Try adding the listener orderly.

[2021-07-22 15:32] TeslaCN commented on #1934
Hi @sdlzhd
DNS down means cannot get the IP of registry center. How to resume?

[2021-07-23 01:07] sdlzhd commented on #1934
I mean if the network is recovered, the DNS has not fully recovered(May take 15 second), which will cause the ElasticJob to offline, and Thread is dead,  the ElasticJob will never go online.

[2021-07-23 03:40] cjhz opened #1940 "The granularity of elastic job can only be up to the second level. Does it support the timed task of 500 milliseconds"
The granularity of elastic job can only be up to the second level. Does it support the timed task of 500 milliseconds????

[2021-07-23 07:33] Technoboy- commented on #1940
Currenly, Elasticjob core is based on quartz. Cron expression may only support to second level.
Millis may be support in the future release.

[2021-07-24 03:05] #1919 closed, assigned to sunkai-cai

[2021-07-27 10:18] #1937 closed, assigned to nobody

[2021-07-27 13:34] TeslaCN opened #1945 "The job error handler email module introduced GPL dependency"
## License

Refer to https://www.apache.org/licenses/GPL-compatibility.html

The dependencies under GPL license must be replaced or excluded.

[2021-07-27 13:45] TeslaCN commented on #1945
I found the javax.mail-1.6.0 is under CDDL and GPLv2.

[2021-07-27 13:45] #1945 closed, assigned to nobody

[2021-07-27 13:57] Yenuo opened #1946 "Elastic-Job task persistence"
1. Elastic-job supports the persistence of scheduled tasks to the database. The next time you start the service, you can read the scheduled tasks from the database for scheduled execution. At present, elasticjob-Lite does not support this, but elasticjob-Lite supports the tracking and persistence of task events to the database. Is there a plan to implement this persistence to the database?

2. Ela

[2021-07-27 14:18] Yenuo commented on #1946
In other words, after the service is restarted, how to pull up the tasks in zookeeper and execute scheduled tasks.

[2021-07-28 09:38] sunkai-cai opened #1947 "Project build failed using JDK11"
## Bug Report

### Which version of ElasticJob did you use?

3.0.0

### Actual behavior

Failed to execute goal org.apache.maven.plugins:maven-javadoc-plugin:2.10.3:jar (attach-javadocs) on project elasticjob-api: MavenReportException: Error while generating Javadoc: Unable to find javadoc command: The javadoc executable 'C:\Program Files\Java\jdk-11.0.2\..\bin\javadoc.exe' doesn't exist or is not

[2021-07-29 03:47] Yenuo commented on #1946
https://github.com/apache/shardingsphere-elasticjob/issues/706
The problem is the same as mine，How did you solve it？

[2021-07-29 03:55] Yenuo commented on #706
@ShortFinger
现在我使用的是3.0.0 也遇到这个问题？请问是如何解决的呢？

@Leonidasz @terrymanu    How did you solve it?

[2021-07-29 06:05] TeslaCN commented on #1946
ElasticJob doesn't rely on Database. Job configurations are persisted in the Registry Center. Quartz is used to trigger the job.
Could you tell me something about your scenario?

[2021-07-29 06:39] Yenuo commented on #1946
My appeal is that the service needs to be able to dynamically add and delete scheduled tasks, and can continue to execute the previously created scheduled tasks after the service is restarted.
Service refers to the dynamic management task implemented by job scheduling using elasticjob-Lite（ https://shardingsphere.apache.org/elasticjob/current/cn/quick-start/elasticjob-lite/ ）

[2021-07-29 06:45] Yenuo commented on #1946
Registry center refers to the zookeeper?
Two more questions about this zookeeper?
1. How to re launch the crashed task?
2. Why are some tasks executed by two instances and some by only one instance?
![image](https://user-images.githubusercontent.com/29774996/127444238-cf63bfe7-29a7-400a-81a0-da1f0bd2cbeb.png)

[2021-07-31 04:17] #1947 closed, assigned to sunkai-cai

[2021-08-02 04:02] takeseem commented on #1902
定时器我只是举一个例子，实际的需求场景是：服务是有状态的，这个状态与分片有直接关系。

1. elasticjob调度器：用于分片调度，但是任务是有状态的
2. 分片如果重新分配后，需要感知到这个分片变化，重新设定任务的状态。

[2021-08-02 04:12] takeseem opened #1950 "NPE in InstanceService.getAvailableJobInstances"
## Bug Report

throw NPE in [InstanceService.getAvailableJobInstances()](https://github.com/apache/shardingsphere-elasticjob/blob/master/elasticjob-lite/elasticjob-lite-core/src/main/java/org/apache/shardingsphere/elasticjob/lite/internal/instance/InstanceService.java#L73)  when upgrade from 3.0.0-RC1 to 3.0.0.
[code]

[code]

[2021-08-02 09:02] CherishCai opened #1951 "Maybe JobScheduler adjusts the constructor to init jobConfig first?"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?
invoke first `this.jobCon

[2021-08-03 06:07] #1950 closed, assigned to Technoboy-

[2021-08-03 06:18] TeslaCN commented on #1946
ElasticJob is a SDK, you can make good use of it in your way. I wrote a demo about schedule jobs dynamically, you may refer to it.
https://github.com/TeslaCN/flexijob/blob/master/src/main/java/icu/wwj/flexijob/internal/listener/NewJobListener.java

[2021-08-03 06:19] TeslaCN commented on #1889
Close due to no response.

[2021-08-03 06:19] #1889 closed, assigned to nobody

[2021-08-05 02:44] CherishCai commented on #1951
![image](https://user-images.githubusercontent.com/16837364/128282670-7acf9126-441c-4a7b-b1d6-8141187b8406.png)

[2021-08-08 02:12] #1688 closed, assigned to nobody

[2021-08-12 08:56] Fdemo123 opened #1958 "some tasks run very frequently and do not want to log. I want to configure logging separately for tasks with long running intervals"
some tasks run very frequently and do not want to log. I want to configure logging separately for tasks with long running intervals

[2021-08-12 09:45] sunkai-cai commented on #1958
For English only.

Are you using `elasticjob-lite-spring-boot-starter` package?

This a good idea, maybe we can support it in next version.

[2021-08-13 06:31] xiebin2015 opened #1960 "Job conflict with register center"
There is a problem with elasitcjob 3. X. I have two nodes for task scheduling service. The first node starts normally, and the second node reports job conflict with register center exception. What is the reason?

[2021-08-13 07:00] sunkai-cai commented on #1960
hi  @xiebin2015 ，

Could you show the exception infomation。

[2021-08-13 07:14] xiebin2015 commented on #1960
org.apache.shardingsphere.elasticjob.infra.exception.JobConfigurationException: Job conflict with register center. The job 'authorizerRefreshTokenJob' in register center's class is 'com.gf.job.simple.AuthorizerRefreshTokenJob$$EnhancerBySpringCGLIB$$25dfddd8', your job class is 'com.gf.job.simple.AuthorizerRefreshTokenJob$$EnhancerBySpringCGLIB$$e59941b5'
	at org.apache.shardingsphere.elasticjob.l

[2021-08-13 07:23] TeslaCN commented on #1958
Please translate your issue into English.

[2021-08-13 07:25] TeslaCN commented on #1960
This issue is duplicated with #1909.

[2021-08-13 07:25] #1960 closed, assigned to nobody

[2021-08-13 07:31] xiebin2015 commented on #1960
Thank you, but I can't seem to find out how to solve this problem there. Can you help me give a solution?

[2021-08-13 07:38] Fdemo123 commented on #1958
I am using elastic job version 2.1.5. I have written a springboot starter to handle the loading of tasks and control whether each task records logs separately. I see that the official website is updated. I want to upgrade and find that this function is not available. I hope the official can support it. In this way, the developer does not need to do secondary encapsulation.

[2021-08-13 07:42] TeslaCN commented on #1960
@xiebin2015
This problem has been fixed by #1932 and merged into master.

[2021-08-13 09:57] CherishCai opened #1961 "Feature: ElasticJobListener has an order or Reverse order call afterJobExecuted()."
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem? Describe the feature you

[2021-08-13 10:16] xiebin2015 commented on #1960
Sorry, I read #1932 it and still don't understand how to solve it. My Maven dependencies are as follows
![image](https://user-images.githubusercontent.com/14512197/129341907-467be845-6efd-44d8-b5b4-d8cd61d97a04.png)

[2021-08-16 01:29] xiebin2015 commented on #1960
hi 你好，对于Job conflict with register center这个问题，我想到一种解决方法，之后没有再出现这个问题，但是我不确定的是这样是否带来了其他问题，请指教，谢谢。
解决方法是在节点启动过程中初始化job任务之前先检查job是否持久化到zookeeper中了，如果存在则先删除，再重新创建job。
![image](https://user-images.githubusercontent.com/14512197/129499977-af0ae25b-be1d-45ce-900a-203cfcb6cc24.png)

[2021-08-16 02:37] sunkai-cai commented on #1961
Hi @CherishCai

Thanks for your proposal, the ElasticJobListener supported it in the next version. look at this: https://github.com/apache/shardingsphere-elasticjob/pull/1943.

[2021-08-16 02:49] sunkai-cai commented on #1960
hi @xiebin2015,

Thanks for your proposal.
I think #1932  can resolve you problem. May be you can try it When next version released, or build it for youself.

[2021-08-16 03:24] sunkai-cai commented on #1858
I think the "isReachable" method has not been worthy of checking local network。Maybe better to check the networdAddress of regCenter.

[2021-08-16 06:35] xiebin2015 commented on #1960
hi 我看了 #1932 的描述，但是我还是不看懂，我需要如何调整才能解决这个问题，debug过程中发现org.apache.shardingsphere.elasticjob.lite.internal.config.ConfigurationService.checkConflictJob方法里面比较新旧两个jobClassName是否一致，不一致则直接抛出异常了，在多节点启动的情况下，获得的jobclassName肯定会不一样，导致这里必然会抛出Job conflict with register center，能否给出一个更加详细的解决方案，谢谢

[2021-08-16 08:03] xiebin2015 commented on #1960
Hi, I solved this problem by customizing the four classes of schedulejobbootstrap, jobscheduler, setupfacade and configurationservice, and rewriting the checkconflictjob method of configurationservice. After a simple test, no problems and effects were found. I want to know what problems the author mainly wants to solve in comparing the stored class names in ZK?

[2021-08-16 08:06] sunkai-cai commented on #1958
Of course,  the features in the plan, and welcome the developer submit PR.  Could you contribute code to complete the plan faster .

[2021-08-16 08:11] sunkai-cai commented on #1960
Hi @xiebin2015 ,

welcome you question.

the `SpringProxyJobClassNameProvider` class can resolve your problem, it can get the job original class name by cglib or jdk dynamic proxy object.  you can look at it :)

[2021-08-16 10:06] xiebin2015 commented on #1960
Hi, I finally understand #1932 what spring proxyjobclassnameprovider means. By adding the SPI configuration of spring proxyjobclassnameprovider, I solved the problem of job conflict with register center. Thank you very much! In addition, I would like to ask which version of this problem will be repaired?

[2021-08-16 10:33] sunkai-cai commented on #1960
in next version 3.1.0 ，you can waiting for release

[2021-08-17 00:47] xiebin2015 commented on #1960
OK, I look forward to the release of the new version. Thank you very much for your help

[2021-08-17 01:53] xiebin2015 commented on #1872
Hi found a certain delay in job triggering during the test. Is this a normal problem?

[2021-08-17 02:52] xiebin2015 opened #1962 "Job execution is delayed?"
Hi found a certain delay in job triggering during the test. Is this a normal problem?

[2021-08-17 04:14] CherishCai commented on #1961
Oh, I'm sorry, I already mentioned it.

[2021-08-17 04:22] CherishCai commented on #1961
Like this: #1943. So close.

[2021-08-17 04:22] #1961 closed, assigned to nobody

[2021-08-17 05:51] sunkai-cai commented on #1962
Hi， @xiebin2015

Could you provide more information about it?

[2021-08-17 06:54] xiebin2015 commented on #1962
![image](https://user-images.githubusercontent.com/14512197/129677824-98ad4bec-6127-40ea-b127-2c05794571e7.png)
Hi, this is the log printed by my test. My task is to execute it every 5S. From the log, we can see that there are some differences in the execution time interval

[2021-08-17 07:58] xiebin2015 commented on #1962
Hi, the red box in the figure shows the start time of each job execution. By comparing each time, we can see that there is a difference between each execution and the set execution time every 5 seconds

[2021-08-17 09:42] TeslaCN commented on #1962
@xiebin2015 Could you show me your listeners?

[2021-08-17 12:18] TeslaCN commented on #1958
Event trace is not a global configuration. You can configure event trace for each job separately.

[2021-08-18 00:29] xiebin2015 commented on #1962
OK, please see the screenshot of my code as follows.
![image](https://user-images.githubusercontent.com/14512197/129817664-99eef5bd-faa4-4767-88c8-0630ae9e328c.png)
![image](https://user-images.githubusercontent.com/14512197/129817709-e7d91c41-e065-4303-bc41-bdba303d4f5b.png)

[2021-08-18 12:08] NiuGui8 opened #1964 "请问，单机但是有大量的定时任务的场景适用吗？"
## Question
用于边缘服务器有大量定时任务的场景，边缘服务器通常都是单机的，这种情况适用吗？

[2021-08-19 02:54] sunkai-cai commented on #1964
Hi @NiuGui8

Welcome to question.  Please translate your issue into English, thanks.

shardingsphere-elasticjob able to support singl-machine service.

[2021-08-19 10:29] cjhz opened #1965 "elasticjob.tracing.type=RDB does not support configuration specific jobs?"
when i use module "elasticjob-lite-spring-boot-starter" and configure elasticjob.tracing.type=RDB  does not support configuration specific jobs? Currently, all global jobs are effective

[2021-08-20 03:19] TeslaCN commented on #1965
My idea is adding a black-and-white list like the following:
[code]
Tracing is enable for all jobs by default.

[2021-08-20 05:52] sunkai-cai commented on #1965
hi @TeslaCN ,

look nice.  I can do it, please assignees to me.

[2021-08-23 06:07] shenshangwei opened #1966 "elasticjob-lite-spring-boot-starter"
可以在官网的文档里面写上 elasticjob-lite-spring-boot-starter 的具体依赖么

[2021-08-23 06:33] sunkai-cai commented on #1966
Hi @shenshangwei ，

Welcome the recommendation. Please translate your issue into English, thanks.

you can import this package.

[code]

[2021-08-26 08:58] ilovewsy commented on #1845
i also get the same error when i run it with java -jar
16:51:35.005 [MySimpleJob_Worker-1] DEBUG org.quartz.core.JobRunShell - Calling execute on job DEFAULT.MySimpleJob
16:51:35.007 [MySimpleJob_Worker-1] ERROR org.quartz.core.JobRunShell - Job DEFAULT.MySimpleJob threw an unhandled Exception:
java.lang.NullPointerException: null
	at org.apache.shardingsphere.elasticjob.executor.context.ExecutorC

[2021-08-26 09:30] #1966 closed, assigned to sunkai-cai

[2021-08-31 00:57] xiebin2015 opened #1969 "How to clear dynamic tasks?"
Hello, I have a dynamic task (executed once at a certain time point). In fact, my expectation is that it will be cleared automatically after only one execution. What should I do?

[2021-08-31 05:57] hints0816 opened #1970 "How to set mail error configwhen SMTP does not have authentication"
## Question
How to set mail error configwhen SMTP does not have authentication

[2021-08-31 07:48] ZhiQinIsZhen opened #1971 "springboot start can add annotation, we don‘t write config files"
## Feature Request

**For English only**, other languages will not accept.
Current version add some jobs，first wo need to add config to yml, such as
[code]

we have to modify the configuration every time we add a task
This is too much trouble

### Is your feature request related to a problem?
yes
### Describe the feature you would like.
we can add a annotation,this annotation has the same fields w

[2021-09-01 03:06] chenxinoom opened #1972 "Is the sharding bound to the host without any unexpected circumstances?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, b

[2021-09-01 14:10] TeslaCN commented on #1972
Hi @chenxinoom
Sorry I can get your point. Could you please clarify?

[2021-09-01 14:13] TeslaCN commented on #1971
This issue is duplicated with #1445.
We are discussing the API recently and you are welcome to join our discussion by issue or email https://lists.apache.org/thread.html/r12fed98738fde8dae1f6ab56f194d787d2eddbdfc3c0ad34f3c9d866%40%3Cdev.shardingsphere.apache.org%3E .

[2021-09-01 14:15] TeslaCN commented on #1970
Hi @hints0816
Does setting an empty string to password works?
We may missed this situation before.

[2021-09-01 14:21] TeslaCN commented on #1969
I think my idea #1654 is similar with this issue. How do you think?

[2021-09-01 18:29] sunkai-cai commented on #1654
good idea！

[2021-09-01 18:32] sunkai-cai commented on #1445
I prefer to discuss the annotation of ElasticJob plan.

1. define annotation `ElasticJobConfiguration` in `api` , using  like this:

[code]

[code]

[code]

2. define annotation `EnableElastic` in spring-code , using like this:

[code]
or

[code]

[2021-09-02 03:44] chenxinoom commented on #1972
@TeslaCN
![image](https://user-images.githubusercontent.com/59288317/131777572-7817c792-2e59-4246-8c8a-6ee325651305.png)
![image](https://user-images.githubusercontent.com/59288317/131778360-a4ff296a-a5bd-4843-a0e4-60553a07bb2a.png)
on the old version,I set up a 10-second cycle,Suddenly  a shard 1 execution once and then returns to normal.What caused this situation?

[2021-09-02 04:06] chenxinoom commented on #1972
shard 0 should always be performed under normal circumstances.

[2021-09-03 02:22] dengbin19910916 opened #1973 "在elasticjob-lite-spring-boot-starter中当任务对象有子类时启动报错"
使用ElasticJobBootstrapConfiguration时如果Job class 被继承之后，应用启动报错，
原因是：ElasticJobBootstrapConfiguration#registerClassedJob中获取elasticJob bean的代码 ElasticJob elasticJob = applicationContext.getBean(jobConfigurationProperties.getElasticJobClass());只使用了elasticJobClass，而没有使用jobName。这个地方是否可以通过 ElasticJob elasticJob = applicationContext.getBean(jobName， jobConfigurationProperties.getElasticJobClass());获取job bea

[2021-09-03 02:40] xiebin2015 opened #1974 "How to dynamically add tasks in elastic job 3?"
Hi, I'm using elasitcjob3 now. How can I dynamically add tasks?

[2021-09-03 15:29] TeslaCN commented on #1973
Hi @dengbin19910916
For English only. Could you please translate your issue into English?

[2021-09-03 15:35] TeslaCN commented on #1974
Hi @xiebin2015
I have an idea about adding jobs dynamically. Starting a listener and persist job configurations to Registry Center. This is a demo of my idea.
https://github.com/TeslaCN/flexijob/blob/master/src/main/java/icu/wwj/flexijob/internal/listener/NewJobListener.java

[2021-09-06 01:02] xiebin2015 commented on #1974
Hello, thank you for your suggestion. Another question is, how can I dynamically modify the task configuration, such as execution time？

[2021-09-06 01:58] dengbin19910916 commented on #1973
@TeslaCN 英语不好怎么办？可以用百度翻译吗？

[2021-09-06 02:19] #1964 closed, assigned to nobody

[2021-09-06 02:19] TeslaCN commented on #1973
**For English only**, other languages will not accept.

[2021-09-06 02:19] #1973 closed, assigned to nobody

[2021-09-06 02:20] TeslaCN commented on #1870
**For English only**, other languages will not accept.

[2021-09-06 02:20] #1870 closed, assigned to nobody

[2021-09-06 02:22] #1965 closed, assigned to sunkai-cai

[2021-09-06 02:35] ZhiQinIsZhen commented on #1971
Looking forward to seeing it in the next version

[2021-09-06 02:35] #1971 closed, assigned to nobody

[2021-09-06 10:06] #1974 closed, assigned to nobody

[2021-09-06 10:07] xiebin2015 commented on #1974
Hi, I already have a solution, thank you

[2021-09-08 08:56] yujun-8848 opened #1976 "how to use trace datasource?"
I want to use com.mysql.cj.jdbc.Driver,dut it not support;
![image](https://user-images.githubusercontent.com/59599368/132478167-654420af-7eff-4cfc-98c8-89730c0d57f6.png)

springboot 2.2.6
elasticjob-lite-spring-boot-starter 3.0.0

[2021-09-09 00:39] yujun-8848 commented on #1865
i have tried to it,but it not work well,Have you solved it now？

[2021-09-09 02:26] sunkai-cai commented on #1976
you need add JDBC driver JAR to ext-lib. look at this  https://github.com/apache/shardingsphere-elasticjob-ui/blob/master/README.md

[2021-09-09 02:31] yujun-8848 commented on #1976
i see it ,and i have added jar into ext-lib,but why not create  auto table?
or i need to create it by myself.
![image](https://user-images.githubusercontent.com/59599368/132612439-a79168b0-b503-40e1-8ee7-c83a6465c856.png)

[2021-09-09 03:52] sunkai-cai commented on #1976
maybe you not start the elasticjob ？

[2021-09-09 06:57] yujun-8848 commented on #1976
i have started the elasticjob ,but it doesn't create talbes,if it work well ,database job will create two talbes to trace.
i don't know how to do it?

[code]
 <dependencies>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
        </dependency>
        <dependency>
            <groupId>org.projectlombok</group

[2021-09-10 01:56] yujun-8848 commented on #1976
ok,it work well, before i create spring cloud project,and extract elasticjob as service,elasticjob service call other service ,trace doesn't work,now i only make elasticjob as a task,it work well.

[2021-09-10 11:32] cn-src opened #1977 "elasticjob-lite support database or redis registry center"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2021-09-13 01:17] yujun-8848 opened #1979 "How can I gracefully exit a scheduled task？"
when i stop the applicaiton,the job will trow some exceptions.
How can I gracefully exit a scheduled task？
[code]

[2021-09-15 03:34] folochina commented on #1799
同样问题
- elasticjob-lite-spring-boot-starter 3.0.0
- springboot 2.3.2.RELEASE
- druid-starter 1.2.6

[2021-09-15 03:52] folochina commented on #1799
尝试了这个方案，发现无效

[2021-09-16 16:50] TeslaCN commented on #1977
The difference is too large between ZooKeeper and database or Redis. This can't be done at present.

[2021-09-16 16:58] TeslaCN commented on #1979
According to your log, the ZooKeeper client was shutdown before the job shutdown, which may be the cause of the exception. We can discuss how.

[2021-09-17 02:30] cn-src commented on #1977
Similar to elasticjob-lite, it provides a simple mode, which uses quartz to work in the original way (using a database), and at the same time can use the features of SimpleJob, DataflowJob, ScriptJob and web console provided by elasticjob-lite.

[2021-09-26 13:11] stanstanwang opened #1981 "JobOperateAPIImpl#trigger not work"
## Bug Report

### Which version of ElasticJob did you use?
3.0.0

### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?
ElasticJob-Lite

### Expected behavior
https://shardingsphere.apache.org/elasticjob/current/cn/user-manual/elasticjob-lite/usage/operation-api/#%E5%90%AF%E7%94%A8%E4%BD%9C%E4%B8%9A

runonce and clean the trigger flag

### Actual behavior

the job not run anymore  ,

[2021-09-27 02:30] sunkai-cai commented on #1981
Hi， @stanstanwang

Could you provide more information about it?

[2021-09-27 03:16] stanstanwang commented on #1981
my probolem is using the api `org.apache.shardingsphere.elasticjob.lite.lifecycle.internal.operate.JobOperateAPIImpl#trigger` to trigger the cron job run once not work !

and the cron job zk instance node with the`TRIGGER` flag no change, which cause the cron job not run anymore.

This is the Actual Behavior , is there any bug in the API itself ? but I don't know how to check, could you plese shar

[2021-09-27 03:30] sunkai-cai commented on #1981
Maybe you can try to check the parameter  `regCenter`  of ` new JobOperateAPIImpl(regCenter)`.

[2021-09-27 06:06] stanstanwang commented on #1981
![image](https://user-images.githubusercontent.com/19669879/134852401-67552875-4f22-456f-953e-023d09aa7d6a.png)

the same, i have already connected the zk server ,seeing the instance node  with `TRIGGER` flag,

which before using this api  `JobOperateAPIImpl#trigger`  the value as below

![image](https://user-images.githubusercontent.com/19669879/134853128-9ba60e17-3713-419e-857f-6405e7d14c3d.png)

[2021-09-27 06:22] stanstanwang commented on #1981
is there only work in 3.0.0-RC1 ? now my version is  3.0.0, i change the version to 3.0.0-RC1,this works.

the difference between the two version is in  3.0.0-RC1 zk instance node ' s  value is empty

![image](https://user-images.githubusercontent.com/19669879/134856084-08648261-f6b9-4459-a196-aeffccb98149.png)

[2021-09-27 08:51] TeslaCN commented on #1981
Thanks for your report. This is a bug in 3.0.0 and has been fixed in master branch.
https://github.com/apache/shardingsphere-elasticjob/pull/1936

[2021-09-27 08:51] #1981 closed, assigned to nobody

[2021-09-29 06:59] colin0000007 opened #1983 "why i can't find the code where the LiteJobFacade.getShardingContexts() is called?"
I read the elasticjob-lite-core source code through the official tutorial demo code recently. when i read the resharding part, i found that the ShardingTotalCountChangedJobListener and ListenServersChangedJobListener will set a /jobName/leader/sharding/necessary flag when /jobName/instances node or /jobName/server node or config node changed, but the listener only set a flag which indicates it nee

[2021-09-29 07:55] sunkai-cai commented on #1983
`LiteJobFacade.getShardingContexts()`  be called When ElasticJob executing, in `ElasticJobExecutor.execute()` .

[2021-09-30 02:19] chenlei0615 opened #1984 "如果分片的任务失败（代码业务异常），会是什么状态，能进行重试么？"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, b

[2021-09-30 03:37] colin0000007 commented on #1983
ok,thanks

[2021-09-30 03:37] #1983 closed, assigned to nobody

[2021-09-30 06:19] sunkai-cai commented on #1984
hi @chenlei0615

Welcome your question. Could you please translate your issue into English?

[2021-09-30 08:28] chenlei0615 commented on #1984
If an error occurs in a sharding task (eg: The exception occurs in the business logic of the code ), Does it support retry? how can i retry it?

[2021-10-01 07:45] CherishCai opened #1985 "Question: Why ElasticJobExecutor#process do not use executorService when 1 == items.size ?"
## Question
- like https://github.com/apache/shardingsphere-elasticjob/issues/1910
Why ElasticJobExecutor#process do not use executorService when 1 == items.size ?
![image](https://user-images.githubusercontent.com/16837364/135582377-bca33559-638d-4368-9322-6bee79511301.png)

### My problems
I have customized the SPI JobExecutorServiceHandler, and the implementation returns a customized ExecutorSe

[2021-10-03 05:23] kz-ecbatani commented on #1465
Could you please help and post what was your solution? @Technoboy- @zhangzhiguang2

[2021-10-03 17:56] #1726 closed, assigned to nobody

[2021-10-05 14:46] TeslaCN opened #1992 "[DISCUSS] Release plan of ElasticJob 3.0.1"
Hi All,

We fixed some bugs found in ElasticJob 3.0.0 and did some enhancements. The release progress of ElasticJob 3.0.1 has started.

* https://lists.apache.org/thread.html/rb336eb6ab5b90667b29b05973bc18e7e56bdd65914a2db0dac0bd071%40%3Cdev.shardingsphere.apache.org%3E

[2021-10-06 06:09] CVEDetect opened #1993 "Dependency io.netty:netty-common, leading to CVE problem"
Hi, In **shardingsphere-elasticjob/elasticjob-cloud/elasticjob-cloud-scheduler**，there is a dependency **io.netty:netty-common:4.1.45.Final** that calls the risk method.

[CVE-2021-21290](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-21290)

The scope of this CVE affected version is **[4.0.0.Final, 4.1.59.Final)**

After further analysis, in this project, the main Api called is **<io.net

[2021-10-06 06:09] CVEDetect commented on #1993
@TeslaCN
Could please help me check this issue?
May I pull a request to fix it?
Thanks again.

[2021-10-06 06:48] TeslaCN commented on #1993
Hi @CVEDetect
Welcome to submit PR!

[2021-10-09 06:59] Wjcccccccccc opened #1995 "Job doesn't execute after scheduling"
## Bug Report
Create many jobs with Cron `*/5 * * * * ?`
[code]
But some jobs schedule normally, some don't schedule after the output of starting up,
[code]

After I open the DEBUG level log, all jobs that don't schedule have printed those logs.
[code]

### Which version of ElasticJob did you use?
ElasticJob: 3.0.0
curator: 5.1.0

### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?

[2021-10-09 07:14] TeslaCN commented on #1995
Hi @Wjcccccccccc
For English only. Please translate your issue into English.

[2021-10-09 07:24] TeslaCN commented on #1993
Close via #1994

[2021-10-09 07:24] #1993 closed, assigned to nobody

[2021-10-09 07:44] Wjcccccccccc commented on #1995
Sorry for that, the issue was edited.

[2021-10-09 09:39] justfunxin commented on #1859
@TeslaCN
I have used it in my work，the main code is here，I'm glad to make contributes to this project.

1. add config properties
[code]

2. create scheduleJob with fixedRate
[code]
3. Reschedule job with fixedRate
[code]
4. add method in JobScheduleController
[code]

[2021-10-09 11:17] justfunxin commented on #1445
i also write a annotation elastic job springboot starter，maybe you can take a look at it.

https://github.com/kangarooxin/elastic-job3-spring-boot-starter

[2021-10-11 03:44] Wjcccccccccc opened #1996 "The threads of ReconcileService doesn't been recycled after shut downing the job by JobOperateAPI"
## Bug Report
Start 100 ScheduleJobBootstrap jobs, and shut down all of them immediately.
Check the JVM Thread Dump, found that 100 Threads of ReconcileService appear.
[code]

### Which version of ElasticJob did you use?
3.0.0

### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?
ElasticJob-Lite

### Steps to reproduce the behavior.
There is the reproducible code.
[code]

[2021-10-12 05:52] zhenchuan9r opened #1998 "Roadmap？路线图？"
I am very intereted in this project but I'm not aware of what is going on in this project.
I don't really like db-based event tracing mechanism in this project, because it requires us to share un/pw among projects.
However, plans of an alternative method is not published.
Thus I think a roadmap of this project is greatly appreciated.
我对这个项目很感兴趣，但是我不清楚贵方在开发什么特性。
我其实很讨厌基于DB的时间追踪方法，因为它要求我们在各个项目中共用相关数

[2021-10-13 02:20] sunkai-cai commented on #1998
hi @zhenchuan9r
You can extend the tracing through SPI.

[2021-10-13 02:43] sunkai-cai commented on #1859
Maybe we can refer to quartz.  https://github.com/quartz-scheduler/quartz/issues/433

[2021-10-13 02:46] sunkai-cai commented on #1995
The registryCenter is miss?  Try to check it.

[2021-10-13 04:16] zhenchuan9r commented on #1998
Thanks for you information. Nevertheless, I think a roadmap of this project is necessary.
除此之外，更需要的是整个项目的路线图。

[2021-10-13 04:25] zhenchuan9r commented on #1998
Like, if you have a plan to integrate elasticjob-cloud with Kubernetes rather than Meso.
Or, if you have a plan to offer another version of elasticjob-cloud without a dependency on Meso.
比如，是否有计划让Elasticjob-cloud和Kubernetes进行更深度的整合并且剔除Meso，或者另开一个不依赖Meso版本。

[2021-10-14 02:50] sunkai-cai commented on #1998
of course， you can look at https://github.com/apache/shardingsphere-elasticjob/issues/1690

[2021-10-14 08:03] Wjcccccccccc commented on #1995
**Additional infomation:**
I start two kinds of jobs A and B **in the meantime.**
A is scheduled  every 5 second with cron `*/5 * * * * ?`
B is scheduled to shutdown A after 5 minutes with a specified time point by cron `00 05 12 12 12 ?`, OneOffJobBootstrap is not suitable here because it needs to trigger by an Event, so I have to use ScheduleJobBootstrap with a specified time point.

now I have

[2021-10-14 08:42] davis1214 opened #1999 "有计划支持nodejs吗？"

[2021-10-14 23:53] cyq89051127 opened #2000 "Do we have a detailed plan/roadmap for Job Dependency"
## Question

When i check the docs, i  see a greate feature (Job Dependency) which is very import for our situation,  but it's a TODO featre .   Do we have a  detailed plan/roadmap  for Job Dependency .

[2021-10-15 09:49] sunkai-cai commented on #1999
Hi @davis1214
For English only.

[2021-10-17 06:29] CherishCai commented on #1985
I want to use customize JobExecutorServiceHandler for every exec.

[2021-10-17 06:30] CherishCai commented on #1951
At present, the configuration in ZK shall prevail, but not all, so there will be ambiguity.

目前是以 zk 内的配置为准又不是全部为准，所以会有歧义。

[2021-10-18 03:40] sunshaohua0221 opened #2022 "Select the record whose status is "SHARDING-FLAG", An error occurs after clicking the Detail"
## Bug Report
Job operation - Job dimension: Select the record whose status is "SHARDING-FLAG", An error occurs after clicking the Detail：

Exception stack：
[ERROR] 10:43:56.127 [http-nio-8888-exec-6] o.a.s.e.l.u.w.h.RestExceptionHandler - null
java.lang.NullPointerException: null
	at java.util.regex.Matcher.getTextLength(Matcher.java:1283)
	at java.util.regex.Matcher.reset(Matcher.java:309)
	at j

[2021-10-18 09:38] xiaowuyongzhi opened #2001 "有没有go的sdk? Is there an SDK for Go?"
或者怎么对接
Or how to dock

[2021-10-18 10:59] sunkai-cai commented on #2001
Hi @xiaowuyongzhi
For English only. Could you please translate your issue into English?
只能使用英文，请将你的问题修改为英文表述，谢谢。

you can try the [Script job](https://shardingsphere.apache.org/elasticjob/current/en/user-manual/elasticjob-lite/usage/job-api/job-interface/)
你可以尝试 [脚本作业](https://shardingsphere.apache.org/elasticjob/current/cn/user-manual/elasticjob-lite/usage/job-api/job-interface/)

[2021-10-19 01:32] xiaowuyongzhi commented on #2001
how to HTTP job

[2021-10-19 07:59] xiebin2015 opened #2002 "Elasitcjob3 execution problem"
Hi, I have a problem here. In the process of using elasitcjob 3. X, the specific problems are as follows
The scheduled task is released, and the elasticjoblistener listens to the task execution, but the specific job is not actually executed (the log is not printed). After reading it for a long time, I still can't find the problem

[2021-10-20 19:56] vincentjames501 commented on #2002
I'm running into the same issue. Here is a super simple example:

[code]

Produces:

[code]

The job never fires as seen my the missing `Here!`

I can see in zookeeper though the job being registered...

[code]

[code]

[2021-10-20 22:42] vincentjames501 commented on #2002
Once I turned on debug logging I saw this:

[code]

I was using docker image `confluentinc/cp-zookeeper:6.2.1`. I'm not sure why, but it doesn't seem to work. I installed and ran zookeeper via homebrew and now is working fine. I haven't dug too much but I suspect a version mismatch or a docker networking issue.

[2021-10-21 07:32] justfunxin commented on #1859
90s is a example，how about 70s 100s，it‘s complicated when use cron expression.

[2021-10-26 06:15] flykarry opened #2003 "getRawCache and Object getRawClient make the RegistryCenter interface can not be realize by others"
Is there any plan to remove the two method in the interface of RegisiterCenter and CoordinatorRegistryCenter, make us to realize the RegisiterCenter of any of others

[2021-10-29 15:42] lapple06 opened #2004 "when and which version will support the DAG task"
## Question
when and which version will support the DAG task

[2021-10-31 06:39] krystalics commented on #1690
很高兴elasticjob能支持job之间的依赖关系，不知道对于不同周期的job互相依赖，咱们是怎么处理的呢？
这点在我的工作场景下，是比较令人头疼的。

[2021-11-02 03:36] mzygQAQ commented on #1960
集群你这么做不就是只有一台机器能注册上最后

[2021-11-02 04:57] CheukBinLi commented on #1960
每次启动覆盖不是更好吗？

在 ***@***.***> 写道：

[2021-11-02 06:17] mzygQAQ commented on #1960
同一个应用 集群中的不同进程起来的到的代理类的名称每次都不一样 假设集群3台机器 只有最后一台机器才注册上了，前两次都被覆盖了不就变成单点了

[2021-11-03 12:19] wujiuye opened #2005 "The exception information of the previous slice execution is not cleared"
## Bug Report

If the current task fails to execute, even if the next execution is successful, the event tracking will get the exception information of the previous execution failure. The exception will only be overwritten and will not be deleted.

### Which version of ElasticJob did you use?

Release Version: 3.0.0

Master branch not repaired.

### Which project did you use? ElasticJob-Lite or El

[2021-11-03 12:21] wujiuye commented on #2005
This can be reproduced：
[code]

[2021-11-05 07:08] zhaojinchao95 opened #2006 "Repeat instances ip when update job"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, because we maybe need more de

[2021-11-08 02:33] dqys opened #2007 "Is the task offline due to insufficient memory? What will cause the task to be offline"

[2021-11-09 01:47] justfunxin commented on #1854
[ElasticJob支持注解](https://www.jianshu.com/p/2b4b5f99845b)

[2021-11-09 03:14] TeslaCN commented on #2007
Unstable network connection to registry center may cause task offline.

[2021-11-09 03:17] #1999 closed, assigned to nobody

[2021-11-09 03:26] TeslaCN commented on #2002
Hi @xiebin2015
Could you show us your configuration? We may need a reproducible way to check this issue.

[2021-11-09 03:26] #1992 closed, assigned to nobody

[2021-11-09 03:27] TeslaCN commented on #1984
Hi @chenlei0615
Please translate the title of your issue into English.
Could you try the `failover`?

[2021-11-09 09:55] dqys commented on #2007
thanks

[2021-11-09 09:56] #2007 closed, assigned to nobody

[2021-11-12 08:45] hujin031140211 opened #2008 "应用服务接了 elastic job ,应用服务容器化后，每次启动了对应的服务ip都是不同的，导致 servers 的ip列表会越来越多，一个应用比如有几十个节点多次重启后就会导致这个job的 servers有上千个，接入的应用越多，导致zk节点存储的 servers 的ip 越来越多，有啥好的解决方法？"
![image](https://user-images.githubusercontent.com/6998006/141437729-7d05710a-1d52-4cb4-b808-e0c3bb80bfea.png)

应用服务接了 elastic job ,应用服务容器化后，每次启动了对应的服务ip都是不同的，导致 servers 的ip列表会越来越多，一个应用比如有几十个节点多次重启后就会导致这个job的 servers有上千个，接入的应用越多，导致zk节点存储的 servers 的ip 越来越多，有啥好的解决方法？

[2021-11-12 08:47] TeslaCN commented on #2008
Hi @hujin031140211
For English only. Please translate your issue into English.

[2021-11-12 08:48] #1984 closed, assigned to nobody

[2021-11-12 08:55] hujin031140211 opened #2009 "The application service is connected to the elastic job. After the application service is containerized, the corresponding service IP is different every time it is started, resulting in more and more IP lists of servers. For example, after dozens of nodes are restarted for many times, there will be thousands of servers in the job. The more applications are accessed, the more IP addresses of servers stored in ZK nodes, What is a good solution?"
![image](https://user-images.githubusercontent.com/6998006/141438969-865dfd46-a015-4670-9273-188be7572433.png)

151  Service Unavailable ，but But there is servers List

The application service is connected to the elastic job. After the application service is containerized, the corresponding service IP is different every time it is started, resulting in more and more IP lists of servers. For exampl

[2021-11-12 08:55] #2008 closed, assigned to nobody

[2021-11-12 08:55] hujin031140211 commented on #2008
not

[2021-11-12 09:04] TeslaCN commented on #2009
I think creating a scheduled job can fix this issue. Find out the server IP not exists under /instances and remove it periodically.

[2021-11-12 10:03] misskeyjoy commented on #2009
1. create scheduled job to clean
2. add shutdown hook to clean

[2021-11-16 07:06] yztdemo opened #2010 "can not run my application cause by not created bean ??"
2021-11-16 15:03:25.262  WARN 3664 --- [cloud.com:2181)] org.apache.zookeeper.ClientCnxn          : An exception was thrown while closing send thread for session 0x101c63f6e100004.

org.apache.zookeeper.ClientCnxn$EndOfStreamException: Unable to read additional data from server sessionid 0x101c63f6e100004, likely server has closed socket
	at org.apache.zookeeper.ClientCnxnSocketNIO.doIO(ClientCnxn

[2021-11-16 07:09] TeslaCN commented on #2010
Hi @yztdemo
Make sure your ZooKeeper version >= 3.6 and properly set the connection timeout.

[2021-11-16 07:41] yztdemo commented on #2010
thank you answer my question

![image](https://user-images.githubusercontent.com/62371320/141941639-0f0c1d30-d3f4-4b31-a243-b8de67225435.png)
my zookeeper version is 3.7        and     my project yml is
![image](https://user-images.githubusercontent.com/62371320/141941742-b359d67a-2f11-473f-bf9c-5be1133b9d6d.png)

[2021-11-16 08:53] yztdemo commented on #2010
my application  connect my windows  zookeeper  is successful    , bug  connect zookeeper of  linux  is fail     can tell me  why

[2021-11-16 09:42] TeslaCN commented on #2010
You may try setting `connectionTimeoutMilliseconds` to `10000`.

[2021-11-17 06:55] xiebin2015 commented on #2002
Hi @TeslaCN
 @Bean(initMethod = "init")
    public CoordinatorRegistryCenter zookeeperRegistryCenter() {
        ZookeeperConfiguration zkConfig = new ZookeeperConfiguration(zookeeperProperties.getServerLists(), zookeeperProperties.getNamespace());
        zkConfig.setBaseSleepTimeMilliseconds(zookeeperProperties.getBaseSleepTimeMilliseconds());
        zkConfig.setConnectionTimeoutMilliseconds(zo

[2021-11-18 12:15] wuqiu-ai opened #2011 "elastic job disable invalid"
## Bug Report

job config disable is true，but job is running！！！！

[code]

running log：
[code]

### Which version of ElasticJob did you use?
2.1.5

### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?
 ElasticJob-Lite

### Expected behavior
job disabled

### Actual behavior
job running

### Reason analyze (If you can)

### Steps to reproduce the behavior.

### Example codes for repro

[2021-11-19 07:20] BertOnline opened #2012 "SpringProxyJobClassNameProvider may cause job conflicts in non proxy mode"
## Bug Report

### Which version of ElasticJob did you use?
3.0.1

### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?
ElasticJob-Lite

### Expected behavior
Job registration succeeded

### Actual behavior
[code]

### Reason analyze (If you can)
Code causing the problem:
[code]

Wrong location in source code:
[code]

When I create a SimpleJob using an anonymous inner class or lambd

[2021-11-22 03:21] wuqiu-ai commented on #2011
刚发现日志看错了，是job监听器日志一直在刷，但是job没有执行

[2021-11-22 03:21] #2011 closed, assigned to nobody

[2021-11-29 07:51] prefect1005 opened #2013 "APPLICATION FAILED TO STARTA component required a bean named '***' that could not be found."
## Bug Report

### Which version of ElasticJob did you use?
elasticjob-lite-spring-boot-starter  3.0.1

### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?
ElasticJob-Lite

### Actual behavior

***************************
APPLICATION FAILED TO START
***************************
Description:
A component required a bean named 'myOneOffJobBean' that could not be found.

my config:
elas

[2021-11-29 07:51] prefect1005 opened #2014 "APPLICATION FAILED TO START ”A component required a bean named '***' that could not be found.“"
## Bug Report

### Which version of ElasticJob did you use?
elasticjob-lite-spring-boot-starter  3.0.1

### Which project did you use? ElasticJob-Lite or ElasticJob-Cloud?
ElasticJob-Lite

### Actual behavior

***************************
APPLICATION FAILED TO START
***************************
Description:
A component required a bean named 'myOneOffJobBean' that could not be found.

my config:
elas

[2021-11-29 07:54] #2013 closed, assigned to nobody

[2021-11-30 06:24] DoolinMa commented on #2014
@prefect1005 you can put @Lazy annotation on Controller to make sure the application is running normally
[code]

[2021-12-02 06:12] kevinsir opened #2015 "How can I use job tracing rdb diff from job main program"
## base
springboot 2.5.5
elasticjob-lite-core 3.0.0
elasticjob-lite-spring-boot-starter 3.0.0
Every thing is ok. I can run and trace the job .However I  want to store the trace differ  from job program. Now they are using the same mysql database. I want to use two database . One is the job database,one is the tracing database
How can  I do it ?

[2021-12-03 03:20] qin19901228 opened #2016 "晋商消费金融 https://www.jcfc.cn"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2021-12-03 03:21] #2016 closed, assigned to nobody

[2021-12-10 03:06] bjwsz opened #2017 "jobs can not be distributed to multi nodes"
1.Use elasticjob-lite to add mulit jobs to same zookeeper and same namespace, with sharding count is 1, I tested with 100 jobs with 3 servers, all of the jobs will run only on one sever, once the running server is down, then all jobs will turned to another server.
_**jobConfig = JobConfiguration.newBuilder(task.getId() + "@" + task.getName(), 1).cron(task.getCron()).overwrite(true).build();**_
2.I

[2021-12-10 06:40] TeslaCN commented on #2017
Hi @bjwsz
You may change the job sharding strategy in `JobConfiguration`.
Refer to https://shardingsphere.apache.org/elasticjob/current/en/dev-manual/sharding/

[2021-12-10 06:41] TeslaCN commented on #2015
The ElasticJob Spring Boot Starter doesn't support this yet. You may use the Java API.
https://shardingsphere.apache.org/elasticjob/current/en/user-manual/elasticjob-lite/usage/tracing/java-api/

[2021-12-10 14:03] wjw465150 opened #2018 "发现使用elasticjob-lite-spring-boot-starter时,"事件追踪"不起作用"
我在SpringBoot(版本2.4.12)里引入了elasticjob-lite-spring-boot-starter(版本3.0.1),写的Job能正常运行,但是没有"事件追踪".调试发现"TracingConfiguration"也被正常创建了,但是数据库里没有创建相关的表.所以也看不到任何的Job事件!

[2021-12-13 06:27] ilyng opened #2019 "ElasticJobExecutor.itemErrorMessages never cleared?"
I expend a custom tracing configuration to record JobExecutionEvent, and JobTraceStatusEvent.
and I met a problem.

The job execute with an Runtime Exception at first time.
So, I received a record with state JobStatusTraceEvent.State.TASK_ERROR, and some detail error message.
It's worked expectly.

And then, the job execute again successfully without any exception or error.
But, I still received a

[2021-12-15 07:25] bjwsz commented on #2017
Solved, it is perfect to use 'ROUND_ROBIN' strategy.
Thanks a lot.

[2021-12-15 07:25] #2017 closed, assigned to nobody

[2021-12-15 08:28] zzferTochen opened #2020 "dataflowjob streaming read data does not take effect"
Dataflowjob streaming data is not effective, is my configuration wrong? The springboot version is 2.6.0. Below is my configuration file
[code]
[code]

[2021-12-19 07:11] TeslaCN commented on #2022
Hi @sunshaohua0221 Thanks for your feedback!

[2021-12-23 02:06] ilyng opened #2023 "Jobs executed in wrong time"
I hava a job execute every day, the cron is 00 58 23 * * ? *

but, yesterday, I found the job executed at 15:42.

I hava no idea about why the job triggered

![image](https://user-images.githubusercontent.com/24428629/147176484-ed46f90e-5ce4-4af1-9406-395421d7b733.png)

[2021-12-24 15:43] cocodroid commented on #2018
Maybe you used it wrong? What kind of data source are you using? show your config

[2021-12-24 17:02] cocodroid opened #2024 "Script Job throw Exception stack was ignored"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, because we maybe need more de

[2021-12-24 17:28] cocodroid commented on #2024
I will submit pr

[2021-12-25 01:37] wjw465150 commented on #2018
The configuration file
[code]

ElasticJobConfig
[code]

MyElasticJob
[code]

[2021-12-25 09:38] cocodroid commented on #2018
It's normal for me，Can you support your pom.xml ?

[2021-12-25 09:45] wjw465150 commented on #2018
build.gradle

[code]

[2021-12-25 09:57] cocodroid commented on #2018
You can try it.
Add:
[code]

[2021-12-25 10:06] wjw465150 commented on #2018
It worked, thank you!But why set this parameter:`overwrite: true`?

[2021-12-25 10:20] cocodroid commented on #2018
Because the previous configuration metadata is in ZK，but it is too old, so your local configuration file changes are invalid.

[2021-12-25 10:51] wjw465150 commented on #2018
But I clean and reset the environment every time I run it.

[2021-12-26 10:45] #2019 closed, assigned to smartBun

[2021-12-26 10:49] #2024 closed, assigned to cocodroid

[2021-12-29 09:27] TeslaCN commented on #2018
Thanks for your answer! @cocodroid
I think this issue is done.

[2021-12-29 09:27] #2018 closed, assigned to nobody

[2021-12-29 09:28] TeslaCN commented on #2023
Did you enabled the `failover`?

[2021-12-29 09:38] lisongyuegit opened #2031 "Sharding item for job is empty"
公司需要处理的数据量算中等,后面计划用多台服务器执行,现在就一台定时任务服务器部署了ElasticJob,设置了总分片数据为1,但是会出现Sharding item for job is empty.然后就下线了,请问下是什么原因

[2021-12-29 09:42] TeslaCN commented on #2031
Hi @lisongyuegit Please translate your issue into English.
And we need you to provide more info to help us reproduce this issue, thank you.

[2021-12-30 13:58] cocodroid commented on #2014
You can also use @Autowried(required=false) @Qualifier("myOneOffJobBean")

[2021-12-30 15:23] ilyng commented on #2023
yes,failover is enabled，and I found that，it  happened when the server was restart. I have closed the failover, it work well now. thanks for reply

[2021-12-31 02:22] kaihekaihe opened #2032 "AbstractDistributeOnceElasticJobListener afterJobExecuted may execute before job finish execution on other instances"
## Bug Report

**For English only**, other languages will not accept.

Before report a bug, make sure you have:

- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, because we maybe need more de

[2021-12-31 09:03] TeslaCN commented on #2032
@kaihekaihe  Thanks for you feedback! Do you have any idea about fixing this? Maybe only the leader can register complete?

[2022-01-03 14:41] #2022 closed, assigned to nobody

[2022-01-03 16:13] #1814 closed, assigned to TeslaCN

[2022-01-04 07:10] #2023 closed, assigned to nobody

[2022-01-04 07:19] ilyng commented on #2031
I have a situation just like this, but my job not shutnow.

I hava 2 servers to run my job, and the job's sharding total count is 1.
The trace status log just like below.

![image](https://user-images.githubusercontent.com/24428629/148023064-7518f64c-6349-4f90-b6fd-f43ec065fa8f.png)

I hava no idea about whether it is right.

[2022-01-04 07:22] kaihekaihe commented on #2032
Each instance register its own shard complete？

[2022-01-04 07:46] kaihekaihe opened #2035 "Why persistation need to be redone after reconnection"
## Question

Why persistence need to be redone after reconnection in `RegistryCenterConnectionStateListener`

`public void stateChanged(final CuratorFramework client, final ConnectionState newState) {
        if (JobRegistry.getInstance().isShutdown(jobName)) {
            return;
        }
        JobScheduleController jobScheduleController = JobRegistry.getInstance().getJobScheduleController(job

[2022-01-04 08:21] TeslaCN commented on #2031
Your situation is normal. There is only 1 sharding item, so there will be only 1 server executes the task and the others will execute no sharding item.

[2022-01-04 11:29] TeslaCN commented on #2035
Hi @kaihekaihe
The instance service using the ephemeral node. If disconnected to registry center, ephemeral nodes may be removed, so we need to registry instance nodes once reconnected.

[2022-01-05 07:05] JackSlamDunk opened #2036 "Is there a secure login method for ElascitcJob console account password that stores XML?"
elasticJob 客户端的版本是否有对登录账号密码进行安全才处理?目前是发现2.1.5版本账号密码还是存放在xml,这样是否安全有影响,比如存放数据库?

[2022-01-06 08:45] TeslaCN commented on #2036
Hi @JackSlamDunk
Please translate your issue into English.

[2022-01-06 08:54] #2015 closed, assigned to nobody

[2022-01-06 09:50] JackSlamDunk commented on #2036
Is there a secure login method for ElascitcJob console account password that stores XML?

Is the version of the elasticJob client processed only after the login account and password are secured? At present, do you find the account password of version 2.1.5 or store it in XML? Is it safe? For example, store it in database?

[2022-01-06 12:00] kaihekaihe commented on #2035
`serverService.persistOnline(serverService.isEnableServer(JobRegistry.getInstance().getJobInstance(jobName).getIp()));;`

For instance node ,yes it is ephemeral , I know what you mean. For Server node, it is not ephemeral , why does its data need to be filled again.

[2022-01-06 15:46] cocodroid commented on #1976
Please close this issue，thanks.

[2022-01-07 00:36] #1976 closed, assigned to nobody

[2022-01-10 01:55] MoonNi1ght commented on #1799
hello, you  can register a bean of TracingConfiguration<DataSource> to cover default DruidDataSourceWrapper

[code]

and     do not  have any config  in `application.yml`  about tarcing.

[2022-01-10 06:53] TeslaCN commented on #2036
Hi @JackSlamDunk
ElasticJob 2.x is no longer maintained. You may try the ElasticJob 3.x. The configuration of console users is stored in `application.properties` and you may maintain your configurations in some private space.
https://github.com/apache/shardingsphere-elasticjob-ui

[2022-01-10 08:02] TeslaCN commented on #2035
IMO, sometimes users may clear the servers without alive instance, persisting again can make sure the server node is present.

[2022-01-11 03:59] houzhitongxue opened #2037 "Consider supporting multiple trigger in a job"
每个用户都有自己的定时策略（cron），这些定时器都对应一个业务接口可以吗？定时任务根据每个用户的id去执行对应的逻辑

[2022-01-11 04:29] TeslaCN commented on #2037
Hi @yun-0001 Please translate your issue into English.
An instance ElasticJob may be reused in different `JobBootstrap`, which is up to your business logic.

[2022-01-11 06:06] houzhitongxue commented on #2037
Is it feasible to dynamically add multiple triggers when the project starts, and multiple triggers correspond to the same business interface?

[2022-01-11 06:20] TeslaCN commented on #2037
Hi @yun-0001 Please translate your issue into English.
I'm not sure what is the meaning of the `trigger`, so I assume that the `trigger` means `JobBootstrap`.
You may create the `JobBootstarp` dynamically, but you may need to pay attention to the consequence of restarting your process.

[2022-01-11 06:29] houzhitongxue commented on #2037
<img width="681" alt="1641882439(1)" src="https://user-images.githubusercontent.com/72588149/148892456-647c3242-ab24-4562-a55d-90fd1d662f0e.png">
As shown in the figure: Dynamically add scheduled tasks, only one scheduled task will be added with the same jobName. I hope there are multiple timers that only call the same jobName interface

[2022-01-11 06:47] TeslaCN commented on #2037
Did you mean a job has multiple cron?

[2022-01-11 06:48] houzhitongxue commented on #2037
Yes, is it possible?

Yes, is it possible?

[2022-01-11 06:51] TeslaCN commented on #2037
Not supported yet, but I think it is possible.

[2022-01-11 07:01] houzhitongxue commented on #2037
Well, how to dynamically add tasks? Dynamic jobs cannot be dynamically generated.

[2022-01-11 07:02] TeslaCN commented on #2037
I have an idea about adding jobs dynamically. https://github.com/TeslaCN/flexijob

[2022-01-11 07:05] houzhitongxue commented on #2037
Thanks, I'll test it

[2022-01-11 07:39] houzhitongxue commented on #2037
Just tested it, still doesn't work. If the same job can only add one task. I'm broken
![1B085086](https://user-images.githubusercontent.com/72588149/148900663-37ec009d-e3e3-4fd4-98ec-61c77da842f7.png)

[2022-01-11 07:40] RedRed228 opened #2038 "OneOffJob cannot be triggered or can only be triggerd on a part of instances occasionally"
Version:  ElasticJob-Lite 3.0.1 & Curator 5.2.0
    Problem: All instances that have sharding items should start running after calling instanceService.triggerAllInstances(), but some instances cannot be triggered.
    The problem occured occasionally, and it disappear if we restart the instance or any other instance join in, which will cause the resharding nessary flag being setted.
The dump when

[2022-01-11 09:44] TeslaCN commented on #2038
Thanks for your feedback. We will do some investigation.

[2022-01-11 16:10] Summary-wcj opened #2039 "Whether the job listener supports configurable"
Whether the job listener supports configurable，Is it possible to customize job listener via spi
作业监听器是否支持可配，是否可以通过spi自定义作业监听器

[2022-01-12 03:35] TeslaCN commented on #2039
Hi @Summary-wcj
You may find something about job listener here https://shardingsphere.apache.org/elasticjob/current/en/user-manual/elasticjob-lite/usage/job-listener/

[2022-01-12 03:43] Summary-wcj commented on #2039
Thanks

从 Windows 版邮件发送

发件人: 吴伟杰
发送时间: 2022年1月12日 11:35
收件人: apache/shardingsphere-elasticjob
抄送: summer; Mention
主题: Re: [apache/shardingsphere-elasticjob] Whether the job listenersupports configurable (Issue #2039)

Hi @Summary-wcj
You may find something about job listener here https://shardingsphere.apache.org/elasticjob/current/en/user-manual/elasticjob-lite/usage/job-listener/
—
Reply to thi

[2022-01-12 07:29] lisongyuegit opened #2040 "Under what circumstances will the task appear offline?"
Sharding item for job 'jobName' is empty. appears after the scheduled task runs for a period of time

Then it goes offline. Under what circumstances will the task go offline?

[2022-01-13 03:10] smallgray opened #2041 "Why does elastic job only support cron expression scheduling, but not time interval"
Why does elastic job only support cron expression scheduling, but not time interval!!

[2022-01-13 13:46] Summary-wcj opened #2042 "please help ，why The source code and the code in the jar are different, jar download in maven"
Hi, I have a question：
in source code -->ElasticJobBootstrapConfiguration implements SmartInitializingSingleton, ApplicationContextAware
but in the jar --> ElasticJobBootstrapConfiguration implements ApplicationContextAware, BeanPostProcessor

ElasticJobBootstrapConfiguration implements ApplicationContextAware, BeanPostProcessor

源码中的 ElasticJobBootstrapConfiguration 类 实现的是 SmartInitializingSingle

[2022-01-14 06:55] springmonster opened #2043 "Is there a possibility to save the Jobs' configuration in the database?"
## Question
Hello, we are currently using springboot + elasticjob-lite to manage our jobs.

But because there are too many jobs in the production environment, it is a bit inconvenient to configure jobs in the YAML file or PROPERTIES file.

We want to ask about is it possible or is there a way to read job information from the database? This will make it easier for us to maintain.

If possible, what

[2022-01-14 08:06] Summary-wcj commented on #2039
Hi @Summary-wcj
You may find something about job listener here https://shardingsphere.apache.org/elasticjob/current/en/user-manual/elasticjob-lite/usage/job-listener/
—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-01-14 11:09] RedRed228 commented on #2038
The issue sometimes looks like: when we triggered the job, no shard was triggered at all. The dump file:
![任务触发后卡住时注册中心数据结构快照1(网贴用)](https://user-images.githubusercontent.com/16835994/149511913-dfc90aee-2e76-4324-a85f-336935d0203f.jpg)
 From the zookeeper data we can see that the resharding necessary flag was set and the leader was elected, but the leader didn’t do resharding.
The leader instance

[2022-01-14 12:00] TeslaCN commented on #2042
Please check the version of ElasticJob.

[2022-01-15 14:48] Summary-wcj commented on #2042
What I pulled from Git is the code of the master branch. After packaging, I put the starter dependency into the task test project for testing. The startup failed. Then I downloaded the package from Maven for testing. I found that the implementation classes of ElasticJobBootstrapConfiguration are different

我从git上拉去的是master分支的代码，打包后将starter 的依赖放在任务测试的项目中测试，启动失败，然后我从maven去下载包进行测试，发现ElasticJobBootstr

[2022-01-15 15:09] Summary-wcj commented on #2042
it is error info：

Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
2022-01-15 23:06:09.972 ERROR 8100 --- [           main] o.s.b.d.LoggingFailureAnalysisReporter   :

***************************
APPLICATION FAILED TO START
***************************

Description:

Field occurErrorNoticeEmailJob in com.example.elasticdemo.controlle

[2022-01-15 17:59] Summary-wcj opened #2044 "I think ElasticJobBootstrapConfiguration implements SmartInitializingSingleton have a bug"
I think ElasticJobBootstrapConfiguration implements SmartInitializingSingleton have a bug.

I use ElasticJob Lite

I don't know how to describe this error, but you can repeat this problem. I use the starter and email dependency of version 3.0.0, then use the job in OneOffJobBootstrap, and then start the program. It will appear that the bean of this task cannot be obtained during injection.

1.vers

[2022-01-16 12:35] cocodroid commented on #2044
#2014

[2022-01-17 15:41] Summary-wcj commented on #2044
thanks very much

[2022-01-19 07:24] doctormacky commented on #1858
same issue in Mac

stack trace log:
[code]

[2022-01-23 18:13] chenorgod commented on #1799
https://github.com/alibaba/druid/issues/4481

更新版本到1.2.8

[2022-01-24 03:00] joechen2010 opened #2046 "Any bench data? how many job can it handle？ any job clean up thread?"
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, b

[2022-01-24 03:45] misskeyjoy commented on #2009
当清理节点后，可能在某些情况会导致分片执行错误。
案例:
 1. 测试环境正常启动任务
 2. 本地启动任务，并加上disable =true 参数，后本地不跑任务，后续长时间待机，导致这个ip被清理，然后重新使用，导致重新生成了一个没有带disable 参数的 ip 接点，当任务执行的时候，分片会作用到本地这台机器，然后本地 就启动了任务

如何修复：
[code]
已调整清理时间，规避这个问题（清理时间为夜晚1点)

[2022-01-24 07:11] cocodroid opened #2047 "Enhance Dump Job"
## Feature Request

**For English only**, other languages will not accept.

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot make decision by current information, we will **close it**.

Please answer these questions before submitting your issue. Thanks!

### Is your feature request related to a problem?

### Describe the feature

[2022-01-24 09:27] sunkai-cai commented on #2040
I can‘t get your point. Can you give an example?

[2022-01-24 09:45] sunkai-cai commented on #2041
it is a same issue,  look this https://github.com/apache/shardingsphere-elasticjob/issues/1859 .

[2022-01-24 09:55] sunkai-cai commented on #2043
if support annotation Job,  see whether it work or not ？https://github.com/apache/shardingsphere-elasticjob/issues/1445

[2022-01-27 01:37] Jay20160803 opened #2049 "RDBJobEventStorage.insertJobExecutionEventWhenSuccess： Can the execution logic decide to insert or update without exceptions?"
RDBJobEventStorage.insertJobExecutionEventWhenSuccess 在插入数据报错（重复主键）时在执行更新，造成的问题，报错信息会上报APM，造成困扰
![源码截图](https://user-images.githubusercontent.com/20806175/151275734-d0b07068-8317-43f4-9947-a23c1c71d15a.png)
![异常上报](https://user-images.githubusercontent.com/20806175/151275761-3685b718-db76-469a-bb4f-db7e65e150ba.png)

[2022-01-30 09:19] ceylog commented on #2014
I also have the same problem

[2022-02-02 02:08] sunshaohua0221 commented on #1865
I also encountered the same problem, the problem is not solved, version:3.0.1, the error is as follows:
Parameter 0 of method tracingConfiguration in org.apache.shardingsphere.elasticjob.lite.spring.boot.tracing.ElasticJobTracingConfiguration required a single bean, but 2 were found:
	- master: defined by method 'master' in class path resource [com/jdcloud/cost/service/config/DruidConfig.class]
	-

[2022-02-09 03:18] johnny2002 commented on #1918
I need this feature too, how is the progress?

[2022-02-09 03:18] johnny2002 commented on #1918
Or if need, I may contribute on this

[2022-02-16 13:47] songShiPeng opened #2052 "Doesn't it support millisecond tasks? like execute every 100ms."
## Question

**For English only**, other languages will not accept.

Before asking a question, make sure you have:

- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/apache/shardingsphere-elasticjob/issues).
- Read documentation: [ElasticJob Doc](https://shardingsphere.apache.org/elasticjob/current/en/overview/).

Please pay attention on issues you submitted, b

[2022-02-21 16:17] TeslaCN commented on #2052
Not supported. The minimum unit of `cron` is seconds.

[2022-02-21 16:21] TeslaCN commented on #2049
Hi @Jay20160803
Could you please translate the issue into English?
The logic is not elegant indeed. Are you interested in fixing this issue?

[2022-02-22 01:54] Jay20160803 commented on #2049
I'll look at the source code first

[2022-02-22 08:12] wangYX657211334 opened #2054 "Why are most classes defined with the keyword final？"
## Why are most classes defined with the keyword final？

So no scalability

elastic-job 3.0.1

[2022-02-23 07:08] TeslaCN commented on #2054
You may refer to https://shardingsphere.apache.org/community/en/contribute/code-conduct/. Extensions can be introduced by SPI.

[2022-02-24 01:18] wangYX657211334 commented on #2054
OK, Thank you

[2022-02-25 10:47] leehom opened #2056 "失效转移getLocalTakeOffItems逻辑问题"
分片完后，getLocalTakeOffItems，获取分配了的失效转移分片，然后从运行实例分片中移除

        。。。

目的防止运行实例在主节点分片后下线，然后又上线，该节点的分片很可能已转移给别的运行实例，因此需要进行移除，避免多节点运行相同的作业分片项，这里是不是应该直接**丢弃所有分片**，看失效转移处理

在线实例循环分掉crashed实例所有的分片，下线实例重新上线可能还没分完，导致重复执行，另外，两种分片是不是可以合并再循环转移

[2022-02-28 15:03] junfugao8 opened #2057 "Application startup failed, start by elasticjob-lite-spring-boot-starter"
### Nearby logs
[code]
Only so much log
However, I can start successfully by changing the namespace
I use `elasticjob-lite-spring-boot-starter` to start job
by yml
[code]
Why don't I need to change the namespace to start the program，How can I fix it，And avoid failure to start next time.

[2022-02-28 15:13] Wzy19930507 commented on #1549
@terrymanu @TeslaCN  elastic-job-lite 幂等失效场景复现

1. 开发工具 idea，idea debug 经过断点时会暂停所有线程，导致zk无法发送心跳。
2. 三个分片，开启幂等，idea启动三个实例：
3. shardingitem==1的实例打断点，位置如下：
[code]
4. 经过一段时间后，打断点的实例掉线，其他实例重新分片
5. 重新分片之后，打断点的实例继续执行任务，此时有两个实例执行 shardingitem==1 的任务，导致短暂的幂等失效。

[2022-03-02 09:27] #2054 closed, assigned to nobody

[2022-03-03 03:57] www-haifeng opened #2058 "org.quartz.SchedulerException: TriggerListener 'JobTriggerListener' threw exception: java.lang.IllegalStateException: instance must be started before calling this method"
2022-03-03 11:49:54,177 ERROR [PrepaymentJob_QuartzSchedulerThread] core.ErrorLogger (QuartzScheduler.java:2407) - Error notifying listeners of trigger misfire.
org.quartz.SchedulerException: TriggerListener 'JobTriggerListener' threw exception: java.lang.IllegalStateException: instance must be started before calling this method
	at org.quartz.core.QuartzScheduler.notifyTriggerListenersMisfired(Qu

[2022-03-08 06:53] init232 opened #2059 "Duplicate entry 'd18bba97-fb89-496c-8ba3-599d6c72297f' for key 'PRIMARY'"
日志.
时间:2022-03-08 14:49:35
event:
error
error.kind:
java.sql.SQLIntegrityConstraintViolationException
message:
Duplicate entry 'd18bba97-fb89-496c-8ba3-599d6c72297f' for key 'PRIMARY'
stack:
java.sql.SQLIntegrityConstraintViolationException: Duplicate entry 'd18bba97-fb89-496c-8ba3-599d6c72297f' for key 'PRIMARY'
at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:117)
at com

[2022-03-14 09:36] jingting-zhang commented on #1840
@TeslaCN elastic-job不支持新增实例后立即再分片（把已分配但未执行的分片重新分配给新增的实例），只能等下次执行周期再重新分片。这个能否支持，有无必要支持？

[2022-03-15 09:03] jingting-zhang opened #2060 "增加实例后立即分配尚未执行的分片"
elastic-job不支持新增实例后立即再分片（把已分配但未执行的分片重新分配给新增的实例），只能等下次执行周期再重新分片。这个能否支持，有无必要支持？

[2022-03-23 09:26] saitai520 opened #2062 "elasticjob-lite-spring-boot-starter 3.0.1 启动时报ip is null异常"
有基于SpringBoot 3.0版的演示例子，请给一个。
[code]
[code]
[code]

[2022-03-25 07:53] Xiejinhua123 commented on #1865
I'm going to rewrite TracingConfiguration about the Springboot partial integration, but it always prompts that two identical types appear. It is always not possible to configure a data source dedicated to the job task.Now, I don't know what to do!

[2022-03-29 05:28] 15168326318 commented on #1857
@YANGJINJUE  @zewade @TeslaCN  Has this problem been solved?We also have the same problem.

[2022-03-29 05:52] 15168326318 commented on #667
@aboluo-gy   很多问题没解决就直接关闭了，哎。

[2022-04-07 06:43] cdTigr opened #2063 "starter修改分片数量不起作用。"
starter version:
     <dependency>
            <groupId>org.apache.shardingsphere.elasticjob</groupId>
            <artifactId>elasticjob-lite-spring-boot-starter</artifactId>
            <version>3.0.1</version>
        </dependency>

yaml:
`elasticjob:
  regCenter:
    serverLists: 127.0.0.1:2181
    namespace: elasticjob-lite-new
  jobs:
    uploadProject:
      elasticJobClass: xxxxxx
      cr

[2022-04-07 09:19] sola634 opened #2064 "why elasticjob cloud use apache mesos instead of k8s(docker)?"
Hi @terrymanu

    We're studying elasticjob and want to adopt it in our project, but we found it use apache mesos in elaticjob cloud. We're curious that why you use apache mesos in elasticjob cloud project instead of use k8s(docker) as a popular technology. May I know what's your consider about for it, and the main reason to use apache mesos?

We're hoping your reply, many thanks.

Best regards,

[2022-04-07 11:02] TeslaCN commented on #2063
Please translate your issue into English.
You may need to set overwrite to `true`.

[2022-04-07 11:02] #2063 closed, assigned to nobody

[2022-04-07 11:03] TeslaCN commented on #2062
Please translate your title and content into English.
Could you check your firewall?

[2022-04-07 11:09] TeslaCN commented on #2060
Hi @jingting-zhang
Please translate your issue into English.
Could you tell us something about your scenario? Is there any problem that doing reshard before next execution?

[2022-04-07 11:14] strongduanmu commented on #2056
@leehom Can you translate this issue to english?

[2022-04-07 11:18] TeslaCN commented on #2064
ElasticJob has already integrated with Apache Mesos in early version. Since the Apache Mesos was retired to the Attic, we may remove it from future release and try integrating with Kubernetes or something else.

[2022-04-07 11:19] TeslaCN commented on #2058
Hi @www-haifeng
Could you try the ElasticJob 3.0.1? The 2.1.4 is no longer maintained.

[2022-04-07 11:44] TeslaCN commented on #2057
Hi @junfugao8
Could you provide more error logs?

[2022-04-07 12:36] sola634 commented on #2064
noted & thanks.

[2022-04-11 05:17] icetea916 commented on #1858
There is the same problem in a windows system with JDK version 1.8.0_73, but there is no problem in another windows system with JDK version 1.8.0_131.

**After I upgrade the JDK to 1.8.0_131, the program can start normally.**

#### Maven dependency:

[code]

#### Exception log (jdk=1.8.0_73)

[code]

#### Normal log (jdk=1.8.0_131)

[code]

[2022-04-11 06:52] leehom commented on #2056
ok，i have a try

[2022-04-18 03:32] suiyueqiannian opened #2066 "Unable to locate Spring NamespaceHandler"
## Question

version: 3.0.1
jdk: 1.8
spring-verison:4.1.7

when I start up,there are some error messages:

Configuration problem: Unable to locate Spring NamespaceHandler for XML schema namespace [http://shardingsphere.apache.org/schema/elasticjob]
Offending resource: class path resource [mbus-elastic-jobs.xml]

[2022-04-18 03:42] suiyueqiannian commented on #2066
in 3.0.1 jar file,there is no namespace dictionary(include .xsd file), but in 2.x version, it has.

[2022-04-19 02:58] muchengyang opened #2067 "Multi slice useless scheduling"
When I use Lite core to develop a 3-slice task, the same actuator will be called three times. Is this a little redundant? And the more slices, the more frequent this useless call. Personally, I think this is mainly useful when centralization is used. Decentralized scheduling is actually useless. Can it be improved
![image](https://user-images.githubusercontent.com/16506338/163911398-ae20ddbd-f977-

[2022-04-19 02:59] muchengyang commented on #2067
config
cron: 0/5 * * * * ?
description: ''
disabled: false
failover: false
jobExtraConfigurations:
- !!org.apache.shardingsphere.elasticjob.tracing.yaml.YamlTracingConfiguration
  tracingStorageConfiguration: !!org.apache.shardingsphere.elasticjob.tracing.rdb.yaml.YamlDataSourceConfiguration
    dataSourceClassName: org.apache.commons.dbcp2.BasicDataSource
    props:
      logAbandoned: false

[2022-04-19 12:30] TeslaCN commented on #2067
The logic is same, but the elements in `items` are different between instances.

[2022-04-20 01:22] weishuichao opened #2068 "能否支持灰度"
能否支持灰度

[2022-04-20 02:43] TeslaCN commented on #2068
Not support yet.
Please translate your issue into English.

[2022-04-21 08:37] muchengyang commented on #2067
Yes, the processing elements are different. It's just that any instance is executing this useless for loop. I think it's just unnecessary

[2022-04-21 08:40] TeslaCN commented on #2067
Sorry, I can't get your point. Why the loop is useless and what is unnecessary?

[2022-04-22 02:15] takeseem commented on #2060
如果没有分片信息，UI界面上很多操作都无法执行，如触发。详情也无法点击进入，否则NPE:https://github.com/apache/shardingsphere-elasticjob-ui/issues/154

原因是：https://github.com/apache/shardingsphere-elasticjob/blob/master/elasticjob-lite/elasticjob-lite-lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lite/lifecycle/internal/statistics/ShardingStatisticsAPIImpl.java#L64

`JobInstance jobInstance = YamlEngine.unmarshal(regCenter